<div class="card mb-6">
  <div class="card-body">
    <%= f.spree_text_field :name, required: true, autofocus: true %>
    <%= f.spree_text_area :description %>
    <%= f.spree_date_field :starts_at %>
    <%= f.spree_date_field :ends_at %>
  </div>
</div>