<tr id="<%= spree_dom_id return_authorization_reason %>" data-controller="row-link">
  <td class="w-40 align-center cursor-pointer" data-action="click->row-link#openLink">
    <%= return_authorization_reason.name %>
  </td>
  <td class="w-20 align-center cursor-pointer" data-action="click->row-link#openLink">
    <%= active_badge(
      return_authorization_reason.active,
      label: Spree.t(return_authorization_reason.active? ? :active : :inactive),
    ) %>
  </td>
  <td class="actions w-10">
    <% if return_authorization_reason.mutable? %>
      <%= if can? :edit, return_authorization_reason
        link_to_edit(return_authorization_reason, no_text: true, data: { row_link_target: :link, turbo_frame: '_top' })
      end %>
    <% end %>
  </td>
</tr>
