---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"type":"SalesInvoice","companyCode":"AVALARA_COMPANY","date":"2026-09-01","commit":true,"currencyCode":"USD","customerCode":"cust_UkLWZg9DAJ","addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"9
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}},"lines":[{"number":"li_UkLWZg9DAJ","quantity":1,"amount":"100.0","taxIncluded":false,"discounted":false,"discount":0,"taxCode":"P0000000","addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"9
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}}},{"number":"ful_UkLWZg9DAJ","quantity":1,"amount":"0.0","taxIncluded":false,"discounted":false,"discount":0,"taxCode":"FR","addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"9
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}}}],"code":"R-AVALARA-LIFECYCLE"}}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848106/transactions/95030372702456"
      X-Correlation-Id:
      - 5b7db603-87ef-4d10-972e-3039024372c2
      X-Avalara-Uid:
      - 5b7db603-87ef-4d10-972e-3039024372c2
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-45xdb
      Serverduration:
      - '00:00:00.0389433'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: UTF-8
      string: '{"id":95030372702456,"code":"R-AVALARA-LIFECYCLE","companyId":848106,"date":"2026-09-01","paymentDate":"1900-01-01","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"cust_UkLWZg9DAJ","customerCode":"cust_UkLWZg9DAJ","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":100.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":8.88,"totalTaxable":100.0,"totalTaxCalculated":8.88,"adjustmentReason":"Other","adjustmentDescription":"Create
        or adjust transaction","locked":false,"region":"NY","country":"US","version":14,"softwareVersion":"26.8.2.1","originAddressId":0,"destinationAddressId":0,"exchangeRateEffectiveDate":"2026-09-01","exchangeRate":1.0,"isSellerImporterOfRecord":true,"businessIdentificationNo":"","modifiedDate":"2026-09-01T16:41:33.4206124Z","modifiedUserId":429316,"taxDate":"2026-09-01","lines":[{"id":95030372702462,"transactionId":95030372702456,"lineNumber":"li_UkLWZg9DAJ","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":95030372702457,"originAddressId":95030372702458,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":100.0,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2026-09-01","revAccount":"","sourcing":"Destination","tax":8.88,"taxableAmount":100.0,"taxCalculated":8.88,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2026-09-01","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":95030372702470,"transactionLineId":95030372702462,"transactionId":95030372702456,"addressId":95030372702457,"country":"US","region":"NY","countyFIPS":"","stateFIPS":"36","exemptAmount":0.0,"exemptReasonId":4,"exemptRuleId":0,"inState":false,"jurisCode":"36","jurisName":"NEW
        YORK","jurisdictionId":42,"signatureCode":"BFEQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.04,"rateRuleId":2908845,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":4.0,"taxableAmount":100.0,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"NY
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4028661,"taxCalculated":4.0,"taxOverride":0.0,"rateType":"General","rateTypeCode":"G","taxableUnits":100.0,"nonTaxableUnits":0.0,"exemptUnits":0.0,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":100.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":4.0,"reportingTaxCalculated":4.0,"liabilityType":"Seller","chargedTo":"Buyer"},{"id":95030372702471,"transactionLineId":95030372702462,"transactionId":95030372702456,"addressId":95030372702457,"country":"US","region":"NY","countyFIPS":"","stateFIPS":"36","exemptAmount":0.0,"exemptReasonId":4,"exemptRuleId":0,"inState":false,"jurisCode":"51000","jurisName":"NEW
        YORK CITY","jurisdictionId":2001053475,"signatureCode":"EHTG","stateAssignedNo":"NE
        8081","jurisType":"CIT","jurisdictionType":"City","nonTaxableAmount":0.0,"nonTaxableRuleId":0,"nonTaxableTy[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/AVALARA_COMPANY/transactions/R-AVALARA-LIFECYCLE/void
    body:
      encoding: UTF-8
      string: '{"code":"DocVoided"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
