<table>
  <tr>
    <td><%=:name.l("Name")%>: </td>
    <td><%=f.text_field :name %></td>
  </tr>
  <tr>
    <td><%=:description.l("Description")%>: </td>
    <td><%=f.text_field :description %></td>
  </tr>
</table>
      