<% f.field_container :name do %>
  <%= f.label :name, t("name")%><br />
  <%=f.text_field :name %>
<% end %>
<p>
  <%= f.label :description, t("description")%><br />
  <%=f.text_field :description %>
</p>

