<table>
  <tr>
    <td><%=t("Name")%>: </td>
    <td><%=f.text_field :name %></td>
  </tr>
  <tr>
    <td><%=t("Description")%>: </td>
    <td><%=f.text_field :description %></td>
  </tr>
</table>
      