<table>
  <tr>
    <td><%=t("name")%>: </td>
    <td><%=f.text_field :name %></td>
  </tr>
  <tr>
    <td><%=t("description")%>: </td>
    <td><%=f.text_field :description %></td>
  </tr>
</table>
      