
<% active_option ||= current_store.default_country_iso %>
<% active_option = rule_form.object.preferred_country_iso if rule_form.object.persisted? && rule_form.object.respond_to?(:preferred_country_iso) %>

<div class="form-group">
  <%= label_tag "#{prefix}[preferred_country_iso]", Spree.t(:country) %>
  <%= country_select("#{prefix}[preferred_country_iso]", { selected: active_option }, {}, { data: { controller: 'autocomplete-select' } }) %>
</div>

