<% preferred_operator_min_value = rule_form.object.respond_to?(:preferred_operator_min) ? rule_form.object.preferred_operator_min : Spree::Promotion::Rules::ItemTotal::OPERATORS_MIN.first %>
<% preferred_operator_max_value = rule_form.object.respond_to?(:preferred_operator_max) ? rule_form.object.preferred_operator_max : Spree::Promotion::Rules::ItemTotal::OPERATORS_MAX.first %>
<% preferred_amount_min_value = rule_form.object.respond_to?(:preferred_amount_min) ? rule_form.object.preferred_amount_min : 0 %>
<% preferred_amount_max_value = rule_form.object.respond_to?(:preferred_amount_max) ? rule_form.object.preferred_amount_max : nil %>

<div class="row mb-3">
  <div class="col-6">
    <%= select_tag "#{prefix}[preferred_operator_min]", options_for_select(Spree::Promotion::Rules::ItemTotal::OPERATORS_MIN.map{|o| [Spree.t("item_total_rule.operators.#{o}"),o]}, preferred_operator_min_value), { class: 'custom-select' } %>
  </div>
  <div class="col-6">
    <%= text_field_tag "#{prefix}[preferred_amount_min]", preferred_amount_min_value, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= select_tag "#{prefix}[preferred_operator_max]", options_for_select(Spree::Promotion::Rules::ItemTotal::OPERATORS_MAX.map{|o| [Spree.t("item_total_rule.operators.#{o}"),o]}, preferred_operator_max_value), { class: 'custom-select' } %>
  </div>
  <div class="col-6">
    <%= text_field_tag "#{prefix}[preferred_amount_max]", preferred_amount_max_value, class: 'form-control' %>

    <span class="form-text text-muted mt-2">
      Leave this field blank to not limit the maximum amount.
    </span>
  </div>
</div>