.overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: theme-color('overlay');
  opacity: 0;
  z-index: 5;
  cursor: pointer;
  transition: opacity 0.5s, visibility 0s 0.5s;
  &.shown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
  }
}
