body {
  background: $primary-background;
}
.modal-content {
  background: $primary-background;
}
.overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: theme-color("overlay");
  opacity: 0;
  z-index: 5;
  cursor: pointer;
  transition: opacity 0.5s, visibility 0s 0.5s;
  &.shown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.dropdown-menu {
  background: $primary-background;
  border-color: $global-border-style;
  .dropdown-item {
    &:hover,
    &:focus {
      background: $secondary-background;
      color: $secondary-font-color;
    }
  }
}

.form-control,
.form-control:focus,
.spree-flat-input {
  background: $input-background;
  color: color-yiq($input-background);
}

@include media-breakpoint-down(md) {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  select,
  select:focus,
  textarea {
    font-size: 16px !important;
  }
}








@mixin float-label-container {
  display: block;
  position: relative;
}

@mixin float-label {
  label {
    position: absolute;
    left: 1em;
    top: -0.5em;
    cursor: text;
    opacity: 1;
    background: white;
    padding: 0 4px;
    transition: all .2s;
    @content;
  }
}

@mixin float-label-input {
  &::placeholder {
    opacity: 0;
    transition: all .2s;
  }
  &:placeholder-shown:not(:focus)::placeholder {
      opacity: 1;
      transition: all .2s;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
      @content;
  }
}

.has-float-label {
  @include float-label-container;
  @include float-label;

  input, textarea {
    @include float-label-input;
    @include float-label-scaled {
      opacity: 0;
      left: 0em;
    }
  }
}
