body.index {
  #subheader {
    // background-image: none;
    // background-color: lighten($c-border, 8);
    border-top: 1px solid $c-border;

    h1 {
      border: none;
      text-transform: uppercase;
    }

    h1.huge-title {
      margin-top: em(10);
      margin-bottom: em(20);
      text-align: center;
      font-size: em(40);
      letter-spacing: em(5);
      word-spacing: em(20);
      color: white;
    }

    ul.sections {
      @extend %ul-inline;
      @include outer-container;

      margin-bottom: em(40);

      li {
        @include span-columns(2 of 10);
        @include omega(5n);
        text-align: center;

        a {
          @include transition (all 0.3s ease-in);
          color: white;

          h1 {
            font-size: em(20);
            color: white;
          }

          i {
            font-size: 170px;
            display: block;
            margin-bottom: em(5);
            color: white;

            &, &:before {
              font-family: 'icomoon' !important;
              opacity: 1;
            }

            &:hover {
              color: darken($c-blue, 10);
            }
          }
        }
      }
    }
  }

  #content, #main-footer {
    margin: 0;
    padding: 0;
  }
}
