input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="url"],
input[type="number"],
input[type="tel"],
textarea, fieldset {
  @include border-radius(3px);
  padding: 7px 10px;  
  border: 1px solid $color-border;
  color: $color-body-text;
  font-size: 90%;

  &:focus {
    outline: none;
    border-color: lighten($c_green1, 30);
  }

  &[disabled] {
    opacity: 0.7;
  }
}

textarea {
  line-height: 19px;
}

.fullwidth {
  width: 100%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  display: inline;
  margin-bottom: 5px;
  color: $c_blue3;

  &.inline {
    display: inline-block !important;
  }
}

.label-block label { display: block }

input[type="submit"], 
input[type="button"], 
button, .button {
  @include border-radius(3px);
  display: inline-block;
  padding: 8px 15px;
  border: none;  
  background-color: $c_blue1;
  color: white;
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold;

  &:visited, &:active, &:focus { color: white }
  &:hover {
    background-color: $c_green1;
    border-color: darken($c_green1, 5);
    color: white;
  }

  &:active {
    box-shadow: 0 0 8px 0 darken($c_green1, 5) inset;
  }

  &.fullwidth {
    width: 100%;
    text-align: center;
  }
}

span.info {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 85%;
  color: lighten($color-body-text, 15);
  display: block;
  line-height: 20px;
  margin: 5px 0;
}

.field {
  margin-bottom: 10px;

  ul {
    border-top: 1px solid $color-border;
    list-style: none;
    padding-top: 5px;

    li {
      display: inline-block;

      label {
        font-weight: normal;
        text-transform: none;
      }
    }
  }
}

fieldset {
  box-shadow: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;  
  position: relative;  
  margin-bottom: 35px;
  padding: 10px 0 15px 0;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-radius: 0;    

  &.no-border-bottom {
    border-bottom: none;
    margin-bottom: 0;
  }

  &.no-border-top {
    border-top: none;
    padding-top: 0;
  }

  legend {
    @include border-radius(3px);
    background-color: white;    
    color: $c_green1;    
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 15px;
  }

  label {
    color: lighten($color-body-text, 15);
  }

  .filter-actions {
    margin-bottom: -45px;

    button, .button, input[type="submit"], input[type="button"], span.or {
      border: 15px solid white;
      border-radius: 18px;
      margin-top: -5px;

      &:hover {
        border-color: white;
      }
    }

    span.or {
      background-color: white;
      border-width: 5px;
      margin-left: -15px;
      margin-right: -15px;
      position: relative;
    }
  }
  

  .field {
    padding: 10px 0;
  }  

  &.labels-inline {
    .field {
      margin-bottom: 0;
      display: table;
      width: 100%;

      label, input {
        display: table-cell !important;
      }
      input {
        width: 100%;
      }

      &.checkbox {
        input {
          width: auto !important
        }
      }
    }
    .actions {
      padding: 0;
      text-align: right;
    }
  }
}

.form-actions {
  margin-top: 18px;
}
.form-buttons {
  text-align: center;
}
