// Basics
//---------------------------------------------------
* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Helpers
.block-table {
  display: table;
  width: 100%;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

// For block grids
.frameless {
  margin-left: -10px;
  margin-right: -10px;
}

// Header
//---------------------------------------------------
#header {
  background-color: white;
}
#logo { height: 50px }
[data-hook="admin-title"] { font-size: 14px }

.page-title {
  i {
    color: $c_green1;
  }
}

// Navigation
//---------------------------------------------------
.inline-menu { 
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

[data-hook="admin_login_navigation_bar"] {
  ul {
    text-align: right;

    li {
      padding: 5px 0 5px 10px;
      text-align: right;
      font-size: 90%;
      color: $color-links;
      margin-top: 15px;

      &[data-hook="user-logged-in-as"] {
        width: 50%;
        color: $color-body-text;
      }

      &:hover {
        i {
          color: $c_green1;
        }
      }
    }
  }
}

#admin-menu {
  background-color: $c_blue1;

  li {
    min-width: 90px;

    a {
      display: block;
      padding: 25px 20px;
      color: white !important;
      text-transform: uppercase;
      position: relative;
      text-align: center;

      i {
        display: inline;
      }

      &:hover {
        background-color: $c_green1;

        &:after {
          content: '';
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 5px solid $c_green1;          
          bottom: 0px;
          margin-bottom: -5px;
          left: 50%;
          margin-left: -10px;
          z-index: 1;
        }
      }
    }

    .dropdown {
      width: 300px;
      background-color: $c_blue1;
      width: 200px;
      z-index: 100000;

      > li {
        width: 200px !important;

        a:after {
          display: none;
        }
      }
    }

    &.selected a {
      @extend a:hover;
    }
  }
}

#sub-menu {
  background-color: $c_green1;
  padding-bottom: 0;

  li {
    a {
      display: block;
      padding: 12px 20px;
      color: white;      
      text-align: center;
      text-transform: uppercase;
      position: relative;
      font-size: 85%;      
    }

    &.selected a, a:hover {
      &:after {
        content: '';
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 5px solid $c_green1;
        bottom: 0px;
        margin-bottom: -5px;
        left: 50%;
        margin-left: -10px;
        z-index: 1;
      }
    }
  }
}

// Sidebar
//---------------------------------------------------
#sidebar {
  overflow: visible;
  border-top: 1px solid $color-border; 
  margin-top: 16px;

  .sidebar-title {
    color: $c_green1;
    text-transform: uppercase;
    text-align: center; 
    font-size: 14px;
    font-weight: 600;
    
    > span {
      display: inline;
      background: #fff; 
      padding: 5px 10px; 
      position: relative; 
      top: -8px;
    }
  }

  .sidebar-menu {
    ul {
      list-style: none;      

      li {
        a {
          padding: 10px 0;
          display: block;
          position: relative;
          text-align: left;          
          border: 1px solid transparent;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 90%;
        }

        &.active a {
          color: $c_green1;
          border-left-width: 0;          
          border-bottom-color: $c_green1;
        }

        &:hover a {
          color: $c_green1;
        }
      }      
    }
  }
}

// Content
//---------------------------------------------------
#content {
  background-color: white;
  position: relative;
  z-index: 0;
  padding: 0;
  margin-top: 15px;
}

#content-header {
  padding: 15px 0;
  background-color: lighten($c_blue1, 33);
  border-bottom: 1px solid $color-border;

  .page-title {
    font-size: 22px;
  }
  .page-actions {
    text-align: right;

    .button {
      font-size: 85%;
    }
  }
}

// Footer
//---------------------------------------------------
#footer {
  margin-top: 15px;
  border-top: 1px solid $color-border;
  padding: 10px 0;
}