table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: separate;

  th, td {
    padding: 15px 10px;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    vertical-align: middle;
    text-overflow: ellipsis;

    img {
      border: 1px solid transparent;
    }

    &:first-child {
      border-left: 1px solid $color-border;
    }

    &.actions {
      background-color: transparent;
      border: none !important;
      text-align: center;

      span.text {
        font-size: $body-font-size;
      }

      [class*='icon-'].no-text {
        font-size: 120%;
        background-color: very-light($color-3);
        border: 1px solid $color-border;
        border-radius: 15px;
        width: 29px;
        height: 29px;
        display: inline-block;
        padding-top: 2px;

        &:before {
          text-align: center !important;
          width: 27px;
          display: inline-block;
        }

        &:hover {
          border-color: transparent;
        }
      }
      .icon-envelope-alt {
        color: $color-links;

        &:hover {
          background-color: $color-3;
          color: white;
        }
      }
      .icon-trash:hover, .icon-void:hover {
        background-color: $color-5;
        color: white;
      }    
      .icon-edit:hover, .icon-capture:hover {
        background-color: $color-2;
        color: white;
      }
      .icon-copy:hover {
        background-color: $color-6;
        color: white;
      }
    }

    input[type="number"],
    input[type="text"] {
      width: 100%;
    }

    &.no-border {
      border-right: none;
    }

    .handle {
      @extend [class^="icon-"]:before;
      @extend .icon-reorder;
      cursor: move;
    }

    a:hover {
      color: $color-2;
    }
  }

  th {
    padding: 10px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  thead {
    th {
      background-color: very-light($color-3);
      text-transform: uppercase;
      font-size: 85%;

      a {
        color: $color-links !important;

        &:hover, &.desc, &.asc {
          color: $color-2 !important;
        }
      }
    }
  }

  tbody {
    &.with-border tr td {
      border-top: 1px solid $color-border;
    }
    tr {
      &.even td {
        background-color: very-light($color-3);

        img {
          border: 1px solid very-light($color-3, 6);
        }
      }

      &:hover td {
        background-color: very-light($color-3, 6);

        img {
          border: 1px solid $color-border;
        }
      }

      &.highlight {
        &.action-remove td, &.action-void td {
          background-color: very-light($color-error, 5);
          border-color: very-light($color-error, 10);
          text-decoration: line-through;

          &.actions {
            text-decoration: none;
          }
        }
        &.action-edit td, &.action-capture td {
          background-color: very-light($color-success, 5);
          border-color: very-light($color-success, 20);
        }
        &.action-clone td {
          background-color: very-light($color-notice, 5);
          border-color: very-light($color-notice, 15);
        }
      }

      &.before-highlight {
        &.action-remove td, &.action-void td {          
          border-bottom-color: very-light($color-error, 10);          
        }
        &.action-edit td, &.action-capture td {
          border-bottom-color: very-light($color-success, 20);
        }
        &.action-clone td {
          border-bottom-color: very-light($color-notice, 15);
        }
      }

      td.actions {
        background-color: transparent !important;
      }

      &[class*="state"] td:first-child {
        border-left-width: 3px;
      }
      &.state-complete td:first-child { border-left-color: $color-success }      
      &.state-cart     td:first-child { border-left-color: very-light($color-error, 6) }
      &.state-canceled td:first-child { border-left-color: very-light($color-error, 6) }

      &.ui-sortable-placeholder td {
        border: 1px solid $color-2 !important;
        visibility: visible !important;

        &.actions {
          background-color: transparent;
          border-right: none !important;
          border-top: none !important;
          border-bottom: none !important;
          border-left: 1px solid $color-2 !important;
        }
      }

      &.ui-sortable-helper {
        width: 100%;

        td {
          background-color: lighten($color-3, 33);
          border-bottom: 1px solid $color-border;          

          &.actions {
            display: none;
          }
        }
      }
    }

    &.grand-total {
      td {
        border-color: $color-2 !important;
        text-transform: uppercase;
        font-size: 110%;
        font-weight: 600;
        background-color: lighten($color-2, 50);
      }
      .total {
        background-color: $color-2;
        color: white;
      }
    }
  }

  tbody:last-child {
    tr:last-child {
      td { 
        border-bottom: 1px solid $color-border;
      }
    }
  }
}