<% resource.class.translatable_fields.each do |field| %>
  <% if field == :meta_keywords %>
    <% next %>
  <% end %>
  <tr>
    <td class="text-left">
      <%= Spree.t(field) %>
    </td>
    <% [@default_locale, selected_translation_locale].each do |translation_locale| %>
      <% readonly = translation_locale == @default_locale %>
      <td <% if readonly %>style="width: 40%;"<% else %>style="width: 60%;"<% end %>>
        <% case field%>
        <% when :description %>
          <div class="border rounded mb-0">
            <%= text_area_tag "translation[#{field}][#{translation_locale}]", resource.get_field_with_locale(translation_locale, field), { rows: 10, class: "form-control spree-rte", readonly: readonly, contenteditable: !readonly } %>
          </div>
        <% else %>
          <%= text_field_tag "translation[#{field}][#{translation_locale}]", resource.get_field_with_locale(translation_locale, field), class: 'form-control', readonly: readonly %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
