body #language-bar,
body #login-nav,
body #store-nav {
  float: right; }
  body #language-bar li,
  body #login-nav li,
  body #store-nav li {
    float: left;
    margin-right: 1em;
    list-style: none; }
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: bold; }
body h1, body h2 {
  letter-spacing: -1px; }
body h1 {
  font-size: 2.5em; }
body h2 {
  margin-bottom: .6em; }
body h6 {
  font-weight: normal; }
body table.admin-grid th {
  background: #cdcdcd url(../../images/admin/bg/grid_header_back.png) top left repeat-x;
  padding: 7px 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-shadow: #efefef 1px 1px 0px; }
  body table.admin-grid th.id-col {
    text-align: center; }
body table.admin-grid tr.alt td {
  background-color: #efefef; }
body table.admin-grid.green th {
  background: #cfefa7 url(../../images/admin/bg/grid_header_back_green.png) top left repeat-x;
  border-left: 1px solid #E4FDB4;
  border-top: 1px solid #E4FDB4;
  border-right: 1px solid #B7CB90;
  border-bottom: 1px solid #B7CB90; }
body table.admin-grid.green td {
  background-color: #efe; }
body table.admin-grid.order-summary {
  clear: both; }
  body table.admin-grid.order-summary tr.totals th {
    background: transparent;
    text-align: right;
    border: none; }
















html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before,
  blockquote:after,   q:before,
  q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }


body #language-bar,
body #login-nav,
body #store-nav {
  float: right; }
  body #language-bar li,
  body #login-nav li,
  body #store-nav li {
    float: left;
    margin-right: 1em;
    list-style: none; }
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: bold; }
body h1, body h2 {
  letter-spacing: -1px; }
body h1 {
  font-size: 2.5em; }
body h2 {
  margin-bottom: .6em; }
body h6 {
  font-weight: normal; }
body table.admin-grid th {
  background: #cdcdcd url(../../images/admin/bg/grid_header_back.png) top left repeat-x;
  padding: 7px 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-shadow: #efefef 1px 1px 0px; }
  body table.admin-grid th.id-col {
    text-align: center; }
body table.admin-grid tr.alt td {
  background-color: #efefef; }
body table.admin-grid.green th {
  background: #cfefa7 url(/images/grid_header_back_green.png) top left repeat-x;
  border-left: 1px solid #E4FDB4;
  border-top: 1px solid #E4FDB4;
  border-right: 1px solid #B7CB90;
  border-bottom: 1px solid #B7CB90; }
body table.admin-grid.green td {
  background-color: #efe; }
body table.admin-grid.order-summary {
  clear: both; }
  body table.admin-grid.order-summary tr.totals th {
    background: transparent;
    text-align: right;
    border: none; }

.container {
  width: 950px;
  margin: 0 auto;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  .container {
    display: block; }

.span-1 {
  width: 30px; }

div.span-1 {
  float: left;
  width: 30px;
  margin-right: 10px; }

.span-2 {
  width: 70px; }

div.span-2 {
  float: left;
  width: 70px;
  margin-right: 10px; }

.span-3 {
  width: 110px; }

div.span-3 {
  float: left;
  width: 110px;
  margin-right: 10px; }

.span-4 {
  width: 150px; }

div.span-4 {
  float: left;
  width: 150px;
  margin-right: 10px; }

.span-5 {
  width: 190px; }

div.span-5 {
  float: left;
  width: 190px;
  margin-right: 10px; }

.span-6 {
  width: 230px; }

div.span-6 {
  float: left;
  width: 230px;
  margin-right: 10px; }

.span-7 {
  width: 270px; }

div.span-7 {
  float: left;
  width: 270px;
  margin-right: 10px; }

.span-8 {
  width: 310px; }

div.span-8 {
  float: left;
  width: 310px;
  margin-right: 10px; }

.span-9 {
  width: 350px; }

div.span-9 {
  float: left;
  width: 350px;
  margin-right: 10px; }

.span-10 {
  width: 390px; }

div.span-10 {
  float: left;
  width: 390px;
  margin-right: 10px; }

.span-11 {
  width: 430px; }

div.span-11 {
  float: left;
  width: 430px;
  margin-right: 10px; }

.span-12 {
  width: 470px; }

div.span-12 {
  float: left;
  width: 470px;
  margin-right: 10px; }

.span-13 {
  width: 510px; }

div.span-13 {
  float: left;
  width: 510px;
  margin-right: 10px; }

.span-14 {
  width: 550px; }

div.span-14 {
  float: left;
  width: 550px;
  margin-right: 10px; }

.span-15 {
  width: 590px; }

div.span-15 {
  float: left;
  width: 590px;
  margin-right: 10px; }

.span-16 {
  width: 630px; }

div.span-16 {
  float: left;
  width: 630px;
  margin-right: 10px; }

.span-17 {
  width: 670px; }

div.span-17 {
  float: left;
  width: 670px;
  margin-right: 10px; }

.span-18 {
  width: 710px; }

div.span-18 {
  float: left;
  width: 710px;
  margin-right: 10px; }

.span-19 {
  width: 750px; }

div.span-19 {
  float: left;
  width: 750px;
  margin-right: 10px; }

.span-20 {
  width: 790px; }

div.span-20 {
  float: left;
  width: 790px;
  margin-right: 10px; }

.span-21 {
  width: 830px; }

div.span-21 {
  float: left;
  width: 830px;
  margin-right: 10px; }

.span-22 {
  width: 870px; }

div.span-22 {
  float: left;
  width: 870px;
  margin-right: 10px; }

.span-23 {
  width: 910px; }

div.span-23 {
  float: left;
  width: 910px;
  margin-right: 10px; }

.span-24 {
  width: 950px; }

div.span-24 {
  float: left;
  width: 950px;
  margin-right: 0; }

div.last {
  margin-right: 0; }

.append-1 {
  padding-right: 40px; }

.append-2 {
  padding-right: 80px; }

.append-3 {
  padding-right: 120px; }

.append-4 {
  padding-right: 160px; }

.append-5 {
  padding-right: 200px; }

.append-6 {
  padding-right: 240px; }

.append-7 {
  padding-right: 280px; }

.append-8 {
  padding-right: 320px; }

.append-9 {
  padding-right: 360px; }

.append-10 {
  padding-right: 400px; }

.append-11 {
  padding-right: 440px; }

.append-12 {
  padding-right: 480px; }

.append-13 {
  padding-right: 520px; }

.append-14 {
  padding-right: 560px; }

.append-15 {
  padding-right: 600px; }

.append-16 {
  padding-right: 640px; }

.append-17 {
  padding-right: 680px; }

.append-18 {
  padding-right: 720px; }

.append-19 {
  padding-right: 760px; }

.append-20 {
  padding-right: 800px; }

.append-21 {
  padding-right: 840px; }

.append-22 {
  padding-right: 880px; }

.append-23 {
  padding-right: 920px; }

.prepend-1 {
  padding-left: 40px; }

.prepend-2 {
  padding-left: 80px; }

.prepend-3 {
  padding-left: 120px; }

.prepend-4 {
  padding-left: 160px; }

.prepend-5 {
  padding-left: 200px; }

.prepend-6 {
  padding-left: 240px; }

.prepend-7 {
  padding-left: 280px; }

.prepend-8 {
  padding-left: 320px; }

.prepend-9 {
  padding-left: 360px; }

.prepend-10 {
  padding-left: 400px; }

.prepend-11 {
  padding-left: 440px; }

.prepend-12 {
  padding-left: 480px; }

.prepend-13 {
  padding-left: 520px; }

.prepend-14 {
  padding-left: 560px; }

.prepend-15 {
  padding-left: 600px; }

.prepend-16 {
  padding-left: 640px; }

.prepend-17 {
  padding-left: 680px; }

.prepend-18 {
  padding-left: 720px; }

.prepend-19 {
  padding-left: 760px; }

.prepend-20 {
  padding-left: 800px; }

.prepend-21 {
  padding-left: 840px; }

.prepend-22 {
  padding-left: 880px; }

.prepend-23 {
  padding-left: 920px; }

.pull-1 {
  float: left;
  position: relative;
  margin-left: -40px; }

.pull-2 {
  float: left;
  position: relative;
  margin-left: -80px; }

.pull-3 {
  float: left;
  position: relative;
  margin-left: -120px; }

.pull-4 {
  float: left;
  position: relative;
  margin-left: -160px; }

.pull-5 {
  float: left;
  position: relative;
  margin-left: -200px; }

.pull-6 {
  float: left;
  position: relative;
  margin-left: -240px; }

.pull-7 {
  float: left;
  position: relative;
  margin-left: -280px; }

.pull-8 {
  float: left;
  position: relative;
  margin-left: -320px; }

.pull-9 {
  float: left;
  position: relative;
  margin-left: -360px; }

.pull-10 {
  float: left;
  position: relative;
  margin-left: -400px; }

.pull-11 {
  float: left;
  position: relative;
  margin-left: -440px; }

.pull-12 {
  float: left;
  position: relative;
  margin-left: -480px; }

.pull-13 {
  float: left;
  position: relative;
  margin-left: -520px; }

.pull-14 {
  float: left;
  position: relative;
  margin-left: -560px; }

.pull-15 {
  float: left;
  position: relative;
  margin-left: -600px; }

.pull-16 {
  float: left;
  position: relative;
  margin-left: -640px; }

.pull-17 {
  float: left;
  position: relative;
  margin-left: -680px; }

.pull-18 {
  float: left;
  position: relative;
  margin-left: -720px; }

.pull-19 {
  float: left;
  position: relative;
  margin-left: -760px; }

.pull-20 {
  float: left;
  position: relative;
  margin-left: -800px; }

.pull-21 {
  float: left;
  position: relative;
  margin-left: -840px; }

.pull-22 {
  float: left;
  position: relative;
  margin-left: -880px; }

.pull-23 {
  float: left;
  position: relative;
  margin-left: -920px; }

.pull-24 {
  float: left;
  position: relative;
  margin-left: -960px; }

.push-1 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -40px;
  margin-bottom: 1.5em;
  margin-left: 40px; }

.push-2 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -80px;
  margin-bottom: 1.5em;
  margin-left: 80px; }

.push-3 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -120px;
  margin-bottom: 1.5em;
  margin-left: 120px; }

.push-4 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -160px;
  margin-bottom: 1.5em;
  margin-left: 160px; }

.push-5 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -200px;
  margin-bottom: 1.5em;
  margin-left: 200px; }

.push-6 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -240px;
  margin-bottom: 1.5em;
  margin-left: 240px; }

.push-7 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -280px;
  margin-bottom: 1.5em;
  margin-left: 280px; }

.push-8 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -320px;
  margin-bottom: 1.5em;
  margin-left: 320px; }

.push-9 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -360px;
  margin-bottom: 1.5em;
  margin-left: 360px; }

.push-10 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -400px;
  margin-bottom: 1.5em;
  margin-left: 400px; }

.push-11 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -440px;
  margin-bottom: 1.5em;
  margin-left: 440px; }

.push-12 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -480px;
  margin-bottom: 1.5em;
  margin-left: 480px; }

.push-13 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -520px;
  margin-bottom: 1.5em;
  margin-left: 520px; }

.push-14 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -560px;
  margin-bottom: 1.5em;
  margin-left: 560px; }

.push-15 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -600px;
  margin-bottom: 1.5em;
  margin-left: 600px; }

.push-16 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -640px;
  margin-bottom: 1.5em;
  margin-left: 640px; }

.push-17 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -680px;
  margin-bottom: 1.5em;
  margin-left: 680px; }

.push-18 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -720px;
  margin-bottom: 1.5em;
  margin-left: 720px; }

.push-19 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -760px;
  margin-bottom: 1.5em;
  margin-left: 760px; }

.push-20 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -800px;
  margin-bottom: 1.5em;
  margin-left: 800px; }

.push-21 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -840px;
  margin-bottom: 1.5em;
  margin-left: 840px; }

.push-22 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -880px;
  margin-bottom: 1.5em;
  margin-left: 880px; }

.push-23 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -920px;
  margin-bottom: 1.5em;
  margin-left: 920px; }

.push-24 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -960px;
  margin-bottom: 1.5em;
  margin-left: 960px; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 75%; }

h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  h1 img {
    margin: 0; }

h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  height: 1.25em; }

h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

p {
  margin: 0 0 1.5em; }
  p img {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
    p img.right {
      float: right;
      margin: 1.5em 0 1.5em 1.5em; }

a {
  text-decoration: underline;
  color: #000099; }
  a:visited {
    color: #000066; }
  a:focus {
    color: black; }
  a:hover {
    color: black; }
  a:active {
    color: #cc0099; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

dfn {
  font-style: italic;
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre, code {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0 1.5em; }

ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold;
  background: #C3D9FF;
  padding: 4px 10px 4px 5px; }

td {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #E5ECF9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

.quiet {
  color: #666666; }

.loud {
  color: #111111; }

.clear {
  clear: both; }

.nowrap {
  white-space: nowrap; }

.clearfix {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  .clearfix {
    display: block; }

.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  .error a {
    color: #8a1f11; }

.notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  .notice a {
    color: #514721; }

.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  .success a {
    color: #264409; }

.hide {
  display: none; }

.highlight {
  background: yellow; }

.added {
  background: #006600;
  color: white; }

.removed {
  background: #990000;
  color: white; }

label {
  font-weight: bold; }

fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc; }

legend {
  font-weight: bold;
  font-size: 1.2em; }

input.text {
  margin: 0.5em 0;
  border: 1px solid #bbb;
  width: 300px;
  padding: 5px; }
  input.text:focus {
    border: 1px solid #666; }
input.title {
  font-size: 1.5em; }

input.title {
  margin: 0.5em 0;
  border: 1px solid #bbb;
  width: 300px;
  padding: 5px; }
  input.title:focus {
    border: 1px solid #666; }

textarea {
  margin: 0.5em 0;
  border: 1px solid #bbb; }
  textarea:focus {
    border: 1px solid #666; }

select {
  margin: 0.5em 0;
  border: 1px solid #bbb; }
  select:focus {
    border: 1px solid #666; }

textarea {
  width: 390px;
  height: 250px;
  padding: 5px; }

.container {
  width: 950px;
  margin: 0 auto;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  .container {
    display: block; }

.span-1 {
  width: 30px; }

div.span-1 {
  float: left;
  width: 30px;
  margin-right: 10px; }

.span-2 {
  width: 70px; }

div.span-2 {
  float: left;
  width: 70px;
  margin-right: 10px; }

.span-3 {
  width: 110px; }

div.span-3 {
  float: left;
  width: 110px;
  margin-right: 10px; }

.span-4 {
  width: 150px; }

div.span-4 {
  float: left;
  width: 150px;
  margin-right: 10px; }

.span-5 {
  width: 190px; }

div.span-5 {
  float: left;
  width: 190px;
  margin-right: 10px; }

.span-6 {
  width: 230px; }

div.span-6 {
  float: left;
  width: 230px;
  margin-right: 10px; }

.span-7 {
  width: 270px; }

div.span-7 {
  float: left;
  width: 270px;
  margin-right: 10px; }

.span-8 {
  width: 310px; }

div.span-8 {
  float: left;
  width: 310px;
  margin-right: 10px; }

.span-9 {
  width: 350px; }

div.span-9 {
  float: left;
  width: 350px;
  margin-right: 10px; }

.span-10 {
  width: 390px; }

div.span-10 {
  float: left;
  width: 390px;
  margin-right: 10px; }

.span-11 {
  width: 430px; }

div.span-11 {
  float: left;
  width: 430px;
  margin-right: 10px; }

.span-12 {
  width: 470px; }

div.span-12 {
  float: left;
  width: 470px;
  margin-right: 10px; }

.span-13 {
  width: 510px; }

div.span-13 {
  float: left;
  width: 510px;
  margin-right: 10px; }

.span-14 {
  width: 550px; }

div.span-14 {
  float: left;
  width: 550px;
  margin-right: 10px; }

.span-15 {
  width: 590px; }

div.span-15 {
  float: left;
  width: 590px;
  margin-right: 10px; }

.span-16 {
  width: 630px; }

div.span-16 {
  float: left;
  width: 630px;
  margin-right: 10px; }

.span-17 {
  width: 670px; }

div.span-17 {
  float: left;
  width: 670px;
  margin-right: 10px; }

.span-18 {
  width: 710px; }

div.span-18 {
  float: left;
  width: 710px;
  margin-right: 10px; }

.span-19 {
  width: 750px; }

div.span-19 {
  float: left;
  width: 750px;
  margin-right: 10px; }

.span-20 {
  width: 790px; }

div.span-20 {
  float: left;
  width: 790px;
  margin-right: 10px; }

.span-21 {
  width: 830px; }

div.span-21 {
  float: left;
  width: 830px;
  margin-right: 10px; }

.span-22 {
  width: 870px; }

div.span-22 {
  float: left;
  width: 870px;
  margin-right: 10px; }

.span-23 {
  width: 910px; }

div.span-23 {
  float: left;
  width: 910px;
  margin-right: 10px; }

.span-24 {
  width: 950px; }

div.span-24 {
  float: left;
  width: 950px;
  margin-right: 0; }

div.last {
  margin-right: 0; }

.append-1 {
  padding-right: 40px; }

.append-2 {
  padding-right: 80px; }

.append-3 {
  padding-right: 120px; }

.append-4 {
  padding-right: 160px; }

.append-5 {
  padding-right: 200px; }

.append-6 {
  padding-right: 240px; }

.append-7 {
  padding-right: 280px; }

.append-8 {
  padding-right: 320px; }

.append-9 {
  padding-right: 360px; }

.append-10 {
  padding-right: 400px; }

.append-11 {
  padding-right: 440px; }

.append-12 {
  padding-right: 480px; }

.append-13 {
  padding-right: 520px; }

.append-14 {
  padding-right: 560px; }

.append-15 {
  padding-right: 600px; }

.append-16 {
  padding-right: 640px; }

.append-17 {
  padding-right: 680px; }

.append-18 {
  padding-right: 720px; }

.append-19 {
  padding-right: 760px; }

.append-20 {
  padding-right: 800px; }

.append-21 {
  padding-right: 840px; }

.append-22 {
  padding-right: 880px; }

.append-23 {
  padding-right: 920px; }

.prepend-1 {
  padding-left: 40px; }

.prepend-2 {
  padding-left: 80px; }

.prepend-3 {
  padding-left: 120px; }

.prepend-4 {
  padding-left: 160px; }

.prepend-5 {
  padding-left: 200px; }

.prepend-6 {
  padding-left: 240px; }

.prepend-7 {
  padding-left: 280px; }

.prepend-8 {
  padding-left: 320px; }

.prepend-9 {
  padding-left: 360px; }

.prepend-10 {
  padding-left: 400px; }

.prepend-11 {
  padding-left: 440px; }

.prepend-12 {
  padding-left: 480px; }

.prepend-13 {
  padding-left: 520px; }

.prepend-14 {
  padding-left: 560px; }

.prepend-15 {
  padding-left: 600px; }

.prepend-16 {
  padding-left: 640px; }

.prepend-17 {
  padding-left: 680px; }

.prepend-18 {
  padding-left: 720px; }

.prepend-19 {
  padding-left: 760px; }

.prepend-20 {
  padding-left: 800px; }

.prepend-21 {
  padding-left: 840px; }

.prepend-22 {
  padding-left: 880px; }

.prepend-23 {
  padding-left: 920px; }

.pull-1 {
  float: left;
  position: relative;
  margin-left: -40px; }

.pull-2 {
  float: left;
  position: relative;
  margin-left: -80px; }

.pull-3 {
  float: left;
  position: relative;
  margin-left: -120px; }

.pull-4 {
  float: left;
  position: relative;
  margin-left: -160px; }

.pull-5 {
  float: left;
  position: relative;
  margin-left: -200px; }

.pull-6 {
  float: left;
  position: relative;
  margin-left: -240px; }

.pull-7 {
  float: left;
  position: relative;
  margin-left: -280px; }

.pull-8 {
  float: left;
  position: relative;
  margin-left: -320px; }

.pull-9 {
  float: left;
  position: relative;
  margin-left: -360px; }

.pull-10 {
  float: left;
  position: relative;
  margin-left: -400px; }

.pull-11 {
  float: left;
  position: relative;
  margin-left: -440px; }

.pull-12 {
  float: left;
  position: relative;
  margin-left: -480px; }

.pull-13 {
  float: left;
  position: relative;
  margin-left: -520px; }

.pull-14 {
  float: left;
  position: relative;
  margin-left: -560px; }

.pull-15 {
  float: left;
  position: relative;
  margin-left: -600px; }

.pull-16 {
  float: left;
  position: relative;
  margin-left: -640px; }

.pull-17 {
  float: left;
  position: relative;
  margin-left: -680px; }

.pull-18 {
  float: left;
  position: relative;
  margin-left: -720px; }

.pull-19 {
  float: left;
  position: relative;
  margin-left: -760px; }

.pull-20 {
  float: left;
  position: relative;
  margin-left: -800px; }

.pull-21 {
  float: left;
  position: relative;
  margin-left: -840px; }

.pull-22 {
  float: left;
  position: relative;
  margin-left: -880px; }

.pull-23 {
  float: left;
  position: relative;
  margin-left: -920px; }

.pull-24 {
  float: left;
  position: relative;
  margin-left: -960px; }

.push-1 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -40px;
  margin-bottom: 1.5em;
  margin-left: 40px; }

.push-2 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -80px;
  margin-bottom: 1.5em;
  margin-left: 80px; }

.push-3 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -120px;
  margin-bottom: 1.5em;
  margin-left: 120px; }

.push-4 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -160px;
  margin-bottom: 1.5em;
  margin-left: 160px; }

.push-5 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -200px;
  margin-bottom: 1.5em;
  margin-left: 200px; }

.push-6 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -240px;
  margin-bottom: 1.5em;
  margin-left: 240px; }

.push-7 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -280px;
  margin-bottom: 1.5em;
  margin-left: 280px; }

.push-8 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -320px;
  margin-bottom: 1.5em;
  margin-left: 320px; }

.push-9 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -360px;
  margin-bottom: 1.5em;
  margin-left: 360px; }

.push-10 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -400px;
  margin-bottom: 1.5em;
  margin-left: 400px; }

.push-11 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -440px;
  margin-bottom: 1.5em;
  margin-left: 440px; }

.push-12 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -480px;
  margin-bottom: 1.5em;
  margin-left: 480px; }

.push-13 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -520px;
  margin-bottom: 1.5em;
  margin-left: 520px; }

.push-14 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -560px;
  margin-bottom: 1.5em;
  margin-left: 560px; }

.push-15 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -600px;
  margin-bottom: 1.5em;
  margin-left: 600px; }

.push-16 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -640px;
  margin-bottom: 1.5em;
  margin-left: 640px; }

.push-17 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -680px;
  margin-bottom: 1.5em;
  margin-left: 680px; }

.push-18 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -720px;
  margin-bottom: 1.5em;
  margin-left: 720px; }

.push-19 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -760px;
  margin-bottom: 1.5em;
  margin-left: 760px; }

.push-20 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -800px;
  margin-bottom: 1.5em;
  margin-left: 800px; }

.push-21 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -840px;
  margin-bottom: 1.5em;
  margin-left: 840px; }

.push-22 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -880px;
  margin-bottom: 1.5em;
  margin-left: 880px; }

.push-23 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -920px;
  margin-bottom: 1.5em;
  margin-left: 920px; }

.push-24 {
  float: right;
  position: relative;
  margin-top: 0;
  margin-right: -960px;
  margin-bottom: 1.5em;
  margin-left: 960px; }

label {
  font-weight: bold; }

fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc; }

legend {
  font-weight: bold;
  font-size: 1.2em; }

input.text {
  margin: 0.5em 0;
  border: 1px solid #bbb;
  width: 300px;
  padding: 5px; }
  input.text:focus {
    border: 1px solid #666; }
input.title {
  font-size: 1.5em; }

input.title {
  margin: 0.5em 0;
  border: 1px solid #bbb;
  width: 300px;
  padding: 5px; }
  input.title:focus {
    border: 1px solid #666; }

textarea {
  margin: 0.5em 0;
  border: 1px solid #bbb; }
  textarea:focus {
    border: 1px solid #666; }

select {
  margin: 0.5em 0;
  border: 1px solid #bbb; }
  select:focus {
    border: 1px solid #666; }

textarea {
  width: 390px;
  height: 250px;
  padding: 5px; }

.form-buttons {
  margin-top: 1em; }

.field {
  margin-bottom: 1em;
  clear: both;
  position: relative; }
  .field .formError {
    color: #fff;
    background: #f15700 url(../..//images/admin/icons/fugue/exclamation_small.png) center left no-repeat;
    padding: 3px 7px;
    display: inline-block;
    margin-bottom: 1em;
    padding-left: 20px; }
  .field.fluid {
    clear: none;
    float: left;
    margin-right: 1em; }
  .field label {
    display: block; }
    .field label span.label {
      display: block; }

.address-form label,
#creditcard label {
  width: 200px;
  display: block;
  float: left; }

#creditcard label {
  width: 150px; }

input.default {
  color: #999; }
  input.default:focus {
    color: inherit; }

input.title {
  width: auto; }

p.help-text {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;
  color: #999; }

.form-buttons {
  clear: both; }
  .form-buttons a {
    text-transform: lowercase; }

body.admin {
  background-color: #162F54;
  color: #476D9B; }
  body.admin a {
    color: #4884BD; }
    body.admin a:active,
    body.admin a:visited {
      color: #4884BD; }
  body.admin #header,
  body.admin #footer {
    padding: 1em 1em 0;
    clear: both; }
  body.admin #content {
    margin: 0em 1em 1em 1em;
    padding: 1em;
    background: #fff;
    color: #111;
    min-height: 500px; }
    body.admin #content a {
      color: #3C7DFB; }
      body.admin #content a:active,
      body.admin #content a:visited {
        color: #3C7DFB; }
    body.admin #content.with-side-menu {
      background: #fff url(/images/content-back.png) right top repeat-y;
      padding-right: 340px;
      position: relative; }
      body.admin #content.with-side-menu #side-menu {
        position: absolute;
        width: 305px;
        top: 0px;
        right: 0px;
        padding-top: 1em; }
        body.admin #content.with-side-menu #side-menu h3.name {
          margin: 0 10px; }
          body.admin #content.with-side-menu #side-menu h3.name a {
            color: #111;
            text-decoration: none; }
        body.admin #content.with-side-menu #side-menu span.sku {
          display: block;
          font-weight: normal; }
        body.admin #content.with-side-menu #side-menu img {
          float: right;
          margin-right: 1em; }
          body.admin #content.with-side-menu #side-menu img.calendar_date_select_popup_icon {
            float: none; }
        body.admin #content.with-side-menu #side-menu .field {
          padding: 0 1em; }
        body.admin #content.with-side-menu #side-menu .form-buttons {
          padding: 0 1em; }
        body.admin #content.with-side-menu #side-menu h4 {
          margin-left: 10px; }
        body.admin #content.with-side-menu #side-menu ul.side-menu {
          clear: both;
          position: relative;
          margin: 0;
          padding: 0; }
          body.admin #content.with-side-menu #side-menu ul.side-menu li {
            list-style: none; }
            body.admin #content.with-side-menu #side-menu ul.side-menu li a {
              display: block;
              padding: 10px 20px 10px;
              outline: none;
              text-decoration: none;
              color: #666 !important; }
              body.admin #content.with-side-menu #side-menu ul.side-menu li a.active {
                font-weight: bold;
                background: url(/images/menu-current.png) left center no-repeat;
                color: #363 !important;
                margin-left: -20px;
                padding-left: 30px; }
        body.admin #content.with-side-menu #side-menu .order-number,
        body.admin #content.with-side-menu #side-menu .order-status {
          text-align: right;
          margin-right: 20px; }
        body.admin #content.with-side-menu #side-menu .order-status {
          padding: 7px 15px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          float: right;
          background-color: #999;
          color: #111;
          text-transform: uppercase; }
          body.admin #content.with-side-menu #side-menu .order-status.new {
            background-color: #5D9C0F;
            color: #fff; }
          body.admin #content.with-side-menu #side-menu .order-status.canceled {
            background-color: #c00;
            color: #fff; }
  body.admin h1.logo {
    float: left;
    margin: 10px; }
    body.admin h1.logo a {
      background: url(../../images/admin/bg/spree_50.png) left center no-repeat;
      padding-left: 120px;
      display: block;
      height: 50px;
      text-decoration: none;
      line-height: 50px;
      color: #BBDAFD; }
  body.admin #admin-menu {
    clear: both; }
  body.admin #admin-menu,
  body.admin #sub-menu {
    margin: 0 1em; }
    body.admin #admin-menu ul,
    body.admin #sub-menu ul {
      padding: 0;
      margin: 0; }
      body.admin #admin-menu ul li,
      body.admin #sub-menu ul li {
        float: left;
        margin-right: 1em;
        list-style: none; }
      body.admin #admin-menu ul li,
      body.admin #sub-menu ul li {
        margin-right: 0; }
        body.admin #admin-menu ul li a,
        body.admin #sub-menu ul li a {
          display: block;
          padding: 10px 20px;
          color: #fff;
          text-decoration: none;
          outline: none; }
        body.admin #admin-menu ul li.selected a,
        body.admin #sub-menu ul li.selected a {
          background-color: #0095da; }
  body.admin #admin-menu {
    background: #154e8c url(../../images/admin/bg/admin_tab_back.png) top left repeat-x;
    border-top: 1px solid #4B83E2;
    border-right: 1px solid #34599B;
    border-bottom: 1px solid #41A6F0; }
    body.admin #admin-menu ul {
      margin-bottom: -1px; }
      body.admin #admin-menu ul li:first-child {
        border-left: 1px solid #34599B; }
      body.admin #admin-menu ul li.selected {
        background: #0095da url(../../images/admin/bg/admin_tab_selected_back.png) top left repeat-x;
        border-left: 1px solid #41A6F0;
        border-top: 1px solid #41A6F0;
        border-right: 1px solid #4986BF;
        height: 40px;
        margin-top: -2px; }
  body.admin #sub-menu {
    background: #0095da;
    border-left: 1px solid #41A6F0;
    border-right: 1px solid #4986BF; }
    body.admin #sub-menu ul li a {
      padding: 3px 7px;
      margin: 10px 5px;
      color: #154e8c;
      background: none; }
    body.admin #sub-menu ul li.selected a {
      background: #154e8c;
      color: #9BC3FC;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  body.admin #slide-content {
    margin: 0 1em;
    background-color: #cdf; }
  body.admin .pagination ul {
    float: right; }
    body.admin .pagination ul li {
      float: left;
      margin-right: 1em;
      list-style: none; }
    body.admin .pagination ul li {
      line-height: 2em;
      padding: 0px 5px;
      margin-right: 0; }
      body.admin .pagination ul li.currentpage {
        background-color: #4884BD;
        color: #fff; }
  body.admin .toolbar {
    float: right;
    margin-bottom: 1em; }
    body.admin .toolbar ul.actions {
      margin: 0;
      padding: 0;
      float: right; }
      body.admin .toolbar ul.actions li {
        float: left;
        margin-right: 1em;
        list-style: none; }
      body.admin .toolbar ul.actions li {
        margin-right: 0; }
    body.admin .toolbar.order-links a {
      text-transform: capitalize; }
  body.admin .search-form {
    display: none;
    padding: 1em; }
    body.admin .search-form label {
      display: block; }
  body.admin a.button {
    background: transparent url('/images/buttons/right_01.png') no-repeat scroll top right;
    display: block;
    float: left;
    margin-right: 6px;
    padding-right: 20px;
    text-decoration: none;
    color: #111 !important;
    font-weight: bold;
    outline: none; }
    body.admin a.button span {
      background: transparent url(/images/buttons/left_01.png) no-repeat;
      display: block;
      line-height: 22px;
      padding: 7px 0 5px 14px;
      text-shadow: #efefef 1px 1px 0px; }
    body.admin a.button img {
      vertical-align: middle;
      margin: 0 3px 0 0; }
    body.admin a.button.cancel span {
      font-weight: normal; }
    body.admin a.button.small {
      font-size: 1em;
      background: transparent url('/images/buttons/right_01_small.png') no-repeat scroll top right;
      padding-right: 20px; }
      body.admin a.button.small span {
        background: transparent url(/images/buttons/left_01_small.png) no-repeat;
        padding: 5px 0 3px 20px;
        line-height: 21px; }
    body.admin a.button.green {
      background: transparent url('/images/buttons/green/right_01.png') no-repeat scroll top right;
      color: #151 !important; }
      body.admin a.button.green span {
        background: transparent url(/images/buttons/green/left_01.png) no-repeat; }
  body.admin button {
    border: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 0 20px 0 0;
    text-align: center;
    background: url(/images/buttons/right_01.png) center right no-repeat;
    font-size: 1.3em;
    outline: none; }
    body.admin button span {
      position: relative;
      display: block;
      white-space: nowrap;
      padding: 0 0 0 20px;
      height: 35px;
      line-height: 35px;
      background: url(/images/buttons/left_01.png) center left no-repeat;
      text-shadow: #efefef 1px 1px 0px; }
      body.admin button span img {
        vertical-align: middle;
        margin: 0 3px 0 0; }
    body.admin button:focus {
      outline: none; }
    body.admin button.tick {
      background: none;
      width: 24px; }
  body.admin input.title,
  body.admin textarea {
    margin: 0; }
  body.admin .errorExplanation {
    border: solid 2px #f15700;
    padding: 1em;
    margin-bottom: 1em;
    background: #cdf;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    body.admin .errorExplanation ul {
      color: #f15700;
      list-style: square; }
    body.admin .errorExplanation h2 {
      font-size: 1.75em;
      padding-left: 40px;
      background: url(/images/icons/orb/32x32/3.png) center left no-repeat; }
  body.admin .sub-form {
    margin-bottom: 1em;
    display: none;
    padding: 1em;
    border: solid 1px #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    body.admin .sub-form h1 {
      font-size: 1.75em; }
    body.admin .sub-form table.admin-grid th:first-child {
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px; }
    body.admin .sub-form table.admin-grid th:last-child {
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px; }
  body.admin ul.checkbox-list {
    list-style: none; }
    body.admin ul.checkbox-list li {
      display: block;
      float: left;
      width: 200px; }
      body.admin ul.checkbox-list li label {
        font-weight: normal !important; }
  body.admin #busy_indicator {
    margin-bottom: 1em; }
  body.admin select#filter_state {
    font-size: 1.5em; }
  body.admin h2.order-number {
    margin-bottom: 0; }
  body.admin h4.order-status {
    display: block;
    font-weight: normal; }
  body.admin .adr {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: solid 1px #999;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    min-width: 200px; }
    body.admin .adr .fn {
      font-weight: bold; }
    body.admin .adr h4 {
      margin-bottom: 1em;
      border-bottom: 1px solid #ccc;
      padding-bottom: .5em;
      color: #666; }
  body.admin ul.taxonomy-tree {
    cursor: default;
    list-style: none;
    margin: 0;
    padding: 0 0 0 35px;
    min-height: 2em; }
    body.admin ul.taxonomy-tree li.taxon {
      clear: both;
      padding: 5px; }
      body.admin ul.taxonomy-tree li.taxon span,
      body.admin ul.taxonomy-tree li.taxon input {
        float: left;
        margin-right: 1em; }
      body.admin ul.taxonomy-tree li.taxon .name {
        float: left;
        cursor: move; }
      body.admin ul.taxonomy-tree li.taxon.new ul.taxonomy-actions,
      body.admin ul.taxonomy-tree li.taxon.editing ul.taxonomy-actions {
        display: none; }
      body.admin ul.taxonomy-tree li.taxon.to-destroy {
        color: #900;
        text-decoration: line-through; }
        body.admin ul.taxonomy-tree li.taxon.to-destroy ul.taxonomy-actions {
          display: none; }
  body.admin .placeholder {
    height: 30px;
    clear: both;
    border: dashed 2px #ddd; }
  body.admin ul.taxonomy-actions {
    float: left;
    list-style: none;
    margin: 0px 0px 10px 10px;
    padding: 0; }
    body.admin ul.taxonomy-actions li {
      float: left;
      margin-right: 5px; }
      body.admin ul.taxonomy-actions li img {
        vertical-align: text-top; }
      body.admin ul.taxonomy-actions li.disabled {
        opacity: .5; }
  body.admin h3.warning {
    background-image: url(/images/icons/fugue/exclamation.png);
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding-left: 35px; }
  body.admin #searching {
    clear: both;
    margin-top: 2em; }
