.analytics-card-tab {
  @extend .rounded;
  @extend .cursor-pointer;
  @extend .p-2;
  @extend .h-100;

  transition: background-color 0.2s ease-in-out;

  &.active, &:hover {
    background-color: $gray-25;
  }
}

.store-preview-link {
  transition: background-color 0.2s ease-in-out;

  .store-preview-actions {
    display: none;

    .btn-outline-primary {
      background-color: $white;

      &:hover {
        background-color: $primary;
      }
    }
  }

  &:hover {
    .store-preview-actions {
      display: flex;
    }
  }
}

#updater-notice {
  background-color: $white;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border: 1px solid $border-color;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-xs;
}