<div class="card mb-4">
  <div class="card-body">
    <%= f.spree_text_field :name, required: true, autofocus: f.object.new_record?, data: { seo_form_target: 'sourceTitleInput', slug_form_target: :name, action: 'slug-form#updateUrlFromName' } %>

    <%= f.spree_rich_text_area :description, data: { seo_form_target: 'sourceDescriptionInput' } %>
  </div>
</div>