<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:shipping) %></h5>
  </div>
  <div class="card-body">
    <% unless @product.has_variants? %>
      <%= render 'spree/admin/variants/form/dimensions', f: f %>
    <% end %>

    <%= f.spree_select :shipping_category_id, @shipping_categories.pluck(:name, :id), { include_blank: Spree.t('match_choices.none') } %>
  </div>
</div>