<%#encoding: UTF-8%>
// variant autocompletion

formatVariantResult = function(variant) {
  var html = "";

  var output_name = function(name) {
    return "<h4>" + name + "</h4>";
  }

  var output_sku = function(sku) {
    return "<span><strong>" + Spree.translations.sku + ":</strong> " + sku + " </span>";
  }

  var output_count_on_hand = function(count_on_hand) {
    return "<span><strong>" + Spree.translations.count_on_hand + ":</strong> " + count_on_hand + "</span>";
  }

  var output_image = function(variant){
    return "<img src='" + variant['images'][0]['image']["mini_url"] + "'/>";
  }

  var name = variant['options_text']

  if (variant['images'].length != 0){
    html = output_image(variant);
  }

  html += "<div>";
  html += output_name(name);
  html += output_sku(variant['sku']);
  html += output_count_on_hand(variant['count_on_hand']);

  return html
}

$.fn.variantPicker = function() {
  this.parent().children(".options_placeholder").attr('id', this.parent().data('index'))
  this.select2({
    placeholder: "Select a variant",
    minimumInputLength: 4,
    ajax: {
      url: Spree.routes.variants_search,
      datatype: 'json',
      data: function(term, page) {
        return { q: term }
      },
      results: function (data, page) {
        var variants = $.map(data['variants'], function(result) {
          return result['variant']
        })
        return { results: variants }
      }
    },
    formatResult: formatVariantResult,
    formatSelection: function (variant) {
      console.log($(this.element).parent().children('.options_placeholder'))
      $(this.element).parent().children('.options_placeholder').html(variant.options_text)
      return variant.name;
    }
  })
}
