<div id="state_members" data-hook="member">
  <fieldset>
    <legend><%= Spree.t(:states) %></legend>

    <%= zone_form.field_container :state_ids, class: ['form-group'] do %>
      <%= zone_form.label :state_ids, Spree.t(:states) %>
      <%= zone_form.collection_select :state_ids, @states, :id, :name, {}, { :multiple => true, :class => "select2" } %>
    <% end %>
  </fieldset>
</div>
