<div data-hook="admin_shipping_category_form_fields">
  <div data-hook="name" class="form-group">
    <%= label_tag :shipping_category_name, Spree.t(:name) %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>
