.docs h3 {
  padding-top: 10px; }
.docs h4 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
  padding-top: 10px; }
.docs h5 {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.02em; }
code {
    border: medium none;
    margin: 0 0 10px;
    font-size: 13px; }

.code pre{
  margin: 0px;
}

.code, .note, .info, .warning {
  margin: 0 0 12px;
  padding-top: 6px; }
.bg, .bg-file {
  padding: 20px 35px 10px 30px;
  margin: 0 0 0 17px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.tab {
  display: block;
  float: left;
  margin: -8px 0 0;
  min-width: 36px;
  height: 36px; }
.code .tab {
  background: url("../images/tab-code.png") no-repeat scroll left top #f8f9fa; }
.note .tab {
  background: url("../images/tab-notes.png") no-repeat scroll left top #FFF9D8; }
.info .tab {
  background: url("../images/tab-pin.png") no-repeat scroll left top #E5CFEC; }
.warning .tab {
  background: url("../images/tab-warning.png") no-repeat scroll left top #F9D9D8; }
.code .bg, .bg-file {
  background: #f8f9fa;
  -webkit-box-shadow: inset 1px 1px 12px 2px #dee0e1;
  -moz-box-shadow: inset 1px 1px 12px 2px #dee0e1;
  box-shadow: inset 1px 1px 12px 2px #dee0e1; }
.note .bg {
  background: #f8f5e4;
  -webkit-box-shadow: inset 1px 1px 12px 2px #e8e0b4;
  -moz-box-shadow: inset 1px 1px 12px 2px #e8e0b4;
  box-shadow: inset 1px 1px 12px 2px #e8e0b4; }
.info .bg {
  background: #f9f0fc;
  -webkit-box-shadow: inset 1px 1px 12px 2px #ecdaf2;
  -moz-box-shadow: inset 1px 1px 12px 2px #ecdaf2;
  box-shadow: inset 1px 1px 12px 2px #ecdaf2; }
.warning .bg {
  background: #ffeceb;
  -webkit-box-shadow: inset 1px 1px 12px 2px #fbd6d6;
  -moz-box-shadow: inset 1px 1px 12px 2px #fbd6d6;
  box-shadow: inset 1px 1px 12px 2px #fbd6d6; }

.code p, .note p, .info p, .warning p {
  font-size: 14.5px; }
.code p {
  color: #232323; }
.note p {
  color: #4f4a30; }
.info p {
  color: #532362; }
.warning p {
  color: #713534; }

tt {
  padding: 3px 5px;
  font-size: 13px;
  margin: 0 1px;
  background: #efefef; }
.bg tt {
  font-size: 13px; }
.code tt {
  color: #090909;
  background-color: #c1c4c5; }
.note tt {
  color: #624801;
  background-color: #F5E9A8; }
.info tt {
  color: #400951;
  background-color: #efd0fa; }
.warning tt {
  color: #8c0606;
  background-color: #fec9c9; }

.path {
  display: inline-block;
  font-family: "lucida console", monospace;
  background: #CBE1AF;
  color: #666;
  padding: 6px 14px 2px 8px;
  margin: 3px 0 0 36px;
  font-size: 13px; }

ul.nav {
  float: right;
}

.bg-file pre {
  margin-top: 20px;
}

.main-inner ul li { list-style:none; background: url(../images/grey_bullet.gif) no-repeat left 0.5em; padding-left: 1em; margin-left: 0; }

.syntaxhighlighter {
  font-size: 0.80em !important;
}

#guidesMenu {
  float: right;
  margin-right: 12px;
}

#guides {
  background-color: #FFFFFF;
  border: 2px solid #D2CECE;
  color: #3E434C;
  font-size: 0.75em;
  padding: 4px;
  position: absolute;
  right: 225px;
  top: 200px;
  width: 520px;
  z-index: 9999;
}

#guides .L {
  width: 240px;
  float: left;
}
#guides .R {
  width: 240px;
  margin-left: 40px;
  float: right;
}

#guides hr {
  background-color: #d2cece;
}

#guides dl {
  /*font-size: 140%;*/
  display: inline;
}

#guides dl dt {
  color: #3e434c;
  letter-spacing: 0.05em;
  font-weight: bold;
}

#guides dl dd {
  text-indent: -10px;
  margin-left: 18px;
}
#edge-badge {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 100;
  border: none;
}
