
body { font-family: adelle-1, adelle-2, Helvetica, Arial, sans-serif; background: #f9f9f9; line-height: 23px; }

/* ======= Elements ======= */

h1                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 38px; margin-bottom: 0.5em; line-height: 1.1em; }
h2                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 30px; margin-bottom: 10px; line-height: 1.1em; }
h3                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 24px; margin-bottom: 10px; line-height: 1.1em; }
h4                { text-shadow: white 1px 1px 0px; color: #599716; font-style: normal; font-weight: normal; font-size: 19px; margin-bottom: 10px; padding-top: 8px; line-height: 1em; }
h5                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 13px; margin-bottom: 0.5em; line-height: 1em; }
h6                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 10px; margin-bottom: 0.5em; line-height: 1em; }
h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }
p                 { color: #4D4F50; margin: 0 0 .8em; font-size: 16px; font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, serif; line-height: 1.3em; }
p img.left        { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right       { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
a                 { color: #870a0a; text-decoration: underline; }
a:visited         { color: #601212; }
a:hover           { color: #232323; }
a:active          { color: #ff000c; }
a:link,a:visited  { -moz-transition: color 0.2s linear 0s; }
a.pdf,a.cvs,a.doc { background-position: scroll right 6px; background-repeat: no-repeat; margin-left: 0; padding-right: 19px; }
a.pdf             { background-image: url("/images/pdf.png"); }
a.cvs             { background-image: url("/images/excel.png"); }
a.doc             { background-image: url("/images/word.png"); }
a.external        { background: url("../images/off-site-link.png") no-repeat scroll right center transparent; padding: 0 14px 0 0;}
a img,
.logo a           { border-bottom: none !important; }
blockquote        { margin: 1.5em; color: #666666; font-style: italic; }
strong            { font-style: italic; }
dfn               { font-style: italic; font-weight: bold; }
sup, sub          { line-height: 0; }
abbr, acronym     { border-bottom: 1px dotted #666666; }
address           { margin: 0 0 1.5em; font-style: italic; }
del               { color: #666666; }
pre               { margin: 2em 0; white-space: pre; }
pre, code, tt     { font-family: "lucida console", monospace; font-size: 0.85em; line-height: 1.3; }
li ul, li ol      { margin: 0 1.5em; }
ul                { margin: 0 1em 1.5em; font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif; list-style-type: disc; color: #4D4F50; }
ol                { margin: 0 1em 1.5em; list-style-type: decimal; }
dl                { margin: 0 0 1.5em 0; }
dl dt             { font-weight: bold; }
dd                { margin-left: 1.5em; }
table             { font-family: facitweb-1,facitweb-2; color: #4D4F50; border: 1px solid #dee1e3; background: white; margin-bottom: 1.4em; width: 100%; border-collapse: collapse; font-size: 0.8em; }
table th, table td { padding: 0.25em 1em; border: 1px solid #CCC; border-collapse: collapse; }
table th { border-bottom: 2px solid #CCC; background: #EEE; font-weight: bold; padding: 0.5em 1em; }

thead th          { background: #e5f2fc; border-bottom: 1px solid #dee1e3; border-top: 1px solid #b7cfe1; border-left: 1px solid #b7cfe1; border-right: 1px solid #b7cfe1; color: #2d466e; font-size: 12px; text-transform: uppercase; letter-spacing: 0.03em; padding: 9px 12px 8px; }
tfoot th          { border-top: 1px solid #dee1e3; }
tfoot td          { border-top: 1px solid #dee1e3; }
th:first-child    { border-right: none; }
th, td            { border-right: 0px solid #e1ded7; border-bottom: 1px solid #dee1e3; border-left-width: 0px; border-top-width: 0px; }
th, td, caption   { padding: 5px 12px; }
tr                { border-bottom: 1px solid #dee1e3; }
tfoot             { font-style: italic; }
caption           { background: #eeeeee; }
form ol           { list-style: none; margin: 0; padding: 0; }
form ol li        { padding: 6px 0; }
.button-item      { padding: 18px 0 6px;}
label             { font-size: 11.5px; font-family: facitweb-1,facitweb-2; color: #4D4F50; letter-spacing: 0.05em; text-transform: uppercase; padding: 0 4px 0 0; }
fieldset          { padding: 16px 20px; margin: 0 0 1em 0; border: 1px solid #DDDDDD; }
fieldset select   { font-size: 14px; margin: 5px 0 0 0; }
legend            { font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2; background: #F9F9F9; color: #4D4F50; padding: 0px 8px 0 0; margin: 0; letter-spacing: 0.04em; font-weight: normal; font-size: 14px; }
input.text, input.title, input[type=email], input[type=text], input[type=password] { margin: 4px 0; padding: 5px; }
input[type=radio], input[type=checkbox] { margin: 0 5px 0px 0px; width: 15px; }
input[type=checkbox], input.checkbox, input[type=radio], input.radio { font-family: monospace; top: 0; }
textarea          { margin: 4px 0; padding: 5px 7px; border-top: 1px solid #717171; border-right: 1px solid #b4b4b4; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #b4b4b4; }
select            { margin: 0.5em 0; }
input, textarea   { font-family: courier; font-size: 14px; letter-spacing: 0.01em; margin: 0; }

/* ======= Utility ======= */

.left             { display: inline; float: left; }
.right            { display: inline; float: right; }
.center           { text-align: center; }
img.left          { margin: 0px 25px 20px 0px; }
img.right         { margin: 0px 0px 20px 25px; }
.clear            { clear: both; font-size: 0; height: 0; line-height: 0; }
.clearfixafter    { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
* html .clearfix  { height: 1%; }
.clearfix         { overflow: hidden; display: inline-block; }

/* ======= Layout ======= */

.inner            { margin: 0 auto; width: 960px; }
.main             { display: inline; float: left; margin: 0px 10px; width: 620px; }
.sidebar          { display: inline; float: left; margin: 0px 10px; width: 300px; }
.alpha            { margin-left: 0 !important; }
.omega            { margin-right: 0 !important; }
.split            { width: 440px; margin: 0 30px 20px 10px; float: left; }
.split.last       { margin: 0 10px 20px 30px; }
.split-inner      { padding: 20px; }
.third            { width: 33.3%; padding: 30px 0; float: left; }
.third-inner      { padding: 0px 20px; }
.third .illo      { display: block; width: 270px; height: 100px; margin-bottom: 18px; border: 1px solid #efefef; }

/* ======= Structure: toolbar ======= */

.tool {  }
.tool-inner {
  margin: 0;
  background: #001425;
  padding: 9px 10px 12px; }
.tool .logo {
  float: left; }
.tool-nav {
  display: inline;
  float: right;
  margin: 19px 0 0 0; }
  .tool-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 8px 0 0; }
    .tool-nav li {
      list-style-image: none;
      list-style-type: none;
      margin: 0px 0px 0px 20px;
      display: inline;
      float: left;
      background-image: none;
      font-size: 14px;
      color: #C3BFBE; }
      .tool-nav li a {
        font-family: facitweb-1,facitweb-2;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #fff;
        border-bottom: none;
        text-decoration: none;
        display: block; }
        .tool-nav li a:hover,
        .tool-nav li.sub a:hover {
          color: #75b333; }
      .tool-nav li.sub a {
        color: #7cb2de; }

/* ======= Structure: splash ======= */

.splash { }
.splash-inner {
  margin: 0;
  padding: 0;
  height: 300px;
  background: #7ebbe8 url(/images/splash.png) no-repeat top center; }
.splash h1 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  margin: 60px 0px 10px 0px;
  text-shadow: 0 1px 2px #3477AF; }
.splash h2 {
  color: #206197;
  font-size: 19px;
  font-style: italic;
  font-family: "adelle-1","adelle-2";
  position: absolute;
  margin: 150px 0px 10px 0px;
  text-shadow: 1px 1px 0px #add2f1; }
.splash button {
  position: absolute;
  margin: 190px 0px 0px 0px; }
.splash .graphic {
  position: absolute;
  margin: 0px 0px 0px 611px; }
.secondary {
  background-image: url(/images/splash-secondary.png);
  height: 75px;
  padding: 40px 0 0; }
.secondary h1,
.secondary h2 {
  text-align: left;
  position: relative;
  margin: 0 10px; }
.secondary h1 {  }
.secondary h2 {
  margin-top: 10px; }


.splash-banner { }
.splash-banner-inner {
  padding: 24px 0px;
  border-top: 1px solid #ecf7ff;
  border-bottom: 1px solid #cbe1f4;
  background: #e0effc; /* Old browsers */
  background: -moz-linear-gradient(top, #e0effc 0%, #eff8ff 29%, #eff8ff 82%, #e3eff8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0effc), color-stop(29%,#eff8ff), color-stop(82%,#eff8ff), color-stop(100%,#e3eff8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0effc 0%,#eff8ff 29%,#eff8ff 82%,#e3eff8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e0effc 0%,#eff8ff 29%,#eff8ff 82%,#e3eff8 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #e0effc 0%,#eff8ff 29%,#eff8ff 82%,#e3eff8 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0effc', endColorstr='#e3eff8',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #e0effc 0%,#eff8ff 29%,#eff8ff 82%,#e3eff8 100%); /* W3C */ }
.splash-banner.nav .splash-banner-inner {
  padding: 0; }
.question {
  color: #68a6d9;
  float: left;
  display: block;
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 33px;
  width: 123px;
  height: 63px;
  background: transparent url(/images/whats.png) no-repeat center center;
  margin: 0px 35px 0px 0px; }
.answer {
  float: left;
  font-size: 17px;
  color: #235b88;
  width: 500px;
  line-height: 22px; }
.demo {
  float: left;
  margin: 16px 0 0 32px; }
.demo a {
  font-size: 16px !important;
  padding: 8px 16px !important; }

.nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  border-left: 1px solid #CBE1F4; }
.nav ul li {
  float: left;
  width: 180px;
  padding: 0;
  border-right: 1px solid #CBE1F4; }
.nav ul li a {
  display: inline-block;
  padding: 18px 30px;
  height: 110px;
  text-decoration: none;
  border-bottom: none;
  opacity: 0.8; }
.nav ul li a:hover {
  background: #f7fbff;
  border-bottom: none !important;
  opacity: 1; }
.nav ul li h4 {
  color: #001425;
  margin-bottom: 8px; }
.nav ul li p {
  color: #235B88;
  line-height: 1.15em;
  font-size: 13px; }
.nav ul li.selected {
  border-bottom: 1px solid #F9F9F9;
  margin-bottom: -1px; }
.nav ul li.selected a {
  background: #F9F9F9;
  opacity: 1; }

.full.display {
  padding-top: 10px; }
.display .box {
  height: 204px;
  width: 410px;
  margin: 0; }
.display .tagline {
  font-style: italic; }
.display .button-link {
  padding: 6px 12px 2px;
  margin: 4px 0 0 -1px; }

.rss .button-link {
  padding: 8px 13px 4px 9px; }

.visit {
  float: right; }
.visit .button-link {
  padding: 3px 13px 2px;
  font-size: 12px;
  font-family: facitweb-1,facitweb-2; }
.button-link img {
  margin: -3px 0 0 2px; }

.pagination .button-link {
    font-family: facitweb-1,facitweb-2;
    font-size: 11px;
    padding: 3px 13px 2px; }

.box-button .button-link {
  font-family: facitweb-1,facitweb-2;
  font-size: 11px !important;
  padding: 3px 10px 1px; }

/* ======= Structure: top ======= */

.top { }
.top-inner {
  padding: 0;
  min-height: 100px;
  background: #fff; }
  .top .top-inner h2 {
    margin: 0;
    padding: 0; }


/* ======= Structure: middle ======= */

.middle { }
.middle-inner {
  min-height: 400px;
  padding: 30px 0px; }

  /* ======= Structure: middle full column ======= */

  .full { }
    .full-inner {
      min-height: 400px;
      padding: 0; }

  /* ======= Structure: middle main column ======= */

  .main { }
    .main-inner {
      min-height: 360px;
      padding: 0px 20px 0px 0px; }

  /* ======= Structure: middle sidebar column ======= */

  .sidebar { }
    .sidebar-inner {
      padding: 0px 0px 0px 20px;
      min-height: 360px; }

  /* ======= Styles: main ======= */


  /* ======= Styles: sidebar ======= */

  .sidebar .sidebar-box {
    border: 1px dashed #cecece;
    background: #fafafa;
    padding: 20px;
    margin-bottom: 20px; }
  .sidebar .sidebar-box h2 {
    font-size: 18px; }
  .sidebar .sidebar-box p {
    color: #464646; }

/* ======= Structure: footer ======= */

.footer { }
.footer-inner {
  margin-top: 30px;
  padding: 40px 0 35px;
  border-top: 1px solid #dae1e5;
  background: #eaeced; /* Old browsers */
  background: -moz-linear-gradient(top, #eaeced 0%, #eff0f1 24%, #eff0f1 82%, #eaeced 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeced), color-stop(24%,#eff0f1), color-stop(82%,#eff0f1), color-stop(100%,#eaeced)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeced', endColorstr='#eaeced',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* W3C */ }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 18px; }
    .footer li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      background-image: none;
      padding: 0;
      font-size: 13px;
      color: #232323;
      text-shadow: 1px 1px 0px #fff; }
      .footer li a {
        color: #6c6e6f;
        border-bottom: none;
        text-decoration: none;
        text-shadow: 1px 1px 0px #fff; }
        .footer li a:hover {
          color: #599716; }
        .footer p {
          color: #4c4e4f;
          font-size: 13px;
          font-family: arial; }
.footer h4 {
  color: #4c4e4f;
  font-size: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase; }
.one-third, .one-half {
  padding: 0px 10px; }
.one-third {
  float: left;
  display: block;
  width: 140px; }
.one-half {
  float: left;
  display: block;
  width: 220px; }

.footnote { }
.footnote-inner {
  background: none repeat scroll 0 0 #001425;
  padding: 20px 0px; }
.footnote-inner p {
  color: #424f59;
  font-family: facitweb-1,facitweb-2;
  font-size: 12px;
  margin: 0;
  padding: 0; }


/* ======= Specific Styles ======= */

.spots {  }
.spot {
  float: left;
  margin: 0 10px 30px;
  font-family: "adelle-1","adelle-2";
  color: #37393a;
  display: inline-block;
  background: #eff0f1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 1px 1px 12px 2px #d9d9d9;
  -moz-box-shadow: inset 1px 1px 12px 2px #d9d9d9;
  box-shadow: inset 1px 1px 12px 2px #d9d9d9; }
.spot-inner {
  padding: 30px 35px; }
.spot .icon {
  display: block;
  height: 100px;
  background: #fff;
  border: 1px solid #efefef;
  margin: 0px 0px 20px; }
.split fieldset {
  border: none;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 0px;
  padding: 0;
  height: 40px; }
.split fieldset legend {
  text-transform: uppercase;
  margin: 0 0 0 -18px; }
.spot .copy {
  margin-bottom: 18px; }

.spot table {
  border: none;
  background: none;
  width: 220px; }
.spot h3 {
  font-size: 21px;
  line-height: 1.2em; }
.spot td {
  font-size: 12px;
  padding: 4px 12px; }
.spot tr.last,
.spot tr.last td {
  border-bottom: none; }

.spot.light {
  color: #37393a;
  background: #f4f5f6;
  -webkit-box-shadow: inset 1px 1px 12px 2px #e7e8e8;
  -moz-box-shadow: inset 1px 1px 12px 2px #e7e8e8;
  box-shadow: inset 1px 1px 12px 2px #e7e8e8; }

/* ======= Spot widths ======= */

.spots .spot {
  width: 300px;
  height: 490px; }
.sidebar .spot {
  width: 100%;
  margin: 0 0 30px; }
.sidebar .spot-inner {
  padding: 25px 30px 30px }
.section .spot {
  margin: 0;
  height: 300px;
  width: 430px; }
.spot.twitter {
  background: #ecf3fa;
  -webkit-box-shadow: inset 1px 1px 12px 2px #ccdae9;
  -moz-box-shadow: inset 1px 1px 12px 2px #ccdae9;
  box-shadow: inset 1px 1px 12px 2px #ccdae9; }
.spot.twitter p {
  color: #333e48; }
.spot.twitter p a {
  color: #5381b0; }
.spot.twitter p.byline a {
  text-decoration: none;
  border-bottom: none; }
.spot.twitter img.twitter-icon {
  margin-bottom: 5px; }
.spot.twitter .visit {
  margin-top: 20px; }
.spot.twitter .button-link {
  color: #5381B0 !important; }
.spot.twitter .button-link img {
  margin: -4px 0 0 5px; }
.spot.twitter .post {
  border-color: #c9dcee; }

.spot input {
  padding: 4px 6px;
  margin-bottom: 5px; }

.inject {
  position: absolute;
  margin: 0 10px;
  width: 220px;
  margin: 320px 0px 0px 10px; }
.inject-inner {
  padding: 25px; }
.inject h3 {
  margin-bottom: 5px; }
.inject p {
  margin-bottom: 0; }

.chart {
  width: 280px;
  float: left; }
.spot.chart {
  margin: 0 0 30px 0px;
  width: 280px; }
img.merchant {
  margin-bottom: 12px; }
.git .chart .git-icon {
  float: left;
  height: 22px;
  width: 18px;
  overflow: hidden;
  margin-right: 5px;
  background: url(/images/github-icons.png) no-repeat left top; }
.git h3 {
  text-align: center; }
.git .chart td.name {
  padding-left: 5px; }
.sidebar table.chart {
  margin-bottom: 30px; }
img.github-logo {
  width: 124px;
  margin: 0 0px 8px 35px;
  opacity: 0.9; }
#chapter-listing p {
  margin: 0;
  font-size: inherit;
  color: inherit;
}


/* ======= Product and Tour areas ======= */

.section {
  padding: 0px 0px 25px 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #DDDDDD; }




/* ======= Testimonial area ======= */

.logos { }
.logos a {
  background: transparent url(/images/logos.png) no-repeat center center;
  height: 171px;
  width: 438px;
  display: block;
  border-bottom: none; }
.testimonial {
  background: transparent url(/images/bubble.png) no-repeat center center;
  height: 165px;
  width: 459px;
  display: block; }
.quote {
  color: #4D4F50;
  padding: 20px 24px;
  font-family: "adelle-1","adelle-2";
  font-size: 15px;
  font-style: italic;
  display: block;
  height: 103px; }
.source {
  margin: 0px 0px 0px 152px;
  color: #4D4F50;
  font-family: "adelle-1","adelle-2";
  font-size: 17px; }


/* ======= Blog ======= */

.post {
  padding: 20px 0px;
  margin: 0 0 10px;
  border-bottom: 1px solid #DDDDDD; }
.post h2 {
  font-size: 24px;
  line-height: 1.1em;
  margin-bottom: 10px; }
.post h2 a {
  color: #232323; }
.post h4 {
  color: #599716;
  margin-bottom: 5px;
  padding-top: 10px; }
.post ul {
  margin: 0 0 20px 15px;
  padding: 0; }
.post p {
  font-size: 15px;
  line-height: 1.35em; }
.post li { }
.post li p {
  margin-bottom: 0; }
.post em {
  font-size: 13px;
  font-style: italic;
  font-family: "adelle-1","adelle-2", serif; }
code {
  font-size: 13px;
  margin: 5px 0; }
.snippet {
  padding: 8px 0;
  margin: 0; }
.spot .snippet {
  padding: 6px 0; }
.snippet p {
  margin-bottom: 8px;
  font-size: 14px; }
.snippet .says {
  font-size: 12px;
  letter-spacing: 0.04em; }
.snippet.last {
  border-bottom: none; }



.heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #4D4F50;
  border-top: 6px solid #DDDDDD;
  padding: 4px 0 5px;
  margin-top: 25px; }
.post .byline {
  font-family: facitweb-1,facitweb-2;
  font-size: 11px;
  color: #787B7E;
  letter-spacing: 0.04em;
  margin-bottom: 5px;
  text-transform: uppercase; }
.post .byline .comments {
  display: inline-block;
  padding-left: 19px;
  background: transparent url(/images/comment.png) no-repeat center left; }
.post .byline em {
  font-size: 11px;
  padding: 0 4px;
  color: #c4c7c9; }
.snippet .byline a {
  color: #787B7E;
  border-bottom: none; }
.snippet .byline a:hover {
  color: #232323; }

/* ======= Plans ======= */

.plans {
  margin: 0; }
.plan {
  float: left;
  width: 300px;
  margin: 0 10px; }
.plan-top {
  background: #23292c;
  border-radius: 4px 4px 0px 0px;
  color: #abb0b3;
  padding: 12px 12px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  border-bottom: 1px solid #161b1e;
  letter-spacing: 0.08em; }
.plan-mid {
  font-family: facitweb-1,facitweb-2;
  font-size: 40px;
  font-weight: 200;
  background: #333940;
  border-bottom: 1px solid #272d33;
  border-top: 1px solid #434950;
  padding: 25px 0px 20px;
  text-align: center;
  text-shadow: 2px 2px 1px #232323;
  color: #fff; }
.plan-mid em {
  font-size: 22px;
  vertical-align: top;
  color: #E7E7E5; }
.plan-line {
  font-family: facitweb-1,facitweb-2;
  font-size: 13px;
  padding: 12px 9px 9px;
  text-align: center;
  background: #fff;
  color: #2d5373;
  border-right: 1px solid #dee1e3;
  border-left: 1px solid #dee1e3;
  border-bottom: 1px solid #dee1e3; }
.plan-line.starter {
  padding: 33px 10px 30px; }
.plan-line h5 {
  color: #438BC6;
  font-family: adelle-1,adelle-2;
  font-size: 15.5px;
  font-style: normal;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0 0 3px;
  vertical-align: top;
  line-height: 1.2em; }
.plan-line p {
  border: none;
  font-family: facitweb-1,facitweb-2;
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center; }
.plan-button {
  background: -moz-linear-gradient(center top , #eff7fd 0%, #f5fbff 29%, #EFF8FF 82%, #e8f3fc 100%) repeat scroll 0 0 transparent;
  border-right: 1px solid #CBE1F4;
  border-left: 1px solid #CBE1F4;
  border-bottom: 1px solid #CBE1F4;
  padding: 12px;
  text-align: center; }
.plan-button button {
  width: 125px;
  margin: 0 auto;
  padding: 10px 16px 4px;
  box-shadow: 0 1px 2px #222 !important; }
.sidebar .plan {
  width: 280px;
  margin: 0 0 30px; }

.icon-server {
  margin-top: -4px; }
.icon-servers{
  margin-top: -4px; }
.icon-db {
  margin-top: -5px; }


/* ======= Plan - call option ======= */

.call {
  margin: 30px 10px;
  text-align: center;
  border-radius: 4px; }
.call h3 {
  font-size: 18px;
  float: left;
  margin: 0;
  padding: 0; }
.call p {
  margin: 0;
  padding: 0;
  color: #5e6061;
  font-size: 16px;
  font-style: italic; }

.specs {
  background: -moz-linear-gradient(center top , #EFF7FD 0%, #F5FBFF 29%, #EFF8FF 82%, #E8F3FC 100%) repeat scroll 0 0 transparent;
  border: 1px solid #CBE1F4;
  padding: 32px 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
.specs ul {
  margin: 10px 0 0 0; }
.specs ul li {
  /* Icons by http://dryicons.com */
  list-style: none;
  background: url(/images/accept.png) no-repeat scroll left 1px transparent;
  padding: 3px 0px 3px 32px; }
.specs.pad {
  background: none;
  border: none;
  padding: 34px 0px 0px 20px; }


.check, #header-section ul {
  margin: 10px 0 20px 0; }
.check li, #header-section li {
  background: url("../images/accept.png") no-repeat scroll left 1px transparent;
  list-style: none outside none;
  padding: 5px 0 5px 32px; }
.check.guide li, #header-section li {
  background: url("../images/check.png") no-repeat scroll left 8px transparent;
  padding-left: 30px;
  line-height: 20px; }

.more {
  margin: 30px 0 10px;
  width: 940px; }
.more h3 {
  font-size: 22px;
  margin-bottom: 15px; }
.more .check {
  width: 400px;
  float: left; }
.more .spot {
  float: right;
  height: auto;
  padding: 0 !important;
  margin: 56px 52px 20px !important;
  width: 380px !important; }

/* ======= Boxes ======= */


.box {
  float: left;
  width: 280px;
  margin: 0 10px 20px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 2px #999; }
.box-top {
  display: block;
  width: 280px;
  height: 222px;
  margin-bottom: 10px; }
.box-mid {
  font-family: facitweb-1,facitweb-2;
  font-size: 21px;
  font-weight: 200;
  background: #333940;
  border-bottom: 1px solid #272d33;
  border-top: 1px solid #434950;
  padding: 8px 16px 6px;
  text-align: left;
  text-shadow: 2px 2px 1px #232323;
  color: #fff; }
.box-mid em {
  font-size: 22px;
  vertical-align: top;
  color: #E7E7E5; }
.box-line {
  font-family: facitweb-1,facitweb-2;
  font-size: 11px;
  font-style: normal;
  padding: 4px 10px 4px 16px;
  text-align: left;
  color: #7f8182;
  letter-spacing: 0.02em;
  display: block;
  border-bottom: 1px solid #dee1e3;
  background: #F9F9F9; }
.box-title {
  width: 80px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 5px 0 0; }
.box-link a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #DEE1E3; }
.box-line p {
  font-size: 14px;
  padding: 10px 0;
  margin: 0;
  height: 230px; }
.box-line a.external {
  background: url("/images/off-site-link.png") no-repeat scroll right 2px transparent; }
.box-button {
  background: #f0f0f0;
  padding: 9px 0px 9px 13px; }


.ads .box {
  height: 500px; }
.ads .box-inner {
  padding: 20px; }
.ads p {
  height: 240px; }
.illo {
  display: block; }
.illo img {
  margin-top: -15px; }
.ads h3 {
  text-align: center;
  padding-top: 5px; }
.pagination {
  padding: 20px 0; }
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.pagination li {
  padding: 0;
  margin: 0 10px 0 0;
  float: left; }



.says {
  font-family: facitweb-1,facitweb-2;
  font-size: 13px;
  font-style: normal;
  color: #599716;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 5px 0 0; }
.slideshow {
  display: block;
  background: url(/images/slideshow.png) no-repeat center center;
  height: 385px;
  width: 440px;
  margin: 0 0 10px; }
.thumbs {
  margin-bottom: 30px; }
a.thumb {
  width: 97px;
  height: 72px;
  background: #fff;
  float: left;
  display: block;
  margin: 0px 4px 0px 0px;
  border: 5px solid #d8d8d8; }
a.thumb:hover {
  border-color: #aaa; }
a.thumb.selected {
  border-color: #8ebfe8; }
a.thumb.last {
  margin-right: 0; }
.slideshow img {
  margin-top: 22px; }
.split .spot {
  width: 440px;
  padding-bottom: 20px;
  margin: 0 0 20px 0; }
.split .spot table {
  width: 380px; }

/* ======= Page - as used in signup pages ======= */

.page {
  background: #fff;
  padding: 40px 45px;
  margin: 0 10px;
  border: 6px solid #ddd; }
.page fieldset {
  border: none;
  padding: 0;
  margin: 0; }
.page h2 {
  font-size: 25px;
  text-align: left; }
.page form p {
  margin-bottom: 4px; }
.page-main {
  float: left;
  width: 540px; }
.page-main form li { }
.page-main form li.half {
  display: inline-block;
  float: left;
  width: 270px; }
.page-main form li.half input {
  width: 220px; }
.page-main form input {
  padding: 5px 7px;  }
.page-main textarea {
  width: 494px; }
.page-side {
  float: left;
  width: 260px;
  margin-left: 30px; }
.page-side .plan {
  margin: 0 0 20px;
  width: 260px; }
.page-side .spot {
  width: 260px;
  margin: 0 0 20px; }
.page-side .spot h3 {
  font-size: 21px; }
.page-side .spot ul {
  margin-bottom: 0;
  font-size: 13px; }

label .instruct {
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: 0;
  margin-left: 2px; }
label strong {
  padding: 0px 3px; }

/* ======= Sidebar list (e.g. blog) ======= */

.items {
  list-style: none;
  margin: 0;
  padding: 0; }
.items li a {
  font-family: facitweb-1,facitweb-2;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #787B7E;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 5px 8px 4px;
  line-height: 17px;
  border-bottom: 1px solid #ddd; }
.items li a:hover {
  color: #599716;
  background: #fff; }
.guides li a {
  color: #676767;
  text-transform: none;
  padding: 5px 8px 4px;
  padding-left: 17px;
  letter-spacing: 0.01em;
  line-height: 17px; }
.guides li.outline a {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5px;
  color: #333; }


/* ======= Details ======= */

.details h2,
.details p {
  text-align: center;
  width: 800px;
  margin-right: auto;
  margin-left: auto; }
.diagram {
  background: url(/images/spree-diagram-600.png) no-repeat center center;
  height: 559px;
  display: block;
  margin: 30px 0px 40px; }
.one,
.two,
.three,
.four {
  position: absolute;
  display: block; }
.one h4,
.two h4,
.three h4,
.four h4 {
  color: #2D4B73;
  font-size: 18px;
  font-weight: normal;
  width: 200px;
  margin: 0px 0px 8px 36px;
  text-align: left; }
.one p,
.two p,
.three p,
.four p {
  width: 190px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px; }
.three p,
.four p {
  width: 160px;
  margin-left: 0px; }
.one {
  margin: 16px 0 0 76px; }
.two {
  margin: 16px 0 0 356px; }
.three {
  margin: 387px 0 0 25px; }
.four {
  margin: 396px 0 0 423px; }

/* ======= Extras ======= */

.divider {
  border-top: 1px solid #ddd;
  margin: 20px 0; }


/* ======= New buttons ======= */

.button, button {
	display: inline-block;
	text-decoration: none !important;
	text-shadow: 0 1px 2px #666;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: baseline;
	overflow: visible;
	width: auto;
	font-size: 20px;
	font-family: "adelle-1","adelle-2";
	font-weight: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 10px 16px 6px;
	color:#fce8e3;

	border: 1px solid;
	border-color:#cb6652 #b74d39 #803121;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

	-webkit-transition:all 800ms ease;
	-moz-transition:all 800ms ease;
	-o-transition:all 800ms ease;
	transition:all 800ms ease;

	background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#ae432e), color-stop(0.05, #d06c57));
	background:-o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
}

.button:hover, button:hover {
	background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
	background: -o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
	color: #fff;
	text-decoration: none; }

.no-cssgradients .button, .no-cssgradients button { background:#ae432e url('../img/btns/btn_red.png') repeat-x left top; }
.no-cssgradients .button:hover, .no-cssgradients button:hover { background:#963c2a url('../img/btns/btn_red_hover.png') repeat-x left top; }

/* ======= Buttons : Blue ======= */

.button.blue, button.blue {
	border-color:#1495cc #2b8ab3 #066d99;
	background:-moz-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#afe3fa), to(#088ec8), color-stop(0.05, #6cb8d9));
	background:-o-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
	color:#ebf9ff; }
.button.blue:hover, button.blue:hover {
	background:-moz-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#afe3fa), to(#077bad), color-stop(0.05, #6cb8d9));
	background:-o-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
	color:#fff; }
.no-cssgradients .button.blue, .no-cssgradients button.blue { background:#088ec8 url('../img/btns/btn_blue.png') repeat-x left top; }
.no-cssgradients .button.blue:hover, .no-cssgradients button.blue:hover { background:#0a7dae url('../img/btns/btn_blue_hover.png') repeat-x left top; }

/* ======= Buttons : Green ======= */

.button.green, button.green {
	border-color:#8dcc18 #7cb315 #6a9912;
	background:-moz-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#d7fa96), to(#78ac15), color-stop(0.05, #abd957));
	background:-o-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
	color:#f7ffe5;
	text-shadow: 1px 1px 1px #4d890c; }
.button.green:hover, button.green:hover {
	background:-moz-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#d7fa96), to(#659111), color-stop(0.05, #abd957));
	background:-o-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
	color:#fff; }
.no-cssgradients .button.green, .no-cssgradients button.green { background:#78ac15 url('../img/btns/btn_green.png') repeat-x left top; }
.no-cssgradients .button.green:hover, .no-cssgradients button.green:hover { background:#679212 url('../img/btns/btn_green_hover.png') repeat-x left top; }

/* ======= Buttons : Gray ======= */

.button.gray, button.gray {
	border-color:#b1b3b3 #a4a6a6 #929494;
	background:-moz-linear-gradient(top, #f2f2f2, #ccc 5%, #abacac 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#abacac), color-stop(0.05,#ccc));
	background:-o-linear-gradient(top, #f2f2f2, #ccc 5%, #abacac 100%);
	color:#727373;
	text-shadow:0 1px 2px #999; }
.button.gray:hover, button.gray:hover {
	background:-moz-linear-gradient(top, #f2f2f2, #ccc 5%, #979999 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#979999), color-stop(0.05,#ccc));
	background:-o-linear-gradient(top, #f2f2f2, #ccc 5%, #979999 100%);
	color:#585959; }
.no-cssgradients .button.gray, .no-cssgradients button.gray { background:#abacac url('../img/btns/btn_gray.png') repeat-x left top; }
.no-cssgradients .button.gray:hover, .no-cssgradients button.gray:hover { background:#9a9c9c url('../img/btns/btn_gray_hover.png') repeat-x left top; }

.button.disabled, button.disabled:hover,
.button.disabled, button.disabled:hover {
	text-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	font-weight: normal;
	border-color: #b1b3b3 #a4a6a6 #929494;
	background: -moz-linear-gradient(top, #f2f2f2, #ccc 5%, #abacac 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#abacac), color-stop(0.05,#ccc));
	background: -o-linear-gradient(top, #f2f2f2, #ccc 5%, #abacac 100%);
	color: #727373;
	text-shadow: 0 1px 2px #999; }

/* ======= Splash buttons ======= */

.splash button,
.splash .button {
  border: none;
  -webkit-box-shadow: 0 1px 2px #3d3d3d;
	-moz-box-shadow: 0 1px 2px #3d3d3d;
	box-shadow: 0 1px 2px #3d3d3d; }

.plan button,
.plan .button,
.page button,
.page .button {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; }

button.small {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0.05em;
  padding: 8px 12px 3px;
  box-shadow: 0 1px 2px #333; }

/* ======= Secondary button links ======= */

.button-link {
	color: #75b333 !important;
	text-decoration: none !important;
	display: inline-block;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #c9cfd4;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: baseline;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	overflow: visible;
	width: auto;
	font-size: 14px;
	font-family: "adelle-1","adelle-2";
	font-weight: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 6px 13px 5px;
	text-shadow: 1px 1px 0px #fff;
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 13%, #f7f7f7 79%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(13%,#ffffff), color-stop(79%,#f7f7f7), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 13%,#f7f7f7 79%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%,#ffffff 13%,#f7f7f7 79%,#efefef 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%,#ffffff 13%,#f7f7f7 79%,#efefef 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f7f7f7 0%,#ffffff 13%,#f7f7f7 79%,#efefef 100%); /* W3C */ }

.button-link.blue { background-color:#066d99; }
.button-link.green { background-color:#6a9912; }

.button-link:hover {
  color: #53930f;
	background: #e3e6e7; /* Old browsers */
  background: -moz-linear-gradient(top, #e3e6e7 0%, #f2f2f2 10%, #e8e9ea 82%, #dae0e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e6e7), color-stop(10%,#f2f2f2), color-stop(82%,#e8e9ea), color-stop(100%,#dae0e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e3e6e7 0%,#f2f2f2 10%,#e8e9ea 82%,#dae0e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e3e6e7 0%,#f2f2f2 10%,#e8e9ea 82%,#dae0e4 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #e3e6e7 0%,#f2f2f2 10%,#e8e9ea 82%,#dae0e4 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e6e7', endColorstr='#dae0e4',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #e3e6e7 0%,#f2f2f2 10%,#e8e9ea 82%,#dae0e4 100%); /* W3C */
  text-shadow: 1px 1px 0px #fafafa;
  text-decoration: none !important;
  border-color: #c9cfd4; }


.login .logo {
  text-align: center;
  margin: 65px auto 10px;
  margin-left: -20px; }
.focus {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 8px solid #DDDDDD;
  width: 430px;
  margin: 30px auto 20px;
  font-family: freight-sans-pro; }
.focus h1 {
  text-align: center;
  font-family: adelle-1, adelle-2, Helvetica, Arial, sans-serif; }
.focus .focus-inner {
  padding: 40px 50px 20px; }
.focus fieldset {
  border: none;
  padding: 0; }
.focus label {
  text-align: left !important; }
.focus .selectbox, .focus input {
  color: #232323;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.01em;
  text-align: left;
  width: 300px;
  font-size: 17px; }
.focus input {
  padding: 8px 10px; }
.focus .selectbox {  }

.instruct {
  width: 430px;
  margin: 0 auto;
  font-style: italic; }
.instruct p {
  font-size: 15px; }


.bubble .bubble-wrapper {
  background: transparent url(/images/quote-sidebar-spot.png) no-repeat scroll left top;
  font-size: 15px;
  line-height: 1.25em;
  margin: 0 0 0 -6px;
  padding: 0;
  width: 231px;
  display: block;
  overflow: hidden; }
.bubble .bubble-wrapper .inside {
  padding: 20px 23px 0px; }
.bubble .bubble-wrapper p {
  text-align: left;
  padding: 0;
  margin: 0; }
.bubble .bubble-wrapper em {
  font-style: normal;
  color: #3e7805; }
.bubble span {
  background: #EFF0F1 url(/images/quote-sidebar-spot.png) no-repeat scroll left bottom;
  display: block;
  overflow: hidden;
  height: 45px; }
.bubble p.meta {
  text-align: left;
  color: #5b5a55;
  font-size: 13px;
  font-style: italic;
  text-shadow: 1px 1px 0 #fff;
  line-height: 1.25em;
  margin: 0 0 0 94px;
  padding-top: 43px; }
.bubble p.meta a {
  margin-left: 20px;
  font-style: normal;
  color: #a5a4a0;
  border-color: #d6d5d5; }
.bubble p.meta a:hover {
  color: #AE4B0F;
  border-color: #B8B8B8; }
.github {
  display: block;
  height: 85px;
  width: 210px;
  background: transparent url(/images/tom-github.png) no-repeat 10px 0px; }

fieldset.official {
  padding: 5px 20px 6px;
  border-color: #b4dc89; }
fieldset.official legend {
  font-family: facitweb-1,facitweb-2;
  font-size: 10.5px;
  padding: 0 8px;
  text-transform: uppercase;
  letter-spacing: 0.08em; }
fieldset.official p {
  font-size: 13px;
  font-style: italic; }

.docs h3 {
  padding-top: 10px; }
.docs h4 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
  padding-top: 10px; }
.docs h5 {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.02em; }
code {
    border: medium none;
    margin: 0 0 10px;
    font-size: 13px; }

.code, .note, .info, .warning {
  margin: 0 0 12px;
  padding-top: 6px; }
.bg, .bg-file {
  padding: 20px 35px 10px 30px;
  margin: 0 0 0 17px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.tab {
  display: block;
  margin-top: -7px;
  float: left;
  width: 36px;
  height: 36px; }
.code .tab {
  background: url("../images/tab-code.png") no-repeat scroll left top #f8f9fa; }
.note .tab {
  background: url("../images/tab-notes.png") no-repeat scroll left top #FFF9D8; }
.info .tab {
  background: url("../images/tab-pin.png") no-repeat scroll left top #E5CFEC; }
.warning .tab {
  background: url("../images/tab-warning.png") no-repeat scroll left top #F9D9D8; }
.code .bg, .bg-file {
  background: #f8f9fa;
  -webkit-box-shadow: inset 1px 1px 12px 2px #dee0e1;
  -moz-box-shadow: inset 1px 1px 12px 2px #dee0e1;
  box-shadow: inset 1px 1px 12px 2px #dee0e1; }
.note .bg {
  background: #f8f5e4;
  -webkit-box-shadow: inset 1px 1px 12px 2px #e8e0b4;
  -moz-box-shadow: inset 1px 1px 12px 2px #e8e0b4;
  box-shadow: inset 1px 1px 12px 2px #e8e0b4; }
.info .bg {
  background: #f9f0fc;
  -webkit-box-shadow: inset 1px 1px 12px 2px #ecdaf2;
  -moz-box-shadow: inset 1px 1px 12px 2px #ecdaf2;
  box-shadow: inset 1px 1px 12px 2px #ecdaf2; }
.warning .bg {
  background: #ffeceb;
  -webkit-box-shadow: inset 1px 1px 12px 2px #fbd6d6;
  -moz-box-shadow: inset 1px 1px 12px 2px #fbd6d6;
  box-shadow: inset 1px 1px 12px 2px #fbd6d6; }

.code p, .note p, .info p, .warning p {
  font-size: 14.5px; }
.code p {
  color: #232323; }
.note p {
  color: #4f4a30; }
.info p {
  color: #532362; }
.warning p {
  color: #713534; }

tt {
  padding: 3px 5px;
  font-size: 13px;
  margin: 0 1px;
  background: #efefef; }
.bg tt {
  font-size: 13px; }
.code tt {
  color: #090909;
  background-color: #c1c4c5; }
.note tt {
  color: #624801;
  background-color: #F5E9A8; }
.info tt {
  color: #400951;
  background-color: #efd0fa; }
.warning tt {
  color: #8c0606;
  background-color: #fec9c9; }

.path {
  display: inline-block;
  font-family: "lucida console", monospace;
  background: #CBE1AF;
  color: #666;
  border-left: 1px solid #9bc3df;
  padding: 4px 8px 4px 8px;
  margin: 4px 4px 0 36px;
  /*margin-bottom: 9px;*/
  font-size: 13px; }

ul.nav {
  float: right;
}

div.bg-file {
  margin-top: 20px;
}

.main-inner ul li { list-style:none; background: url(../images/grey_bullet.gif) no-repeat left 0.5em; padding-left: 1em; margin-left: 0; }

.syntaxhighlighter {
  font-size: 0.80em !important;
}

#guidesMenu {
  float: right;
  margin-right: 12px;
}

#guides {
  top: 16px;
  right: 36px;
  width: 520px;
  background-color: #fff;
  color: #3e434c;
  font-size: 0.75em;
}

#guides .L {
  width: 240px;
  float: left;
}
#guides .R {
  width: 240px;
  margin-left: 40px;
  float: right;
}

#guides hr {
  background-color: #d2cece;
}

#guides dl {
  /*font-size: 140%;*/
  display: inline;
}

#guides dl dt {
  color: #3e434c;
  letter-spacing: 0.05em;
  font-weight: bold;
}

#guides dl dd {
  text-indent: -10px;
  margin-left: 18px;
}

