<div id="linkResourcePanel" data-panel-type="<%= linked_resource %>">
  <% if linked_resource == 'URL' %>
    <%= render 'spree/admin/menu_items/link_inputs/url', f: f %>
  <% elsif linked_resource == 'Home Page' %>
      <%= render 'spree/admin/menu_items/link_inputs/home_page', f: f %>
  <% else %>
      <%= render 'spree/admin/menu_items/link_inputs/search', linked_resource: linked_resource, f: f %>
  <% end %>
</div>
