<div style="clear:both">
  <%= link_to taxon.name, taxon.store_path, :class => 'breadcrumbs' %>
  <br/><br/>
  <%= render :partial => "shared/products.html.erb", :locals => {:products => taxon_preview(taxon), :taxon => taxon} %>
</div>