<div style="clear:both">
  <%= link_to taxon.name, taxon_path(taxon), :class => 'breadcrumbs' %>
  <br/><br/>
  <%= render :partial => "shared/products.html.erb", :locals => {:products => taxon_preview(taxon)} %>
</div>