<h1>Listing Taxons</h1>

<table>
  <tr>
  </tr>
  <%- @taxons.each do |taxon|%>
    <tr>
    
      <td><%=link_to 'Show', object_url(taxon) %></td>
      <td><%=link_to 'Edit', edit_object_url(taxon) %></td>
      <td><%=link_to 'Destroy', object_url(taxon), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Taxon', new_object_url %>