<h1><%= @taxon.name %></h1>

<% if @taxon.children.empty? || !params[:keywords].blank? %>
  <%= render :partial => "shared/products", :locals => {:products => @products, :taxon => @taxon } %>
<% else %>
  <%= render :partial => "taxon", :collection => @taxon.children %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>
