---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 283c9b14-5ba0-497e-a0ec-1c9b6ef8b352
      X-Avalara-Uid:
      - 283c9b14-5ba0-497e-a0ec-1c9b6ef8b352
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-45xdb
      Serverduration:
      - '00:00:00.0000958'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"version":"26.8.3","authenticated":true,"authenticationType":"AccountIdLicenseKey","authenticatedUserName":"redacted","authenticatedUserId":0,"authenticatedAccountId":0,"crmid":"redacted"}'
  recorded_at: Tue, 01 Sep 2026 16:41:28 GMT
recorded_with: VCR 6.4.0
