---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 21ecbb9f-49cb-4385-bd4c-1e047991f6f6
      X-Avalara-Uid:
      - 21ecbb9f-49cb-4385-bd4c-1e047991f6f6
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-26blc
      Serverduration:
      - '00:00:00.0012841'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"version":"26.8.3","authenticated":false,"authenticationType":"None"}'
  recorded_at: Tue, 01 Sep 2026 16:41:29 GMT
recorded_with: VCR 6.4.0
