.spree-mt-large {
  margin-top: font-px-to-rem(33px) !important;

  @include media-breakpoint-up(sm) {
    margin-top: font-px-to-rem(77.2px) !important;
  }

  @include media-breakpoint-up(lg) {
    margin-top: font-px-to-rem(89px) !important;
  }
}

.spree-mb-large {
  margin-bottom: font-px-to-rem(33px) !important;

  @include media-breakpoint-up(sm) {
    margin-bottom: font-px-to-rem(77.2px) !important;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: font-px-to-rem(89px) !important;
  }
}

.spree-mt-medium {
  margin-top: font-px-to-rem(36px) !important;

  @include media-breakpoint-up(sm) {
    margin-top: font-px-to-rem(59.7px) !important;
    &.spree-flat-label {
      margin-top: font-px-to-rem(27px) !important;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: font-px-to-rem(53px) !important;
  }
}

.spree-mb-medium {
  margin-bottom: font-px-to-rem(36px) !important;

  @include media-breakpoint-up(sm) {
    margin-bottom: font-px-to-rem(59.7px) !important;
    &.spree-flat-label {
      margin-bottom: font-px-to-rem(27px) !important;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: font-px-to-rem(53px) !important;
  }
}
