@import "../variables";

.errorExplanation {
  padding: 5px;
  border: 1px solid lighten($c_red1, 45);
  background-color: lighten($c_red1, 55);
  border-radius: 3px;
  color: lighten($c_red1, 30);
  margin-bottom: 15px;

  h2 {
    font-size: 140%;
    color: lighten($c_red1, 20);
    margin-bottom: 5px;
  }

  p {
    padding: 10px 0;
  }

  ul {
    list-style-position: inside;

    li {
      font-weight: bold;
    }
  }
}