@import "../variables";

#table-filter {
  fieldset {
    background-color: lighten($c_blue1, 33);
    border: 1px solid $color-border;
    margin-bottom: 15px;
    padding: 10px 0;

    .field {
      padding: 0 10px;

      input[type="text"] {
        width: 100%;
      }

      input[type="checkbox"] {
        display: inline-block;
      }

      label {
        display: block;
      }

      &.checkbox {
        padding: 0;

        label {
          display: inline-block;
        }
      }
    }

    .actions {
      text-align: center;
      padding: 5px 0;
    }
  }
}