<div class="w-full">
  <div class="flex flex-col items-center justify-center py-6 gap-4">
    <h2 class="text-4xl font-bold">Forbidden</h2>
    <p>You are not authorized to access this page.</p>
    <p>Please return to the previous page.</p>
    <%= link_to "Go back", :back, class: "btn btn-primary" %>
  </div>
</div>

