<div class="w-full">
  <div class="flex flex-col items-center justify-center py-6 gap-4">
    <h2 class="text-4xl font-bold"><%= Spree.t(:internal_server_error) %></h2>
    <p><%= Spree.t(:internal_server_error_message) %></p>
    <%= link_to Spree.t(:back), :back, class: "btn btn-primary" %>
  </div>
</div>
