@import 'global/variables';

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'components/sidebar';
@import 'components/tables';
@import 'components/labels';
@import 'components/page_header';
@import 'components/icons';
@import 'components/buttons';
@import 'components/wells';
@import 'components/filters';
@import 'components/panels';
@import 'components/navigation';

@import 'sections/account';

@import 'plugins/select2';
@import 'plugins/jquery_ui';

@import 'shared/base';
@import 'shared/forms';