@import 'global/variables';
@import 'global/mixins';

@import 'bootstrap';
@import 'glyphicons';
@import 'shared/glyphicons_urls_fix';

@import 'components/navbar';
@import 'components/sidebar';
@import 'components/tables';
@import 'components/badges';
@import 'components/main';
@import 'components/page_header';
@import 'components/icons';
@import 'components/buttons';
@import 'components/filters';
@import 'components/navigation';
@import 'components/taxon_products_view';
@import 'components/progress';
@import 'components/spinner';

@import 'plugins/sweetalert2_custom';
@import 'plugins/jquery_ui';
@import 'plugins/flatpickr';
@import 'plugins/select2_bootstrap4';
@import 'plugins/select2_custom';

@import 'shared/base';
@import 'shared/forms';

@import 'views/order_payments';
@import 'views/product_properties';
@import 'views/prototypes';
