# http://EditorConfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 4

[**.rb]
indent_size = 2
max_line_length = 80
tab_width = 2

[**.html, **.html.erb]
indent_size = 2
tab_width = 4

[**.js, **.coffee]
indent_size = 4
max_line_length = 120

[**.css, **.scss, **.sass]
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false