---
extends: standard

globals:
  Spree: true
  analytics: true
  ga: true
  _: true
  Select2: true
  Handlebars: true
  Raphael: true
  SpreeAPI: true
  SpreePaths: true
  CouponManager: true
  ThumbnailsCarousel: true

env:
  browser: true
  jquery: true

rules:
  space-before-function-paren: off
  semi: off
