.DS_Store
.loadpath
.project
config/database.yml
db/schema.rb
db/*.sql
**/*.db
log/*.log
public/images/products/*
public/images/calendar_date_select
public/plugin_assets
public/javascripts/calendar_date_select
public/stylesheets/calendar_date_select
pkg
tmp
spree_dev
spree_test
*~
#*
.#*