[submodule "backend"]
	path = backend
	url = https://github.com/spree/spree_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/spree/spree_rails_frontend
[submodule "auth_devise"]
	path = auth_devise
	url = https://github.com/spree/spree_auth_devise
[submodule "gateway"]
	path = gateway
	url = https://github.com/spree/spree_gateway
