\#*
**/*.db
**/*.log
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
.ruby-version
bin/*
public/dispatch.cgi
public/dispatch.fcgi
public/dispatch.rb
httpd
pgsql
config/*-public.asc
config/database.yml
config/mongrel_cluster.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
Gemfile.lock
*/Gemfile.lock
lib/products_index_profiler.rb
log/*.log
pkg
public/assets
public/attachments
public/blank_iframe.html
public/ckeditora
sandbox/*
spree_dev
spree_test
testapp
**/spec/dummy
tmp
vendor/rails
vendor/extensions/google_base
public/google_base.xml
public/template_google_base.xml
coverage/*
var
TAGS
nbproject
vendor/extensions/theme_default/app/stylesheets/*.css
tags
*.swp
rerun.txt
test_app
.rvmrc
**/coverage
*/.sass-cache
