\#*
**/*.db
**/*.log
**/*.byebug_history
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
.vscode
bin/*
public/dispatch.cgi
public/dispatch.fcgi
public/dispatch.rb
httpd
pgsql
config/*-public.asc
config/database.yml
config/mongrel_cluster.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
Gemfile.lock
*/Gemfile.lock
lib/products_index_profiler.rb
log/*.log
pkg
public/assets
public/attachments
public/blank_iframe.html
public/ckeditora
sandbox/*
spree_dev
spree_test
testapp
**/spec/dummy
tmp
public/google_base.xml
public/template_google_base.xml
coverage/*
var
nbproject
./vendor
*.swp
rerun.txt
test_app
.rvmrc
**/coverage
*/.sass-cache
.localeapp
.ruby-gemset
vendor/bundle
*/vendor/bundle
.ignore

# new guides
guides/output
guides/logs
guides/.cache
guides/public
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
