<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Products', 'products'%>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Creating Products", 'creating-products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Deleting Products", 'deleting-products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Cloning Products", 'cloning-products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Options", 'product-options' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Prototypes", 'product-prototypes' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Orders', 'orders'%>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Entering Orders", 'entering-orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Editing Orders", 'editing-orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Order States", 'order-states' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Processing Payments", 'processing-payments' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Returning Orders", 'returning-orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Searching Orders", 'searching-orders' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Payments', 'payments'%>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Processing Payments", 'processing-payments' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Configuration', 'configuration'%>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "General Settings", 'general-settings' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Analytics", 'configuring-analytics' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Images", 'configuring-images' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Inventory", 'configuring-inventory' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Jirafe", 'configuring-jirafe' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Mail Methods", 'configuring-mail-methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Payment Methods", 'configuring-payment-methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Shipping", 'configuring-shipping' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Taxes", 'configuring-taxes' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Taxonomies", 'configuring-taxonomies' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Zones", 'configuring-zones' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Reports', 'reports'%>
        </h3>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Extensions', 'extensions'%>
        </h3>
      </li>
    </ul>
  </nav>
</aside>
