<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Products', 'products' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Creating Products", 'creating_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Deleting Products", 'deleting_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Editing Products", 'editing_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Cloning Products", 'cloning_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Options", 'product_options' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Properties", 'product_properties' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Prototypes", 'product_prototypes' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Searching Products", 'searching_products' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Orders', 'orders' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Processing Orders", 'processing_orders' %>
          </li>

          <li>
            <i class="icon-dot"></i>
            <%= link_to "Entering Orders", 'entering_orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Editing Orders", 'editing_orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Order States", 'order_states' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Returning Orders", 'returning_orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Searching Orders", 'searching_orders' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Users', 'users' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Creating Users", 'creating_users' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Searching Users", 'searching_users' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Deleting Users", 'deleting_users' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Editing Users", 'editing_users' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Payments', 'payments' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Payment Methods", 'payment_methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Payment States", 'payment_states' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Shipments', 'shipments' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Shipping Categories", 'shipping_categories' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Zones", 'zones' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Calculators", 'calculators' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Shipping Methods", 'shipping_methods' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Configuration', 'configuration' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "General Settings", 'configuring_general_settings' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Mail Methods", 'configuring_mail_methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Taxation", 'configuring_taxes' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Zones, Countries, and States", 'configuring_geography' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Payment Methods", 'payment_methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Taxonomies", 'configuring_taxonomies' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Shipping Methods and Categories", 'shipments' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Inventory Settings", 'configuring_inventory' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Analytic Trackers", 'configuring_analytics' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Store Credits", 'configuring_store_credit_categories' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Promotions', 'promotions' %>
        </h3>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Reports', 'reports' %>
        </h3>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Extensions', 'extensions' %>
        </h3>
      </li>
    </ul>
  </nav>
</aside>
