<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Products', 'creating-products'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "Creating", 'creating-products'%> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%=link_to "Deleting", 'deleting-products'%> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%=link_to "Cloning", 'cloning-products'%> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%=link_to 'Orders', 'about'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "About", 'about'%> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%=link_to "Navigating", 'navigating'%> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%=link_to "Getting Help", 'getting_help'%> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%=link_to "Contributing", 'contributing'%> <div class="toc"></div> </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
