// Colors
$c-green:       #8dba53;
$c-blue:        #1072ba;
$c-light-blue:  #1ca8e2;
$c-orange:      #ff8400;
$c-gray:        #959595;
$c-gray-blue:   #6487a3;
$c-red:         #e23753;
$c-yellow:      #ffc334;

$c-border:      #DAE8F9;

$c-twitter:     #009FD4;
$c-google:      #E4532E;
$c-facebook:    #325B9A;
$c-github:      #2C84C7;

// Typography
$font-size:     16px;
$line-height:   1.6;
$font-base:     'Open Sans';
$font-alt:      'Bariol';
$font-code:     'Inconsolata';

// Change the grid settings
$column:        90px;
$gutter:        30px;
$grid-columns:  12;
$max-width:     960px;

$visual-grid:   false;
