.forgot-password {
  margin-top: font-px-to-rem(10px);

  a {
    transition: basic-transition(color);
    text-transform: uppercase;
    text-decoration: underline;
    color: theme-color('info');
    font-size: font-px-to-rem(12px);

    &:hover,
    &:active {
      color: theme-color('primary');
    }
  }

  @include media-breakpoint-up(sm) {
    margin-top: font-px-to-rem(19.7px);
    a {
      font-size: font-px-to-rem(23px);
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: font-px-to-rem(20px);
    a {
      font-size: font-px-to-rem(16px);
    }
  }
}
