// Admin LTE overrides
html, body {
  background-color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Arial, Helvetica, sans-serif;
}

ul.sidebar-menu li.treeview span.pull-right {
  font-size: 0.7em;
  margin-top: 4px;
  color: $grey;
}

.alert {
  margin-left: 0;
}

// We don't use gravatar image there, so overwrite the height
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
  background: lighten($grey, 5%) !important;
}

.skin-blue {
  .navbar {
    background-color: darken($grey, 13%);
  }
  .logo {
    background-color: darken($grey, 20%);
    &:hover {
      background-color: darken($grey, 25%);
    }
  }
}
