// Admin LTE overrides
ul.sidebar-menu li.treeview span.pull-right {
  font-size: 0.7em;
  margin-top: 4px;
  color: $grey;
}

.alert {
  margin-left: 0;
}

// We don't use gravatar image there, so overwrite the height
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
}
