.payment-action-save {
  @include button-variant($success, $success, $success );
}

.btn,
.nav-pills > li > a {
  vertical-align: middle;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

.btn {
  text-align: center;

  .ship {
    color: #fff;
  }
  .icon {
    margin-bottom: 2px;
  }
}

.btn-secondary .icon,
.btn-outline-secondary .icon {
  // @extend .icon-grey-40 ;
}

.btn.action-void {
//   @extend .btn-danger;
}

.btn.action-capture {
//  @extend .btn-success;
}

.btn.payment-action-edit {
//  @extend .btn-primary !optional;
//  @extend .icon-white !optional;
}

.btn-success .icon,
.btn-primary .icon,
.btn-danger .icon,
a.payment-action-save .icon {
  // @extend .icon-white !optional;
}

.payment-action-save,
.btn-outline-dark,
.btn-outline-secondary {
  &:hover .icon,
  &:focus .icon,
  &:active .icon, {
    // @extend .icon-white ;
  }
}
