.payment-action-save {
  @include button-variant($success, $success, $success );
}

.btn,
.nav-pills > li > a {
  vertical-align: middle;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

.btn {
  text-align: center;
  margin:2.5px;

  .ship {
    color: #fff;
  }
  svg {
    margin-bottom: 3px;
  }

}
