.btn,
.nav-pills > li > a {
  vertical-align: middle;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

.btn {
  text-align: center;

  .ship {
    color: #fff;
  }

  .icon {
    margin-bottom: 2px;
  }

}

.btn.action-void { @extend .btn-danger; }
.btn.action-capture { @extend .btn-success; }
.btn.payment-action-edit {
  @extend .btn-primary;

  color: $white !important;
}

.btn-success .icon,
.btn-primary .icon,
.btn-danger .icon {
  filter: invert(100%);
}
.btn-outline-dark, 
.btn-outline-secondary {
  &:hover .icon {
    filter: invert(100%);
  }
}
