#table-filter {
  display: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 20px;
}

.index-filter-button {
  .glyphicon {
    color: $gray-100;
  }

  button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: $font-size-base - 3;
    border-right: none;

    &:focus {
      background-color: $gray-100;
      border-color: $input-border-color;
    }
  }
}
