// Requireed for javascript loaded icons.
// Spree Icon Default
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  overflow: hidden !important;
  vertical-align: middle !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: center !important;
}

// Spree Icon Sizing
.icon-xs {
  width: 0.6rem !important;
  height: 0.6rem !important;
}
.icon-sm {
  width: 0.8rem !important;
  height: 0.8rem !important;
}
.icon-md {
  width: 1.2rem !important;
  height: 1.2rem !important;
}
.icon-lg {
  width: 1.4rem !important;
  height: 1.4rem !important;
}
.icon-xl {
  width: 1.6rem !important;
  height: 1.6rem !important;
}

// Spree Icons ################

.icon-tick,
.icon-approve,
.icon-save,
.icon-refresh,
.icon-ok,
.icon-capture       { background: url(asset-path("tick.svg")); }

.icon-plus,
.icon-add           { background: url(asset-path("add.svg")); }

.icon-close,
.icon-cancel,
.icon-void          { background: url(asset-path("close.svg")); }

.icon-search        { background: url(asset-path("search.svg")); }
.icon-settings      { background: url(asset-path("settings.svg")); }
.icon-delete        { background: url(asset-path("delete.svg")); }
.icon-edit          { background: url(asset-path("edit.svg")); }
.icon-filter        { background: url(asset-path("filter.svg")); }
.icon-chevron-down  { background: url(asset-path("chevron-down.svg")); }
.icon-chevron-left  { background: url(asset-path("chevron-left.svg")); }
.icon-chevron-right { background: url(asset-path("chevron-right.svg")); }
.icon-chevron-up    { background: url(asset-path("chevron-up.svg")); }
.icon-folder        { background: url(asset-path("folder.svg")); }

.icon-white   { filter: invert(100%); }
.icon-grey-90 { filter: invert(90%); }
.icon-grey-80 { filter: invert(80%); }
.icon-grey-70 { filter: invert(70%); }
.icon-grey-60 { filter: invert(60%); }
.icon-grey-50 { filter: invert(50%); }
.icon-grey-40 { filter: invert(40%); }
.icon-grey-30 { filter: invert(30%); }
.icon-grey-20 { filter: invert(20%); }
.icon-grey-10 { filter: invert(10%); }
