// Green
.label-completed,
.label-complete,
.label-considered_safe,
.label-paid,
.label-shipped,
.label-ready,
.label-active,
.label-success,
.label-sold
{
  background-color: $brand-success;

  a {
    color: white !important;
  }
}

// Red
.label-failed,
.label-considered_risky,
.label-error,
.label-invalid {
  background-color: $brand-danger;
}

// Orange
.label-pending,
.label-awaiting_return,
.label-returned,
.label-credit_owed,
.label-balance_due,
.label-backorder,
.label-checkout,
.label-cart,
.label-address,
.label-delivery,
.label-payment,
.label-confirm,
.label-canceled,
.label-void,
.label-inactive,
.label-notice,
.label-partial {
  background-color: $brand-warning;

  a {
    color: white !important;
  }
}
