#main-part {
  padding: $spacer ($spacer * 0.5) 0 ($spacer * 0.5);
  margin-top: 50px;
}

#logo {
  width: auto;
  height: 36px;
}

#multi-backdrop {
  z-index: 0;
  height: 0;
  width: 0;
}

body.modal-open #multi-backdrop {
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

.sort-handle {
  cursor: grab;
}

.no-wrap {
  white-space: nowrap;
}

.card-body {
  padding: 0.75rem;
}

@include media-breakpoint-up(sm) {
  .card-body {
    padding: 1.25rem;
  }
}
