#main-part {
  padding: $spacer ($spacer * 2) 0 ($spacer * 2);
  margin-top: 50px;
}

.sidebar-minimized #main-part {
  padding: $spacer ($spacer * 2) 0 ($spacer * 5);
}

#logo {
  width: auto;
  height: 40px;
}
