#sidebar-toggle {
  display: none;
  border: none;
  padding: 5px;
  margin: 0;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
  background-color: $navbar-background-color;
}
.navbar-inverse .navbar-nav > li > a {
  color: #555555 !important;
}

.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 65%, $ui-background-color 100%);
  border: 1px solid $input-border;
  border-bottom-color: $ui-background-color;
  border-top-color: $random-accent;
  border-top-width: 3px;
  padding-top: 8px
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: $ui-background-color;
  border-color:  $ui-background-color;
  border-bottom-color: $input-border;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: $nav-background-color;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #555;
}


.navbar-inverse {
  background-color: $navbar-background-color;
  border-color: $input-border;
}

.navbar .row {
  padding-bottom: 0;
}

div.navbar-right {
  float: right !important;
  margin-right: -$grid-gutter-width;
}
