.navbar-toggler {
  border: none;
  right: 0;
  top: 0;
  cursor: pointer;
}

ul#spreePageTabs {
  li.nav-item {
    margin-left: 0.2em;
    a {
      padding: 0.3rem 1rem;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
