.content-header.page-header {
  margin-top: 0;
  margin-bottom: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;

  h1 {
    font-size: $font-size-h1 / 1.5;
    margin: 0;
    line-height: 38px;
    text-align: left;
  }

  &.with-page-tabs {
    border-bottom: 0;
    margin-bottom: $grid-gutter-width;
    padding-bottom: 0;

    h1 {
      margin-bottom: $grid-gutter-width;
    }

    .nav-tabs {
      padding-left: $grid-gutter-width;
      padding-top: $grid-gutter-width;
    }
  }

  .page-actions {
    text-align: right;

    form {
      display: inline-block;
      margin: 2px 0;
    }
  }
}

.page-header {

  padding-bottom: 0;
}
