.select2-result {
  .select2-result-label {
    padding: 0;
    margin: 0 0 8px 0;
    .variant-details {
      padding-top: 5px;
    }
  }
  &.select2-highlighted {
    background: #f4f4f4;
    color: #444;
  }
}
