
aside#main-sidebar {
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: $gray-100;
  border-right: 1px solid $gray-200;
  width: 100%;
  left: -100%;
  margin-top: 0;
  height: 100%;
  transition: 0.3s ease;
  z-index: 1041;
}

body.sidebar-open {
  overflow-x: hidden;
  aside#main-sidebar {
    left:0;
    transition: 0.3s ease;
  }
}

a.sidebar-submenu-item:hover {
    text-decoration: none;
    background-color: $gray-200;
    cursor: pointer
}

ul.active-option {
  background-color: $gray-200;
  .drop-menu-indicator {
    transform: rotate(-90deg);
  }
}

ul.nav-sidebar {
  > li {
    > a {
      color: $gray-700;

      &:hover,
      &[aria-expanded="true"] {
        text-decoration: none;
      }

      .drop-menu-indicator {
        right: 1rem;
      }

      &[aria-expanded="true"] {
        .drop-menu-indicator {
          transform: rotate(-90deg);
          transition: .3s ease-in-out;
        }
      }

      &[aria-expanded="false"] {
        .drop-menu-indicator {
          transform: rotate(0deg);
          transition: .3s ease-in-out;
        }
      }
      > svg {
        margin-bottom: 0;
      }
    }
  }
}

#contextualSideMenu {
  max-height: 85vh;
  overflow-x: scroll;
  background-color: white;
  position: fixed;
  left:0;
  top: -100%;
  z-index: 2000;
  transition: .3s ease-in-out;
}

#contextual-menu-open {
  position: fixed;
  bottom: 15px;
  right:15px;
  z-index: 2000;
  border: none;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0,0,0,.12);

  & svg {
    transform:rotate(0deg);
    transition: .3s ease-in-out;
  }
}

body.contextualSideMenu-open #contextualSideMenu {
    top: 0;
    transition: .3s ease-in-out;
}
body.contextualSideMenu-open #contextual-menu-open svg {
    transform:rotate(180deg);
    transition: .3s ease-in-out;
}


@include media-breakpoint-up(sm) {
  aside#main-sidebar {
    width: 50%;
  }
}

@include media-breakpoint-up(md) {
  aside#main-sidebar {
    width: 30%;
  }
}

@include media-breakpoint-up(lg) {

  #contextualSideMenu{
    position: relative;
    border: none;
    height: auto;
    z-index: 1000;
  }
    aside#main-sidebar {
      left: 0;
      z-index: 999;
      margin-top: 50px;
      height: calc(100% - 50px);
      transition: 0;
      body.sidebar-open {
        aside#main-sidebar {
          left:0;
          transition: 0;
        }
      }
  }
}
