#main-sidebar {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  bottom: 0;
  left: 0;
  padding: 0;
  padding-bottom: $header-footer-height;
  z-index: $zindex-fixed + 1 ;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $sidebar-background-color;
  border-right: 1px solid $sidebar-border-color;

    a {
    width: 90px;
    }

      ul.nav {
        > li {

          > a {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 500;
            padding: 15px 0 15px 15px;
            color: $sidebar-text-color;

            .glyphicon {
              font-size: 18px;
              vertical-align: bottom;
              padding-right: 5px;
            }

            > span.icon {
              color: $sidebar-icon-color;
            }

            &:hover {
              color: $sidebar-text-hover-color;
              background: rgba(255, 255, 255, 0);
            }
        }

        &.selected {
          border-left: 4px solid $sidebar-active-accent-color;
          background: $nav-item-selected-color;

            a {
              padding-left: 11px;
          > span.icon {
            color: $sidebar-icon-active-color;
            }
          }
        }

        &.active > a > span.icon {
          color: $sidebar-icon-active-color;
        }
      }

      ul.nav.nav-pills {
        background: $subnav-background-color;
        li {
          a {
            padding: 7px 0  7px 50px;
            font-weight: 400;
            text-transform: capitalize;
            color: $sidebar-text-color;

          &:hover {
            color: $sidebar-text-hover-color;
          }
          }

          &.selected {
            a {
              padding-left: 46px;
              color:   $sidebar-active-color !important;
            }
          }
        }

    }

  }

  #menu-footer{
    width: $sidebar-width;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: $grid-gutter-width / 2;
    height: $header-footer-height;
    background: $sidebar-background-color;
    z-index: 1010;
    ul {
      margin: 0;
      padding: 0;
      left:0;
      &:hover {
        background: darken($sidebar-background-color, 2);
      }
      &:focus {
        background: $sidebar-background-color;
      }
      &:active {
        background: $sidebar-background-color;
      }

    span.text {
      display: none;
    }
    li {
      font-size: 1.2em;
      color: $sidebar-text-color;
      i.glyphicon {
        padding: 0;
      }
      &:hover {
        i{color:$sidebar-text-hover-color;}
        background: darken($sidebar-background-color, 2);

      }
      &:focus {
        background: $sidebar-background-color;
      }
      &:active {
        background: $sidebar-background-color;
      }
    }
    }
  }

}


ul#sidebar-configuration {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            padding: 10px;
            a {}
          }
}
