.sidebar {
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: $gray-100;
  border-right: 1px solid $gray-200;
  margin-top: 50px;
  height: calc(100% - 50px);
  z-index: 999;

  a.sidebar-submenu-item:hover {
    text-decoration: none;
    background-color: $gray-200;
    cursor: pointer
  }

  ul.nav-sidebar {
    > li {
      > a {
        color: $gray-700;

        &:hover,
        &[aria-expanded="true"] {
          text-decoration: none;
          background-color: $gray-200;
        }

        &[aria-expanded="true"] {
          .icon-chevron-left {
            transform: rotate(-90deg);
            transition: .3s ease-in-out;
          }
        }

        .icon-chevron-left {
          font-size: .7rem;
          line-height: 1rem;
          right: 1rem;
          top: 50%;
          margin-top: -.5rem;
          transition: .3s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 991px) {

    #main-sidebar {
      right:100%;
      transition: 0.3s ease;
    }

    #nav-icon {
      width: 30px;
      height: 23px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #ffffff;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;

          &:nth-child(1) {
              top: 0px;
              -webkit-transform-origin: left center;
              -moz-transform-origin: left center;
              -o-transform-origin: left center;
              transform-origin: left center;
            }

            &:nth-child(2) {
              top: 10px;
              -webkit-transform-origin: left center;
              -moz-transform-origin: left center;
              -o-transform-origin: left center;
              transform-origin: left center;
            }

            &:nth-child(3) {
              top: 20px;
              -webkit-transform-origin: left center;
              -moz-transform-origin: left center;
              -o-transform-origin: left center;
              transform-origin: left center;
            }
        }

    }

    body.sidebar-open {

      #main-sidebar {
        right:0;
        transition: 0.3s ease;
      }

      #nav-icon {
        span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0px;
          left: 5px;
        }

        span:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 22px;
          left: 5px;
        }
      }

    }

  }
