#main-sidebar {
  position: fixed;
  top: $navbar-height + 2px;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: lighten($gray-lighter, 5);
  border-right: 1px solid darken($gray-lighter, 5);

  a {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
  }

  ul.nav-sidebar {
    > li {
      border-bottom: 1px solid $gray-lighter;

      > a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        padding: 15px;
        color: $gray;

        .glyphicon {
          font-size: 18px;
          vertical-align: bottom;
          padding-right: 5px;
        }

        .glyphicon.pull-right {
          font-size: 8px;
          line-height: 2;
          color: $gray-light;
          position: absolute;
          right: 5px;
          top: 50%;
          margin-top: -8px;
        }
      }
    }
  }

  ul.nav.nav-pills {
    background-color: white;
    border-top: 1px solid $gray-lighter;

    li {
      a {
        padding: 5px 15px;
        font-size: 12px;

        &:hover {
          border-radius: 0;
        }
      }

      &.selected {
        a {
          color: $brand-success
        }
      }
    }
  }
}
