table.table {
  thead {
    th {
      text-transform: uppercase;
      font-size: $font-size-base - 3px;
      padding-top: 14px;
      padding-bottom: 14px;
      vertical-align: middle;
      letter-spacing: 1px;

      a {
        .glyphicon {
          padding-left: 5px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.table-active-filters {
  display: none;
  margin: -0.5em 0 0.9em 0;
  .label {
    margin-right: 0.5em;
    font-size: 85%;
    &:hover {
      opacity: 0.8;
    }
    span.icon {
      margin-left: 0.4em;
      font-size: 75%;
      cursor: pointer;
    }
  }
}
