tr.actions, td.actions {
  text-align: right;
}
table.table {
  th {
    background: $light-grey;
    border-bottom-width: 1px !important;
    a {
      color: #000;
      &.sort_link span.glyphicon {
        color: red;
        margin-left: 8px;
        font-size: 0.8em;
        color: $grey;
      }
    }
    &.actions {
      .btn {
        padding: 3px 5px 2px;
      }
      .dropdown-menu {
        right: 0;
        left: auto;
        .checkbox {
          margin: 4px 14px;
        }
      }
    }
  }
  td {
    background: white;
    a {
      color: $grey;
      text-decoration: underline;
    }
    &.row-checkbox {
      width: 20px;
    }
    &.move-handle {
      width: 28px;
      text-align: center;
      span.handle {
        cursor: move;
      }
    }
    &.image {
      width: 48px;
      .thumbnail {
        margin-bottom: 0;
        width: 48px;
      }
    }
    &.actions {
      .btn {
        padding: 3px 5px 2px;
      }
      &.actions-1 {
        width: 24px;
      }
      &.actions-2 {
        width: 68px;
      }
      &.actions-3 {
        width: 94px;
      }
    }
  }
}
