.taxon-products-view {
  ul.taxon {
    list-style: none;
    margin-left: -2%;
    padding: 0;
    > * {
      margin-left: 2%;
    }
    li.product {
      position: relative;
      float: left;
      width: 18%;
      margin-bottom: 2%;
      border-radius: 4px;
      min-width: 12rem;
      max-width: 14rem;
      background: #f4f4f4;

      .image {
        .thumbnail {
          width: 100%;
        }
      }
      .product-info {
        font-size: 0.8em;
      }
      &:hover {
        .btn-group {
          display: inline-block;
        }
      }
    }
  }
}
