// Colors
$brand-success: #79B340;
$brand-primary: #468ABD;
$black:         #444;
$grey:          #666;
$medium-grey:   lighten($grey, 30%);
$light-grey:    #f5f5f5;
$color-border:  #CCCCCC;

// Well
$well-bg:       white;
$well-border:   $color-border;