.row {
  padding: 0 0 15px 0;
}

.card {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.tooltip{
  pointer-events: none;
  z-index: $zindex-dropdown;
}

figure.admin-img-holder {
  max-width: 275px;
  border: 2px dashed grey;
  border-radius: $border-radius;
  overflow: hidden;
  display: inline-block;

  img {
    max-width: 100%;
    height: auto;
  }
}

.js-remove-promo-rule-option-value {
  color: $primary !important;
  &:hover {
    color: darken($primary, 10) !important;
  }
}

.button_to {
  display: inline-block;
}

.move-handle {
  cursor: grab;
}

.badge-light-muted-text {
  color: rgba(0, 0, 0, 0.50);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-show-info] {
  color:  $primary;
  cursor: pointer;

  &:hover {
    color: darken($primary, 10) !important;
  }
}
