.row {
  padding: 0 0 15px 0;
}

.card {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.tooltip{
  pointer-events: none;
  z-index: $zindex-dropdown;
}

figure.admin-img-holder {
  max-width: 275px;
  border: 2px dashed grey;
  border-radius: $border-radius;
  overflow: hidden;
  display: inline-block;

  img {
    max-width: 100%;
    height: auto;
  }
}

div.admin-product-image-container {
  border: 1px solid $gray-500;
  background-color: #fefefe;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;

  img {
    max-width: 100%;
    height: auto;
    align-self: center;
    transform: scale(1.6);
  }

  svg {
    color: $gray-600;
    align-self: center;
  }

  &.mini-img {
    border-radius: $border-radius / 2;
    width: 24px;
    height: 24px;
  }

  &.small-img {
    border-radius: $border-radius;
    width: 50px;
    height: 50px;
  }

  &.product-img {
    border-width: 2px;
    border-radius: $border-radius * 2;
    width: 100px;
    height: 100px;
  }

  &.large-img {
    border-width: 3px;
    border-radius: $border-radius * 3;
    width: 300px;
    height: 300px;
  }
}

.js-remove-promo-rule-option-value {
  color: $primary !important;
  &:hover {
    color: darken($primary, 10) !important;
  }
}

.button_to {
  display: inline-block;
}

.move-handle {
  cursor: grab;
}

.badge-light-muted-text {
  color: rgba(0, 0, 0, 0.50);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-show-info] {
  color:  $primary;
  cursor: pointer;
}

#contentHeaderRow {
  min-height: 51px;
}
