body {
  padding-top: $navbar-height;
}

.table-wrapper {
  overflow: auto;
}

.row {
  padding: 0 0 15px 0;
}

.is-hidden {
  display: none;
}

[role="button"],
input,
label,
select,
textarea,
a,
button {
  touch-action: manipulation;
}

img {
  max-width: 100%;
}

td.image img {
  max-width: 50px;
}

a:focus {
  outline: 0;
}

// No-margin and no-padding helper classes
@each $side in top bottom left right {
  .no-margin-#{$side}  { margin-#{side}: 0; }
  .no-padding-#{$side} { padding-#{side}: 0; }
}

.alert-error {
  @extend .alert-danger;
}
