body {
  padding-top: $navbar-height;
}

.table-wrapper {
  overflow: auto;
}

.is-hidden {
  display: none;
}

input[type=number], input[type=text], input[type=password], input[type=email], input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

[role="button"],
input,
label,
select,
textarea,
a,
button {
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

input, textarea {
    font-size: initial;

}

img {
  max-width: 100%;
}

td.image img {
  max-width: 50px;
}

a:focus {
  outline: 0;
}

// No-margin and no-padding helper classes
@each $side in top bottom left right {
  .no-margin-#{$side}  { margin-#{side}: 0; }
  .no-padding-#{$side} { padding-#{side}: 0; }
}

.alert-error {
  @extend .alert-danger;
}


// hide outline on focus for elements which are given focus by JS
[tabindex='-1']:focus {
  outline: none;
}
