label {
  font-size: $font-size-sm;

  &:hover {
    cursor: pointer;
  }
}

span.or {
  @extend label;

  padding: 0 10px;
}

.form-group {
  &.withError {
    label, .formError, .required {
      color: $danger;
    }

    input,
    .select2-choice {
      border-color: $danger;
    }
  }
}

// Hide number toggler
  // Chrome, Safari, Edge, Opera
input.hide-number-toggle::-webkit-outer-spin-button,
input.hide-number-toggle::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  // Firefox
input[type=number].hide-number-toggle {
  -moz-appearance: textfield;
}


// Remove the default 5px outlines and box-shadows
// from all inputs on focus.
.form-control:focus {
  box-shadow: none !important;
}

*:focus {
    outline: none;
}

:-webkit-direct-focus {
  outline-color: transparent;
  outline-style: auto;
  outline-width: 0;
}

.custom-select {
  background: $input-bg url(asset-path("backend-chevron-down.svg")) no-repeat right 0.5rem center/8px 10px;
  background-size: 0.7em;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
