.form-control {
  box-shadow: none;
}

label {
  text-transform: uppercase;
  font-size: $font-size-base - 3;
  letter-spacing: 1px;
  color: $gray;
  font-weight: 500;

  input[type="radio"], input[type="checkbox"] {
    margin-top: 2px;
  }
}

span.or {
  @extend label;

  padding: 0 10px;
}

input.form-control {
  &:active, &:focus {
    border-color: lighten($brand-success, 20);
    box-shadow: none;
  }
}

.form-group {
  &.withError {
    label, .formError, .required {
      color: $brand-danger
    }

    input {
      border-color: $brand-danger;
    }
  }
}

.fullwidth-input {
  display: block;
  width: 100%;
}

.form-actions form, .forms-inline form {
  display: inline;
}

.alert-error {
  @extend .alert-danger;
}
