label {
  font-size: $font-size-sm;

  &:hover {
    cursor: pointer;
  }
}

span.or {
  @extend label;

  padding: 0 10px;
}

input.form-control {
  &:active, &:focus {
    border-color: lighten($success, 20);
  }
}

.form-group {
  &.withError {
    label, .formError, .required {
      color: $danger;
    }

    input,
    .select2-choice {
      border-color: $danger;
    }
  }
}

.help-block {
  color: lighten($gray-100, 20);
  font-weight: 300;
}

.checkbox > .help-block {
  margin-top: 0;
}

.display-inline {
  display: inline;
}
