// Some fixes for fontwesome stylesheets
[class^="icon-"], [class*=" icon-"] {
  &:before {
    padding-right: 5px;
  }

  &.button, &.icon_link {
    width: auto;

    &:before {
      padding-right: 5px;
      padding-top: 3px;
    }
  }
}

.fa-email:before     { @extend .fa-envelope:before }
.fa-resume:before    { @extend .fa-refresh:before  }
.fa-approve:before   { @extend .fa-check:before    }

.fa-remove:before,
.fa-cancel:before,
.fa-void:before      { @extend .fa-times:before    }

.fa-trash:before     { @extend .fa-trash-o:before  }

.fa-capture:before   { @extend .fa-check:before    }
.fa-credit:before    { @extend .fa-check:before    }
.fa-approve:before   { @extend .fa-check:before    }
.fa-icon-cogs:before { @extend .fa-cogs:before     }
.fa-ok:before,
.fa-icon-ok:before   { @extend .fa-check:before    }

button, a {
  &.fa:before {
    padding-right: 5px;
  }
}

// Admin navigation fixes
.icon-user,
.icon-signout,
.icon-external-link {
  @extend .fa;
}
.icon-user          { @extend .fa-user; }
.icon-signout       { @extend .fa-sign-out; }
.icon-external-link { @extend .fa-external-link; }

// Avoid ugly default browser font (usually a serif) when an element has an icon AND text
.fa {
  font-family: "FontAwesome", $base-font-family !important;
}
