// Some fixes for fontwesome stylesheets
[class^="icon-"], [class*=" icon-"] {
  &:before {
    padding-right: 5px;
  }

  &.button, &.icon_link {
    width: auto;

    &:before {
      padding-right: 5px;
      padding-top: 3px;
    }
  }
}

.fa-email:before    { @extend .fa-envelope:before }
.fa-resume:before   { @extend .fa-refresh:before  }
.fa-approve:before  { @extend .fa-ok:before       }

.fa-cancel:before,
.fa-void:before     { @extend .fa-bars:before   }

.fa-trash:before    { @extend .fa-trash-o:before }

.fa-capture:before  { @extend .fa-check:before       }
.fa-credit:before   { @extend .fa-check:before       }
.fa-approve:before  { @extend .fa-check:before       }


button, a {
  &.fa:before {
    padding-right: 5px;
  }
}
