
@media (max-width: 991px) {

  body {
    margin-bottom: 30px;
  }

  #close-dynamic-content-menu {
    text-align: center;
    margin: $grid-gutter-width $grid-gutter-width 0 auto;
  }

  .page-actions a {
    margin: 5px 0;
  }

  div#dynamic-content-menu {
    position: fixed;
    z-index: 9999;
    left: 0;
    height: 100vh;
    margin: 0;
    float: none;
    overflow: hidden;
    background: $ui-background-color;
    border-top: 1px solid $input-border;
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    top: 110%;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  aside#sidebar {
    margin: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    height: 80%;
    overflow: scroll;
  }

  body.dynamic-content-menu-opened div#dynamic-content-menu {
    top: 0;
  }

  span#sidebar-toggle {
    display: block;
    left: 15px;
  }

  a.logo.navbar-brand {
    padding: 5px 0;
    width: 100%;
    text-align: center;
  }

  div#main-sidebar {
    width: 100%;
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    left: -100%;
  }

  body.sidebar-opened div#main-sidebar {
    width: 100%;
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #sidebar-toggle span:nth-child(3) {
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    transform: rotate(0deg);
  }

  #sidebar-toggle span:nth-child(2) {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
    background-color: #555;
  }

  #sidebar-toggle span:nth-child(1) {
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    transform: rotate(0deg);
  }

  body.sidebar-opened #sidebar-toggle span:nth-child(1) {
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
  }

  body.sidebar-opened #sidebar-toggle span:nth-child(2) {
    position: absolute;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
    background-color: transparent;
  }

  body.sidebar-opened #sidebar-toggle span:nth-child(3) {
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    transform: rotate(-45deg);
    position: absolute;
    top: 6px;
  }

  #main-part {
    padding-left: $grid-gutter-width;
  }

  span.icon-filter {
    display: none;
  }

  #main-sidebar ul.nav > li > a {
    font-size: 16px;
  }

  #main-sidebar ul.nav > li > a > span.icon {
    vertical-align: unset;
  }
  #main-sidebar ul.nav ul.nav.nav-pills li a,
  #main-sidebar ul.nav ul.nav.nav-pills li.selected a {
    padding: 15px 0 15px 40px;
    font-size: 16px;
  }

  .with-sidebar {
    margin-bottom: 15px;
  }

  .navbar-center .center-xs {
    width: 200px;
    margin: auto;
    text-align: center;
  }

  #account-email-menu {
    padding: 7px 45px;
    font-size: 1.5em;
  }

  .content-header.page-header {
    margin-top: 0;
    text-align: center;
  }

  #sidebar-options {
    margin: 5px -15px 5px auto;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }

  div.page-actions {
    text-align: center !important;
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin-left: -($grid-gutter-width / 2);
    background: white;
    border-top: 3px solid $random-accent;
  }

}

@media (max-width: 500px) {

  div.page-actions button, div.page-actions a {
    font-size:0;

    > span.icon {
      font-size:16px;
      padding: 3px 10px;
    }
  }

  div.content-header.page-header h1{
    font-size: 1.2em;
  }

  div.page-actions .btn.btn-success {
    font-size:16px;

    > span.icon {
      padding: 0;
    }
  }

}
