@media (max-width: 991px) {


  body {
    margin-bottom: 30px;
    padding-top: 50px;
  }

  #close-dynamic-content-menu {
    text-align: center;
    margin: $grid-gutter-width $grid-gutter-width 0 auto;
  }

  a#sidebar-toggle span {
    // padding: 7px 2.5px;
  }

  div#dynamic-content-menu {
    position: fixed;
    z-index: $zindex-fixed + 1 ;
    left: 0;
    height: 100vh;
    margin: 0;
    float: none;
    overflow: hidden;
    background: $ui-background-color;
    border-top: 1px solid $input-border;
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    top: 100%;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }


  body.dynamic-content-menu-opened div#dynamic-content-menu {
    top: 0;
  }

  aside#main-sidebar #menu-footer ul a {
    padding: 10px 0 20px 0;
  }

  a.logo.navbar-brand {
    padding: 5px 0;
    width: 100%;
    text-align: center;
  }

  aside#main-sidebar {
    width: 100%;
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    left: -100%;

    #menu-footer {
    width: 100%;
    left: -100%;
    }

  }

  aside#sidebar {
    background-color: transparent;
    padding: 0px;
    box-shadow:none;
  }

  body.sidebar-opened aside#main-sidebar {
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

  }

  body.sidebar-opened aside#main-sidebar #menu-footer {
    -webkit-transition: all $menu-speed ease;
    -moz-transition: all $menu-speed ease;
    -o-transition: all $menu-speed ease;
    -ms-transition: all $menu-speed ease;
    transition: all $menu-speed ease;
    left: 0;
  }

  #main-part {
    padding-left: $grid-gutter-width;
  }

  aside#main-sidebar ul.nav > li > a {
    font-size: 16px;
  }

  aside#main-sidebar ul.nav > li > a > span.icon {
    vertical-align: unset;
  }
  aside#main-sidebar ul.nav ul.nav.nav-pills li a,
  aside#main-sidebar ul.nav ul.nav.nav-pills li.selected a {
    padding: 15px 0 15px 40px;
    font-size: 16px;
  }

  .with-sidebar {
    margin-bottom: 15px;
  }

  .navbar-center .center-xs {
    width: 200px;
    margin: auto;
    text-align: center;
  }

  #account-email-menu {
    padding: 7px 45px;
    font-size: 1.5em;
  }

  .content-header.page-header {
    margin-top: 0;
    text-align: center;
  }

  #sidebar-options {
    margin: 5px -15px 5px auto;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }

}

@media (max-width: 550px) {

  div.page-actions button, div.page-actions a {
        font-size:0;
        padding: 10px;
    > span.icon {
      font-size:16px;
    }

  }

  div.content-header.page-header h1{
    font-size: 1.4em;
  }

  div.page-actions .btn.btn-success {
    font-size:16px;
    padding: 0.375rem 0.75rem;
    > span.icon {
      padding: 0;
    }
  }

}
