$item-padding: 14px;

#menuArea {
  .menu-item {
    background-color: white;
    padding: $item-padding;
    border: 1px solid $border-color;
    border-bottom: 1px solid transparent;
    margin: 0;
    border-right: none;
  }

  .container-info-row {
    border: 1px solid var(--gray);
    border-right: none;
    padding: $item-padding;
    background-color: var(--gray);
  }

  .menu-container {
    margin-left: 50px;
    background-color: var(--light);
  }

  .menu-container-item {
    padding: 0;
  }

  #primaryMenuContainer {
    border: none;
    padding: 0;
    margin-left: 0;
    .container-info-row {
      .move-handle {
        color: white;
      }
    }
  }

  #primaryMenuContainer > div.menu-item {
    border-left: 1px solid transparent;
  }

  #primaryMenuContainer > div.menu-item:first-child {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  .menu-item.menu-item-dragged {
    border: 1px solid $border-color;
  }
}
