<% loaded ||= false %>
<% products ||= [] %>

<% if section && loaded && products.present? %>
  <div style="<%= section_styles(section) %>" class="animate-fadeIn">
    <div class="page-container">
      <%= render partial: 'spree/products/swiper', locals: {
        section: section,
        products: products,
        heading: section.preferred_heading,
        arrows_on_top: true
      } %>
    </div>
  </div>
<% end %>
