<% if record.scheduled? && record.currently_active? %>
  <span class="badge badge-success">
    <%= Spree.t('price_list_statuses.scheduled_active') %>
  </span>
<% else %>
  <span class="badge badge-<%= record.currently_active? ? 'success' : (record.scheduled? ? 'info' : 'light') %>">
    <%= Spree.t("price_list_statuses.#{record.status}") %>
  </span>
<% end %>
