<%
  badge_class = if record.currently_active?
                  'success'
                elsif record.scheduled?
                  'info'
                else
                  'light'
                end
  status_key = record.scheduled? && record.currently_active? ? 'scheduled_active' : record.status
%>
<span class="badge badge-<%= badge_class %>">
  <%= Spree.t("price_list_statuses.#{status_key}") %>
</span>
