<%# locals: (record:, column:, value:) %>
<% product = record %>
<div class="flex items-center gap-3">
  <%= render 'spree/admin/shared/product_image', object: product %>
  <span class="text-gray-900 font-medium">
    <%= product.name %>
  </span>
</div>
