<% if done %>
  <%= Spree.t('admin.store_setup_tasks.payment_methods.done', link: spree.admin_payment_methods_path).html_safe %>
<% else %>
  <p><%= Spree.t('admin.store_setup_tasks.payment_methods.copy') %></p>
  <%= link_to Spree.t('admin.store_setup_tasks.payment_methods.setup'), spree.admin_payment_methods_path, class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
<% end %>