<% if current_store.setup_task_done?(:setup_taxes_collection) %>
  <%= Spree.t('admin.store_setup_tasks.taxes.done', link: spree.admin_tax_rates_path).html_safe %>
<% else %>
  <p><%= Spree.t('admin.store_setup_tasks.taxes.copy') %></p>
  <%= link_to Spree.t('admin.store_setup_tasks.taxes.setup'), spree.admin_tax_rates_path, class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
<% end %>
