<h3>New Taxonomy</h3>
<% remote_form_for :taxonomy, @taxonomy, :url => { :action => 'update_taxonomy' },
                   :update => 'new-taxonomy',
                   :success => "#{remote_function(:url => { :action => 'list' }, :update => 'list-taxonomies')}" do |f| %>
<table class="form">
  <tr>
	<td>Name</td>
	<td><%= f.text_field :name %></td>
  </tr>
  <tr>
	<td>Presentation</td>
	<td><%= f.text_field :presentation %></td>
  </tr>
</table>
<%= submit_tag "Create" %>
<%= cancel_button 'Cancel', 'new-taxonomy' %>
<% end %>