<%= render :partial => "yui_head" %>
<h1><%= :taxonomies.l("Taxonomies") %></h1>	

<div id='list-taxonomies'>
	<%= render :partial => 'list' %>
</div>
<%= link_to t('New Taxonomy'), new_admin_taxonomy_url %>