<h1><%= t("new_taxonomy") %></h1>

<% form_for(:taxon, :url => collection_url) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	</table>
	<p>
	  <%= submit_tag t("create") %>
</p>
<% end %>
