<div class="form-group">
  <%= f.label :brand %>
  <%= tom_select_tag 'page_block[brand_id]', active_option: @page_block.brand_id, class: 'w-full', url: spree.admin_brands_select_options_path(format: :json), select_data: {action: 'auto-submit#submit'} %>
</div>
