<div data-controller="codemirror" data-codemirror-language-value="json" class="form-input h-auto overflow-hidden p-0">
  <div data-codemirror-target="editor"></div>
  <%= f.text_area :value, data: { codemirror_target: 'input' }, class: 'invisible' %>
</div>