<% if current_user %>
  <li><%= link_to t('my_account'), edit_user_registration_path(current_user) %></li>
  <li><%= link_to t('logout'), destroy_user_session_path %></li>
<% else %>
  <li><%= link_to t('log_in'), new_user_session_path %></li>
<% end %>