:root {

  // Base Colors
  --primary-text-color: #c9d1d9;
  --primary-link-color: #58a6ff;
  --primary-link-hover-color: #c9d1d9;
  --primary-background: #06090F;
  --secondary-background: #0d1117;
  --border-color: #21262d ;

  --color-state-hover-secondary-bg: #161b22;


  // Buttons
  // Standard Buttons
  --color-btn-bg: var(--border-color);
  --color-btn-text: #c9d1d9;
  --color-btn-border: #30363d;
    // Standard ButtonsHover
    --color-btn-hover-bg: var(--color-btn-border);
    --color-btn-hover-border: #8b949e;

  // Danger Buttons
  --color-btn-danger-text: #f85149;
    // Hover
    --color-btn-danger-hover-text: #fff;
    --color-btn-danger-hover-bg: #da3633;
    --color-btn-danger-hover-border: #f85149;
    --color-btn-danger-hover-shadow: 0 0 transparent;
    --color-btn-danger-hover-inset-shadow: 0 0 transparent;


  // Flash alerts

  // Warning
  --color-alert-warning-text: #e3b341;
  --color-alert-warning-bg: rgba(187, 128, 9, 0.1);
  --color-alert-warning-border: rgba(187,128,9,0.4);

  // Info
  --color-alert-info-text: #79c0ff;
  --color-alert-info-bg: rgba(56,139,253,0.1);
  --color-alert-info-border: rgba(56,139,253,0.4);

  // Sucess
  --color-alert-success-text: #56d364;
  --color-alert-success-bg: rgba(9, 187, 33, 0.1);
  --color-alert-success-border: rgba(17, 187, 9, 0.4);
}

@media (prefers-color-scheme: dark) {
  body.dark-mode-allowed {
    color: var(--primary-text-color);
    background-color: var(--primary-background);

    .pagination {

      li a{
        color: var(--primary-link-color);
        background-color: var(--primary-background);
        border: 1px solid var(--border-color);
      }

      li.active a {
        border-color: var(--border-color);
        background-color: var(--color-state-hover-secondary-bg);
      }
    }

    #logo {
      filter: invert(0.3);
    }

    aside#main-sidebar {
      border-color: var(--border-color) !important;
      background-color: var(--secondary-background);

      ul.active-option {
        background-color: var(--secondary-background);
      }

      .nav-stacked {
        border-color: var(--border-color) !important;
        li.selected {
          background-color: var(--color-state-hover-secondary-bg);
          a {
            color: var(--primary-text-color) !important;
          }
        }

        ul.active-option {
          background-color: var(--secondary-background);
        }
      }

      ul.nav-sidebar > li > a { /* stylelint-disable-line no-descending-specificity */
        color: var(--primary-text-color) !important;

        &:hover {
          background-color: var(--color-state-hover-secondary-bg);
        }
      }

      a.sidebar-submenu-item:hover {
        background-color: var(--color-state-hover-secondary-bg);
      }
    }



    // Buttons
    .btn {
      color: var(--color-btn-text);
      background-color: var(--color-btn-bg);
      border-color: var(--color-btn-border);

      &:hover,
      &:active {
        background-color: var(--color-btn-hover-bg) !important;
        border-color: var(--color-btn-hover-border) !important;
      }
    }

    .btn-danger {
      color: var(--color-btn-danger-text);

      &:hover {
        color: var(--color-btn-danger-hover-text) !important;
        background-color: var(--color-btn-danger-hover-bg) !important;
        border-color: var(--color-btn-danger-hover-border) !important;
        box-shadow: var(--color-btn-danger-hover-shadow),var(--color-btn-danger-hover-inset-shadow) !important;
      }
    }

    .btn-link {
      background-color: transparent;
      border-color: transparent;

      &:hover {
        color: var(--primary-link-color);
        background-color: transparent;
        border-color: transparent;
      }
    }

    button#accountNav,
    button#accountNav:hover {
      background-color: transparent !important;
      border-color: transparent !important;
    }



    // Backgrouds
    .bg-light {
      background-color: var(--secondary-background) !important;
    }

    .bg-white {
      background-color: var(--primary-background) !important;
    }



    // Cards
    .card {
      background-color: var(--secondary-background);
      border-color: var(--border-color) !important;

    }



    // Flash Alerts
    .alert-warning {
      color: var(--color-alert-warning-text);
      background-image: linear-gradient(var(--color-alert-warning-bg), var(--color-alert-warning-bg));
      background-color: transparent;
      border-color:var(--color-alert-warning-border);
    }

    .alert-success {
      background-color: transparent;
      background-image: linear-gradient(var(--color-alert-success-bg), var(--color-alert-success-bg));
      border-color:var(--color-alert-success-border);
    }

    .alert-info {
      color: var(--color-alert-info-text);
      background-color: transparent;
      background-image: linear-gradient(var(--color-alert-info-bg),var(--color-alert-info-bg));
      border-color: var(--color-alert-info-border);
    }



    // TABS

    .table-responsive {
      border-radius: 5px;
      border-color: var(--border-color) !important;
      border: 1px solid;
    }

    .nav-tabs {
      border-color: var(--border-color) !important;
    }

    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      color: var(--primary-text-color);
      background-color: var(--color-state-hover-secondary-bg);
      border-color: var(--border-color) !important;
    }

    .border-bottom {
      border-color: var(--border-color) !important;
    }

    a {
        color: var(--primary-link-color);
      }

    .header .navbar {
      background-color: var(--secondary-background);
      border-color: var(--border-color) !important;
      border-bottom:1px solid;
    }

    #contextualSideMenu {
      background-color: var(--primary-background);
    }


    // Form Fields
    textarea,
    input {
      background-color: var(--primary-background) !important;
      border-color: var(--border-color) !important;
      color: var(--color-btn-tex);

      &.flatpickr-input {
        background-color: var(--primary-background) !important;
        border-color: var(--border-color) !important;
        color: var(--color-btn-tex);
      }
    }

    .input-group-prepend span,
    .input-group-text {
      color: var(--primary-text-color);
      border-color: var(--border-color) !important;
      background-color: var(--secondary-background) !important;
    }

    .select2-container--bootstrap4 .select2-selection {
      background-color: var(--primary-background);
      border-color: var(--border-color);
    }


    // Tabels
    #table-filter {
      border-color: var(--border-color);
    }

    .index-filter-button button {
      color: var(--primary-text-color);
      background-color: var(--secondary-background);
      border-color: var(--border-color);

      &:hover {
        color: var(--primary-text-color);
        background-color: var(--primary-background);
      }
    }

    .custom-select {
      color: var(--primary-text-color);
      background-color: var(--secondary-background);
      border-color: var(--border-color);
    }


    table.table {
      margin-bottom: 0;
      color: var(--primary-text-color);
    }

    .table th, .table td {
      border-color: var(--border-color);
    }

    table.table tbody tr {
      background-color: var(--secondary-background);
    }

  }





  // Badges

  .badge-completed,
  .badge-complete,
  .badge-resumed,
  .badge-considered_safe,
  .badge-paid,
  .badge-shipped,
  .badge-ready,
  .badge-active,
  .badge-success,
  .badge-sold,
  .badge-open,
  .badge-authorized {
    color: var(--color-alert-success-text);
    background-color: transparent;
    background-image: linear-gradient(var(--color-alert-success-bg), var(--color-alert-success-bg));
    border: 1px solid;
    border-color:var(--color-alert-success-border);

    &:hover {
      color: var(--color-alert-success-text);
      background-color: transparent;
      background-image: linear-gradient(var(--color-alert-success-bg), var(--color-alert-success-bg));
      border: 1px solid;
      border-color:var(--color-alert-success-border);
    }
  }

  .badge-processing,
  .badge-pending,
  .badge-awaiting_return,
  .badge-returned,
  .badge-credit_owed,
  .badge-balance_due,
  .badge-backorder,
  .badge-checkout,
  .badge-cart,
  .badge-address,
  .badge-delivery,
  .badge-payment,
  .badge-confirm,
  .badge-canceled,
  .badge-void,
  .badge-inactive,
  .badge-notice,
  .badge-partial {
    color: var(--color-alert-warning-text) !important;
    background-image: linear-gradient(var(--color-alert-warning-bg), var(--color-alert-warning-bg)) !important;
    background-color: transparent;
    border: 1px solid;

    &:hover {
      color: var(--color-alert-warning-text) !important;
      background-image: linear-gradient(var(--color-alert-warning-bg), var(--color-alert-warning-bg)) !important;
      background-color: transparent;
      border: 1px solid;
    }
  }

}
