/*------------------------------------------
  Colors
  -----------------------------------------*/
  $brand-primary: #0076BF;
  $brand-success: #74CE3A;
  $brand-info:    #48B0F7;
  $brand-warning: #F8D053;
  $brand-danger:  #F55753;
  $input-border:  darken(#EDEDED, 5);

  //UI
  $ui-background-color: #f6f8fa;
  $panel-background-color: #fff;

  // Sidebar
  $navbar-background-color: #fff;
  $nav-background-color: linear-gradient(to right, #ffffff 0%, #ffffff 65%, $ui-background-color 100%);
  $subnav-background-color: $nav-background-color;
  $nav-right-border-color: $ui-background-color;
  $nav-seperator-border-color: $ui-background-color;

/*------------------------------------------
  Components
  -----------------------------------------*/
  $border-radius-base: 2px;
  $ui-border-radius: $border-radius-base + 2 ;
  $padding-base-vertical: 8px;
  $padding-base-horizontal: 16px;

  // Sidebar
  $sidebar-width: 210px;
  $menu-speed: 300ms;

/*------------------------------------------
  Fonts
  -----------------------------------------*/
  $headings-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  $headings-font-weight: 300;

/*------------------------------------------
  Buttons
  -----------------------------------------*/

/*------------------------------------------
  Navbar
  -----------------------------------------*/
  $navbar-inverse-bg: #fff;

/*------------------------------------------
  Wells
  -----------------------------------------*/
  $well-bg: #fbfbfb;
