/*------------------------------------------
  Colors
  -----------------------------------------*/
  $primary: darken(#478DC1, 10);
  $success: darken(#7DB942, 2);
  $info:    #48B0F7;
  $warning: #F8D053;
  $danger:  #F55753;
  $input-border-color:  darken(#EDEDED, 5);

/*------------------------------------------
  Components
  -----------------------------------------*/
  $border-radius: 2px;

/*------------------------------------------
  Fonts
  -----------------------------------------*/
  $headings-font-weight: 300;

/*------------------------------------------
  Buttons
  -----------------------------------------*/

/*------------------------------------------
  Navbar
  -----------------------------------------*/
  $navbar-inverse-bg: darken($primary, 15);

/*------------------------------------------
  Forms
  -----------------------------------------*/
  $label-margin-bottom: 0;

/*------------------------------------------
  Plugins
  -----------------------------------------*/
  $select2-icon-size: 0.7rem;
