<tr>
  <td><%= address.firstname %> <%= address.lastname %></td>
</tr>
<tr>
  <td><%= address.address1 %></td>
</tr>
<tr>
  <td><%= address.address2 %></td>
</tr>
<tr>
  <td><%= address.city %>, <%= address.state.name %> <%= address.zipcode %></td>
</tr>
<tr>
  <td><%= address.country.name %></td>
</tr>
<tr>
  <td><%= address.phone %></td>
</tr>