<tr class="product_property fields">
  <td>
    <%= f.text_field :property_name, :class => "autocomplete" %>
  </td>
  <td>
    <%= f.text_field :value, :class => "autocomplete" %>
  </td>	
  <td class="actions">
    <%= link_to_remove_fields t("remove"), f %>
  </td>
</tr>
