<tr class="product_property">
  <td>
    <%= f.text_field :property_name, :class => "autocomplete" %>
  </td>
  <td>
    <%= f.text_field :value, :class => "autocomplete" %>
  </td>	
  <td>
    <% unless f.object.new_record? %>
      <%= f.check_box '_destroy' %>
      <%= f.label '_destroy', 'Remove' %>
    <% end %>
  </td>
</tr>
