<% if linked_type.present? && linked_type.present? %>
  <div data-panel-type="<%= linked_type %>">
    <%= render "spree/admin/shared/cms/#{spree_class_name_as_path(linked_type)}", resource: resource, save_to: save_to, f: f %>
  </div>
<% end %>

<div id="linkClickUpdate" class="d-none">
  <div class="alert alert-warning mt-3">
    <% if %w[new create].include? controller.action_name %>
      <%= raw Spree.t('admin.navigation.click_create_to_load_new_link') %>
    <% else %>
      <%= raw Spree.t('admin.navigation.click_update_to_load_new_link') %>
    <% end %>
  </div>
</div>
