<div class="flex items-center justify-center h-full">
  <%= rule_form.number_field :value, min: 1, class: 'form-input mr-6' %>
  <span class="form-text whitespace-nowrap"><%= Spree.t(:days_ago) %></span>
</div>
