<div class="d-flex align-items-center justify-content-center h-100">
  <%= rule_form.number_field :value, min: 1, class: 'form-control mr-4' %>
  <span class="form-text text-nowrap"><%= Spree.t(:days_ago) %></span>
</div>
