<div class="card mb-4">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
      <%= f.text_field :name, class: 'form-control', required: true, autofocus: true %>
      <%= f.error_message_on :name %>
    </div>
  </div>
</div>