---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Misti Gusikowski","street1":"1600 Pennsylvania
        Ave NW","city":"Washington","state":"NY","zip":"20500","country":"US","phone":"(202)
        456-1111","email":"no-reply@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - d7dd9a7c6a7c0c9fff099078029abef6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb65nuq
      X-Version-Label:
      - easypost-202608112128-93a53ffd35-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb4nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"es_95a49f4842ae4c54a9dafe885e1972b2","object":"EndShipper","mode":"test","created_at":"2026-08-12T06:03:11Z","updated_at":"2026-08-12T06:03:11Z","name":"MISTI
        GUSIKOWSKI","company":null,"street1":"1600 PENNSYLVANIA AVE NW","street2":"","city":"WASHINGTON","state":"DC","zip":"20500-0005","country":"US","phone":"(202)
        456-1111","email":"NO-REPLY@EXAMPLE.COM"}'
  recorded_at: Wed, 12 Aug 2026 06:03:11 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_cee0847ebff344afa39c7d106cc0c61f/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_4f5c3b0240b34dbab6e5d5405ca26e39"},"end_shipper_id":"es_95a49f4842ae4c54a9dafe885e1972b2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - d7dd9a816a7c0c9fff09907b029ac018
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202608112128-93a53ffd35-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb5nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_cee0847ebff344afa39c7d106cc0c61f","created_at":"2026-08-12T06:03:08Z","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_50b23cff99b0466cb2353f60ad06784f","type":"rate_error","message":"shipment.options.merchant_id
        is required"},{"carrier":"USAExportPBA","carrier_account_id":"ca_7e87ab81fe1543e4a77ec08ad656f3e9","type":"rate_error","message":"shipment:
        [''shipment.from_address.country: This carrier only support shipments from
        US origins to international destinations.'']"},{"carrier":"CanadaPost","carrier_account_id":"ca_93986cf850124be29b73034d165ff3a1","type":"rate_error","message":"[''Unable
        to get rates for shipments originating outside of Canada.'']"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9405500208303121182853","updated_at":"2026-08-12T06:03:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7daf1806961311f19d94002248041e50","object":"Address","created_at":"2026-08-12T06:03:08Z","updated_at":"2026-08-12T06:03:08Z","name":"Eryn
        Hermann","company":null,"street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"NY","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":"50.00","order_id":null,"parcel":{"id":"prcl_acf0a535cc644786b2cecbfea4972ef2","object":"Parcel","weight":0.1,"length":null,"width":null,"height":null,"predefined_package":null,"mode":"test","created_at":"2026-08-12T06:03:08Z","updated_at":"2026-08-12T06:03:08Z"},"postage_label":{"object":"PostageLabel","id":"pl_69113b2eea454fd7adb7a347e9c02a4e","created_at":"2026-08-12T06:03:12Z","updated_at":"2026-08-12T06:03:12Z","date_advance":0,"integrated_form":"none","label_date":"2026-08-12T06:03:12Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20260812/e8e75bce9899194c0f8828753f933f4423.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_56d4f605ab11469fb552c34d65e59995","object":"Rate","created_at":"2026-08-12T06:03:09Z","updated_at":"2026-08-12T06:03:09Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.86","currency":"USD","retail_rate":"36.00","retail_currency":"USD","list_rate":"31.86","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_cee0847ebff344afa39c7d106cc0c61f","carrier_account_id":"ca_f1a0e5c2799243bba037f8169b0c41de"},{"id":"rate_4f5c3b0240b34dbab6e5d5405ca26e39","object":"Rate","created_at":"2026-08-12T06:03:09Z","updated_at":"2026-08-12T06:03:09Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.60","currency":"USD","retail_rate":"11.65","retail_currency":"USD","list_rate":"9.71","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false[...]
