---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_ec8e990eade941088f494cb55d5eea92/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_8ceed93802e4422e8203bccf8ea644f4"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - da774daf6a75af2dff0dee96018b926f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202608061828-a3cb37e702-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb3nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"BAD_REQUEST","message":"The request could not be
        understood by the server due to malformed syntax.","errors":[{"message":"ProviderEndShipper
        address.name or address.company required"}]}}'
  recorded_at: Fri, 07 Aug 2026 10:10:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Kristin Thiel","street1":"1600
        Pennsylvania Ave NW","city":"Washington","state":"NY","zip":"20500","country":"US","phone":"(202)
        456-1111"},"to_address":{"name":"John Doe","company":"Company","street1":"6
        Lovely Street","street2":"Northwest","city":"New York","state":"NY","zip":"10118","country":"US","phone":"555-555-0199"},"parcel":{"weight":0.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - f480f2f86a75af2dff0dee9901900be3
      Location:
      - "/api/v2/shipments/shp_d9d5fbbaba8d4855a708fc3c167555f8"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202608061828-a3cb37e702-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 1318c68dc0
      - intlb4nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_d9d5fbbaba8d4855a708fc3c167555f8","created_at":"2026-08-07T10:10:53Z","is_return":false,"messages":[{"carrier":"CanadaPost","carrier_account_id":"ca_93986cf850124be29b73034d165ff3a1","type":"rate_error","message":"[''Unable
        to get rates for shipments originating outside of Canada.'']"},{"carrier":"DhlEcs","carrier_account_id":"ca_50b23cff99b0466cb2353f60ad06784f","type":"rate_error","message":"shipment.options.merchant_id
        is required"},{"carrier":"USAExportPBA","carrier_account_id":"ca_7e87ab81fe1543e4a77ec08ad656f3e9","type":"rate_error","message":"shipment:
        [''shipment.from_address.country: This carrier only support shipments from
        US origins to international destinations.'']"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2026-08-07T10:10:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4645c83c924811f1b8040022480c5359","object":"Address","created_at":"2026-08-07T10:10:53Z","updated_at":"2026-08-07T10:10:53Z","name":"Kristin
        Thiel","company":null,"street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"NY","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_81cafb56c99144af83b4251e6d7708d4","object":"Parcel","weight":0.1,"length":null,"width":null,"height":null,"predefined_package":null,"mode":"test","created_at":"2026-08-07T10:10:53Z","updated_at":"2026-08-07T10:10:53Z"},"postage_label":null,"rates":[{"id":"rate_01d20c36403049789fba785d851b132e","object":"Rate","created_at":"2026-08-07T10:10:54Z","updated_at":"2026-08-07T10:10:54Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.86","currency":"USD","retail_rate":"36.00","retail_currency":"USD","list_rate":"31.86","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d9d5fbbaba8d4855a708fc3c167555f8","carrier_account_id":"ca_f1a0e5c2799243bba037f8169b0c41de"},{"id":"rate_6eb18e083bd1431d8428c9950552e52f","object":"Rate","created_at":"2026-08-07T10:10:54Z","updated_at":"2026-08-07T10:10:54Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.60","currency":"USD","retail_rate":"11.65","retail_currency":"USD","list_rate":"9.71","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false[...]
