---
http_interactions:
- request:
    method: get
    uri: https://api.easypost.com/v2/carrier_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"ca_recorded1","object":"CarrierAccount","type":"UspsAccount","readable":"USPS","created_at":"2026-08-06T12:00:00Z","updated_at":"2026-08-06T12:00:00Z"}]'
  recorded_at: Thu, 06 Aug 2026 20:00:00 GMT
recorded_with: VCR 6.3.1
