---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"name":"Lorenzo Steuber","street1":"1600
        Pennsylvania Ave NW","city":"Washington","state":"NY","zip":"20500","country":"US","phone":"(202)
        456-1111"},"to_address":{"name":"John Doe","company":"Company","street1":"12
        Lovely Street","street2":"Northwest","city":"New York","state":"NY","zip":"10118","country":"US","phone":"555-555-0199"},"parcel":{"weight":0.1}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - da774db66a75aed9ff0deabb018b0a4c
      Location:
      - "/api/v2/shipments/shp_ec8e990eade941088f494cb55d5eea92"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202608061828-a3cb37e702-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb3nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_ec8e990eade941088f494cb55d5eea92","created_at":"2026-08-07T10:09:29Z","is_return":false,"messages":[{"carrier":"CanadaPost","carrier_account_id":"ca_93986cf850124be29b73034d165ff3a1","type":"rate_error","message":"[''Unable
        to get rates for shipments originating outside of Canada.'']"},{"carrier":"USAExportPBA","carrier_account_id":"ca_7e87ab81fe1543e4a77ec08ad656f3e9","type":"rate_error","message":"shipment:
        [''shipment.from_address.country: This carrier only support shipments from
        US origins to international destinations.'']"},{"carrier":"DhlEcs","carrier_account_id":"ca_50b23cff99b0466cb2353f60ad06784f","type":"rate_error","message":"shipment.options.merchant_id
        is required"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2026-08-07T10:09:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_140e99a0924811f1a2d20022480c5359","object":"Address","created_at":"2026-08-07T10:09:29Z","updated_at":"2026-08-07T10:09:29Z","name":"Lorenzo
        Steuber","company":null,"street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"NY","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_26a06aea96cc4e2891675b34c3adc70b","object":"Parcel","weight":0.1,"length":null,"width":null,"height":null,"predefined_package":null,"mode":"test","created_at":"2026-08-07T10:09:29Z","updated_at":"2026-08-07T10:09:29Z"},"postage_label":null,"rates":[{"id":"rate_53575f61448840b281b7ac7b8d9b6307","object":"Rate","created_at":"2026-08-07T10:09:30Z","updated_at":"2026-08-07T10:09:30Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.28","currency":"USD","retail_rate":"8.15","retail_currency":"USD","list_rate":"7.30","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ec8e990eade941088f494cb55d5eea92","carrier_account_id":"ca_f1a0e5c2799243bba037f8169b0c41de"},{"id":"rate_74b732844a0147d0bfd20bff78fd30e1","object":"Rate","created_at":"2026-08-07T10:09:30Z","updated_at":"2026-08-07T10:09:30Z","mode":"test","service":"Express","carrier":"USPS","rate":"31.86","currency":"USD","retail_rate":"36.00","retail_currency":"USD","list_rate":"31.86","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":fals[...]
