---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Risa Macejkovic","street1":"9 Nowhere Road","city":"Reno","state":"NV","zip":"89501","country":"US","phone":"7755551234","email":"no-reply@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - a3e55f4b6a9ac787ff1b8e8e0109dce2
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - web110azw
      X-Version-Label:
      - easypost-202609032312-c09450d2bb-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1azw dcaa0f86f7
      - intlb2azw f881cede8e
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Unable to verify
        address.","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
        not found","suggestion":null}]}}'
  recorded_at: Fri, 04 Sep 2026 13:28:40 GMT
recorded_with: VCR 6.4.0
