---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/end_shippers
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Kris Labadie","street1":"1600 Pennsylvania Ave
        NW","city":"Washington","state":"AL","zip":"20500","country":"US","email":"no-reply@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - 06cfc6286a9ac787ff1b8e8c010e5c1b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - web105azw
      X-Version-Label:
      - easypost-202609032312-c09450d2bb-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2azw dcaa0f86f7
      - intlb4azw f881cede8e
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"PARAMETER.REQUIRED","message":"Missing required parameter.","errors":[{"field":"end_shipper.address.phone","message":"is
        required but missing"}]}}'
  recorded_at: Fri, 04 Sep 2026 13:28:39 GMT
recorded_with: VCR 6.4.0
