---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_recorded1/refund
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - "<FILTERED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"shp_recorded1","object":"Shipment","mode":"test","status":"purchased","refund_status":"submitted","rates":[]}'
  recorded_at: Thu, 06 Aug 2026 20:06:00 GMT
recorded_with: VCR 6.3.1
