---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_ec8e990eade941088f494cb55d5eea92/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - da774db46a75af2cff0dee7d018b914b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb57nuq
      X-Version-Label:
      - easypost-202608061828-a3cb37e702-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb3nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"SHIPMENT.REFUND.UNAVAILABLE","message":"Unable to
        request refund for shipment without a postage label.","errors":[]}}'
  recorded_at: Fri, 07 Aug 2026 10:10:52 GMT
recorded_with: VCR 6.4.0
