---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"417 Montgomery Street","city":"San Francisco","state":"CA","zip":"94104","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - da774daf6a75ae2dff0de6790189dc1a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202608061828-a3cb37e702-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb6nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"APIKEY.INACTIVE","message":"This api key is no longer
        active. Please use a different api key or reactivate this key.","errors":[]}}'
  recorded_at: Fri, 07 Aug 2026 10:06:37 GMT
recorded_with: VCR 6.4.0
