---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"417 Montgomery Street","city":"San Francisco","state":"CA","zip":"94104","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<FILTERED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Easypost-Api-Version:
      - '2015-01-01'
      X-Ep-Request-Uuid:
      - da774db16a75adadff0de5980188cd8f
      Location:
      - "/api/v2/addresses/adr_6154c924924711f1b3710022480b361d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb67nuq
      X-Version-Label:
      - easypost-202608061828-a3cb37e702-main
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 1318c68dc0
      - intlb3nuq d4a20a271b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_6154c924924711f1b3710022480b361d","object":"Address","created_at":"2026-08-07T10:04:29Z","updated_at":"2026-08-07T10:04:29Z","name":null,"company":null,"street1":"417
        Montgomery Street","street2":null,"city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 07 Aug 2026 10:04:29 GMT
recorded_with: VCR 6.4.0
