---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"417 Montgomery Street","city":"San Francisco","state":"CA","zip":"94104","country":"US"}}'
    headers:
      Authorization:
      - "<FILTERED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"code":"UNAUTHORIZED","message":"Invalid API Key.","errors":[]}}'
  recorded_at: Fri, 07 Aug 2026 09:00:00 GMT
recorded_with: VCR 6.3.1
