.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 5px 5px;
  cursor: default;
  display: block;
  /*
  if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /*
  it is very important, if line-height not setted or setted
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
  border-bottom: 1px solid black;
  color: #000;
  cursor: pointer;
}

.ac_results li img{
  float:left;
  padding-right: 5px;
  width: 30px;
}
.ac_results li h4 {
  margin-bottom: 3px;
  width: 330px;
  white-space: nowrap;
  overflow: hidden;
}
.ac_results li div{
  float:left;
}
.ac_results li span{
  display: block;
  float: left;
  margin-left: 8px;
}
.ac_loading {
  background: none;
}
.ac_odd {
  background-color: #fff;
}
.ac_over {
  background-color: #41A6F0;
  color: #fff!important;
}
.ac_over h4{
  color: #fff;
  text-decoration: underline;
}
