/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.alerts/jquery.alerts
 *= require jquery.alerts/jquery.alerts.spree
 *= require responsive-tables
 *= require normalize
 *= require font-awesome
 *= require skeleton
 *= require admin/edit_checkouts.css
 *= require admin/token-input.css
 *= require jquery-ui.datepicker
 *= require select2
 *= require_tree ./general
 *= require_tree ./elements
 *= require_tree ./plugins
 *= require_tree ./pages  
*/
