@import 'font-awesome';

@import 'globals/variables';
@import 'globals/mixins';

@import 'shared/typography';
@import 'shared/tables';
@import 'shared/icons';
@import 'shared/forms';
@import 'shared/layout';

@import 'components/date-picker';
@import 'components/messages';
@import 'components/pagination';
@import 'components/progress';
@import 'components/table-filter';

@import 'plugins/powertip';
@import 'plugins/select2';
@import 'plugins/token-input';
<<<<<<< HEAD
@import 'plugins/jstree';
=======
>>>>>>> New admin design for Spree 2.0

@import 'sections/image_settings';
@import 'sections/orders';
@import 'sections/overview';
@import 'sections/products';
@import 'sections/promotions';
@import 'sections/edit_checkouts';