/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    li {
        list-style-type: none;
        &.token-input-selected-token {
            background-color: #08844e;
            color: #fff;
            span {
                color: #bbb;
            }
        }
        &.token-input-token {
            overflow: hidden; 
            height: auto !important; 
            height: 1%;
            margin: 3px;
            padding: 3px 5px;
            color: #000;
            font-weight: bold;
            cursor: default;
            display: block;
            p {
                float: left;
                padding: 0;
                margin: 0;
            }
            span {
                float: right;
                color: #777;
                cursor: pointer;
            }
        }
        input {
            border: 0;
            width: 350px;
            padding: 3px 8px;
            background-color: white;
        }
    }
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
    p {
        margin: 0;
        padding: 5px;
        font-weight: bold;
        color: #777;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            background-color: #fff;
            padding: 3px;
            list-style-type: none;
            &.token-input-dropdown-item {
                background-color: #fafafa;
            }
            &.token-input-dropdown-item2 {
                background-color: #fff;
            }
            em {
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}

li.token-input-token, div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #BBDAFD;
}
