// ------------------------------------------------------------- 
//   Variables used in all other files   
//--------------------------------------------------------------


// Fonts
//--------------------------------------------------------------
// Font Settings
$base-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Colors
//--------------------------------------------------------------
$c_gray1:   #929292;
$c_green1:  #9FC820;
$c_blue1:   #0095EA;
$c_blue2:   #D4F1F7;
$c_red1:    #C60F13;

$color-body-text: $c_gray1;
$color-headers:   darken($c_blue1, 20);
$color-links:     $c_blue1;
$color-border:    lighten($c_gray1, 32);

// Gradients
//--------------------------------------------------------------

// Sizes
//--------------------------------------------------------------
$body-font-size: 13.037px;