<div class="<%= width %>">
  <div class="<%= edge_to_edge %>">
    <div data-product-carousel data-product-carousel-taxon-id='<%= section.linked_resource.permalink %>' class="my-3"></div>
  </div>
</div>
