<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_adjustment"), new_admin_order_adjustment_url(@order), :icon => 'add' %>
    </li>
  </ul>
  <br class='clear' />
</div>