/*--------------------------------------*/
/* Colors
/*--------------------------------------*/
$c_green:       #8dba53;  /* Spree green    */
$c_red:         #e45353;  /* Error red      */

$layout_background_color:   #FFFFFF;
$title_text_color:          #404042;
$body_text_color:           #404042;
$link_text_color:           #00ADEE;

$product_background_color:  #FFFFFF;
$product_title_text_color:  #404042;
$product_body_text_color:   #404042;
$product_link_text_color:   #BBBBBB;

/*--------------------------------------*/
/* Fonts import from remote
/*--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|&subset=latin,cyrillic,greek,greek-ext,latin-ext,cyrillic-ext);

/*--------------------------------------*/
/* Font families
/*--------------------------------------*/
$ff_base:       'Ubuntu', sans-serif;

/*--------------------------------------
  | Font sizes
  |--------------------------------------
  |- Navigation                         
  |                                    */
      $header_navigation_font_size:           14px;
      $horizontal_navigation_font_size:       16px;
      $main_navigation_header_font_size:      14px;
      $main_navigation_font_size:             12px;
/*|------------------------------------
  |- Product Listing                         
  |                                  */
      $product_list_name_font_size:           12px;
      $product_list_price_font_size:          16px;
      $product_list_header_font_size:         20px;
      $product_list_search_font_size:         14px;
/*|------------------------------------
  |- Product Details
  |                                  */
      $product_detail_name_font_size:         24px;
      $product_detail_description_font_size:  12px;
      $product_detail_price_font_size:        20px;
      $product_detail_title_font_size:        14px;
/*|------------------------------------
  |- Basic
  |                                  */
      $heading_font_size:                     24px;
      $sub_heading_font_size:                 14px;
      $button_font_size:                      12px;
      $input_box_font_size:                   13px;
      $base_font_size:                        12px;
      $button_border_color:                   rgba(0, 138, 189, .75);
