#product-description {
  float:left;
  margin-right:10px;
  width:500px;
}

#product-image {
  margin-right:10px;
  width:240px;
  overflow: hidden;
	text-align: right;  
}
/** ================ begin: option-types =================== */
.option-types {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 545px;
}

.option-types th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.option-types td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;	
}
/** ================ end: option-types =================== */

li.product {
	list-style: none;
}

li.preview {
	float: left;
	width: 102px; height: 14em;
	margin-right: 50px;
	font-size: .9em;
	line-height: 1.2em;
}
/**
* html dl.preview { margin-right: 38px; }
#section-index dl.preview {
	margin-right: 18px;
}*/
li.preview a {
	text-decoration: none;
}

#variants li {
  list-style-type: none;
}