<div class="field alpha omega eight columns">
  <%= label_tag "#{param_prefix}_code", Spree.t('code') %>
  <%= text_field_tag "#{param_prefix}[code]", promotion_rule.code, :class => 'fullwidth' %>
</div>
