<div class="card-body">
  <div class="form-group products_rule_products">
    <%= label_tag "#{param_prefix}_product_ids_string", Spree.t('product_rule.choose_products') %>
    <%= select "#{param_prefix}", 'product_ids_string', options_from_collection_for_select(promotion_rule.products, :id, :name, promotion_rule.products.pluck(:id)), { include_hidden: true }, multiple: true, class: 'product_picker d-block w-100' %>
  </div>
  <div class="form-group mb-0">
    <%= label_tag Spree.t('product_rule.label') %>
    <%= select_tag("#{param_prefix}[preferred_match_policy]", options_for_select(Spree::Promotion::Rules::Product::MATCH_POLICIES.map{|s| [Spree.t("product_rule.match_#{s}"),s] }, promotion_rule.preferred_match_policy), {class: 'select_product form-control custom-select'}) %>
  </div>
</div>
