<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag "/stylesheets/screen.css" %>
  </head>
  <body class="one-col">
    <div id="wrapper" class="container">
      <div id="content">
        <% if flash.notice %>
          <div class="flash notice"><%= flash.notice %></div>
        <% end %>
        <% if flash[:error] %>
          <div class="flash errors"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>