module Spree
  class UserPasswordsMailer < Spree::BaseMailer
    def reset(user)
      @user = user
      mail(
        subject: Spree.t(:reset_your_password),
        to: user.email_address
      )
    end
  end
end
