<div class="card mb-6">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:estimated_transit_business_days) %>
    </h5>
  </div>
  <div class="card-body">
    <div class="alert alert-info">
      This is the estimated number of business days it will take for the package to arrive at the customer's address.
      It will be displayed on the checkout page.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <%= f.spree_number_field :estimated_transit_business_days_min, size: 2, placeholder: Spree.t(:min), min: 1, label: Spree.t(:min) %>
      <%= f.spree_number_field :estimated_transit_business_days_max, size: 2, placeholder: Spree.t(:max), min: 1, label: Spree.t(:max) %>
    </div>
  </div>
</div>