<script type='text/template' id='product_template'>
  <li id='product_{{ product.id }}' data-product-id='{{ product.id }}' data-taxons="{{ product.taxon_ids }}" class='product'>
    <a class="sort-handle js-sort-handle"><span class="icon icon-move"></span></a>
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" data-hook="taxon_product_dropdown">
        <li><a href="{{ edit_product_url product.id }}" class="edit-product js-edit-product"><%= Spree.t(:edit) %></a></li>
        <li><a href="javascript:;" class="delete-product js-delete-product"><%= Spree.t(:delete_from_taxon) %></a></li>
      </ul>
    </div>
    <div class='image'>
      {{#if product.image }}
        <img src='{{product.image}}' alt='{{ product.name }}' class='thumbnail' />
      {{ else }}
        <img src='<%= image_path("noimage/small.png") %>' alt='{{product.name }}' class='thumbnail' />
      {{/if}}
    </div>
    <div class="product-info">
      <div class="name">{{ product.name }}</div>
      <div class="price">{{ product.display_price }}</div>
    </div>
  </li>
</script>
