<script type='text/template' id='product_template'>
  <li id='product_{{ product.id }}' data-product-id='{{product.id }}' class='well small_product'>
    <table class='table table-hover table-condensed table-bordered no-marginb'>
      <tr>
        <td class='image'>
          {{#if product.image }}
            <img src='{{product.image}}' alt='{{ product.name }}' class='thumbnail' />
          {{ else }}
            <img src='<%= image_path("noimage/small.png") %>' alt='{{product.name }}' class='thumbnail' />
          {{/if}}
        </td>
        <td>
          <a class="name">{{ product.name }}</a><br>
          <span class="price">{{ product.display_price }}</span>
        </td>
      </tr>
    </table>
  </li>
</script>
