<div class="text-muted p-5 d-flex align-items-center w-100 justify-content-center flex-column">
  <%= icon 'map-search', class: 'mb-3 opacity-50', style: 'font-size: 2rem;' %>
  <p>
    <%= Spree.t(:no_report_data) %>
  </p>
</div>
