<h1><%= t("editing_tax_rate") %></h1>
<%= error_messages_for :tax_rate %>
<% form_for(@tax_rate, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag t("update")%>
  </p>
<% end %>