<tr>
  <td valign="middle">
    <span class="f-fallback"><%= adjustment.label %></span>
  </td>
  <td class="summary_value" align="right" valign="middle">
    <span class="f-fallback"><%= Spree::Money.new(adjustment.amount, currency: order.currency) %></span>
  </td>
</tr>
