<tr>
  <td valign="middle">
    <span class="f-fallback"><%= Spree.t('order_mailer.subtotal') %></span>
  </td>
  <td class="summary_value" align="right" valign="middle">
    <span class="f-fallback"><%= order.display_item_total %></span>
  </td>
</tr>
