<tr class="summary_total">
  <td valign="middle">
    <span class="f-fallback"><%= Spree.t('order_mailer.total') %></span>
  </td>
  <td class="summary_value" align="right" valign="middle">
    <span class="f-fallback"><%= order.display_total_minus_store_credits %></span>
  </td>
</tr>
