<h1><%= t("overview") %></h1>

Welcome to the Overview Page.  This is a placeholder for some real content.  Eventually we envision a bunch of "widgets" summarizing recent activity and other elements of interest.
