<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title><%= yield(:page_title) || 'Spree guides' %></title>

<link rel="stylesheet" type="text/css" href="files/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="files/stylesheets/syntax.css" />
<link rel="stylesheet" type="text/css" href="files/stylesheets/print.css" media="print" />

<script type="text/javascript" src="files/javascripts/guides.js"></script>
<script type="text/javascript" src="files/javascripts/code_highlighter.js"></script>
<script type="text/javascript" src="files/javascripts/highlighters.js"></script>

</head>
<body class="guide">
  <div id="topNav">
    <div class="wrapper">
      <strong>More at <a href="/">spreecommerce.com:</a> </strong>
      <a href="/features">Features</a> |
      <a href="/support">Support</a> |
      <a href="/blog">Blog</a> |
      <a href="/demo">Demo</a> |
      <a href="/community">Community</a> |
      <a href="/download">Download</a>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Return to home page">guides.spreehq.org</a></h1>
      <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
      <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="L">
              <dt>Start Here</dt>
              <dd><a href="getting_started.html">Getting Started with Spree</a></dd>
              <dd><a href="source_code.html">Working with the Source Code</a></dd>
              <dd><a href="server_configuration.html">Server Configuration</a></dd>
              <dt>Basic Configuration</dt>
              <dd><a href="zones.html">Zones</a></dd>
              <dd><a href="taxation.html">Taxation</a></dd>
              <dd><a href="pricing.html">Pricing</a></dd>
              <dd><a href="inventory.html">Inventory</a></dd>
              <dd><a href="payment_gateways.html">Payment Gateways</a></dd>
              <dd><a href="shipping.html">Shipping</a></dd>              
              <dd><a href="taxonomy.html">Taxonomy/Categories</a></dd>              
              <dt>Customization</dt>
              <dd><a href="extensions.html">Using Extensions</a></dd>
              <dd><a href="extension_tutorial.html">Extension Tutorial</a></dd>
              <dd><a href="checkout.html">Checkout Process</a></dd>
            </dl>
            <dl class="R">
              <dt>Digging Deeper</dt>
              <dd><a href="i18n.html">Internationalization/Localization</a></dd>
              <dd><a href="boot_modes.html">Boot Modes</a></dd>
              <dd><a href="testing.html">Testing Spree Applications</a></dd>
              <dd><a href="security.html">Securing Spree Applications</a></dd>
              <dd><a href="checkout.html">Customizing the Checkout Process</a></dd>
              <dd><a href="preferences.html">The Preference System</a></dd>
              <dd><a href="contributing_to_spree.html">Contributing to Spree</a></dd>
            </dl> 
            <dl class="R">
              <dt>Best Practices</dt>
              <dd><a href="developer_tips.html">Developer Tips</a></dd>
              <dd><a href="seo_considerations.html">SEO Considerations</a></dd>
            </dl>            
          </div>
        </li>
        <li><a href="contribute.html">Contribute</a></li>
        <li><a href="credits.html">Credits</a></li>
      </ul>
    </div>
  </div>

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
    </div>
  </div>
</body>
</html>
