<% if @order.user.orders.complete.any? %>
  <div class="alert alert-info mt-2 mb-0">
    <div>
      <h5 class="font-bold">
        <%= icon('magic') %> <%= Spree.t('admin.assistant') %>
      </h5>
      <%= Spree.t(
            'admin.orders.repeat_customer_summary_html',
            amount: tag.strong(Spree::Money.new(@order.user.orders.complete.sum(:total))),
            count: tag.strong(Spree.t('admin.orders.orders_count', count: @order.user.orders.complete.count)),
            average: tag.strong(Spree::Money.new(@order.user.orders.complete.average(:total)))
          ) %>
    </div>
  </div>
<% end %>