<div class="panel panel-default" id="order_details" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(@order.state, :scope => :order_state).titleize %></h3>
  </div>
  <div class="panel-body">
	<%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:place_order), :class => 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
