<% content_for :page_title do %>
  <%= Spree.t(:<%= plural_name %>) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'plus', Spree.t(:new_<%= singular_name %>), new_object_url, class: "btn btn-primary" if can? :create, <%= resource_name %> %>
<% end %>

<%= render 'spree/admin/shared/index_table' %>