.new-page {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-bottom: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

.navbar-logo-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  align-self: stretch;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

.navbarcontainer {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 103%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.vectors-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.contact-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.vectors-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 110px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 12%;
  padding-left: 12%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

._2-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #15181a;
}

.f2wf-columns {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: transparent;
}

.column.heading {
  width: 40%;
}

.text {
  font-family: 'Alliance no', sans-serif;
  color: #909090;
  font-size: 14px;
  line-height: 170.00000476837158%;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.youre-running-spree-headless.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

.vectors-wrapper-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  mix-blend-mode: lighten;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

.youre-running-spree-headless-0 {
  font-family: 'Alliance no', sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0em;
}

.youre-running-spree-headless-1 {
  background-image: linear-gradient(106.03deg, #4ba5ff, #0fe770);
  font-family: 'Alliance no', sans-serif;
  font-size: 60px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.04em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.youre-running-spree-headless-2 {
  background-image: linear-gradient(145.34deg, #4ba5ff, #0fe770);
  font-size: 70px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: -0.04em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-page-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

.frame-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 52px;
  max-width: 326px;
  padding: 16px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-radius: 100px;
  background-color: #fff;
  text-decoration: none;
}

.button.button-main {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #16181a;
}

.button.button-main:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #16181a;
  color: #fff;
}

.text-2 {
  font-family: 'Alliance no', sans-serif;
  font-size: 14px;
  line-height: 110.00000238418579%;
  font-weight: 600;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 52px;
  max-width: 326px;
  padding: 16px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #b3b3b3;
  border-radius: 100px;
  text-decoration: none;
}

.button-2.button-second {
  border-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
}

.button-2.button-second:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.text-3 {
  font-family: 'Alliance no', sans-serif;
  font-size: 14px;
  line-height: 110.00000238418579%;
  font-weight: 600;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  color: #fff;
}

.link:hover {
  text-decoration: underline;
}

.vectors-wrapper-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-3 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.vectors-wrapper-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  mix-blend-mode: lighten;
  -o-object-fit: cover;
  object-fit: cover;
}

.page {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
  opacity: 1;
}

.navbar-logo-left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.navbarcontainer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 3000px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navbar-content-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 40px;
  background-color: #fff;
  text-decoration: none;
}

.section-4 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65%;
  min-height: 520px;
  padding: 0px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-3 {
  position: relative;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 400px;
  margin-top: -49px;
  padding: 44px 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
}

.f2wf-columns-2 {
  background-color: transparent;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
}

.section-5 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 24%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-4 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15181a;
}

.vectors-wrapper-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.vectors-wrapper-6.img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.body {
  background-color: #16181a;
}

.heading {
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transform: translate(0px, 81px);
  -ms-transform: translate(0px, 81px);
  transform: translate(0px, 81px);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  font-family: 'Alliance no', sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -4px;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading.heading-grad {
  width: 100%;
  background-image: linear-gradient(269deg, #01ff73 51%, #4ba5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-container {
  width: 400px;
}

.heading-mask {
  overflow: hidden;
  width: auto;
}

.button-container {
  width: 100%;
  height: 52px;
  margin-bottom: 30px;
}

.button-container.link-container {
  height: 15px;
}

.button-container.link-container.button-last {
  margin-bottom: 0px;
}

.button-mask {
  overflow: hidden;
  height: 0px;
}

.text-mask {
  position: relative;
  overflow: hidden;
  height: 1px;
}

.link-nav {
  padding: 3px;
}

.link-img {
  width: 25px;
}

.cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: block;
  height: 200vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(50%, #000), to(transparent));
  background-image: linear-gradient(180deg, #000, #000 50%, transparent);
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.text-container {
  position: relative;
  height: 24px;
}

@media screen and (min-width: 1280px) {
  .text.small {
    position: relative;
  }

  .youre-running-spree-headless.heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container-3 {
    min-height: 410px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading-mask {
    overflow: hidden;
  }

  .text-mask {
    overflow: hidden;
  }

  .link-nav {
    padding: 3px;
  }

  .link-img {
    width: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .vectors-wrapper {
    width: 120px;
    height: 29px;
  }

  .vectors-wrapper-2 {
    width: 40px;
    height: 40px;
  }

  .column {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .youre-running-spree-headless {
    letter-spacing: -35em;
  }

  .youre-running-spree-headless.heading {
    width: 340px;
  }

  .youre-running-spree-headless-0 {
    font-size: 80px;
  }

  .youre-running-spree-headless-1 {
    font-size: 80px;
  }

  .text-2 {
    font-size: 16px;
  }

  .text-3 {
    font-size: 16px;
  }

  .link {
    color: #fff;
  }

  .navbar-logo-left-2 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .section-4 {
    min-height: 560px;
    padding-top: 0%;
  }

  .container-3 {
    min-height: 500px;
    padding: 50px 15.5%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-5 {
    height: 28%;
  }

  .body {
    background-color: #15181a;
  }

  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Alliance no', sans-serif;
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: -4px;
  }

  .heading.heading-grad {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    background-image: linear-gradient(96deg, #4ba5ff, #01ff73 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heading-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .heading-mask {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 70px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .button-container {
    position: relative;
    bottom: 0px;
    overflow: visible;
    height: 53px;
  }

  .button-container.link-container {
    height: 20px;
  }

  .button-mask {
    position: relative;
    bottom: 0px;
    overflow: hidden;
    height: 0%;
  }

  .cover {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .column {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .text {
    font-size: 18px;
  }

  .text.small {
    font-size: 16px;
  }

  .youre-running-spree-headless {
    font-family: 'Alliance no', sans-serif;
    font-size: 100px;
  }

  .youre-running-spree-headless-0 {
    font-size: 80px;
  }

  .youre-running-spree-headless-1 {
    font-size: 80px;
  }

  .frame-29 {
    width: 360px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .button {
    width: 360px;
    max-width: 1000px;
  }

  .text-2 {
    font-size: 16px;
  }

  .button-2 {
    width: 360px;
    max-width: 1000px;
  }

  .button-2.button-second:hover {
    border-color: hsla(0, 0%, 100%, 0.6);
  }

  .text-3 {
    font-size: 16px;
  }

  .navbar-logo-left-2 {
    padding-right: 80px;
    padding-left: 80px;
  }

  .section-4 {
    font-size: 16px;
  }

  .container-3 {
    min-height: 500px;
    padding: 55px 14%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .section-5 {
    height: 30%;
  }

  .container-4 {
    height: 100%;
  }

  .vectors-wrapper-6.img {
    width: 100%;
    height: 100%;
  }

  .heading {
    font-size: 80px;
  }

  .heading-container {
    width: 460px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .heading-mask {
    height: 78px;
  }

  .cover {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .f2wf-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .youre-running-spree-headless.heading {
    width: 300px;
  }

  .text-2 {
    font-size: 13px;
  }

  .text-3 {
    font-size: 13px;
  }

  .navbar-logo-left-2 {
    padding-right: 40px;
  }

  .navbar-content-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .section-4 {
    height: 70%;
    margin-top: 0px;
  }

  .container-3 {
    min-height: 400px;
    margin-top: -49px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .f2wf-columns-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .column-3 {
    padding-bottom: 3px;
  }

  .section-5 {
    height: 25%;
  }

  .container-4 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .vectors-wrapper-6.img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .button {
    height: 45px;
  }

  .button-2 {
    height: 45px;
  }

  .page {
    height: auto;
  }

  .section-4 {
    height: auto;
    margin-top: 60px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .container-3 {
    min-height: auto;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .f2wf-columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-3 {
    padding-top: 50px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .section-5 {
    position: static;
    height: 160px;
    margin-top: 70px;
  }

  .vectors-wrapper-6.img {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .button-container {
    height: 45px;
  }

  .button-mask {
    height: 0px;
  }
}

@media screen and (max-width: 479px) {
  .vectors-wrapper {
    width: 80px;
    height: 19px;
  }

  .contact-search {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .vectors-wrapper-2 {
    width: 25px;
    height: 25px;
  }

  .text {
    font-size: 12px;
  }

  .youre-running-spree-headless.heading {
    width: 280px;
  }

  .youre-running-spree-headless-0 {
    font-size: 55px;
  }

  .youre-running-spree-headless-1 {
    font-size: 55px;
  }

  .frame-29 {
    width: 100%;
    height: auto;
  }

  .button {
    max-width: 440px;
  }

  .text-2 {
    font-size: 12px;
  }

  .button-2 {
    max-width: 440px;
  }

  .navbar-logo-left-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-5 {
    height: 100px;
  }

  .vectors-wrapper-6.img {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .heading {
    font-size: 55px;
  }

  .heading-container {
    width: 280px;
  }

  .button-container {
    width: 100%;
  }

  .button-mask {
    width: 100%;
  }
}

@font-face {
  font-family: 'Alliance no';
  src: url('Alliance-No.2-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Alliance no';
  src: url('Alliance-No.2-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
