<div data-hook="admin_store_credit_category_form_fields">
  <div data-hook="store_credit_category_name" class="form-group">
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div data-hook="additional_store_credit_category_fields"></div>
</div>
