<div class="card  " id="order_details" data-hook>
  <div class="card-heading">
    <h3 class="card-title"><%= Spree.t(:confirm) %></h3>
  </div>
  <div class="card-body">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <% if @order.using_store_credit? %>
    <%= button_tag Spree.t('store_credit.remove'), name: 'remove_store_credit', class: 'continue btn' %>
  <% end %>
  <%= submit_tag Spree.t(:place_order), class: 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
