<% option_values.each do |option_value| %>
  <% if option_value.option_type.presentation == 'Color' %>
    <div class="checkout-confirm-option-value">
      <%= option_value.option_type.presentation %>: 
      <%= render partial: "spree/shared/color_select", locals: {
        color: option_value[:presentation],
        width: 18,
        height: 18,
        selected: false
      } %>
    </div>
  <% else %>
    <div class="checkout-confirm-option-value">
      <%= option_value.option_type.presentation %>: <%= option_value.presentation %>
    </div>
  <% end %>
<% end %>
