<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Spree Commerce Hub', 'overview' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Overview", 'overview' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Terminology", 'terminology' %><div class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "Mappings", 'mapping_basics' %><div class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "Message Basics", 'message_basics' %><div class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "Configuration", 'configuration' %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Customization', 'custom_integrations' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Custom Integrations", 'custom_integrations' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Custom Attributes", 'custom_attributes' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Testing Tools", 'testing_tools' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Tutorials', 'basic_endpoints_tutorial' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Basic endpoints", 'basic_endpoints_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Fulfillment integration", 'fulfillment_integration_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Custom attributes", 'custom_attributes_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Connecting your endpoint", 'connecting_custom_endpoints' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Supported Integrations', 'supported_integrations' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Amazon", 'amazon_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Fosdick", 'fosdick_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "HubSpot", 'hubspot_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Mandrill", 'mandrill_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Quiet Logistics", 'quiet_logistics_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "RLM", 'rlm_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Simparel", 'simparel_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Spree", 'spree_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "SMTP Notification", 'smtp_integration' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Zendesk", 'zendesk_integration' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Messages', 'messages_overview' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Order", "order_messages" %><div class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "Shipment", "shipment_messages" %><div class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "Notification", "notification_messages" %><div class="toc"></div></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
