<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/summary/">Summary</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/integration/summary/#overview">Overview</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/summary/#events-and-messages">Events and Messages</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/summary/#message-formats">Message Formats</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/events/orders/">Orders</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/integration/events/orders/#new-order-event">New</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/events/orders/#updated-order-event">Updated</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/events/orders/#cancelled-order-event">Cancelled</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/events/payments/">Payments</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/integration/events/payments/#new-payment-event">New</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/events/products/">Products</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/integration/events/products/#new-product-event">New</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/events/products/#updated-product-event">Updated</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/events/shipments/">Shipments</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/integration/events/shipments/#shipment-ready-event">Ready</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/events/shipments/#shipment-confirmed-event">Confirmed</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/events/users/">Users</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/integration/events/users/#new-user-event">New</a></li>
          <li><i class="icon-right-dir"></i><a href="/integration/events/users/#updated-user-event">Updated</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
