<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/overview/">Overview</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><%= link_to "Messages", 'overview', 'messages' %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Queues", 'overview', "queues" %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Endpoints", 'overview', "endpoints" %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Consumers", 'overview', "consumers" %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Pollers", 'overview', "pollers" %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Events", 'overview', "events" %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/consuming/">Consuming Messages</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><%= link_to "Synchronous", "consuming", "synchronous-response" %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Asynchronous", "consuming", "asynchronous-response" %></li>
          <li><i class="icon-right-dir"></i><%= link_to "Failures", "consuming", "failures" %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/integration/push/">Pushing Messages</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><%= link_to "New", "events/payments", "new-payment-event" %></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><%= link_to "Message Library", "events/users" %></h3>
      </li>
    </ul>
  </nav>
</aside>
