<% if settings_area? %>
  <%= render_navigation(:settings) %>
<% else %>
  <%= render_navigation(:sidebar) %>

  <div class="mt-auto flex flex-col">
    <%= render 'spree/admin/shared/sidebar/enterprise_edition_notice' %>
  </div>
<% end %>
