<fieldset id="order_details">
  <div class="clear"></div>
  <legend><%= t("confirm") %></legend>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
</fieldset>

<hr />

<p class="form-buttons">
  <%= button t('place_order') %>
</p>
