<tr class="option_value fields" id="<%= dom_id(f.object) %>">
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :presentation %></td>
  <td class="actions"><%= link_to_remove_fields t("remove"), f %></td>
</tr>
