<tr class="option_value" id="<%= dom_id(f.object) %>">
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :presentation %></td>
  <td class="actions"><%= link_to_remove_fields "remove", "tr##{dom_id(f.object)}",f %></td>
</tr>