<%= render :partial => 'admin/shared/product_sub_menu' %>
<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => I18n.t(:option_types)} %>

<div id="selected-options" data-hook>
  <%= render 'selected' %>
</div>
