/* LOCKED */
.tree-spree .locked li a { color:gray; }
/* DOTS */
.tree-spree ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url("dot.gif"); }
.tree-spree li { background-position:7px 16px; background-repeat:no-repeat; background-image:url("li.gif"); }
.tree-spree li.last { background-position:5px top; background-repeat:no-repeat; background-image:url("lastli.gif"); }

/* DOTS - RIGHT TO LEFT */
.tree-spree .rtl, .tree-spree .rtl ul { background-position:right 1px; }
.tree-spree .rtl li { background-position:right 8px; }
.tree-spree .rtl li.last { background-image:url("lastli_rtl.gif"); background-position:right top; }

/* NO DOTS */
.tree-spree .no_dots, .tree-spree .no_dots ul { background:transparent; }
.tree-spree .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-spree li.open { background:url("fminus.gif") 4px 12px no-repeat; }
.tree-spree li.closed, #jstree-dragged.tree-spree li li.open { background:url("fplus.gif") 5px 10px no-repeat; }

/* RIGHT TO LEFT */
.tree-spree .rtl li { margin-right:1px; }
.tree-spree .rtl li.last { margin-right:0; padding-right:16px; }
.tree-spree .rtl li.open { background:url("fminus_rtl.gif") right 6px no-repeat; margin-right:0; padding-right:16px; }
.tree-spree .rtl li.closed, #jstree-dragged.tree-spree .rtl li li.open { background:url("fplus_rtl.gif") right 4px no-repeat; margin-right:0; padding-right:16px; }

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-spree li a, .tree-spree li span { background-color:transparent; height:30px; line-height:32px; background-repeat:no-repeat; font-size: 120%; background-position:4px 1px; padding:1px 4px 1px 41px; background-image:url("f.png"); border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tree-spree li a:hover, .tree-spree li a.hover { background-color: #e7f4f9; border:1px solid #d8f0fa; padding:0px 3px 0px 40px; background-position:3px 0px;  }
.tree-spree li a.clicked, .tree-spree li a.clicked:hover, .tree-spree li span.clicked { background-color: #beebff; border:1px solid #99defd; padding:0px 3px 0px 41px; background-position:3px 0px;  }
.tree-spree li a input, .tree li span input { margin:0;padding:4px 0;height:20px !important;border:1px solid white;background:white;font-size: 100%;font-family:Verdana; }
.tree-spree li span.clicked { padding:0px 3px 0px 40px; }
.tree-spree li a.loading { background-image:url("throbber.gif"); }

/* CONTEXT MENU */
.tree-spree-context { width:160px; background:#F0F0F0 url("context.gif") 22px 0 repeat-y; border:1px solid silver; position:absolute; }
.tree-spree-context a, .tree-spree-context a.disabled:hover { display:block; text-decoration:none; color:black; line-height:20px; background-repeat: no-repeat; background-position:2px center; padding:1px 0 1px 25px; background-color:transparent; border:1px solid #f0f0f0; border-width:0 1px; margin:0; }
.tree-spree-context a:hover { background-color:#e7f4f9; border:1px solid #d8f0fa; padding:0 0 0 25px; margin:0; }
.tree-spree-context a.disabled, .tree-spree-context a.disabled:hover { color:silver; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); zoom:1; }
.tree-spree-context .separator { background:#FFFFFF;border-top:1px solid #E0E0E0;font-size:1px;height:1px;line-height:1px;margin:0 2px 0 24px;min-height:1px;display:block; }