// Buttons
.btn {
  color: $main-text-color_dm !important;
  @include button-variant($main-border-color_dm, $color-btn-border_dm, $color-btn-border_dm, $color-btn-hover-border_dm, $main-border-color_dm, $color-btn-hover-border_dm);
}

.btn-danger {
  color: $danger_dm !important;
  &:hover {
    color: $white !important;
    background-color: darken($danger_dm, 10) !important;
    border-color: $danger_dm !important;
  }
}

.btn-link {
  background-color: transparent;
  border-color: transparent;
  &:hover {
    color: $info_dm;
    background-color: transparent;
    border-color: transparent;
  }
}

button#accountNav,
button#accountNav:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
