
$success_dm:       #56d364;
$info_dm:          #58a6ff;
$warning_dm:       #e3b341;
$danger_dm:        #f85149;

// Base Colors
$main-text-color_dm: #c9d1d9;
$main-bg-color_dm: #06090F;
$secondary-bg-color_dm: #0d1117;
$secondary-bg-hover-color_dm: #161b22;

$main-border-color_dm: #21262d ;

// Buttons
$color-btn-border_dm: #30363d;
$color-btn-hover-border_dm: #8b949e;
