<%= search_form_for [:admin, @search] do |f| %>
  <%= content_for :table_filter_main_search do %>
    <div class="form-control d-flex align-items-center py-0 focus-shadow-blue focus-border-blue">
      <%= icon "search", class: "mr-3 text-muted" %>
      <%= f.search_field :name_cont,
                     class: "form-control-plaintext px-0",
                     data: {
                       ransack_target: :input,
                       badge_name: Spree.t(:name),
                     },
                     placeholder: "#{Spree.t(:search_by)} #{Spree.t(:name)}" %>
    </div>
  <% end %>

<% end %>
