<tr class="option_value fields" id="<%= spree_dom_id(f.object) %>"  data-hook="option_value">
  <td class="name"><span class="handle"></span> </span><%= f.text_field :name %></td>
  <td class="presentation"><%= f.text_field :presentation %></td>
  <td class="actions"><%= link_to_remove_fields t(:remove), f %></td>
</tr>
