<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Option Types' } %>

<div id="selected-options" data-hook>
  <%= render :partial => 'selected' %>
</div>
