openapi: 3.0.0
servers:
  - url: 'https://demo.spreecommerce.org'
    description: demo
  - url: 'http://localhost:3000'
    description: localhost
info:
  version: 2.0.0
  title: Storefront API v2
  description: |-
    Storefront API v2 is a modern REST API based on the [JSON API spec](https://jsonapi.org/) which provides you with necessary endpoints to build amazing user intefaces either in JavaScript frameworks or native mobile libraries.


    Download [official JavaScript & TypeScript SDK](https://github.com/spree/spree-storefront-api-v2-js-sdk)


    Import to [Postman](https://raw.githubusercontent.com/spree/spree/master/api/docs/v2/storefront/index.yaml)
  contact:
    name: Spark Solutions
    url: 'https://sparksolutions.co'
    email: we@sparksolutions.co
  license:
    name: 'https://github.com/spree/spree/blob/master/license.md'
    url: BSD-3-Clause
paths:
  /api/v2/storefront/account:
    get:
      description: Returns current user information
      summary: Get an Account
      tags:
        - Account
      operationId: account-information
      parameters:
        - $ref: '#/components/parameters/AccountIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      responses:
        '200':
          description: ok
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                example-1:
                  value:
                    data:
                      id: '1'
                      type: user
                      attributes:
                        email: spree@example.com
                        store_credits: 0
                        completed_orders: 0
                      relationships:
                        default_billing_address:
                          data:
                            id: '2'
                            type: address
                        default_shipping_address:
                          data:
                            id: '1'
                            type: address
                    included:
                      - id: '2'
                        type: address
                        attributes:
                          firstname: Destiny
                          lastname: Maggio
                          address1: 12775 Runolfsdottir Greens
                          address2: Apt. 704
                          city: Kochmouth
                          zipcode: '16804'
                          phone: 1-257-860-8433
                          state_name: New York
                          company: null
                          country_name: United States
                          country_iso3: USA
                          country_iso: US
                          state_code: NY
                      - id: '1'
                        type: address
                        attributes:
                          firstname: Aimee
                          lastname: Jast
                          address1: 56593 Baumbach Meadows
                          address2: Suite 632
                          city: Port Michaelafort
                          zipcode: '16804'
                          phone: (846)556-4478
                          state_name: New York
                          company: null
                          country_name: United States
                          country_iso3: USA
                          country_iso: US
                          state_code: NY
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
    post:
      description: |-
        Creates a new account

        This endpoint requires [Spree Auth Devise](https://github.com/spree/spree_auth_devise) gem installed
      summary: Create an Account
      tags:
        - Account
      operationId: account-creation
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      example: john@snow.org
                    password:
                      type: string
                      example: spree123
                    password_confirmation:
                      type: string
                      example: spree123
        description: ''
      responses:
        '200':
          description: ok
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Account'
        '422':
          description: Validation errors
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: |-
        Updates user account

        This endpoint requires [Spree Auth Devise](https://github.com/spree/spree_auth_devise) gem installed
      summary: Update an Account
      tags:
        - Account
      operationId: account-updates
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      example: john@snow.org
                    bill_address_id:
                      type: string
                      example: '1'
                    ship_address_id:
                      type: string
                      example: '1'
                    password:
                      type: string
                      example: spree123
                    password_confirmation:
                      type: string
                      example: spree123
      responses:
        '200':
          description: ok
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Account'
        '422':
          description: Validation errors
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []
  /api/v2/storefront/account/addresses:
    get:
      description: Returns a list of Addresses for the signed in User
      summary: List of Addresses
      tags:
        - Account
      operationId: addresses-list
      responses:
        '200':
          description: Listing user addresses.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AddressList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
    post:
      description: Create a new Address for the signed in User
      summary: Create an Address
      tags:
        - Account
      operationId: create-address
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                address:
                  $ref: '#/components/schemas/AddressPayload'
      responses:
        '200':
          description: Created Address.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AddressList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
  '/api/v2/storefront/account/addresses/{id}':
    delete:
      description: 'Removes selected Address for the signed in User. It uses soft-delete for addresses with shipments and orders.'
      tags:
        - Account
      operationId: remove-address
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Requested Address has been removed from the User Account
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - bearerAuth: []
      summary: Remove Address
    patch:
      description: Update selected Address for the signed in User
      summary: Update Address
      tags:
        - Account
      operationId: update-address
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                address:
                  $ref: '#/components/schemas/AddressPayload'
      responses:
        '200':
          description: Updated Address.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AddressList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
  /api/v2/storefront/account/credit_cards:
    get:
      description: Returns a list of Credit Cards for the signed in User
      summary: List of Credit Cards
      tags:
        - Account
      operationId: credit-cards-list
      responses:
        '200':
          description: Listing user credit cards.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreditCardList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: 'filter[payment_method_id]'
          schema:
            type: string
          example: "2"
          description: Filter based on payment method ID
        - $ref: '#/components/parameters/CreditCardIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
  '/api/v2/storefront/account/credit_cards/{id}':
    delete:
      description: 'Removes selected credit card for the signed in User. It uses soft-delete.'
      tags:
        - Account
      operationId: remove-credit-card
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/CreditCardIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      responses:
        '204':
          description: Requested Credit Card has been removed from the User Account
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - bearerAuth: []
      summary: Remove Credit Card
  /api/v2/storefront/account/credit_cards/default:
    get:
      description: Return the User's default Credit Card
      summary: Get Default Credit Card
      tags:
        - Account
      operationId: default-credit-card
      responses:
        '200':
          description: Listing user default credit card.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreditCard'
        '403':
          $ref: '#/components/responses/403Forbidden'
      parameters:
        - $ref: '#/components/parameters/CreditCardIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      security:
        - bearerAuth: []
  /api/v2/storefront/account/orders:
    get:
      description: Returns Orders placed by the User. Only completed ones.
      summary: List of Orders
      tags:
        - Account
      operationId: completed-orders
      responses:
        '200':
          description: Listing user completed orders.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CartList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      security:
        - bearerAuth: []
  '/api/v2/storefront/account/orders/{order_number}':
    get:
      description: Return the User's completed Order
      summary: Get an Order
      tags:
        - Account
      operationId: completed-user-order
      responses:
        '200':
          description: Listing user completed order.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '403':
          $ref: '#/components/responses/403Forbidden'
      parameters:
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      security:
        - bearerAuth: []
  '/api/v2/storefront/order_status/{order_number}':
    get:
      description: |-
        Returns placed Order information. This endpoint is useful for fetching Order information for non-signed in Users. This way customers without an account can check their Order status (shipment/paymnet/processing/etc).

        To fetch an Order you will need to use Order Token for authorization.
      summary: Get an Order Status
      tags:
        - Order Status
      operationId: order-status
      responses:
        '200':
          description: Requested Order information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      parameters:
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      security:
        - orderToken: []
  /api/v2/storefront/cart:
    post:
      description: |-
        Creates new Cart and returns its attributes.

        The **token** attribute can be used for authorization of all operations on this particular Cart and Checkout.

        It is required to create a Cart before adding items to the Cart. After completing the Checkout you will need to create a new Cart.
      tags:
        - Cart
      operationId: create-cart
      responses:
        '201':
          description: Cart was successfully created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
              examples:
                example:
                  value:
                    data:
                      id: '4'
                      type: cart
                      attributes:
                        number: R247540734
                        item_total: '0.0'
                        total: '0.0'
                        ship_total: '0.0'
                        adjustment_total: '0.0'
                        created_at: '2020-02-16T07:14:54.617Z'
                        updated_at: '2020-02-16T07:14:54.617Z'
                        completed_at: null
                        included_tax_total: '0.0'
                        additional_tax_total: '0.0'
                        display_additional_tax_total: $0.00
                        display_included_tax_total: $0.00
                        tax_total: '0.0'
                        currency: USD
                        state: cart
                        token: zdmOIe5GUtZhZdh0zeFv9w1581837294588
                        email: example@example.com
                        display_item_total: $0.00
                        display_ship_total: $0.00
                        display_adjustment_total: $0.00
                        display_tax_total: $0.00
                        promo_total: '0.0'
                        display_promo_total: $0.00
                        item_count: 0
                        special_instructions: null
                        display_total: $0.00
                      relationships:
                        line_items:
                          data: []
                        variants:
                          data: []
                        promotions:
                          data: []
                        payments:
                          data: []
                        shipments:
                          data: []
                        user:
                          data: null
                        billing_address:
                          data: null
                        shipping_address:
                          data: null
                    included:
                      - id: "2"
                        type: "promotion"
                        attributes:
                          name: "10% Discount"
                          description: "Super discount for you"
                          amount: "-22.0"
                          display_amount: "$22.00"
                      - id: "4"
                        type: "user"
                        attributes:
                          email: "example@example.com"
                      - id: "1"
                        type: "address"
                        attributes:
                          firstname: "Bob"
                          lastname: "Billerson"
                          address1: "1600 Clear View Pkwy"
                          address2: "Mountain View"
                          city: "LA"
                          zipcode: '94043'
                          phone: "(+1) 123 456 789"
                          state_name: "California"
                          state_code: "CA"
                          country_name: "United States of America"
                          country_iso3: "USA"
                          company: null
                      - id: "2832"
                        type: "shipment"
                        attributes:
                          number: "H121354"
                          free: false
                          final_price: '10.0'
                          display_final_price: '$10.00'
                          tracking_url: 'https://tools.usps.com/go/TrackConfirmAction?tRef=fullpage&tLc=2&text28777=&tLabels=4123412434%2C'
                          state: "shipped"
                          shipped_at: '2019-01-02 13:42:12'


      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Create a Cart
    delete:
      description: |-
        Deletes Cart.
        Endpoint can be called after PATCH /api/v2/storefront/cart/empty, or individually.
        Shipments are canceled, payments are voided, then Line Items, Shipments & Payments are deleted.
      tags:
        - Cart
      operationId: deletes-cart
      responses:
        '204':
          description: Current Cart has been removed.
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - bearerAuth: [ ]
      summary: Deletes Cart
    get:
      description: Returns contents of the currently used Cart
      tags:
        - Cart
      operationId: get-cart
      responses:
        '200':
          description: Correct cart was returned
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
              examples: {}
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Get a Cart
  /api/v2/storefront/cart/add_item:
    post:
      description: |-
        Additional parameters passed in **options** hash must be registered in `config/initializers/spree.rb`, eg.

        ```
          Spree::PermittedAttributes.line_item_attributes << :foo
        ```
      tags:
        - Cart
      operationId: add-item
      responses:
        '200':
          description: Item was added to the Cart successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                variant_id:
                  type: string
                quantity:
                  type: integer
                options:
                  type: object
                  description: 'Additional custom options. You need to add them via `Spree::PermittedAttributes.line_item_attributes << :foo` in `config/initializers/spree.rb`'
              example:
                variant_id: '1'
                quantity: 5
      summary: Add an Item to Cart
  /api/v2/storefront/cart/set_quantity:
    patch:
      description: Sets the quantity of a given line item. It has to be a positive integer greater than 0.
      tags:
        - Cart
      operationId: set-quantity
      responses:
        '200':
          description: New quantity has been successfully set for a requested Line Item
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '422':
          description: Stock quantity is not sufficient for this request to be fulfielled
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                line_item_id:
                  type: string
                quantity:
                  type: integer
              example:
                line_item_id: '1'
                quantity: 5
      summary: Set Quantity of a Line Item
  '/api/v2/storefront/cart/remove_line_item/{id}':
    delete:
      description: |-
        Removes Line Item from Cart. After removing Item system will re-calculate taxes, promotions, shipments etc.

        Updated Cart will be returned.
      tags:
        - Cart
      operationId: remove-line-item
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      responses:
        '200':
          description: Requested Line Item has been removed from the Cart
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Remove Line Item
  /api/v2/storefront/cart/empty:
    patch:
      description: |-
        All line items will be removed from the cart and the order’s information will be cleared. Inventory that was previously depleted by this order will be repleted.

        Returns updated Cart.
      tags:
        - Cart
      operationId: empty-cart
      responses:
        '200':
          description: Cart has been successfully emptied
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Empty the Cart
  /api/v2/storefront/cart/apply_coupon_code:
    patch:
      description: Applies a coupon code to the Cart
      tags:
        - Cart
      operationId: apply-coupon-code
      responses:
        '200':
          description: Coupon code was applied successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '422':
          description: Coupon code couldn't be applied
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                coupon_code:
                  type: string
                  example: DISCOUNT10
      summary: Apply Coupon Code
  '/api/v2/storefront/cart/remove_coupon_code/{coupon_code}':
    delete:
      description: 'Removes a coupon code from the Cart. If no `coupon_code` aprameter is passed , it will remove all applied coupon codes.'
      tags:
        - Cart
      operationId: remove-coupon-code
      parameters:
        - name: coupon_code
          in: path
          required: true
          description: Selected Coupon code for removal
          schema:
            type: string
          example: DISCOUNT10
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      responses:
        '200':
          description: Coupon code was removed successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '422':
          description: Coupon code couldn't be removed
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Remove Coupon Code(s)
  /api/v2/storefront/cart/estimate_shipping_rates:
    get:
      description: Returns a list of Estimated Shipping Rates for Cart. Those are only estimates and can vary from the final shipping rates.
      tags:
        - Cart
      operationId: estimate-shipping-rates
      parameters:
        - name: country_iso
          in: query
          description: Pass country ISO or ISO3 symbol to get estimations for this destination. If no code is passed we'll try to use Cart shipping address country or the default Country for the current Store.
          schema:
            type: string
          example: USA
        - $ref: '#/components/parameters/SparseFieldsParam'
      responses:
        '200':
          description: Returns a list of estimated Shipping Rates for Cart
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EstimateShippingRatesList'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Get estimated Shipping Rates
  /api/v2/storefront/cart/associate:
    patch:
      description: Associates a guest cart with the currently signed in user.
      tags:
        - Cart
      operationId: Associate
      parameters:
        - name: guest_order_token
          in: query
          description: Token of the guest cart to be associated with user
          schema:
            type: string
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      responses:
        '200':
          description: Cart has been successfully associated
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          description: Returned for already assigned cart
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []
      summary: Associate a guest cart to a user
  /api/v2/storefront/checkout:
    patch:
      description: |-
        You can run multiple Checkout updates with different data types.


        ### Update the Customer information

        ```
        PATCH /checkout
        ```

        ```json
          "order": {
            "email": "john@snow.org",
            "bill_address_attributes": {
              "firstname": "John",
              "lastname": "Snow",
              "address1": "7735 Old Georgetown Road",
              "city": "Bethesda",
              "phone": "3014445002",
              "zipcode": "20814",
              "state_name": "MD",
              "country_iso": "US"
            },
            "ship_address_attributes": {
              "firstname": "John",
              "lastname": "Snow",
              "address1": "7735 Old Georgetown Road",
              "city": "Bethesda",
              "phone": "3014445002",
              "zipcode": "20814",
              "state_name": "MD",
              "country_iso": "US"
            }
          }
        ```

        ###  Fetch Shipping Rates

        ```
        GET /checkout/shipping_rates
        ```

        Order can have multiple Shipments, eg. some Items will be shipped right away, and some needs to be backordered.


        Each Shipment can have different Shipping Method/Rate selected.


        ### Select shipping method(s)

        ```
        PATCH /checkout
        ```

        ```json
          "order": {
            "shipments_attributes": [
              {
                "id": "1",
                "selected_shipping_rate_id": "1"
              }
            ]
          }
        ```

        `selected_shipping_rate_id` is the ID of a Shipping Rate. `id` is the ID of the Shipment itself. You can update multiple
          Shipments at once.


        ### Add Payment Source(s)

        ```
        PATCH /checkout
        ```

        ```json
          {
            "order": {
              "payments_attributes": [
                {
                  "payment_method_id": "1"
                }
              ]
            },
            "payment_source": {
              1: {
                "number": "4111111111111111",
                "month": "01",
                "year": "2022",
                "verification_value": "123",
                "name": "John Doe"
              }
            }
          }
        ```

        You can obtain `payment_method_id` by querying `GET /checkout/payment_methods` endpoint.

        ### Complete checkout

        ```
        PATCH /checkout/complete
        ```

        This will complete the Checkout and mark the Order as completed. You cannot execute any operations on this Order anymore via Storefront API. Further operations on the Order are possible via Platform API.
      tags:
        - Checkout
      operationId: update-checkout
      responses:
        '200':
          description: Checkout was updated
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          description: Checkout couldn't be updated
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                order:
                  type: object
                  properties:
                    email:
                      type: string
                      example: john@snow.org
                    bill_address_attributes:
                      $ref: '#/components/schemas/AddressPayload'
                    ship_address_attributes:
                      $ref: '#/components/schemas/AddressPayload'
                    payments_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          payment_method_id:
                            type: string
                            example: "1"
                            description: ID of selected payment method
                    shipments_attributes:
                      type: object
                payment_source:
                  type: object
      summary: Update Checkout
  /api/v2/storefront/checkout/next:
    patch:
      description: Goes to the next Checkout step
      tags:
        - Checkout
      operationId: checkout-next
      responses:
        '200':
          description: Checkout transitioned to the next step
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          description: Checkout couldn't transition to the next step
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Next Checkout Step
  /api/v2/storefront/checkout/advance:
    patch:
      description: 'Advances Checkout to the furthest Checkout step validation allows, until the Complete step'
      tags:
        - Checkout
      operationId: advance-checkout
      responses:
        '200':
          description: Checkout was advanced to the furthest step
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          description: Checkout couldn't transition to the next step
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Advance Checkout
  /api/v2/storefront/checkout/complete:
    patch:
      description: Completes the Checkout
      tags:
        - Checkout
      operationId: complete-checkout
      responses:
        '200':
          description: Checkout was completed
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          description: Checkout couldn't be completed
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
      summary: Complete Checkout
  /api/v2/storefront/checkout/add_store_credit:
    post:
      description: 'Adds Store Credit payment if the currently signed in User has any available.'
      tags:
        - Checkout
      operationId: add-store-credit
      responses:
        '200':
          description: Store Credit payment created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          description: Store Credit couldn't be created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - in: query
          name: amount
          description: Amount of Store Credit to use. As much as possible Store Credit will be applied if no amount is passed.
          schema:
            type: string
          example: "100"
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Add Store Credit
  /api/v2/storefront/checkout/remove_store_credit:
    post:
      description: Remove Store Credit payments if any applied
      tags:
        - Checkout
      operationId: remove-store-credit
      responses:
        '200':
          description: Store Credit payment removed
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          description: Store Credit payments weren't removed
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
      summary: Remove Store Credit
  /api/v2/storefront/checkout/payment_methods:
    get:
      description: Returns a list of available Payment Methods for this Checkout
      tags:
        - Checkout
      operationId: payment-methods
      responses:
        '200':
          description: Returns a list of available Payment Methods
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsList'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: List of Payment Methods
  /api/v2/storefront/checkout/shipping_rates:
    get:
      description: Returns a list of available Shipping Rates for Checkout. Shipping Rates are grouped against Shipments. Each checkout can have multiple Shipments eg. some products are available in stock and will be send out instantly and some needs to be backordered.
      tags:
        - Checkout
      operationId: shipping-rates
      responses:
        '200':
          description: Returns a list of available Shipping Rates for Checkout
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ShippingRatesList'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: List of Shipping Rates
  /api/v2/storefront/products:
    get:
      description: Returns a list of Products for the current Store.
      tags:
        - Products
      operationId: products-list
      parameters:
        - $ref: '#/components/parameters/FilterByIds'
        - $ref: '#/components/parameters/FilterBySKUs'
        - in: query
          name: 'filter[price]'
          schema:
            type: string
          example: '10,100'
          description: 'Filter Products based on price (minimum, maximum range)'
        - in: query
          name: 'filter[taxons]'
          schema:
            type: string
          example: '1,2,3,4,5,6,7,8,9,10,11'
          description: 'Filter Products based on taxons (IDs of categories, brands, etc)'
        - in: query
          name: 'filter[name]'
          schema:
            type: string
          example: rails
          description: 'Find Products with matching name (supports wild-card, partial-word match search)'
        - in: query
          name: 'filter[options][tshirt-color]'
          schema:
            type: string
          example: Red
          description: 'Find Products with Variants that have the specified option (eg. color, size) and value (eg. red, XS)'
        - in: query
          name: 'filter[properties][brand-name]'
          schema:
            type: string
          example: alpha
          description: 'Find Products with Property Brand Name with value Alpha'
        - in: query
          name: 'filter[show_deleted]'
          schema:
            type: boolean
          example: true
          description: Returns also deleted products
        - in: query
          name: 'filter[show_discontinued]'
          schema:
            type: boolean
          example: true
          description: Returns also discontinued products
        - in: query
          name: 'filter[in_stock]'
          schema:
            type: boolean
          example: true
          description: Returns only in stock products
        - in: query
          name: 'filter[backorderable]'
          schema:
            type: boolean
          example: true
          description: Returns only backorderable products
        - in: query
          name: 'filter[purchasable]'
          schema:
            type: boolean
          example: true
          description: Returns only in stock or backorderable products
        - in: query
          name: sort
          schema:
            type: string
          example: '-updated_at,price,-name,created_at,-available_on,sku'
          description: |-
            Sort products based on: <ul>
              <li>name (ascending/descending)</li>
              <li>price (ascending/descending)</li>
              <li>available_on (ascending/descending)</li>
              <li>created_at (ascending/descending)</li>
              <li>updated_at (ascending/descending)</li>
              <li>sku (ascending/descending)</li>
            </ul> Use <q>-</q> sign to set descending sort, eg. <q>-updated_at</q>
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/ProductIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
        - $ref: '#/components/parameters/ProductImageTransformationSizeParam'
        - $ref: '#/components/parameters/ProductImageTransformationQualityParam'
      responses:
        '200':
          description: Returns a list of Products
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ProductsList'
      summary: List of Products
  '/api/v2/storefront/products/{product_slug}':
    get:
      description: |-
        Returns Product details. You can use product permalink:

        ```
        GET /api/v2/storefront/products/knitted-high-neck-sweater
        ```

        Or Product ID:

        ```
        GET /api/v2/storefront/products/21
        ```

        **Note** API will attempt a permalink lookup before an ID lookup.
      tags:
        - Products
      operationId: show-product
      parameters:
        - $ref: '#/components/parameters/ProductSlug'
        - $ref: '#/components/parameters/ProductIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsParam'
        - $ref: '#/components/parameters/ProductImageTransformationSizeParam'
        - $ref: '#/components/parameters/ProductImageTransformationQualityParam'
      responses:
        '200':
          description: Returns the requested Product
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                product with all of the associations:
                  value:
                    data:
                      id: '21'
                      type: product
                      attributes:
                        name: Knitted High Neck Sweater
                        description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                        price: '59.99'
                        currency: USD
                        display_price: $59.99
                        available_on: '2019-10-18T00:00:00.000-05:00'
                        slug: knitted-high-neck-sweater
                        meta_description: ''
                        meta_keywords: ''
                        updated_at: '2020-02-09T10:36:29.130-06:00'
                        purchasable: true
                        in_stock: true
                        backorderable: false
                      relationships:
                        variants:
                          data:
                            - id: '264'
                              type: variant
                            - id: '265'
                              type: variant
                            - id: '266'
                              type: variant
                            - id: '267'
                              type: variant
                            - id: '268'
                              type: variant
                            - id: '269'
                              type: variant
                            - id: '270'
                              type: variant
                            - id: '271'
                              type: variant
                            - id: '272'
                              type: variant
                            - id: '273'
                              type: variant
                            - id: '274'
                              type: variant
                            - id: '275'
                              type: variant
                            - id: '276'
                              type: variant
                            - id: '277'
                              type: variant
                            - id: '278'
                              type: variant
                        option_types:
                          data:
                            - id: '1'
                              type: option_type
                            - id: '3'
                              type: option_type
                        product_properties:
                          data:
                            - id: '257'
                              type: product_property
                            - id: '258'
                              type: product_property
                            - id: '259'
                              type: product_property
                            - id: '260'
                              type: product_property
                            - id: '261'
                              type: product_property
                            - id: '262'
                              type: product_property
                            - id: '263'
                              type: product_property
                            - id: '264'
                              type: product_property
                        taxons:
                          data:
                            - id: '3'
                              type: taxon
                            - id: '8'
                              type: taxon
                            - id: '22'
                              type: taxon
                            - id: '24'
                              type: taxon
                        images:
                          data:
                            - id: '738'
                              type: image
                            - id: '715'
                              type: image
                            - id: '716'
                              type: image
                            - id: '717'
                              type: image
                            - id: '718'
                              type: image
                            - id: '719'
                              type: image
                            - id: '720'
                              type: image
                            - id: '722'
                              type: image
                            - id: '724'
                              type: image
                            - id: '726'
                              type: image
                            - id: '728'
                              type: image
                            - id: '730'
                              type: image
                            - id: '732'
                              type: image
                            - id: '734'
                              type: image
                            - id: '736'
                              type: image
                            - id: '714'
                              type: image
                            - id: '721'
                              type: image
                            - id: '731'
                              type: image
                            - id: '723'
                              type: image
                            - id: '739'
                              type: image
                            - id: '725'
                              type: image
                            - id: '733'
                              type: image
                            - id: '727'
                              type: image
                            - id: '737'
                              type: image
                            - id: '729'
                              type: image
                            - id: '735'
                              type: image
                        default_variant:
                          data:
                            id: '264'
                            type: variant
                    included:
                      - id: '264'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFFFFF_XS
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: white, Size: XS'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '715'
                                type: image
                          option_values:
                            data:
                              - id: '23'
                                type: option_value
                              - id: '1'
                                type: option_value
                      - id: '1'
                        type: option_type
                        attributes:
                          name: color
                          presentation: Color
                          position: 1
                        relationships:
                          option_values:
                            data:
                              - id: '1'
                                type: option_value
                              - id: '2'
                                type: option_value
                              - id: '3'
                                type: option_value
                              - id: '4'
                                type: option_value
                              - id: '5'
                                type: option_value
                              - id: '6'
                                type: option_value
                              - id: '7'
                                type: option_value
                              - id: '8'
                                type: option_value
                              - id: '9'
                                type: option_value
                              - id: '10'
                                type: option_value
                              - id: '11'
                                type: option_value
                              - id: '12'
                                type: option_value
                              - id: '13'
                                type: option_value
                              - id: '14'
                                type: option_value
                              - id: '15'
                                type: option_value
                              - id: '16'
                                type: option_value
                              - id: '17'
                                type: option_value
                              - id: '18'
                                type: option_value
                              - id: '19'
                                type: option_value
                      - id: '3'
                        type: option_type
                        attributes:
                          name: size
                          presentation: Size
                          position: 2
                        relationships:
                          option_values:
                            data:
                              - id: '23'
                                type: option_value
                              - id: '24'
                                type: option_value
                              - id: '25'
                                type: option_value
                              - id: '26'
                                type: option_value
                              - id: '27'
                                type: option_value
                      - id: '257'
                        type: product_property
                        attributes:
                          value: Women
                          name: type
                          description: Type
                      - id: '258'
                        type: product_property
                        attributes:
                          value: Women
                          name: collection
                          description: Collection
                      - id: '259'
                        type: product_property
                        attributes:
                          value: Wilson
                          name: manufacturer
                          description: Manufacturer
                      - id: '260'
                        type: product_property
                        attributes:
                          value: Beta
                          name: brand
                          description: Brand
                      - id: '261'
                        type: product_property
                        attributes:
                          value: 90% Cotton 10% Elastan
                          name: material
                          description: Material
                      - id: '262'
                        type: product_property
                        attributes:
                          value: Form
                          name: fit
                          description: Fit
                      - id: '263'
                        type: product_property
                        attributes:
                          value: Women's
                          name: gender
                          description: Gender
                      - id: '264'
                        type: product_property
                        attributes:
                          value: knittedhighnecksweater_59.99
                          name: model
                          description: Model
                      - id: '3'
                        type: taxon
                        attributes:
                          name: Women
                          pretty_name: Categories -> Women
                          permalink: women
                          seo_title: Women
                          meta_title: null
                          meta_description: null
                          meta_keywords: null
                          left: 16
                          right: 35
                          position: 0
                          depth: 1
                          updated_at: '2020-02-15T01:01:16.550-06:00'
                          is_root: false
                          is_child: true
                          is_leaf: false
                        relationships:
                          parent:
                            data:
                              id: '1'
                              type: taxon
                          taxonomy:
                            data:
                              id: '1'
                              type: taxonomy
                          children:
                            data:
                              - id: '8'
                                type: taxon
                              - id: '9'
                                type: taxon
                              - id: '10'
                                type: taxon
                              - id: '11'
                                type: taxon
                              - id: '12'
                                type: taxon
                              - id: '13'
                                type: taxon
                              - id: '27'
                                type: taxon
                          products:
                            data:
                              - id: '21'
                                type: product
                              - id: '22'
                                type: product
                              - id: '23'
                                type: product
                              - id: '24'
                                type: product
                              - id: '25'
                                type: product
                              - id: '26'
                                type: product
                              - id: '27'
                                type: product
                              - id: '28'
                                type: product
                              - id: '29'
                                type: product
                              - id: '30'
                                type: product
                              - id: '31'
                                type: product
                              - id: '32'
                                type: product
                              - id: '33'
                                type: product
                              - id: '34'
                                type: product
                              - id: '35'
                                type: product
                              - id: '36'
                                type: product
                              - id: '37'
                                type: product
                              - id: '38'
                                type: product
                              - id: '39'
                                type: product
                              - id: '40'
                                type: product
                              - id: '41'
                                type: product
                              - id: '42'
                                type: product
                              - id: '43'
                                type: product
                              - id: '44'
                                type: product
                              - id: '45'
                                type: product
                              - id: '46'
                                type: product
                              - id: '47'
                                type: product
                              - id: '48'
                                type: product
                              - id: '49'
                                type: product
                              - id: '50'
                                type: product
                              - id: '51'
                                type: product
                              - id: '52'
                                type: product
                              - id: '53'
                                type: product
                              - id: '54'
                                type: product
                              - id: '55'
                                type: product
                              - id: '56'
                                type: product
                              - id: '57'
                                type: product
                              - id: '58'
                                type: product
                              - id: '59'
                                type: product
                              - id: '60'
                                type: product
                              - id: '61'
                                type: product
                              - id: '62'
                                type: product
                              - id: '63'
                                type: product
                              - id: '64'
                                type: product
                              - id: '65'
                                type: product
                              - id: '66'
                                type: product
                              - id: '67'
                                type: product
                              - id: '68'
                                type: product
                              - id: '69'
                                type: product
                              - id: '70'
                                type: product
                              - id: '71'
                                type: product
                              - id: '72'
                                type: product
                              - id: '73'
                                type: product
                              - id: '74'
                                type: product
                              - id: '75'
                                type: product
                              - id: '76'
                                type: product
                              - id: '77'
                                type: product
                              - id: '78'
                                type: product
                              - id: '79'
                                type: product
                              - id: '80'
                                type: product
                              - id: '81'
                                type: product
                              - id: '82'
                                type: product
                              - id: '83'
                                type: product
                          image:
                            data: null
                      - id: '8'
                        type: taxon
                        attributes:
                          name: Sweaters
                          pretty_name: Categories -> Women -> Sweaters
                          permalink: women/sweaters
                          seo_title: Sweaters
                          meta_title: null
                          meta_description: null
                          meta_keywords: null
                          left: 17
                          right: 18
                          position: 0
                          depth: 2
                          updated_at: '2020-02-13T08:34:37.617-06:00'
                          is_root: false
                          is_child: true
                          is_leaf: true
                        relationships:
                          parent:
                            data:
                              id: '3'
                              type: taxon
                          taxonomy:
                            data:
                              id: '1'
                              type: taxonomy
                          children:
                            data: []
                          products:
                            data:
                              - id: '21'
                                type: product
                              - id: '22'
                                type: product
                              - id: '23'
                                type: product
                              - id: '24'
                                type: product
                              - id: '25'
                                type: product
                              - id: '26'
                                type: product
                              - id: '27'
                                type: product
                          image:
                            data:
                              id: '4'
                              type: taxon_image
                      - id: '22'
                        type: taxon
                        attributes:
                          name: Summer Sale
                          pretty_name: Categories -> Summer Sale
                          permalink: summer-sale
                          seo_title: Summer Sale
                          meta_title: null
                          meta_description: null
                          meta_keywords: null
                          left: 60
                          right: 61
                          position: 0
                          depth: 1
                          updated_at: '2020-02-15T00:59:47.463-06:00'
                          is_root: false
                          is_child: true
                          is_leaf: true
                        relationships:
                          parent:
                            data:
                              id: '1'
                              type: taxon
                          taxonomy:
                            data:
                              id: '1'
                              type: taxonomy
                          children:
                            data: []
                          products:
                            data:
                              - id: '75'
                                type: product
                              - id: '43'
                                type: product
                              - id: '5'
                                type: product
                              - id: '14'
                                type: product
                              - id: '103'
                                type: product
                              - id: '85'
                                type: product
                              - id: '22'
                                type: product
                              - id: '79'
                                type: product
                              - id: '10'
                                type: product
                              - id: '41'
                                type: product
                              - id: '66'
                                type: product
                              - id: '55'
                                type: product
                              - id: '67'
                                type: product
                              - id: '93'
                                type: product
                              - id: '112'
                                type: product
                              - id: '16'
                                type: product
                              - id: '7'
                                type: product
                              - id: '51'
                                type: product
                              - id: '3'
                                type: product
                              - id: '50'
                                type: product
                              - id: '21'
                                type: product
                              - id: '73'
                                type: product
                              - id: '30'
                                type: product
                              - id: '2'
                                type: product
                              - id: '109'
                                type: product
                              - id: '13'
                                type: product
                              - id: '24'
                                type: product
                              - id: '47'
                                type: product
                              - id: '42'
                                type: product
                              - id: '60'
                                type: product
                              - id: '99'
                                type: product
                          image:
                            data: null
                      - id: '24'
                        type: taxon
                        attributes:
                          name: Gamma
                          pretty_name: Brands -> Gamma
                          permalink: brands/gamma
                          seo_title: Gamma
                          meta_title: null
                          meta_description: null
                          meta_keywords: null
                          left: 64
                          right: 65
                          position: 0
                          depth: 1
                          updated_at: '2020-02-13T08:35:13.119-06:00'
                          is_root: false
                          is_child: true
                          is_leaf: true
                        relationships:
                          parent:
                            data:
                              id: '23'
                              type: taxon
                          taxonomy:
                            data:
                              id: '2'
                              type: taxonomy
                          children:
                            data: []
                          products:
                            data:
                              - id: '21'
                                type: product
                          image:
                            data: null
                      - id: '265'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFFFFF_S
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: white, Size: S'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '716'
                                type: image
                          option_values:
                            data:
                              - id: '24'
                                type: option_value
                              - id: '1'
                                type: option_value
                      - id: '266'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFFFFF_M
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: white, Size: M'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '717'
                                type: image
                          option_values:
                            data:
                              - id: '25'
                                type: option_value
                              - id: '1'
                                type: option_value
                      - id: '267'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFFFFF_L
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: white, Size: L'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '718'
                                type: image
                          option_values:
                            data:
                              - id: '26'
                                type: option_value
                              - id: '1'
                                type: option_value
                      - id: '268'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFFFFF_XL
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: white, Size: XL'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '719'
                                type: image
                          option_values:
                            data:
                              - id: '27'
                                type: option_value
                              - id: '1'
                                type: option_value
                      - id: '269'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#0000FF_XS
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: blue, Size: XS'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '720'
                                type: image
                              - id: '721'
                                type: image
                          option_values:
                            data:
                              - id: '23'
                                type: option_value
                              - id: '12'
                                type: option_value
                      - id: '270'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#0000FF_S
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: blue, Size: S'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '722'
                                type: image
                              - id: '723'
                                type: image
                          option_values:
                            data:
                              - id: '24'
                                type: option_value
                              - id: '12'
                                type: option_value
                      - id: '271'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#0000FF_M
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: blue, Size: M'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '724'
                                type: image
                              - id: '725'
                                type: image
                          option_values:
                            data:
                              - id: '25'
                                type: option_value
                              - id: '12'
                                type: option_value
                      - id: '272'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#0000FF_L
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: blue, Size: L'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '726'
                                type: image
                              - id: '727'
                                type: image
                          option_values:
                            data:
                              - id: '26'
                                type: option_value
                              - id: '12'
                                type: option_value
                      - id: '273'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#0000FF_XL
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: blue, Size: XL'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '728'
                                type: image
                              - id: '729'
                                type: image
                          option_values:
                            data:
                              - id: '27'
                                type: option_value
                              - id: '12'
                                type: option_value
                      - id: '274'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFA6C9_XS
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: pink, Size: XS'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '730'
                                type: image
                              - id: '731'
                                type: image
                          option_values:
                            data:
                              - id: '23'
                                type: option_value
                              - id: '17'
                                type: option_value
                      - id: '275'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFA6C9_S
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: pink, Size: S'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '732'
                                type: image
                              - id: '733'
                                type: image
                          option_values:
                            data:
                              - id: '24'
                                type: option_value
                              - id: '17'
                                type: option_value
                      - id: '276'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFA6C9_M
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: pink, Size: M'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '734'
                                type: image
                              - id: '735'
                                type: image
                          option_values:
                            data:
                              - id: '25'
                                type: option_value
                              - id: '17'
                                type: option_value
                      - id: '277'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFA6C9_L
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: pink, Size: L'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '736'
                                type: image
                              - id: '737'
                                type: image
                          option_values:
                            data:
                              - id: '26'
                                type: option_value
                              - id: '17'
                                type: option_value
                      - id: '278'
                        type: variant
                        attributes:
                          name: Knitted High Neck Sweater
                          sku: knittedhighnecksweater_59.99_#FFA6C9_XL
                          price: '59.99'
                          currency: USD
                          display_price: $59.99
                          weight: '0.0'
                          height: null
                          width: null
                          depth: null
                          is_master: false
                          options_text: 'Color: pink, Size: XL'
                          slug: knitted-high-neck-sweater
                          description: Ipsam non accusamus aut est laborum at quia quos. Illum facilis mollitia fugit laborum. Eum sit sed similique optio et aut aperiam rerum. Vitae dolores consectetur rem voluptatem.
                          purchasable: true
                          in_stock: true
                          backorderable: false
                        relationships:
                          product:
                            data:
                              id: '21'
                              type: product
                          images:
                            data:
                              - id: '738'
                                type: image
                              - id: '739'
                                type: image
                          option_values:
                            data:
                              - id: '27'
                                type: option_value
                              - id: '17'
                                type: option_value
                      - id: '715'
                        type: image
                        attributes:
                          viewable_type: 'Spree::Variant'
                          viewable_id: 264
                          original_url: /rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc3NDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--343406ebe6fad9bcecd53789e87b50a923406578/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282REdkeVlYWnBkSGxKSWd0alpXNTBaWElHT2daRlZEb0xjbVZ6YVhwbFNTSU5NalF3ZURJME1ENEdPd2RVT2d0bGVIUmxiblJBQ0RvUFltRmphMmR5YjNWdVpFa2lDbk51YjNjeUJqc0hWRG9NY1hWaGJHbDBlV2xWIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--55d2b874f2b92848762f5542a52d8a1a60ee41ed/db-seeds-photos-products-Women-Sweaters-knitted%20high%20neck%20sweater-white-AdobeStock_239920052.jpg
                          styles:
                            - url: /rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc3NDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--343406ebe6fad9bcecd53789e87b50a923406578/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282REdkeVlYWnBkSGxKSWd0alpXNTBaWElHT2daRlZEb0xjbVZ6YVhwbFNTSUxORGg0TkRnK0Jqc0hWRG9MWlhoMFpXNTBRQWc2RDJKaFkydG5jbTkxYm1SSklncHpibTkzTWdZN0IxUTZESEYxWVd4cGRIbHBWUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--f00c53aec20b49aed5454c7e73da262bb7de03cb/db-seeds-photos-products-Women-Sweaters-knitted%20high%20neck%20sweater-white-AdobeStock_239920052.jpg
                              width: '48'
                              height: '48'
                            - url: /rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc3NDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--343406ebe6fad9bcecd53789e87b50a923406578/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282REdkeVlYWnBkSGxKSWd0alpXNTBaWElHT2daRlZEb0xjbVZ6YVhwbFNTSU5NVEF3ZURFd01ENEdPd2RVT2d0bGVIUmxiblJBQ0RvUFltRmphMmR5YjNWdVpFa2lDbk51YjNjeUJqc0hWRG9NY1hWaGJHbDBlV2xWIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--61487605dd071ec3b262eff05f117d15089f2a9e/db-seeds-photos-products-Women-Sweaters-knitted%20high%20neck%20sweater-white-AdobeStock_239920052.jpg
                              width: '100'
                              height: '100'
                            - url: /rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc3NDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--343406ebe6fad9bcecd53789e87b50a923406578/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282REdkeVlYWnBkSGxKSWd0alpXNTBaWElHT2daRlZEb0xjbVZ6YVhwbFNTSU5NalF3ZURJME1ENEdPd2RVT2d0bGVIUmxiblJBQ0RvUFltRmphMmR5YjNWdVpFa2lDbk51YjNjeUJqc0hWRG9NY1hWaGJHbDBlV2xWIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--55d2b874f2b92848762f5542a52d8a1a60ee41ed/db-seeds-photos-products-Women-Sweaters-knitted%20high%20neck%20sweater-white-AdobeStock_239920052.jpg
                              width: '240'
                              height: '240'
                            - url: /rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc3NDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--343406ebe6fad9bcecd53789e87b50a923406578/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282REdkeVlYWnBkSGxKSWd0alpXNTBaWElHT2daRlZEb0xjbVZ6YVhwbFNTSU5NVFl3ZURJd01ENEdPd2RVT2d0bGVIUmxiblJBQ0RvUFltRmphMmR5YjNWdVpFa2lDbk51YjNjeUJqc0hWRG9NY1hWaGJHbDBlV2xWIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b761ea5d8bbe6d23e75d79a37dd41c3d03599694/db-seeds-photos-products-Women-Sweaters-knitted%20high%20neck%20sweater-white-AdobeStock_239920052.jpg
                              width: '160'
                              height: '200'
                            - url: /rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc3NDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--343406ebe6fad9bcecd53789e87b50a923406578/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282REdkeVlYWnBkSGxKSWd0alpXNTBaWElHT2daRlZEb0xjbVZ6YVhwbFNTSU5ORFE0ZURZd01ENEdPd2RVT2d0bGVIUmxiblJBQ0RvUFltRmphMmR5YjNWdVpFa2lDbk51YjNjeUJqc0hWRG9NY1hWaGJHbDBlV2xWIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--0bfd6665076e2f1590d3566701325efccb89223a/db-seeds-photos-products-Women-Sweaters-knitted%20high%20neck%20sweater-white-AdobeStock_239920052.jpg
                              width: '448'
                              height: '600'
[...]
