div#checkout p { clear: both; margin-bottom: 15px; }
  div#checkout p label { float: left; width: 150px; position: relative; top: 5px; }
    div#checkout p span.req { color: red; margin-left: 2px; position: relative; top: -3px; }                
    div#methods p label { float:none; width: 150px; position: relative; top: 5px; }
  div#checkout p label#use_billing { top: 0px; }
  div#checkout p input, div#checkout p select { margin-left: 150px; width: 200px; margin: 0px; }
  div#checkout p label.error { color: red; clear: both; margin: 0px 0px 5px 150px; top: 0px; font-size: 11px; }

div#checkout div { clear: both; }
div#shipping div.inner, div#creditcard div.inner, div#shipping_method div.inner, div#confirm_order div.inner { display: none; }
  div#checkout h2 { height: 22px; background-color: #CCF; border: 1px solid black; padding: 5px; font-size: 18px; margin: 5px 0px; }
  div.checkout_disabled h2 { color: #AFAFAF; }

div#checkout div#creditcard p select { width: 75px; }
div#checkout p input#validate_billing,
div#checkout p input#validate_shipping,
div#checkout p input#select_shipping_method,
div#checkout p input#confirm_payment,
div#checkout div#confirm_order div.inner input { cursor: pointer; width: 100px; }

div#checkout div#bdisplay, div#checkout div#sdisplay { float: left; width: 300px; clear: right; }
div.clear { clear: both; }

div#errorExplanation h2 { height: 22px; background-color: #FF0000; border: none; padding: 5px; font-size: 18px; margin: 5px 0px; }
form#checkout_form div.fieldWithErrors { clear: none; }