* {
  margin:0pt;
  padding:0pt;
}

body {
  font-family:Tahoma,"Lucida Grande",Verdana,Sans-serif;
  font-size:76%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.6em;
  text-align:center;
}

a {
  text-decoration: none;
   color:#3875D7;
}
a:hover, a:active {
  color:#333333;
  text-decoration:underline;
}

a:link, a:visited {
  color:#3875D7;
}

img {
  border: 0;
}

#main {
  background:#FFFFFF none repeat scroll 0%;
  margin:0pt auto;
  position:relative;
  text-align:left;
  width:980px;
}

#header {
	height:110px;
}

#header h1 {
	height:45px;
	font:250% Trebuchet MS;
	padding:30px 20px 10px 20px;
}

/* ================ begin: tags ================  */

#tags_update { 
  font-size: 75%; 
  font-weight: normal; 
  color: white; 
  margin: 0px; 
  padding: 0px; 
  border:1px solid black; 
  background-color: #B36B00; 
}

#tags_update li:hover { 
  text-decoration: underline; 
}
/* ================ end: tags ================  */

/* ================ begin: admin-report ================  */

.admin-report {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 745px;
}

.admin-report th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.admin-report td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

/* ================ end: admin-report ================  */

/* ================ begin: admin-search ================  */

.admin-search {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.admin-search th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.admin-search td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

/* ================ end: admin-search ================  */


.even {
  background-color: #EFEFEF;  
}

/* ================ begin: flash ================  */
#flash-errors, #errorExplanation {
  margin: 0 auto;
  background: #EF1D61;/*#F69A91;*/
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
}
#flash-notice {
  background: #CAEFA5;
  padding: 10px;
  color: #051;
  text-align: center;
}
/* ================ end: flash ================  */

/* ================ begin: detail-grid ================  */
.detail-grid {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-grid th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.detail-grid td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
/* ================ end: detail-grid ================  */

/* =============== begin: pagination stuff ===============  */

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.pagination{
padding-top: 10px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 16px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #8FC2FF;
}

.pagination li.currentpage{
font-weight: bold;
padding: 0 5px;
border: 1px solid navy;
background-color: #2e6ab1;
color: #FFF;
}

.pagination li.disablepage{
padding: 0 5px;
border: 1px solid #929292;
color: #929292;
}

.pagination li.nextpage{
font-weight: bold;
}

* html .pagination li.currentpage, * html .pagination li.disablepage{ /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
margin-right: 5px;
padding-right: 0;
}
/* =============== end: pagination stuff ===============  */

.formError, .errorExplanation {
  color: #FF0000;
}

#report-search {
  margin-left: 10px;
}

/* ================ begin: order-summary ================  */
#order-num {
  font-size: 16px;
  font-weight: normal;
  border-bottom: none;
}
.order-summary {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 545px;
}

.order-summary th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.order-summary td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.order-address {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 545px;
}

.order-address th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid
}

.order-address td {
  padding-left: 5px;
  padding-right: 5px;
}



/* ================ end: order-summary ================  */

#search-col {
  padding-left: 10px;
}

.date-range {
  width: 100px;
}

/** ================ begin: basic-table =================== */
.basic-table {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 545px;
}

.basic-table th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.basic-table td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;	
}
/** ================ end: basic-table =================== */

/** ================ begin: full-table =================== */
.full-table {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 980px;
}

.full-table th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.full-table td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px; 
}
/** ================ end: full-table =================== */

/** ================ begin: two-col =================== */
table.two-col {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

table.two-col td {
	vertical-align: top;
}

td.two-col-left {
	border-right: 1px solid black;
//	width: 15%;
	padding: 5px;
}

td.two-col-right {
	padding: 5px;
}

.w15per {
	width: 15%;
}

/** ================ end: two-col  =================== */

/** ================ begin: limited-height-20  =================== */
.limited-height {
	max-height: 120px;
	height: 120px;
	width: 120%;
	overflow: auto;
}
/** ================ end: limited-height-20  =================== */

/** ================ begin: tree  =================== */
ul.tree {
	list-style-type: none;
}

ul.tree ul {
	list-style-type: none;
}

ul.tree li {
	margin-left: 25px;
//	padding-left: 25px;
}

.tree-nav-leaf {
	background: transparent url('/images/tree-nav-icons/bullet.gif') no-repeat scroll left center;
    cursor: default;
	padding-left: 20px;
	font-size: larger;
	font-weight: bold;
}

.tree-nav-open {
	background: transparent url('/images/tree-nav-icons/minus.gif') no-repeat scroll left center;
    cursor: pointer;
	padding-left: 20px;
	font-size: larger;
	font-weight: bold;
}

.tree-nav-closed {
	background: transparent url('/images/tree-nav-icons/plus.gif') no-repeat scroll left center;
    cursor: pointer;
	padding-left: 20px;
	font-size: larger;
	font-weight: bold;
}

.draggable {
	color: green;
	cursor: move;
}

.drop-hover {
    background-color: #ffffcc;
	border: 1px solid blue;
}

/** ================ end: tree  =================== */

/** ========= begin: taxon product management====== */
ul.plain {
	list-style-type: none;
}

.product-action {
	padding-left: 20px;
	cursor: pointer;
}

.product-action-remove {
	background: transparent url('/images/tree-nav-icons/minus.gif') no-repeat scroll left center;
}

.product-action-add {
	background: transparent url('/images/tree-nav-icons/plus.gif') no-repeat scroll left center;
}

.product-modified {
    color: #99ccff;
}

/** ========== end: taxon product management ======= */



.sku {
  width: 120px;
} 

.quantity {
  width: 60px;  
}

.no-bullets {
	list-style-type: none;
}

.zone-member-list li {
  padding: 0 3px;  
  list-style-type: none;
}

/** ================ begin: product-tabs  =================== */
#tab-container
	{
		padding-top: 10px;
		background: #fff;
	}

#tabnav
	{
		height: 20px;
		margin: 0;
		background: url(/images/tab_bottom.gif) repeat-x bottom;
	}

#tabnav li
	{
		margin: 0; 
		padding: 0;
  		display: inline;
  		list-style-type: none;
  	}
	
#tabnav a:link, #tabnav a:visited
	{
		float: left;
		background: #f3f3f3;
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		padding: 2px 10px 2px 10px;
		margin-right: 4px;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #666;
	}

#tabnav a:link.active, #tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}

#tabnav a:hover
	{
		background: #fff;
	}
/** ================ end: product-tabs  =================== */

/* === begin: menu styles === */
#menu td {
  font-size: 14px;
  padding-right: 10px;
}

#sub-menu td {
  font-size: 12px;
  padding-right: 10px;  
}

#detail-menu td {
  font-size: 10px;
  padding-right: 10px;  
}

#detail-menu tr {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* === end: menu styles === */

#shipment-num {
  border-bottom:medium none;
  font-size:16px;
  font-weight:normal;
}

table#creditcard select {
  padding-right: 7px;
}
