
body {
  color:#333333;
  font-family:Tahoma,"Lucida Grande",Verdana,Sans-serif;
  font-size:76%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  /*line-height:1.6em;*/
  /*text-align:center;*/
}

#main {
  background:#FFFFFF none repeat scroll 0%;
  margin:20pt auto;
  position:relative;
  text-align:left;
  width:980px;
}

#main-table {
  width:980px;
  border-collapse: collapse;
 
}

#main-content {
  padding-left: 10px;
  padding-right: 10px;
}


#shop-by-col {
	padding: 4px;
  width: 140px;
	vertical-align:top;
}

#shop-by-col h4{
	margin: 4px 0px 2px 0px;
}

#main-col{
	vertical-align:top;
}

.even {
  background-color: #EFEFEF;  
}

a {
  text-decoration: none;
  color: #0000ff; 
}

a:visited {
  color: #0000ff; 
}

a:hover {
  text-decoration:underline;
}

img {
  border: 0px;
}
/* =============== begin: pagination stuff ===============  */


.pagination{
	padding-top: 10px;
	font-size: 16px;
	text-align: left; /*Set to "right" to right align pagination interface*/
}
 
a.page, span.page {  
	padding: 0px 5px; 
	margin: 0 3px;
}
 
a.page {  	  
	text-decoration: none;  
	border: 1px solid #9aafe5;
	color: #2e6ab1;	
}

a.page:hover, a.page:active {  
	border: 1px solid #2b66a5;
	color: #000;
	background-color: LightYellow;	
} 

a.next_page {
	font-weight: bold;
}


span.disabled_page {  
	border: 1px solid #929292;
	color: #929292;
} 

span.current_page {  
	font-weight: bold;
	border: 1px solid navy;
	background-color: #2e6ab1;
	color: #FFF;
}


/* =============== end: pagination stuff ===============  */

.formError, .errorExplanation {
  color: #FF0000;
}

/* ================ begin: flash ================  */
#flash-errors, #errorExplanation {
  margin: 0 auto;
  background: #FF0000;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
}
#flash-notice {
  background: #CAEFA5;
  padding: 10px;
  color: #051;
  text-align: center;
}
/* ================ end: flash ================  */

/* ================ begin: order-summary ================  */
#order-num {
  font-size: 16px;
  font-weight: normal;
  border-bottom: none;
}
.order-summary {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 545px;
}

.order-summary th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.order-summary td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

/* ================ end: order-summary ================  */

/* ================ begin: header-menu ================ */
#store-nav {
  font-family:Arial,Arial,Helvetica,sans-serif;
  font-size:12px;
  float: right;
}

#store-nav li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none; 
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

/* ================ end: header-menu ================ */

/* ================ begin: product preview ================ */
#product-listing a {
  border: 0px;  
}
/* ================ end: product preview ================ */

/* ================ begin: product-name ================ */
.product-name, .product-price, .product-variants {
  font-weight: bold;
  font-size: 14px;
}
/* ================ end: product-name ================ */

#variants ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 1em;
  text-indent: -1em;
}


/* ================ begin: product-listing ================ */
#product-listing {
  
}
/* ================ end: product-listing ================ */

/* === begin: login navigation === */
#login-nav {
  list-style: none;
  float: right;
  /*margin-right: 10px;*/
  /*margin-top: 5px;*/
  font-size: 10px;
}

#login-nav ui {
	padding: 5px;
}

#login-nav li, #act-nav li {
  display: inline;
  margin-right: 5px;
}
#login-nav li a {
  /*color: #ccc;*/
  border: none;
}
#login-nav li a:hover {
  /*color: #fff;*/
  background-color: transparent;
}
/* === end: login navigation === */

/* === begin: menu styles === */
#menu td {
  font-size: 14px;
  padding-right: 10px;
}

#sub-menu td {
  font-size: 12px;
  padding-right: 10px;  
}

#detail-menu td {
  font-size: 10px;
  padding-right: 10px;  
}

#detail-menu tr {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* === end: menu styles === */

/* ===================== begin: price-diff =====================*/
.price-diff {
  font-size: 10px;
  color: #0000FF;
}
/* ===================== end: price-diff =====================*/

/* ===================== begin: out-of-stock =====================*/

.out-of-stock {
 font-weight: bold;
 color: #999999;
}
/* ===================== end: out-of-stock =====================*/


/* ===================== begin: store-header =====================*/
.store-header h1 {
  margin: 0px;
  padding: 0px;
}
/* ===================== end: store-header =====================*/

/* ===================== begin: footer =====================*/
#footer p {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
#footer ul {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
#footer li {
  display:inline;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-right:5px;
}
/* ===================== end: footer =====================*/

/* ===================== begin: Taxonomy Tree =====================*/
.spree-YUI-tree-node{
	background-color:#ffffff;
}
.inplaceeditor-saving { background: url(/images/spinner.gif) bottom right no-repeat; }
/* ===================== end: Taxonomy Tree =====================*/

/* ===================== begin: Breadcrumbs =====================*/
.breadcrumbs {
  font-size: 12px;
  font-weight: bold;
}

.breadcrumbs a {
  color: #0000ff;
}

.breadcrumbs img {
  padding-left: 5px;
}
/* ===================== end: Breadcrumbs =====================*/

/** ================ begin: product-related =================== */

#product-description {
  float:left;
  margin-right:10px;
  width:500px;
}

#product-image {
  margin-right:10px;
  width:240px;
  overflow: hidden;
	text-align: right;  
}

.option-types {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 545px;
}

.option-types th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.option-types td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;	
}

li.product {
	list-style: none;
}

li.preview {
	float: left;
	width: 102px; height: 14em;
	margin-right: 50px;
	font-size: .9em;
	line-height: 1.2em;
}

li.preview a {
	text-decoration: none;
}

#variants li {
  list-style-type: none;
}
/** ================ end: product-related =================== */

/** ================ begin: simple-radios =================== */
.simple-radios li {
  list-style-type: none;
}
/** ================ end: simple-radios =================== */

.disabled {
  color: #AFAFAF;
}
/* ================ begin: cart-summary ================  */

.order-summary {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-summary th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.order-summary td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

/* ================ end: cart-summary ================  */