---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","companyCode":"AVALARA_COMPANY","date":"2026-09-02","commit":false,"currencyCode":"USD","customerCode":"cart_UkLWZg9DAJ","addresses":{"shipFrom":{"line1":"2000
        Main Street","city":"Irvine","region":"CA","country":"US","postalCode":"92614"},"shipTo":{"line1":"92
        Lovely Street","line2":"Northwest","city":"Seattle","region":"WA","country":"US","postalCode":"98109"}},"lines":[{"number":"li_UkLWZg9DAJ","quantity":1,"amount":"100.0","taxIncluded":false,"discounted":false,"discount":0,"taxCode":"P0000000","addresses":{"shipFrom":{"line1":"2000
        Main Street","city":"Irvine","region":"CA","country":"US","postalCode":"92614"},"shipTo":{"line1":"92
        Lovely Street","line2":"Northwest","city":"Seattle","region":"WA","country":"US","postalCode":"98109"}}}],"businessIdentificationNo":"DE136695976"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848106/transactions/0"
      X-Correlation-Id:
      - 80537139-b597-4578-9e47-2fe2e042da5f
      X-Avalara-Uid:
      - 80537139-b597-4578-9e47-2fe2e042da5f
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-jb9p2
      Serverduration:
      - '00:00:00.0276088'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"fae5d4ce-3097-4b59-a29f-b261f0704d64","companyId":848106,"date":"2026-09-02","paymentDate":"2026-09-02","status":"Temporary","type":"SalesOrder","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"cart_UkLWZg9DAJ","customerCode":"cart_UkLWZg9DAJ","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","totalAmount":100.0,"totalExempt":100.0,"totalDiscount":0.0,"totalTax":0.0,"totalTaxable":0.0,"totalTaxCalculated":0.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"originAddressId":2,"destinationAddressId":1,"exchangeRateEffectiveDate":"2026-09-02","exchangeRate":1.0,"modifiedDate":"2026-09-02T11:03:10.8816807Z","modifiedUserId":429316,"taxDate":"2026-09-02","lines":[{"id":0,"transactionId":0,"lineNumber":"li_UkLWZg9DAJ","customerUsageType":"","entityUseCode":"","destinationAddressId":1,"originAddressId":2,"discountAmount":0.0,"exemptAmount":100.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":false,"itemCode":"","lineAmount":100.0,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2026-09-02","revAccount":"","sourcing":"Destination","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2026-09-02","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"WA","stateFIPS":"53","exemptAmount":0.0,"jurisCode":"53","jurisName":"WASHINGTON","jurisdictionId":61,"stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":100.0,"rate":0.0,"sourcing":"Destination","tax":0.0,"taxableAmount":0.0,"taxType":"Use","taxSubTypeId":"U","taxTypeGroupId":"SalesAndUse","taxName":"WA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"General","rateTypeCode":"G","taxableUnits":0.0,"nonTaxableUnits":100.0,"exemptUnits":0.0,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":0.0,"reportingNonTaxableUnits":100.0,"reportingExemptUnits":0.0,"reportingTax":0.0,"reportingTaxCalculated":0.0,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":0,"documentLineId":0,"documentAddressId":2,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":0,"documentLineId":0,"documentAddressId":1,"locationTypeCode":"ShipTo"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":1,"transactionId":0,"boundaryLevel":"Zip5","line1":"92
        Lovely Street","line2":"Northwest","line3":"","city":"Seattle","region":"WA","postalCode":"98109","country":"US","taxRegionId":4028504,"taxRegionIdAv":0,"latitude":"47.6302","longitude":"-122.3461"},{"id":2,"transactionId":0,"boundaryLevel":"Zip5","line1":"2000
        Main St","line2":"","line3":"","city":"Irvine","region":"CA","postalCode":"92614-7211","country":"US","taxRegionId":4017409,"taxRegionIdAv":0,"latitude":"33.68433","longitude":"-117.850632"}],"locationTypes":[{"documentLocationTypeId":0,"documentId":0,"documentAddressId":2,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":0,"documentId":0,"documentAddressId":1,"locationTypeCode":"ShipTo"}],"summary":[{"country":"US","region":"WA","jurisType":"State","jurisCode":"53","jurisName":"WASHINGTON","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Use","taxSubType":"U","taxName":"WA
        STATE TAX","rateType":"General","taxable":0.0,"rate":0.0,"tax":0.0,"taxCalculated":0.0,"nonTaxable":100.0,"exemption":0.0}]}'
  recorded_at: Wed, 02 Sep 2026 11:03:10 GMT
recorded_with: VCR 6.4.0
