---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","companyCode":"AVALARA_COMPANY","date":"2026-09-03","commit":false,"currencyCode":"PLN","customerCode":"cart_UkLWZg9DAJ","addresses":{"shipFrom":{"line1":"Prosta
        51","city":"Warszawa","country":"PL","postalCode":"00-838"},"shipTo":{"line1":"Unter
        den Linden 1","line2":"Northwest","city":"Berlin","country":"DE","postalCode":"10117"}},"lines":[{"number":"li_UkLWZg9DAJ","quantity":1,"amount":"100.0","taxIncluded":true,"discounted":false,"discount":0,"description":"Product
        23119","itemCode":"SKU-2","taxCode":"P0000000","addresses":{"shipFrom":{"line1":"Prosta
        51","city":"Warszawa","country":"PL","postalCode":"00-838"},"shipTo":{"line1":"Unter
        den Linden 1","line2":"Northwest","city":"Berlin","country":"DE","postalCode":"10117"}}}],"businessIdentificationNo":"DE136695976"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848106/transactions/0"
      X-Correlation-Id:
      - a6ec11a7-95ee-440e-9ea6-35cd6d113749
      X-Avalara-Uid:
      - a6ec11a7-95ee-440e-9ea6-35cd6d113749
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-45xdb
      Serverduration:
      - '00:00:00.0031043'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"ea7252e0-4c09-4625-8b00-0ea4bab84b97","companyId":848106,"date":"2026-09-03","paymentDate":"2026-09-03","status":"Temporary","type":"SalesOrder","batchCode":"","currencyCode":"PLN","exchangeRateCurrencyCode":"PLN","customerUsageType":"","entityUseCode":"","customerVendorCode":"cart_UkLWZg9DAJ","customerCode":"cart_UkLWZg9DAJ","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","totalAmount":100.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":0.0,"totalTaxable":100.0,"totalTaxCalculated":0.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"originAddressId":2,"destinationAddressId":1,"exchangeRateEffectiveDate":"2026-09-03","exchangeRate":1.0,"modifiedDate":"2026-09-03T11:32:47.0290121Z","modifiedUserId":429316,"taxDate":"2026-09-03","lines":[{"id":0,"transactionId":0,"lineNumber":"li_UkLWZg9DAJ","customerUsageType":"","entityUseCode":"","description":"Product
        23119","destinationAddressId":1,"originAddressId":2,"discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"itemCode":"SKU-2","lineAmount":100.0,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2026-09-03","revAccount":"","sourcing":"Origin","tax":0.0,"taxableAmount":100.0,"taxCalculated":0.0,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2026-09-03","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"PL","region":"PL","stateFIPS":"PL","exemptAmount":0.0,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0,"rate":0.0,"sourcing":"Origin","tax":0.0,"taxableAmount":100.0,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Zero
        Rate","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"Zero","rateTypeCode":"Z","taxableUnits":100.0,"nonTaxableUnits":0.0,"exemptUnits":0.0,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":100.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":0.0,"reportingTaxCalculated":0.0,"liabilityType":"Seller","chargedTo":"Buyer","vatCode":"PL_S_-_000_C"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":0,"documentLineId":0,"documentAddressId":2,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":0,"documentLineId":0,"documentAddressId":1,"locationTypeCode":"ShipTo"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-000C","vatNumberTypeId":0}],"addresses":[{"id":1,"transactionId":0,"boundaryLevel":"Zip5","line1":"Unter
        den Linden 1","line2":"Northwest","line3":"","city":"Berlin","region":"","postalCode":"10117","country":"DE","taxRegionId":205079,"taxRegionIdAv":0,"latitude":"","longitude":""},{"id":2,"transactionId":0,"boundaryLevel":"Zip5","line1":"Prosta
        51","line2":"","line3":"","city":"Warszawa","region":"","postalCode":"00-838","country":"PL","taxRegionId":205102,"taxRegionIdAv":0,"latitude":"","longitude":""}],"locationTypes":[{"documentLocationTypeId":0,"documentId":0,"documentAddressId":2,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":0,"documentId":0,"documentAddressId":1,"locationTypeCode":"ShipTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Zero
        Rate","rateType":"Zero","taxable":100.0,"rate":0.0,"tax":0.0,"taxCalculated":0.0,"nonTaxable":0.0,"exemption":0.0}],"messages":[{"summary":"Invoice  Messages
        for the transaction","details":"{\"InvoiceMessageMasterList\":[{\"MessageCode\":0,\"Message\":\"No
        applicable messaging for this line.\",\"CitationCode\":\"\"},{\"MessageCode\":1,\"Message\":\"Intra-EU
        Supply of Goods as per Art. 138 EU VAT Directive 2006/112\",\"CitationCode\":\"\"}],\"InvoiceMessageList\":[{\"TaxLineNo\":\"li_UkLWZg9DAJ\",\"MessageCode\":1}]}","refersTo":"","severity":"Success","source":"Avalara.AvaTax.TaxEngine"}],"invoiceMessages":[{"content":"Intra-EU
        Supply of Goods as per Art. 138 EU VAT Directive 2006/112","lineNumbers":["li_UkLWZg9DAJ"]}]}'
  recorded_at: Thu, 03 Sep 2026 11:32:47 GMT
recorded_with: VCR 6.4.0
