<template id="flashMessage">
  <%= render partial: 'spree/shared/flash', locals: { key: nil, value: nil, for_template: true } %>
</template>
<div id="flashes" class="fixed z-[9999] w-full top-0">
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <%= render partial: 'spree/shared/flash', locals: { key: key, value: value, for_template: false } %>
    <% end %>
  <% end %>
</div>
