<% background_color ||= '#fff' %>
<div class="relative">
  <%= render 'spree/shared/icons/heart' %>
  <% if current_wishlist && current_wishlist.wished_items_count > 0 %>
    <span
      style="background-color: <%= background_color %>"
      class="absolute text-[0.5rem] font-extrabold leading-[0.5rem] right-[0.10rem] bottom-1 px-[0.0625rem] text-center"
      id="wishlist-icon-count"
    >
      <%= current_wishlist.wished_items_count %>
    </span>
  <% end %>
</div>
