class AddSpreeFieldsToCustomUserTable < ActiveRecord::Migration
  def up
    add_column <%= table_name.inspect %>, :spree_api_key, :string, :limit => 48
    add_column <%= table_name.inspect %>, :ship_address_id, :integer
    add_column <%= table_name.inspect %>, :bill_address_id, :integer
  end
end
