<div class="form-group">
  <%= f.label :preferred_label %>
  <%= f.text_field :preferred_label, data: { action: 'auto-submit#submit' }, class: 'form-input' %>
</div>

<%= render 'spree/admin/page_links/list', parent: @page_block, show_add_link_button: true %>
