<%= f.spree_number_field :amount, label: raw(Spree.t(:amount) + required_span_tag), min: 0.01, step: 0.01, required: true, disabled: !f.object.editable? %>

<div class="form-group">
  <%= f.label :currency, raw(Spree.t(:currency) + required_span_tag), class: 'form-label' %>
  <%= f.select :currency, preferred_currencies_select_options, {}, { data: { controller: 'autocomplete-select', enable_button_target: 'input', store_form_target: 'currency' } } %>
</div>

<%= f.spree_text_area :memo %>
