<div class="sixteen columns" id='content-header'>
  <div class="block-table">
    <div class="table-cell">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="page-actions table-cell toolbar" data-hook="toolbar">
    {{ outlet 'actions' }}
  </div>
</div>t