<ul class="inline-menu">
  {{#if canceled}}
    <li>
      <a class="button icon-resume" icon="icon-resume" {{action 'resume'}}>Resume</a>
    </li>
  {{else}}
    <li>
      <a class="button icon-cancel" icon="icon-cancel" {{action 'cancel'}}>Cancel</a>
    </li>
  {{/if}}
</ul>