<% if taxon.children.any? %>
  <div class="d-flex justify-content-center position-sticky sticky-top-90px taxon-subcategories-wrapper">
    <div class="py-1 text-uppercase d-none d-xl-flex overflow-x taxon-subcategories">
      <% taxon.children.to_a.unshift(taxon).each_with_index.map do |subcategory, index| %>
        <%=
          link_to_unless subcategory == taxon,
                         index.zero? ? Spree.t(:all) : subcategory.name,
                         spree.nested_taxons_path(subcategory, params: permitted_product_params),
                         class: "pt-4 pb-2 mb-2 #{index.zero? ? '' : 'pl-4 pt-4 pb-2'}" do
        %>
          <div class="pt-4 pb-2 mb-2 <%= index.zero? ? '' : 'pl-4' %> taxon-subcategories-selected"><%= index.zero? ? Spree.t(:all) : subcategory.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
