<%= render 'spree/admin/promotions/header' %>

<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 lg:col-span-8">
    <%= render 'rules' %>
    <%= render 'actions' %>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <%= render 'sidebar' %>
  </div>
</div>