<%= render 'spree/admin/promotions/header' %>

<div class="row">
  <div class="col-12 col-lg-8">
    <%= render 'rules' %>
    <%= render 'actions' %>
  </div>

  <div class="col-12 col-lg-4">
    <%= render 'sidebar' %>
  </div>
</div>