<script type='text/template' id='variant_autocomplete_template'>
  <div class='variant-autocomplete-item media align-items-center'>
    <figure class='select2-result mb-0 mr-3'>
      {{#if variant.image_path }}
        <img src='{{ variant.image_path }}' class="thumbnail mb-0" />
      {{ else }}
        <img src='<%= image_path("noimage/mini.png") %>' class="thumbnail mb-0 no-zoom" />
      {{/if}}
    </figure>

    <div class='variant-details media-body truncate'>
      <strong><h2 class="h5 mb-0">{{ variant.name }}</h2></strong>
      {{#if variant.options_text }}
        {{#each options}}
          {{ this }}<br/>
        {{/each}}
      {{/if}}
      <%= Spree.t(:sku) %>: {{ variant.sku }}
    </div>
  </div>
</script>

