<script type='text/template' id='variant_split_template'>
  <tr class='stock-item-split' data-variant-id='{{variant.id}}'>
    <td colspan='2'>
      Move {{variant.name}} to:
    </td>
    <td colspan='2'>
    <select name="item_stock_location" id='item_stock_location' style='width:100%;'>
      <option></option>
      <optgroup label="Existing Shipments">
        {{#each shipments}}
        <option data-shipment-number='{{this.number}}' value='{{this.stock_location_id}}'>{{this.stock_location.name}}({{this.number}})</option>
        {{/each}}
      </optgroup>
      <optgroup label="New Shipment At Location">
        {{#each variant.stock_items}}
          <option data-new-shipment='true' value='{{this.stock_location_id}}'>{{this.stock_location_name}}</option>
        {{/each}}
      </optgroup>
      </select>
    </td>
    <td>
      <input class="quantity" id="item_quantity" type="number" min="1" value="1" max="{{max_quantity}}">
    </td>
    <td class='actions'>
      <a href='#' class='save-split icon_link icon-ok no-text with-tip' title='Save'></a>
      <a href='#' class='cancel-split icon_link icon-cancel no-text with-tip' title='Cancel'></a>
    </td>
  </tr>
</script>
