<% if @order.user.orders.complete.any? %>
  <div class="alert alert-info mt-2 mb-0">
    <div>
      <h6 class="font-weight-bold">
        <%= icon('magic') %> <%= Spree.t(:assistant) %> 
      </h6>
      <%= Spree.t(:assistant_info, total: Spree::Money.new(@order.user.orders.complete.sum(:total)), count: @order.user.orders.complete.count, average: Spree::Money.new(@order.user.orders.complete.average(:total))).html_safe %>
    </div>
  </div>
<% end %>