<h1>New Zone</h1>

<%= error_messages_for :zone %>

<% form_for(:zone, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>