@layer utilities {
  .scrollbar-thin ::-webkit-scrollbar {
    width: 0.35rem !important;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0.25rem !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.25rem !important;
    background-color: var(--color-gray-200);
  }
  
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}