<footer class="position-fixed bottom-0 start-0 w-100 border-top px-4 py-3 bg-light d-flex align-items-center justify-content-between gap-3" style="z-index: 9999;" id="footer">
  <% if import.rows.any? %>
    <div class="flex-grow-1 d-flex flex-column">  
      <%= progress_bar_component(import.rows.processed.count, min: 0, max: import.rows.count) %>
    </div>

    <div>
      <%= import.rows.processed.count %> / <%= import.rows.count %> rows processed
    </div>
  <% elsif import.status != 'failed' %>
    <div>
      <%= Spree.t('admin.imports.waiting_for_file_to_be_processed') %>
    </div>
  <% end %>
</footer>