<tr>
  <td nowrap><%= t("activerecord.attributes.variant." + field[:name].downcase, :default => field[:name].titleize) %>:</td>
  <td>
		<%= error_message_on controller.controller_name.singularize, field[:name].gsub(" ", "_").downcase %>
    <%= text_field controller.controller_name.singularize, field[:name].gsub(" ", "_").downcase, :value => get_additional_field_value(controller, field) %>
  </td>
</tr>	