<div id="footer">
  <div class="left">
    <p>
      <%= t("powered_by") %> <a href="http://spreecommerce.com/">Spree</a>
    </p>
  </div>
  <div class="right">
    <%= render :partial => 'shared/language_bar' if Spree::Config[:allow_locale_switching] %>
  </div>
</div>   
<% if Spree::Config[:google_analytics_id] and not %w{development test}.include? RAILS_ENV and not params[:checkout_complete] %>
  <script type="text/javascript">
  	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  	var pageTracker = _gat._getTracker("<%= Spree::Config[:google_analytics_id] %>");
  	pageTracker._initData();
  	pageTracker._trackPageview();
  </script>
<% end %>
