<% content_for :sub_menu do %>
  <table cellspacing="0" cellpadding="0" id="sub-menu">
    <tr>
      <td><%= link_to t("products"), admin_products_url %></td>
      <td><%= link_to t("option_types"), admin_option_types_url %></td>
      <td><%= link_to t("properties"), admin_properties_url %></td>
      <td><%= link_to t("prototypes"), admin_prototypes_url %></td>
    </tr>
  </table>
<% end %>
