<% content_for :sub_menu do %>
  <table cellspacing="0" cellpadding="0" id="sub-menu">
    <tr>
      <td><%= link_to t("Products"), :controller => :products, :action => :index %></td>
      <td><%= link_to t("Option Types"), :controller => :option_types , :action => :index %></td>
      <td><%= link_to t("Properties"), :controller => :properties , :action => :index %></td>
      <td><%= link_to t("Prototypes"), :controller => :prototypes , :action => :index %></td>
    </tr>
  </table>
<% end %>
