<div style="padding-left:<%= padding %>px;">
	<% if taxon.id.to_s == params[:taxon]%>
		<%= link_to taxon.name, products_path(:taxon => taxon), :style => 'font-weight:bold' %>
	<% else %>
		<%= link_to taxon.name, products_path(:taxon => taxon) %>
	<% end %>
</div>
<% if selected_taxon && (taxon == selected_taxon ||taxon.descendents.include?(selected_taxon)) %>
	<%= render :partial => "shared/taxon", :collection => taxon.children, :locals => {:selected_taxon => selected_taxon, :padding => (padding * 2)} %>
<% end %>