<div id="taxonomies" class="sidebar-item">
<% get_taxonomies.each do |taxonomy| %>
  <ul class="navigation-list">
	  <li<%= ' class="current"' if @taxon && @taxon == taxonomy.root %>><%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name.singularize), seo_url(taxonomy.root), :class => 'root' %></li>
	  <% taxonomy.root.children.each do |taxon| %>
	    <li<%= ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>><%= link_to taxon.name, seo_url(taxon) %></li>
	  <% end %>
	</ul>
<% end %>
</div>
