<div id="taxonomies" class="sidebar-item">
<% @taxonomies.each do |taxonomy| %>
	<h3>Shop by <%= taxonomy.name.singularize %></h3>
	<ul class="navigation-list">
	<% taxonomy.root.children.each do |taxon| %>
	  
	  <li<%= ' class="current"' if @taxon and @taxon == taxon %>><%= link_to taxon.name, seo_url(taxon) %></li>
	<% end %>
	</ul>
<% end %>
</div>