<li class="nav-item">
  <span class="nav-link d-flex align-items-center pr-1 cursor-default with-tip" title="Connect your store to third-party services to automate your business processes.">
    <%= icon 'plug' %>
    <span><%= Spree.t(:integrations) %></span>
    <span class="badge ml-auto rounded-pill">Coming soon!</span>
  </span>
</li>