<% if can?(:manage, current_store) %>
  <li class="nav-item">
    <%= external_link_to nil, 'https://spreecommerce.org/pricing', class: 'nav-link d-flex align-items-center w-100' do %>
      <%= icon 'heart-handshake' %>
      <%= Spree.t(:vendors) %>

      <span class="badge ml-auto with-tip rounded-pill" title="This feature is part of the Enterprise Edition.">Enterprise</span>
    <% end %>
  </li>
<% end%>