.errorExplanation {
  padding: 5px;
  border: 1px solid very-light($color-error, 12);
  background-color: very-light($color-error, 6);
  border-radius: 3px;
  color: very-light($color-error, 30);
  margin-bottom: 15px;

  h2 {
    font-size: 140%;
    color: very-light($color-error, 30);
    margin-bottom: 5px;
  }

  p {
    padding: 10px 0;
  }

  ul {
    list-style-position: inside;

    li {
      font-weight: bold;
    }
  }
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px;
  text-align: center;
  z-index: 1000;
  font-size: 120%;
  color: $color-1;
  font-weight: bold;

  &.notice  { background-color: rgba($color-notice,  0.8) }
  &.success { background-color: rgba($color-success, 0.8) }
  &.error   { background-color: rgba($color-error,   0.8) }
}