// Navigation
//---------------------------------------------------
.inline-menu { 
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

[data-hook="admin_login_navigation_bar"] {
  ul {
    text-align: right;

    li {
      padding: 5px 0 5px 10px;
      text-align: right;
      font-size: 90%;
      color: $color-link;
      margin-top: 15px;

      &[data-hook="user-logged-in-as"] {
        width: 50%;
        color: $color-body-text;
      }

      &:hover {
        i {
          color: $color-2;
        }
      }
    }
  }
}

#admin-menu {
  background-color: $color-3;

  li {
    min-width: 90px;

    a {
      display: block;
      padding: 25px 20px;
      color: $color-1 !important;
      text-transform: uppercase;
      position: relative;
      text-align: center;

      i {
        display: inline;
      }

      &:hover {
        background-color: $color-2;

        &:after {
          content: '';
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 5px solid $color-2;          
          bottom: 0px;
          margin-bottom: -5px;
          left: 50%;
          margin-left: -10px;
          z-index: 1;
        }
      }
    }

    .dropdown {
      width: 300px;
      background-color: $color-3;
      width: 200px;
      z-index: 100000;

      > li {
        width: 200px !important;

        a:after {
          display: none;
        }
      }
    }

    &.selected a {
      @extend a:hover;
    }
  }
}

#sub-menu {
  background-color: $color-2;
  padding-bottom: 0;

  li {
    a {
      display: block;
      padding: 12px 20px;
      color: $color-1;      
      text-align: center;
      text-transform: uppercase;
      position: relative;
      font-size: 85%;      
    }

    &.selected a, a:hover {
      &:after {
        content: '';
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 5px solid $color-2;
        bottom: 0px;
        margin-bottom: -5px;
        left: 50%;
        margin-left: -10px;
        z-index: 1;
      }
    }
  }
}