.pagination {
  padding: 10px 0;
  text-align: center;

  .page {
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    text-align: center;

    &.current {
      background-color: $color-2;
      border-radius: 3px;
      color: white;
    }
  }
}