#progress { 
  display: none;
  position: fixed;
  top: 0;  
  z-index: 1000;
  opacity: 0.8;
  width: 100%;

  .wrapper {
    @include border-radius(10px);
    top: -10px;
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    padding: 11px 0;
    background-color: $color-3;
    color: $color-1;
    text-align: center;
  }

  #spinner {    
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -5px;
  }

  .progress-message {
    font-size: 120%;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
  }
}