#table-filter {

  .field {
    input[type="text"] {
      width: 100%;
    }

    input[type="checkbox"] {
      display: inline-block;
    }

    label {
      display: block;
    }

    &.checkbox {
      padding: 0;

      label {
        display: inline-block;
      }
    }
  }

  .actions {
    text-align: center;
  }
}