<div data-hook="admin_inside_taxonomy_form" class="form-group">
  <%= f.field_container :name, class: ['form-group'] do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
    <%= error_message_on :taxonomy, :name, :class => 'error-message' %>
    <%= text_field :taxonomy, :name, :class => 'form-control' %>
  <% end %>
</div>
