<% content_for :page_title do %>
  <%= Spree.t(:new_taxonomy) %>
<% end %>

<%= form_for [:admin, @taxonomy] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:create), 'save' %>
    </div>
  </fieldset>
<% end %>
