  <%= search_form_for [:admin, search_collection], url: spree.admin_customer_returns_path, class: "filter-wrap", data: {controller: "filters"} do |f| %>
    <%= render "spree/admin/shared/filters_search_bar",
    param: :number_cont,
    label: Spree.t(:number) %>

    <%= render_admin_partials(:customer_returns_filters_partials, f: f) %>

    <%= render "spree/admin/shared/filter_badge_template" %>

    <div data-filters-target="badgesContainer" class="filter-badges-container"></div>
  <% end %>