---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/apple_pay/domains
    body:
      encoding: UTF-8
      string: domain_name=dare-gerhold-and-pagac.lvh.me
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f22b062e-f4a4-4318-87c5-d5e33ff21117
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f22b062e-f4a4-4318-87c5-d5e33ff21117
      Original-Request:
      - req_K0lMqfwyi53yWN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "apwc_1Ok252IhR0gIegIemv7L2GYk",
          "object": "apple_pay_domain",
          "created": 1707992532,
          "domain_name": "dare-gerhold-and-pagac.lvh.me",
          "livemode": false
        }
  recorded_at: Thu, 15 Feb 2024 10:22:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/apple_pay/domains?domain_name=dare-gerhold-and-pagac.lvh.me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "apwc_1Ok252IhR0gIegIemv7L2GYk",
              "object": "apple_pay_domain",
              "created": 1707992532,
              "domain_name": "dare-gerhold-and-pagac.lvh.me",
              "livemode": false
            }
          ],
          "has_more": false,
          "url": "/v1/apple_pay/domains"
        }
  recorded_at: Thu, 15 Feb 2024 10:22:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_method_domains
    body:
      encoding: UTF-8
      string: domain_name=dare-gerhold-and-pagac.lvh.me
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ffa20cc8-fd99-423a-8933-9393215cb1b0
      Original-Request:
      - req_zIaZPMBhfNSczy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pmd_1Qc1xR2ESifGlJezaInTCWpb",
          "object": "payment_method_domain",
          "amazon_pay": {
            "status": "active"
          },
          "apple_pay": {
            "status": "active"
          },
          "created": 1735638109,
          "domain_name": "dare-gerhold-and-pagac.lvh.me",
          "enabled": true,
          "google_pay": {
            "status": "active"
          },
          "link": {
            "status": "active"
          },
          "livemode": false,
          "paypal": {
            "status": "active"
          }
        }
  recorded_at: Tue, 31 Dec 2024 09:41:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_method_domains?domain_name=dare-gerhold-and-pagac.lvh.me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Api-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "pmd_1Qc1xR2ESifGlJezaInTCWpb",
              "object": "payment_method_domain",
              "amazon_pay": {
                "status": "active"
              },
              "apple_pay": {
                "status": "active"
              },
              "created": 1735638109,
              "domain_name": "dare-gerhold-and-pagac.lvh.me",
              "enabled": true,
              "google_pay": {
                "status": "active"
              },
              "link": {
                "status": "active"
              },
              "livemode": false,
              "paypal": {
                "status": "active"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/payment_method_domains"
        }
  recorded_at: Tue, 31 Dec 2024 09:41:50 GMT
recorded_with: VCR 6.2.0
