<template data-filters-target="badgeTemplate">
  <span class="badge py-0 pl-2 pr-0 bg-light text-gray-900 flex-inline items-center mb-0">LABEL<a href="DELETE_URL" class="btn-close ml-2" title="<%= Spree.t('actions.remove') %>"></a></span>
</template>
