<button
  class="btn btn-light flex items-center"
  type="button"
  data-action="dropdown#toggle click@window->dropdown#hide"
>
  <%= icon "adjustments", class: "mr-1" %>
  <%= Spree.t("admin.filters") %>
</button>
