<% label ||= Spree.t(:query) %>
<% badge_name ||= label %>
<% placeholder ||= [Spree.t(:search), controller_name.humanize.downcase].join(' ') %>

<div class="form-control flex items-center py-0 focus-shadow focus-border grow max-w-[300px] mr-auto h-[2.125rem] mb-4 lg:mb-0" id="filters-search-bar">
  <%= icon "search", class: "mr-4 text-muted" %>
  <%= search_field_tag "q[#{param}]",
  params.dig(:q, param),
  class: "form-control-plaintext px-0",
  placeholder: placeholder,
  data: {
    filters_target: :input,
    badge_name: badge_name,
  } %>
</div>
