<% label ||= Spree.t(:query) %>
<% badge_name ||= label %>
<% placeholder ||= [Spree.t(:search), controller_name.humanize.downcase].join(' ') %>

<div class="form-control d-flex align-items-center py-0 focus-shadow focus-border flex-grow-1 mb-3 mb-lg-0" id="filters-search-bar">
  <%= icon "search", class: "mr-3 text-muted" %>
  <%= search_field_tag "q[#{param}]",
  params.dig(:q, param),
  class: "form-control-plaintext px-0",
  placeholder: placeholder,
  data: {
    filters_target: :input,
    badge_name: badge_name,
  } %>
</div>
