<% entry_name ||= nil %>

<% if collection.any? && defined?(@pagy) && @pagy %>
  <div class="pagination-container">
    <div class="index-pagination-row d-flex align-items-center justify-content-between px-2">
      <%= per_page_dropdown %>
      <div class="d-none d-lg-block text-center text-muted">
        <%== @pagy.info_tag(item_name: entry_name || 'item') %>
      </div>
      <div class="text-right">
        <%== @pagy.bootstrap_nav %>
      </div>
    </div>
  </div>
<% end %>
