<% if Mapkick.options[:access_token] && map_object.latitude.present? && map_object.longitude.present? %>
  <div class="rounded overflow-hidden">
    <%= js_map [{
      latitude: map_object.latitude,
      longitude: map_object.longitude,
      label: label,
    }], zoom: 15, controls: true, height: '300px' %>
  </div>
<% end %>