<% width ||= 50 %>
<% height ||= 50 %>

<div class="rounded bg-gray-25 text-muted flex items-center justify-center border" style="width: <%= width %>px; height: <%= height %>px">
  <%= icon('camera-off', class: 'text-muted opacity-50') %>
</div>