<% width ||= 50 %>
<% height ||= 50 %>

<div class="rounded bg-light text-muted d-flex align-items-center justify-content-center border" style="width: <%= width %>px; height: <%= height %>px">
  <%= icon('camera-off', class: 'text-muted opacity-50') %>
</div>