<% resource_name ||= model_class.name.demodulize.underscore.humanize %>

<div class="text-muted p-5 d-flex align-items-center w-100 justify-content-center flex-column">
  <%= icon 'map-search', class: 'mb-3 opacity-50', style: 'font-size: 2rem;' %>
  <p>
    <%= Spree.t(:no_resource_found, resource: resource_name) %>
  </p>
  <%= link_to_with_icon 'plus', Spree.t(:add_one), new_object_url, class: 'btn btn-primary btn-sm ml-3', data: { 'turbo-frame': '_top' } if can?(:create, model_class) && defined?(new_object_url) && new_object_url.present? %>
</div>