<% width ||= 50 %>
<% height ||= 50 %>

<div class="rounded-md bg-gray-25 text-gray-600 flex items-center justify-center border" style="width: <%= width %>px; height: <%= height %>px">
  <%= icon('camera-off', class: 'text-gray-600 opacity-50') %>
</div>