<!-- Left off-canvas sidebar -->
<div class="bs-canvas bs-canvas-left position-fixed h-100 bg-light border-right">
  <div class="bs-canvas-content px-2">
    <% if try_spree_current_user.present? %>
      <% if defined?(current_vendor) && current_vendor.present? %>
        <%= render 'spree/admin/shared/sidebar/vendor_nav' %>
      <% elsif defined?(current_store) && current_store&.present? %>
        <%= render 'spree/admin/shared/sidebar/store_nav' %>
      <% end %>
    <% end %>
  </div>
</div>
