<% if object.preferences.present? %>
  <p class="mb-0">
  <% object.preferences.each do |key, value| %>
      <% next if value.blank? %>
      <% next if key == :eligible_values %>
      <span><%= Spree.t(key) %>:</span>
      <strong><%= value %></strong>
    <% end %>
  </p>
<% end %>