<% width ||= 50 %>
<% height ||= 50 %>
<% image ||= object.default_image %>

<% if image.present? && image.attached? && image.variable? %>
  <% alt ||= image.alt || object.name %>
  <div class="overflow-hidden rounded-md border border-gray-300" style="width: <%= width %>px; height: <%= height %>px;">
    <%= spree_image_tag(image, width: width, height: height, alt: alt, class: 'object-cover transition-transform duration-300 ease-out hover:scale-120') %>
  </div>
<% else %>
  <%= render 'spree/admin/shared/no_image', width: width, height: height %>
<% end %>
