<% spinner_id = defined?(id) ? id : 'turbo-spinner' %>

<div class="flex w-full items-center justify-center" id="<%= spinner_id %>">
  <div class="spinner-border text-muted align-middle" role="status">
    <span class="sr-only"><%= Spree.t(:loading) %>...</span>
  </div>
</div>
