<div class="text-center py-6">
  <p class="mb-2 font-medium uppercase"><%= Spree.t('storefront.wished_items.no_wished_items.title') %></p>
  <p><%= Spree.t('storefront.wished_items.no_wished_items.description') %></p>
  <div class="flex justify-center mt-8">
    <%= link_to Spree.t(:shop_all), spree.products_path, class: 'btn-primary flex' %>
  </div>
</div>
<script>
  Turbo.cache.exemptPageFromPreview()
</script>
