.order-show {
  padding-bottom: 40px;
  font-weight: 500;

  & > .order-show-check-mark {
    width: 56px;
    margin-bottom: 25px;
    @include media-breakpoint-up(sm) {
      width: 102px;
      margin-bottom: 42px;
    }
  }

  h5 {
    @include media-breakpoint-up(sm) {
      font-size: font-px-to-rem(29px);
      line-height: 18px;
      letter-spacing: 0.73px;
    }
  }

  dd {
    font-size: font-px-to-rem(14px);
    @include media-breakpoint-up(sm) {
      padding-bottom: 0px;
      margin-bottom: 60px;
      font-size: font-px-to-rem(27px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(18px);
    }
  }

  dt {
    font-weight: 500;
    @include media-breakpoint-up(sm) {
      padding: 0;
      margin-bottom: 32px;
      font-size: font-px-to-rem(30px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(22px);
    }
  }

  &-number {
    @include media-breakpoint-up(sm) {
      margin-top: 80px;
      margin-bottom: 60px;
      font-size: font-px-to-rem(25px);
    }
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
      font-size: font-px-to-rem(26px);
    }
  }

  &-explain {
    margin: 31px 0 0;
    font-size: 23px;
  }

  &-line-items {
    @include media-breakpoint-up(lg) {
      border: none;
      flex: 1 1 0;
    }

    &-header {
      font-size: font-px-to-rem(27px);
    }

    &-line-item {
      $self: &;

      a {
        max-width: 50%;
        margin-right: 20px;

        @include media-breakpoint-up(lg) {
          margin-right: 40px;
        }
      }

      img {
        width: 90px;
        height: auto;

        @include media-breakpoint-up(sm) {
          width: 206px;
        }

        @include media-breakpoint-up(lg) {
          width: 255px;
        }
      }

      &-name {
        font-size: font-px-to-rem(14px);
        border-top: 1px solid theme-color('borders');

        @include media-breakpoint-up(sm) {
          font-size: font-px-to-rem(27px);
        }

        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(22px);
          width: 55%;
        }

        &-options {
          font-size: font-px-to-rem(12px);
        }
      }

      &-subtitle {
        @include media-breakpoint-up(sm) {
          font-size: font-px-to-rem(14px);
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(18px);
        }
      }

      &-price {
        font-size: font-px-to-rem(14px);
        border-top: 1px solid theme-color('borders');

        @include media-breakpoint-up(sm) {
          font-size: font-px-to-rem(27px);
          margin-bottom: auto;
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(22px);
          & > div {
            margin-bottom: 70px;
          }
        }
        div:last-child {
          @include media-breakpoint-up(lg) {
            font-size: font-px-to-rem(22px);
          }
        }
      }

      &-quantity {
        font-size: font-px-to-rem(14px);
        border-top: 1px solid theme-color('borders');

        @include media-breakpoint-up(sm) {
          font-size: font-px-to-rem(27px);
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(20px);
        }

        span {
          @include media-breakpoint-up(lg) {
            font-size: font-px-to-rem(22px);
            margin-left: 30px;
            margin-bottom: 70px;
          }
        }
      }

      &-total {
        border-top: 1px solid theme-color('borders');
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(20px);
          & > div {
            margin-bottom: 70px;
          }
        }
        div:last-child {
          @include media-breakpoint-up(lg) {
            font-size: font-px-to-rem(22px);
          }
        }
      }

      &-check-mark {
        padding-bottom: 25px;
      }

      &:last-child {
        #{$self}-name, #{$self}-price, #{$self}-quantity, #{$self}-total {
          border-bottom: 1px solid theme-color('borders');
        }
      }
    }
  }
  #checkout-summary {
    margin-top: 20px;
    @include media-breakpoint-up(sm) {
      margin-top: 70px;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 0 40%;
      align-self: flex-start;
    }
  }
}

