<div
  data-modal-target="container"
  data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
  class="hidden animate-fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center z-[9999]"
  style="animation-duration: 150ms;">
  <div class="w-full lg:w-[800px] relative h-[100dvh] lg:h-auto lg:max-h-screen">
    <div class="mx-0 bg-background">
      <div class="px-8 py-6">
        <div class="flex justify-between uppercase mb-4">
          <%= Spree.t(:returns_policy) %>
          <button data-action="click->modal#close">
            <%= render 'spree/shared/icons/close' %>
            <span class="sr-only"><%= Spree.t(:close) %></span>
          </button>
        </div>
        <div class="text-sm overflow-auto">
          <%= returns_policy %>
        </div>
      </div>
    </div>
  </div>
</div>
