<%= link_to(spree.edit_address_path(address), method: :get, class: 'ml-3 d-inline-block', data: { hook: 'edit_address' }) do %>
  <%= inline_svg_tag('edit.svg', width: 24, height: 24) %>
<% end %>

<span class="js-delete-address-link ml-3" data-address="<%= spree.address_path(address) %>">
  <%= inline_svg_tag('garbage_2.svg', width: 24, height: 24) %>
</span>
