<h2><%= t("shipping_method") %></h2>
<div class="inner">
  <div id="methods"></div>
  <div class="error">
    <%= t('unable_ship_method') %>
  </div>
  <div class="form-buttons">
    <input id="continue_shipping_method" type="button" class="button primar" value="<%=t("continue")%>"/>
  </div>
</div>
