<h1><%= t("Shopping Cart")%></h1>
<% form_for(:order, :url => object_url, :html => { :method => :put}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
<br/>
<p><%=link_to t("Continue Shopping"), products_path %></p>