<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <%= render 'spree/shared/products', :products => @products %>
</div>

