<%= render layout: 'spree/shared/mailer_hero' do %>
  <h1><%= Spree.t('export_mailer.greeting', user_name: @export.user&.first_name) %></h1>
  <p><%= Spree.t('export_mailer.export_done.message') %></p>
  <% if @export.results_url.present? %>
    <%= render 'spree/shared/mailer_button', url: @export.results_url, label: @export.attachment.filename %>
  <% end %>
<% end %>
