<% if Spree::Admin::RuntimeConfig.admin_updater_enabled && can?(:manage, current_store) && spree_update_available? %>
  <div class="alert alert-info">
    <div>
      <p class="mb-1">There's a newer version of Spree available.</p>

      <%= link_to_with_icon 'settings-up', 'Update now', 'https://spreecommerce.org/docs/developer/upgrades', target: '_blank', class: 'btn btn-light btn-sm' %>
    </div>
  </div>
<% end %>