<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<%= render partial: 'spree/shared/base_mailer_stylesheets' %>
	</head>
	<body>
	  <table class="body">
	    <tr>
	      <td class="center" align="center" valign="top">
	        <center>
	          <%= render partial: 'spree/shared/base_mailer_header' %>
	          <table class="container">
	            <tr>
	              <td>
	                <table class="row">
	                  <tr>
	                    <td class="wrapper last">
	                      <table class="twelve columns">
	                        <tr>
	                          <td>
	                            <%= yield %>
	                          </td>
	                          <td class="expander"></td>
	                        </tr>
	                      </table>
	                    </td>
	                  </tr>
	                </table>
	                <%= render partial: 'spree/shared/base_mailer_footer' %>
	              <!-- container end below -->
	              </td>
	            </tr>
	          </table>
	        </center>
	      </td>
	    </tr>
	  </table>
	</body>
</html>
