// Some fixes for fontwesome stylesheets
[class^="icon-"], [class*=" icon-"] {
  &:before {
    padding-right: 5px;
  }

  &.button, &.icon_link {
    width: auto;

    &:before {
      padding-right: 5px;
      padding-top: 3px;
    }
  }
}

.icon-email:before    { @extend .icon-envelope:before }
.icon-resume:before   { @extend .icon-refresh:before  }

.icon-cancel:before,
.icon-void:before     { @extend .icon-remove:before   }

.icon-capture:before  { @extend .icon-ok:before       }
.icon-credit:before   { @extend .icon-ok:before       }
