<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/tutorials/">Tutorials</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/tutorials/getting_started/">Getting Started</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/tutorials/extensions/">Extensions</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/tutorials/deface_overrides/">Deface Overrides</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/source/">Source Code</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/source/about/">About</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/source/navigating/">Navigating</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/source/getting_help/">Getting Help</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/source/contributing/">Contributing</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/core/">The Core</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/core/products/">Products</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/orders/">Orders</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/payments/">Payments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/shipments/">Shipments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/addresses/">Addresses</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/adjustments/">Adjustments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/calculators/">Calculators</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/activators/">Activators</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/promotions/">Promotions</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/preferences/">Preferences</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/taxation/">Taxation</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/#inventory">Inventory</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/customization/">Customization</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/core/customization/authentication">Authentication</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/customization/i18n">Internationalization (I18n)</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/deployment/">Deployment</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/deployment/deployment-service/">Deployment Service</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/deployment/ubuntu/">Ubuntu</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/deployment/heroku/">Heroku</a></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/advanced/">Advanced Topics</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/core/#products">Products</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/#orders">Orders</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/#payments">Payments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/#shipments">Shipments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/#shipments">Adjustments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/#inventory">Inventory</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
