<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Tutorials', '/developer/getting_started_tutorial' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Getting Started", '/developer/getting_started_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Extensions", '/developer/extensions_tutorial' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Deface Overrides", '/developer/deface_overrides_tutorial' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Source Code', '/developer/about' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "About", '/developer/about' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Navigating", '/developer/navigating' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Getting Help", '/developer/getting_help' %> <div class="toc"></div> </li>
          <li>
            <i class="icon-dot"></i>
            <a href="https://github.com/spree/spree/blob/master/.github/CONTRIBUTING.md" target="_blank" rel="nofollow">
              Contributing
            </a>
            <div class="toc"></div>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-core-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'The Core', '/developer/addresses' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Addresses", '/developer/addresses' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Adjustments", '/developer/adjustments' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Calculators", '/developer/calculators' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Inventory", '/developer/inventory' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Orders", '/developer/orders' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Payments", '/developer/payments' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Preferences", '/developer/preferences' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Products", '/developer/products' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Promotions", '/developer/promotions' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Shipments", '/developer/shipments' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Taxation", '/developer/taxation' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-customization-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Customization', '/developer/authentication' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Authentication", '/developer/authentication' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Internationalization (i18n)", '/developer/i18n' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "View", '/developer/view' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Asset", '/developer/asset' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Logic", '/developer/logic' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Use S3", '/developer/s3_storage' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Checkout", '/developer/checkout' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-deployment-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Deployment', '/developer/deployment_tips' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Heroku", '/developer/heroku' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Manual Ubuntu Deployment", '/developer/manual-ubuntu' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Deployment Options", '/developer/deployment_options' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Deployment Tips", '/developer/deployment_tips' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Requesting/Configuring SSL", '/developer/requesting_and_configuring_ssl' %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-advanced-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Advanced Topics', '/developer/seo' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Developer Tips", "/developer/developer_tips" %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Gateway Specific Information", '/developer/gateway_specific_information' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Migrating to Spree", "/developer/migration" %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Search Engine Optimization", '/developer/seo' %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Security", "/developer/security" %> <div class="toc"></div> </li>
          <li><i class="icon-dot"></i><%= link_to "Testing Spree Applications", "/developer/testing" %> <div class="toc"></div> </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-upgrades-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Upgrade Guides', '/developer/upgrade_guides' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "0.60.x to 0.70.x", '/developer/point-sixty-to-point-seventy' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "0.70.x to 1.0.x", '/developer/point-seventy-to-one-dot-oh' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "1.0.x to 1.1.x", '/developer/one-dot-oh-to-one-dot-one' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "1.1.x to 1.2.x", '/developer/one-dot-one-to-one-dot-two' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "1.2.x to 1.3.x", '/developer/one-dot-two-to-one-dot-three' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "1.3.x to 2.0.x", '/developer/one-dot-three-to-two-dot-oh' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "2.0.x to 2.1.x", '/developer/two-dot-oh-to-two-dot-one' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "2.1.x to 2.2.x", '/developer/two-dot-one-to-two-dot-two' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "2.2.x to 2.3.x", '/developer/two-dot-two-to-two-dot-three' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "2.3.x to 2.4.x", '/developer/two-dot-three-to-two-dot-four' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "3.0.x to 3.1.x", '/developer/three-dot-oh-to-three-dot-one' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "3.1.x to 3.2.x", '/developer/three-dot-one-to-three-dot-two' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "3.2.x to 3.3.x", '/developer/three-dot-two-to-three-dot-three' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "3.3.x to 3.4.x", '/developer/three-dot-three-to-three-dot-four' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "3.4.x to 3.5.x", '/developer/three-dot-four-to-three-dot-five' %> <div
          class="toc"></div></li>
          <li><i class="icon-dot"></i><%= link_to "3.5.x to 3.6.x", '/developer/three-dot-five-to-three-dot-six' %> <div
          class="toc"></div></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
