<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%=link_to 'Tutorials', 'getting_started'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "Getting Started", 'getting_started'%></li>
          <li><i class="icon-dot"></i><%=link_to "Extensions", 'extensions'%></li>
          <li><i class="icon-dot"></i><%=link_to "Deface Overrides", 'deface_overrides'%></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%=link_to 'Source Code', 'about'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "About", 'about'%></li>
          <li><i class="icon-dot"></i><%=link_to "Navigating", 'navigating'%></li>
          <li><i class="icon-dot"></i><%=link_to "Getting Help", 'getting_help'%></li>
          <li><i class="icon-dot"></i><%=link_to "Contributing", 'contributing'%></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%=link_to 'The Core', 'activators'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "Activators", 'activators'%></li>
          <li><i class="icon-dot"></i><%=link_to "Addresses", 'addresses'%></li>
          <li><i class="icon-dot"></i><%=link_to "Adjustments", 'adjustments'%></li>
          <li><i class="icon-dot"></i><%=link_to "Calculators", 'calculators'%></li>
          <li><i class="icon-dot"></i><%=link_to "Inventory", 'inventory'%></li>
          <li><i class="icon-dot"></i><%=link_to "Payments", 'payments'%></li>
          <li><i class="icon-dot"></i><%=link_to "Preferences", 'preferences'%></li>
          <li><i class="icon-dot"></i><%=link_to "Promotions", 'promotions'%></li>
          <li><i class="icon-dot"></i><%=link_to "Orders", 'orders'%></li>
          <li><i class="icon-dot"></i><%=link_to "Shipments", 'shipments'%></li>
          <li><i class="icon-dot"></i><%=link_to "Taxation", 'taxation'%></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%=link_to 'Customization', 'authentication'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "Authentication", 'authentication'%></li>
          <li><i class="icon-dot"></i><%=link_to "Internationalization (i18n)", 'i18n'%></li>
          <li><i class="icon-dot"></i><%=link_to "View", 'view'%></li>
          <li><i class="icon-dot"></i><%=link_to "Asset", 'asset'%></li>
          <li><i class="icon-dot"></i><%=link_to "Logic", 'logic'%></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%=link_to 'Deployment', 'deployment-service'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%=link_to "Deployment Service", 'deployment-service'%></li>
          <li><i class="icon-dot"></i><%=link_to "Deployment Tips", 'deployment_tips'%></li>
          <li><i class="icon-dot"></i><%=link_to "Ubuntu", 'ubuntu'%></li>
          <li><i class="icon-dot"></i><%=link_to "Heroku", 'heroku'%></li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%=link_to 'Advanced Topics', 'products'%>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "Products", 'products' %></li>
          <li><i class="icon-dot"></i><%= link_to "Orders", 'orders' %></li>
          <li><i class="icon-dot"></i><%= link_to "Payments", 'payments' %></li>
          <li><i class="icon-dot"></i><%= link_to "Shipments", 'shipments' %></li>
          <li><i class="icon-dot"></i><%= link_to "Adjustments", 'adjustments' %></li>
          <li><i class="icon-dot"></i><%= link_to "Inventory", 'inventory' %></li>
          <li><i class="icon-dot"></i><%= link_to "Search Engine Optimization", 'seo' %></li>
          <li><i class="icon-dot"></i><%= link_to "Developer Tips", "developer_tips" %></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
