<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> - Developer Guide | Spree - Ruby on Rails e-commerce platform</title>

  <%= render '_head' %>

</head>
<body class="developer">
  <%= render '_edge_badge' %>
  <header id="header">
    <%= render '_header' %>

    <div id="subheader">
      <div class="container">
        <div class="sixteen columns">
          <h1 class="page-title"><%= @item[:title] %> - Developer Guide | Spree - Ruby on Rails e-commerce platform</h1>
        </div>
      </div>
    </div>

  </header>

  <div class="container" id="main">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>

    <%= render "developer/_sidebar" %>
  </div>

  <%= render '_footer' %>
  </body>
</html>
