// Sidebar
#sidebar {
  #sidebar-menu {
    > ul {
      margin-left: 0;
      padding-left: 0;
      -webkit-padding-start: 0px;
    }

    li.js-topic {
      margin-bottom: 15px;
    }

    li.current > a, li.toc-active > a {
      color: $c-green;
    }

    li.current {
      position: relative;

      > a {
        display: inline-block;
        width: 200px;
      }

      > i.icon-dot {
        display: inline-block;
        float: left;
        width: 20px;
      }

      .toc ul {
        display: block;
      }

      .toc {
        padding-left: 10px;
        border-left: 2px solid $c-border;
        margin-left: 7px;
        margin-top: -12px;
        padding-top: 15px;

        > ul > li {
          position: relative;

          > a {
            &:before {
              content: '';
              position: absolute;
              height: 2px;
              width: 6px;
              background-color: $c-border;
              margin-left: -10px;
              top: 50%;
              margin-top: -1px;
            }
          }
        }

        a {
          font-weight: 400;
        }

        .toc-h2 a {
          font-weight: 600
        }
        .toc-h3 {
          margin-left: 10px;
          font-style: italic;
          border-bottom: 1px dashed $c-border;

          a:before {
            display: none;
          }
        }
      }

      &.closed {
        .toc {
          border-color: transparent;
        }
      }
    }

    h3 {
      margin: 0;
      line-height: 40px;
    }

    a {
      font-weight: 600;
      padding-left: 0 !important;
    }

    &.stuck {
      position: fixed;
      top: 0;
      margin-top: 0px;
    }
  }
}

#main-menu {
  > ul {
    margin-left: 0;
    padding-left: 0;

    li {
      a {
        padding: 0 15px
      }
    }
  }
}
