$primary-background: #ffffff;
$font-color: black;
$footer-background: $primary-background;
$footer-font-color: $font-color;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;
