$primary-background: #ffffff;
$secondary-background: #f2f2f2;
$input-background: #ffffff;
$font-color: black;
$font-family: 'Montserrat', sans-serif;
$header-font-color: $font-color;
$header-background: $primary-background;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $primary-background;
$secondary-font-color: #000000;
$global-border-style: #e2e2e2;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;
