$primary-color: #0074C2;
$secondary-color: #4c4c4c;
$primary-background: #ffffff;
$secondary-background: #f2f2f2;
$input-background: #ffffff;
$input-border: #232323;
$font-color: black;
$font-family: 'Montserrat', sans-serif;
$header-font-color: $font-color;
$header-background: $primary-background;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $primary-background;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;
