$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;
$container-padding: 17px;
$photo-width-to-height-ratio: 30001/ 37500;
$thumbnails-carousel-single-height: 100% / $photo-width-to-height-ratio;
