openapi: 3.0.3
servers:
  - url: 'https://demo.spreecommerce.org'
    description: demo
  - url: 'http://localhost:3000'
    description: localhost
info:
  version: 2.0.0
  title: Storefront API
  description: |-
    Storefront API is a modern REST API based on the [JSON API spec](https://jsonapi.org/) which provides you with all the necessary endpoints to build amazing user interfaces either in JavaScript frameworks or native mobile libraries.

    Import to [Postman](https://raw.githubusercontent.com/spree/spree/main/docs/api-reference/storefront.yaml)
  contact:
    name: Vendo Connect Inc.
    url: 'https://spreecommerce.org'
    email: hello@spreecommerce.org
  license:
    name: AGPL-3.0-or-later
    url: 'https://github.com/spree/spree/blob/main/LICENSE.md'
paths:
  /api/v2/storefront/account:
    get:
      description: Returns the current user details.
      summary: Retrieve an Account
      tags:
        - Account
      operationId: account-information
      parameters:
        - $ref: '#/components/parameters/AccountIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsUser'
      responses:
        '200':
          $ref: '#/components/responses/User'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
    post:
      description: 'Creates a new account'
      summary: Create an Account
      tags:
        - Account
      operationId: account-creation
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      example: john@snow.org
                    first_name:
                      type: string
                      example: John
                    last_name:
                      type: string
                      example: Snow
                    selected_locale:
                      type: string
                      example: 'en'
                    password:
                      type: string
                      example: spree123
                    password_confirmation:
                      type: string
                      example: spree123
                    public_metadata:
                      type: object
                      example:
                        user_segment: supplier
                      description: The public metadata for this User
                    private_metadata:
                      type: object
                      example:
                        has_abandoned_cart: false
                      description: The private metadata for this User
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/User'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
    patch:
      description: 'Updates the users account details'
      summary: Update an Account
      tags:
        - Account
      operationId: account-updates
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      example: john@snow.org
                    first_name:
                      type: string
                      example: John
                    last_name:
                      type: string
                      example: Snow
                    selected_locale:
                      type: string
                      example: 'fr'
                    bill_address_id:
                      type: string
                      example: '1'
                    ship_address_id:
                      type: string
                      example: '1'
                    password:
                      type: string
                      example: spree123
                    password_confirmation:
                      type: string
                      example: spree123
      responses:
        '200':
          $ref: '#/components/responses/User'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
  /api/v2/storefront/account/addresses:
    get:
      description: Returns a list of addresses for the current user.
      summary: List all Addresses
      operationId: addresses-list
      responses:
        '200':
          $ref: '#/components/responses/AddressList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SparseFieldsAddress'
        - in: query
          name: 'filter[exclude_quick_checkout]'
          schema:
            type: boolean
          example: true
          description: 'Exclude addresses that were created during quick checkout'
      tags:
        - Account / Address
    post:
      description: Creates a new address for the current user.
      summary: Create an Address
      tags:
        - Account / Address
      operationId: create-address
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                address:
                  $ref: '#/components/schemas/AddressPayload'
            examples:
              Create a Address:
                value:
                  address:
                    firstname: Mark
                    lastname: Winterburn
                    company: Paper Street Soap Co.
                    address1: 775 Old Georgetown Road
                    address2: 3rd Floor
                    city: Qethesda
                    phone: '3488545445002'
                    zipcode: '90210'
                    state_name: CA
                    country_iso: US
                    label: Work
      responses:
        '200':
          $ref: '#/components/responses/Address'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SparseFieldsAddress'
  '/api/v2/storefront/account/addresses/{id}':
    delete:
      description: This endpoint removes the specified address for the current user. It uses a soft delete to retain address information for pre-existing orders.
      operationId: remove-address
      responses:
        '204':
          description: 204 Success No Content Returned - Requested Address has been removed from the User Account
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - bearerAuth: []
      summary: Remove an Address
      tags:
        - Account / Address
    patch:
      description: Updates the specified address for the current user.
      summary: Update an Address
      operationId: update-address
      parameters:
        - $ref: '#/components/parameters/SparseFieldsAddress'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                address:
                  $ref: '#/components/schemas/AddressPayload'
            examples:
              Update an Address:
                value:
                  address:
                    firstname: Stephen
                    lastname: Smith
                    company: Woodbank School
                    address1: 234 Old Georgetown Road
                    address2: 1st Floor
                    city: Aethesda
                    phone: '34885493845002'
                    zipcode: '90211'
                    state_name: CA
                    country_iso: US
                    label: Office
      responses:
        '200':
          $ref: '#/components/responses/Address'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
      tags:
        - Account / Address
    parameters:
      - schema:
          type: string
          example: '1'
        name: id
        in: path
        required: true
        description: The ID of the specified `address`.
  /api/v2/storefront/account/credit_cards:
    get:
      description: Returns a list of credit cards for the current user.
      summary: List all Credit Cards
      operationId: credit-cards-list
      responses:
        '200':
          $ref: '#/components/responses/CreditCardList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: 'filter[payment_method_id]'
          schema:
            type: string
          example: '2'
          description: Filter based on payment method ID
        - $ref: '#/components/parameters/CreditCardIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCreditCard'
      tags:
        - Account / Credit Cards
  '/api/v2/storefront/account/credit_cards/{id}':
    delete:
      description: Removes a specified credit card for the current user with a soft delete to retain payment information for any pre-existing orders.
      operationId: remove-credit-card
      responses:
        '204':
          description: 204 Success No Content Returned - Requested Credit Card has been removed from the User Account
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - bearerAuth: []
      summary: Remove a Credit Card
      tags:
        - Account / Credit Cards
    parameters:
      - schema:
          type: string
          example: '1'
        name: id
        in: path
        required: true
        description: The ID of the `credit_card` you wish to remove.
  /api/v2/storefront/account/credit_cards/default:
    get:
      description: Returns the current user's default credit card.
      summary: Retrieve the default Credit Card
      operationId: default-credit-card
      responses:
        '200':
          $ref: '#/components/responses/CreditCard'
        '403':
          $ref: '#/components/responses/403Forbidden'
      parameters:
        - $ref: '#/components/parameters/CreditCardIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCreditCard'
      security:
        - bearerAuth: []
      tags:
        - Account / Credit Cards
  /api/v2/storefront/account/orders:
    get:
      description: Returns all completed orders placed by the current user in the current store.
      summary: List all Orders
      operationId: completed-orders
      responses:
        '200':
          $ref: '#/components/responses/CartList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      security:
        - bearerAuth: []
      tags:
        - Account / Orders
  '/api/v2/storefront/account/orders/{order_number}':
    get:
      description: Returns a completed order for the current user within the scope of the current store.
      summary: Retrieve an Order
      operationId: completed-user-order
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '403':
          $ref: '#/components/responses/403Forbidden'
      parameters:
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      security:
        - bearerAuth: []
      tags:
        - Account / Orders
    parameters:
      - $ref: '#/components/parameters/OrderParam'
  '/api/v2/storefront/order_status/{order_number}':
    get:
      description: |-
        Returns completed order information.

        This endpoint is useful when fetching orders placed by a guest user, allowing customers without an account to check the status of their order: (shipment/payment/processing) etc.

        Pass the cart `token` value as the `X-Spree-Order-Token` for authorization, and the corresponding cart `number` in the URI **{order_number}** to successfully retrieve an order.
      summary: Retrieve an Order Status
      operationId: order-status
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      security:
        - orderToken: []
      tags:
        - Order Status
    parameters:
      - $ref: '#/components/parameters/OrderParam'
  /api/v2/storefront/cart:
    post:
      description: |-
        Creates a new cart.

        **Please be aware**; The `token` value found in the response body is used to authorize all future operations on this cart through the Auth API Key `X-Spree-Order-Token`.
      tags:
        - Cart
      operationId: create-cart
      responses:
        '201':
          $ref: '#/components/responses/Cart'
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      requestBody:
        required: false
        content:
          application/vnd.api+json:
            schema:
              type: object
              example:
                public_metadata:
                  total_weight: 3250
                private_metadata:
                  had_same_cart_items: true
              properties:
                public_metadata:
                  type: object
                  description: The public metadata for the cart.
                private_metadata:
                  type: object
                  description: The private metadata for the cart.
      summary: Create a Cart
    delete:
      description: |-
        Deletes a specified cart.

        When this endpoint is successfully executed, all shipments are cancelled, payments are voided, then line items, shipments & payments are all deleted.
      tags:
        - Cart
      operationId: deletes-cart
      responses:
        '204':
          description: 204 Success No Content Returned - Current Cart has been removed.
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Delete a Cart
    get:
      description: Returns the cart for the current user.
      tags:
        - Cart
      operationId: get-cart
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
        - $ref: '#/components/parameters/CartCurrencyParam'
      summary: Retrieve a Cart
  /api/v2/storefront/cart/add_item:
    post:
      description: Adds a variant to the current cart by creating a line item. Each line item represents a specified variant and the desired quantity.
      operationId: add-item
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              example:
                variant_id: '1'
                quantity: 5
                public_metadata:
                  first_item_order: true
                private_metadata:
                  recommended_by_us: false
              properties:
                variant_id:
                  type: string
                quantity:
                  type: integer
                public_metadata:
                  type: object
                  description: The public metadata for the added item.
                private_metadata:
                  type: object
                  description: The private metadata for the added item.
                options:
                  type: object
                  description: 'Additional custom options. Activate these by adding: `Spree::PermittedAttributes.line_item_attributes << :foo` in `config/initializers/spree.rb`'
        description: |-
          Additional parameters can be passed in the **options** hash. Each custom parameter must be registered in `config/initializers/spree.rb`, eg.

          ```ruby
            Spree::PermittedAttributes.line_item_attributes << :foo
          ```
      summary: Add an Item to Cart
      tags:
        - Cart / Line Items
  /api/v2/storefront/cart/set_quantity:
    patch:
      description: Sets the quantity of a specified line item.
      operationId: set-quantity
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                line_item_id:
                  type: string
                quantity:
                  type: integer
              example:
                line_item_id: '1'
                quantity: 5
        description: The quantity has to be a positive integer greater than 0.
      summary: Set Line Item Quantity
      tags:
        - Cart / Line Items
  '/api/v2/storefront/cart/remove_line_item/{id}':
    delete:
      description: |-
        Removes a line item from the cart by deleting the line item.

        After deleting the line item, the system will re-calculate taxes, promotions, shipments etc.
      operationId: remove-line-item
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Remove a Line Item
      tags:
        - Cart / Line Items
    parameters:
      - schema:
          type: string
          example: '1'
        name: id
        in: path
        required: true
        description: The ID of the `line_item` you wish to remove.
  /api/v2/storefront/cart/empty:
    patch:
      description: This endpoint removed all line items from the cart. Inventory that was previously taken by this order will be re-stocked.
      operationId: empty-cart
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Empty the Cart
      tags:
        - Cart / Other
  /api/v2/storefront/cart/apply_coupon_code:
    patch:
      description: Applies a coupon code or gift card code to the current cart.
      operationId: apply-coupon-code
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                coupon_code:
                  type: string
                  example: DISCOUNT10
      summary: Apply a Coupon Code / Gift Card
      tags:
        - Cart / Coupons
  '/api/v2/storefront/cart/remove_coupon_code/{coupon_code}':
    delete:
      description: Removes a specified coupon code or gift card code from the current cart.
      operationId: remove-coupon-code
      parameters:
        - name: coupon_code
          in: path
          required: true
          description: Specify the coupon code or gift card code for removal.
          schema:
            type: string
          example: DISCOUNT10
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Remove a Coupon / Gift Card
      tags:
        - Cart / Coupons
  /api/v2/storefront/cart/remove_coupon_code:
    delete:
      description: Removes all coupons that have been applied to the current cart.
      operationId: remove-all-coupon-codes
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Remove all Coupons
      tags:
        - Cart / Coupons
  /api/v2/storefront/cart/estimate_shipping_rates:
    get:
      description: Returns a list of shipping rates for the current cart. The rates given are only estimates and can vary from the final shipping rates.
      operationId: estimate-shipping-rates
      parameters:
        - name: country_iso
          in: query
          description: Pass country ISO or ISO3 symbol to get estimations for this destination. If no code is passed we'll try to use Cart shipping address country or the default Country for the current Store.
          schema:
            type: string
            example: USA
          example: USA
          required: true
        - $ref: '#/components/parameters/SparseFieldsShippingRate'
      responses:
        '200':
          $ref: '#/components/responses/EstimatedShippingRates'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: List Estimated Shipping Rates
      tags:
        - Cart / Other
  /api/v2/storefront/cart/associate:
    patch:
      description: Associates a guest cart with the currently signed in user.
      operationId: associate-cart
      parameters:
        - name: guest_order_token
          in: query
          description: Token of the guest cart to be associated with user.
          schema:
            type: string
            example: bd7SHdOAQqTsQHsjnhoWIw1633364692479
          required: true
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
      summary: Associate a Cart with a User
      tags:
        - Cart / Other
  /api/v2/storefront/cart/change_currency:
    patch:
      description: Changes the cart currency and recalculates the cart values.
      operationId: change-currency
      parameters:
        - name: new_currency
          in: query
          description: The currency to change the cart to.
          schema:
            type: string
            example: USD
          required: true
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: Change Cart Currency
      tags:
        - Cart / Other
  /api/v2/storefront/checkout:
    patch:
      description: The Update Checkout endpoint allows you to manage the typical stages of an e-commerce checkout system.
      tags:
        - Checkout
      operationId: update-checkout
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
      summary: Update Checkout
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                order:
                  type: object
                  properties:
                    email:
                      type: string
                      example: john@snow.org
                    bill_address_attributes:
                      $ref: '#/components/schemas/AddressPayload'
                    ship_address_attributes:
                      $ref: '#/components/schemas/AddressPayload'
                    shipments_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: '3'
                            description: The Shipment `id`
                          selected_shipping_rate_id:
                            type: string
                            example: '10'
                            description: The Shipping Rate `id`
                        required:
                          - id
                          - selected_shipping_rate_id
                    payments_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          payment_method_id:
                            type: string
                            example: '1'
                            description: The `id` of the Payment Method
                          source_attributes:
                            type: object
                            properties:
                              gateway_payment_profile_id:
                                type: string
                              month:
                                type: number
                              year:
                                type: number
                              cc_type:
                                type: string
                              name:
                                type: string
                        required:
                          - payment_method_id
                          - source_attributes
            examples:
              Add Customer Details:
                value:
                  order:
                    email: john@snow.org
                    bill_address_attributes:
                      firstname: John
                      lastname: Snow
                      address1: 7735 Old Georgetown Road
                      city: Bethesda
                      phone: '3014445002'
                      zipcode: '20814'
                      state_name: MD
                      country_iso: US
                    ship_address_attributes:
                      firstname: John
                      lastname: Snow
                      address1: 7735 Old Georgetown Road
                      city: Bethesda
                      phone: '3014445002'
                      zipcode: '20814'
                      state_name: MD
                      country_iso: US
              Add Shipping Rates:
                value:
                  order:
                    shipments_attributes:
                      - id: '1'
                        selected_shipping_rate_id: '1'
              Add a Payment:
                value:
                  order:
                    payments_attributes:
                      - payment_method_id: '1'
                        source_attributes:
                          gateway_payment_profile_id: ABC123
                          cc_type: visa
                          last_digits: '1111'
                          month: 10
                          year: 2022
                          name: John Doe
        description: |-
          ##### Add Customer Details

          Adding customer details is achieved by passing the customer-related attributes shown in the corresponding request body example.

          ##### Add Shipping Rates

          To add shipping rates, you will need a shipment associated with the checkout. If you do not have any shipments follow the steps below:

          1. First, ensure your cart has items added via the **Add an Item to Cart** endpoint.
          2. Next, ensure the checkout has a shipping address set, you can set this by running the *Add Customer Details* example above.
          3. Next run the **Advance Checkout** endpoint, this will create shipments for the items in the cart and users shipping destination.

          Use the **List Shipping Rates** endpoint to find the shipments and shipping rates available for this checkout. Note the shipment `id` and shipping_rate `id`; use these values to populate your request body.

          ##### Add a Payment

          To add a payment method, you must find the available payment methods by running the **List Payment Methods** endpoint, each payment method has its own set of source attribute requirements. In the example shown, we have used the source attributes for a card payment.

          Pass the `payment_method_id` and `source_attribute` hash containing the required attributes for the selected payment method.
  /api/v2/storefront/checkout/next:
    patch:
      description: Goes to the next checkout step.
      operationId: checkout-next
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Next Checkout Step
      tags:
        - Checkout / State
  /api/v2/storefront/checkout/advance:
    patch:
      description: 'Advances the checkout to the furthest checkout step validation allows, up until the **completed** step.'
      operationId: advance-checkout
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Advance Checkout
      tags:
        - Checkout / State
  /api/v2/storefront/checkout/complete:
    patch:
      description: |-
        Completes the checkout by marking the order as complete.

        **Please be aware**; Once a checkout is marked as `complete` it is considered a completed order, the Cart and Checkout endpoints will no longer access a completed order, and a new cart will need to be created.

        If you want to access a completed order you will need to use the **Account / Orders** or **Order Status** endpoints.
      operationId: complete-checkout
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
      summary: Complete Checkout
      tags:
        - Checkout / State
  /api/v2/storefront/checkout/select_shipping_method:
    patch:
      description: |-
        Selects shipping method for Shipment(s).

        To generate shipments you first need to fetch shipping rates via

        [Get Shipping Rates](/api-reference/storefront/checkout-shipments/list-shipping-rates) endpoint
      operationId: select-shipping-method
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                shipping_method_id:
                  type: string
                  description: ID of the selected Shipping Method
                shipment_id:
                  type: string
                  description: ID of the selected Shipment. If not supplied it will try to set selected shipping method for all shipments
              required:
                - shipping_method_id
            examples:
              Set shippng method for all shipments:
                value:
                  shipping_method_id: '1'
              Set shipping method for specific shipment:
                value:
                  shipping_method_id: '1'
                  shipment_id: '1'
        description: ''
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Selects shipping method for shipment(s)
      tags:
        - Checkout / Shipments
  /api/v2/storefront/checkout/validate_order_for_payment:
    post:
      description: |-
        Validate an order before placing it. It will respond with an error when:
        - cart was changed
        - any order item is out of stock
        - any order item is discontinued
      operationId: validate-order-payment
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '422':
          $ref: '#/components/responses/CartWithErrors'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - in: query
          name: skip_state
          description: Set to `true` if the check for cart changes should be skipped
          schema:
            type: boolean
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Validate order payment
      tags:
        - Checkout
  /api/v2/storefront/checkout/create_payment:
    post:
      description: |-
        Creates new Payment for the current checkout.

        You can either create new payment source (eg. a Credit Card) or use an existing (for signed in users only).

        Newly created payment source will be associated to the current signed in user.

        System will automatically invalidate previous (non-finalized) payments (excluding store credit / gift card payments).

        [More details on payment system](/developer/core-concepts/payments)
      operationId: create-payment
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: string
                  description: ID of the selected Payment Method
                source_id:
                  type: string
                  description: 'ID of the selected Payment Source (eg. Credit Card, only for signed in users)'
                amount:
                  type: number
                  description: 'Amount for the newly created payment, when left blank will use the entire Order Total (reduced by used Store Credits / Gift Cards)'
                source_attributes:
                  type: object
                  properties:
                    gateway_payment_profile_id:
                      type: string
                      description: 'Payment source authorization token, more details for [Stripe implementation](https://stripe.com/docs/payments/accept-a-payment-charges#web-create-token)'
                    cc_type:
                      type: string
                      enum:
                        - visa
                        - mastercard
                        - amex
                    last_digits:
                      type: string
                      description: Last 4 digits of CC number
                    month:
                      type: number
                      description: Expiration date month
                    year:
                      type: number
                      description: Expiration date year
                    name:
                      type: string
                      description: Card holder name
                  required:
                    - gateway_payment_profile_id
                    - name
              required:
                - payment_method_id
            examples:
              Create new Credit Card:
                value:
                  payment_method_id: '1'
                  source_attributes:
                    gateway_payment_profile_id: card_1JqvNB2eZvKYlo2C5OlqLV7S
                    cc_type: visa
                    last_digits: '1111'
                    month: 10
                    year: 2026
                    name: John Snow
              Use existing Credit Card:
                value:
                  payment_method_id: '1'
                  source_id: '1'
        description: ''
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Create new Payment
      tags:
        - Checkout / Payments
  /api/v2/storefront/checkout/add_store_credit:
    post:
      description: |-
        The Add Store Credit endpoint takes the users existing store credit from their account and adds a set amount of this store credit to the current cart.

        In essence, by adding the user's store credit to a cart, the user's store credit is being spent.
      operationId: add-store-credit
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - in: query
          name: amount
          description: Amount of Store Credit to use. As much as possible Store Credit will be applied if no amount is passed.
          schema:
            type: string
          example: '100'
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Add Store Credit
      tags:
        - Checkout / Store Credit
  /api/v2/storefront/checkout/remove_store_credit:
    post:
      description: Removes store credit from the cart if any had previously been applied.
      operationId: remove-store-credit
      responses:
        '200':
          $ref: '#/components/responses/Cart'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CartIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCart'
      summary: Remove Store Credit
      tags:
        - Checkout / Store Credit
  /api/v2/storefront/checkout/payment_methods:
    get:
      description: Returns a list of available payment methods for this checkout.
      tags:
        - Checkout / Payments
      operationId: payment-methods
      responses:
        '200':
          $ref: '#/components/responses/PaymentMethodList'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: List Payment Methods
  /api/v2/storefront/checkout/shipping_rates:
    get:
      description: |-
        Returns a list of available shipping rates for the checkout.

        Shipping rates are grouped against shipments. Each checkout can have multiple shipments. Some products are in stock and will be shipped immediately, while others might be back-ordered and sent later.
      tags:
        - Checkout / Shipments
      operationId: shipping-rates
      responses:
        '200':
          $ref: '#/components/responses/Shipment'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
        - bearerAuth: []
      summary: List Shipping Rates
  /api/v2/storefront/products:
    get:
      description: Returns a list of products for the current Store.
      tags:
        - Products
      operationId: products-list
      parameters:
        - $ref: '#/components/parameters/FilterByIds'
        - $ref: '#/components/parameters/FilterBySKUs'
        - in: query
          name: 'filter[price]'
          schema:
            type: string
          example: '10,100'
          description: 'Filter Products based on price (minimum, maximum range)'
        - in: query
          name: 'filter[taxons]'
          schema:
            type: string
          example: '1,2,3,4,5,6,7,8,9,10,11'
          description: 'Filter Products based on taxons (IDs of categories, brands, etc)'
        - in: query
          name: 'filter[vendor_ids]'
          schema:
            type: string
          example: 'bb492c7d-c174-4e6b-ba0b-fe98d5c17307,51c35adb-7ab3-4880-8887-35bdc4f6c29f'
          description: 'Fetch products from specified Vendors (Sellers) - only available in [Enterprise Edition](https://spreecommerce.org/pricing)'
        - in: query
          name: 'filter[name]'
          schema:
            type: string
          example: rails
          description: 'Find Products with matching name (supports wild-card, partial-word match search)'
        - in: query
          name: 'filter[options][tshirt-color]'
          schema:
            type: string
          example: Red
          description: 'Find Products with Variants that have the specified option (eg. color, size) and value (eg. red, XS)'
        - in: query
          name: 'filter[properties][brand-name]'
          schema:
            type: string
          example: alpha
          description: Find Products with Property Brand Name with value Alpha
        - in: query
          name: 'filter[show_deleted]'
          schema:
            type: boolean
          example: true
          description: Returns also deleted products
        - in: query
          name: 'filter[show_discontinued]'
          schema:
            type: boolean
          example: true
          description: Returns also discontinued products
        - in: query
          name: 'filter[in_stock]'
          schema:
            type: boolean
          example: true
          description: Returns only in stock products
        - in: query
          name: 'filter[backorderable]'
          schema:
            type: boolean
          example: true
          description: Returns only backorderable products
        - in: query
          name: 'filter[purchasable]'
          schema:
            type: boolean
          example: true
          description: Returns only in stock or backorderable products
        - in: query
          name: sort
          schema:
            type: string
          example: '-updated_at,price,-name,created_at,-available_on,sku'
          description: |-
            Sort products based on: <ul>
              <li>name (ascending/descending)</li>
              <li>price (ascending/descending)</li>
              <li>available_on (ascending/descending)</li>
              <li>created_at (ascending/descending)</li>
              <li>updated_at (ascending/descending)</li>
              <li>sku (ascending/descending)</li>
            </ul> Use <q>-</q> sign to set descending sort, eg. <q>-updated_at</q>
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/ProductIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsProduct'
        - $ref: '#/components/parameters/ProductImageTransformationSizeParam'
        - $ref: '#/components/parameters/ProductImageTransformationQualityParam'
      responses:
        '200':
          $ref: '#/components/responses/ProductList'
      summary: List all Products
  '/api/v2/storefront/products/{product_slug}':
    get:
      description: |-
        Returns Product details. You can use product permalink:

        ```
        GET /api/v2/storefront/products/knitted-high-neck-sweater
        ```

        Or Product ID:

        ```
        GET /api/v2/storefront/products/21
        ```

        **Note** API will attempt a permalink lookup before an ID lookup.
      tags:
        - Products
      operationId: show-product
      parameters:
        - $ref: '#/components/parameters/ProductSlug'
        - $ref: '#/components/parameters/ProductIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsProduct'
        - $ref: '#/components/parameters/ProductImageTransformationSizeParam'
        - $ref: '#/components/parameters/ProductImageTransformationQualityParam'
      responses:
        '200':
          $ref: '#/components/responses/Product'
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: Retrieve a Product
  /api/v2/storefront/products/{product_slug}/variants:
    get:
      description: |-
        Returns a list of product variants. You can use product permalink:

        ```
        GET /api/v2/storefront/products/knitted-high-neck-sweater/variants
        ```

        Or Product ID:

        ```
        GET /api/v2/storefront/products/21/variants
        ```

        **Note** API will attempt a permalink lookup before an ID lookup.
      tags:
        - Variants
      operationId: variants-list
      parameters:
        - $ref: '#/components/parameters/ProductSlug'
        - in: query
          name: 'filter[options][color]'
          schema:
            type: string
          example: red
          description: 'Find Variants that have the specified option (eg. color, size) and value (eg. red, XS)'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/VariantIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsVariant'
      responses:
        '200':
          $ref: '#/components/responses/VariantList'
      summary: List all Product Variants
  /api/v2/storefront/store:
    get:
      summary: Return the current Store
      description: 'Returns the current Store. [Read more about Stores](/developer/core-concepts/stores)'
      tags:
        - Stores
      operationId: show-current-store
      parameters:
        - $ref: '#/components/parameters/StoreIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsStore'
      responses:
        '200':
          $ref: '#/components/responses/Store'
        '403':
          $ref: '#/components/responses/403Forbidden'
  /api/v2/storefront/policies:
    get:
      summary: List all Store Policies
      description: 'Returns a list of Store Policies. This endpoint is only available in Spree 5.2 or later.'
      tags:
        - Policies
      operationId: policies-list
      responses:
        '200':
          $ref: '#/components/responses/PolicyList'
  /api/v2/storefront/policies/{policy_slug}:
    get:
      summary: Retrieve a Policy
      description: 'Returns the details of a specified Policy. This endpoint is only available in Spree 5.2 or later.'
      tags:
        - Policies
      operationId: show-policy
      responses:
        '200':
          $ref: '#/components/responses/Policy'
        '404':
          $ref: '#/components/responses/404NotFound'
  /api/v2/storefront/posts:
    get:
      summary: List all Posts
      description: 'Returns a list of published Posts. This endpoint is only available in Spree 5.2 or later.'
      tags:
        - Posts
      operationId: posts-list
      parameters:
        - $ref: '#/components/parameters/FilterByIds'
        - in: query
          name: 'filter[title]'
          schema:
            type: string
          example: 'Hello World'
          description: Filter Posts by title
        - in: query
          name: 'filter[post_category_id]'
          schema:
            type: string
          example: '1'
          description: Filter Posts by Post Category ID
        - in: query
          name: 'filter[post_category_slug]'
          schema:
            type: string
          example: 'news'
          description: Filter Posts by Post Category slug
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - in: query
          name: sort
          schema:
            type: string
            enum: ['id', '-id', 'title', '-title', 'published_at', '-published_at', 'created_at', '-created_at', 'updated_at', '-updated_at']
          example: '-published_at'
          description: 'Sort posts by attribute. Prefix with "-" for descending order. Available options: id, title, published_at, created_at, updated_at'
        - in: query
          name: include
          schema:
            type: string
          example: 'post_category'
          description: 'Include related resources (available: post_category)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  meta:
                    $ref: '#/components/schemas/ListMeta'
                  links:
                    $ref: '#/components/schemas/ListLinks'
              examples:
                success:
                  value:
                    data:
                      - id: '1'
                        type: 'post'
                        attributes:
                          title: 'Hello World'
                          slug: 'hello-world'
                          published_at: '2025-08-11T21:03:00.000Z'
                          meta_title: ''
                          meta_description: ''
                          created_at: '2025-08-11T21:03:00.128Z'
                          updated_at: '2025-08-27T10:09:23.007Z'
                          excerpt: null
                          content: 'This is a test post'
                          content_html: '<div class="trix-content">\n  <div>This is a test post</div>\n</div>\n'
                          description: 'This is a test post'
                          shortened_description: 'This is a test post'
                          author_name: 'Spree Admin'
                          post_category_title: 'News'
                          tags: []
                          image_url: null
                        relationships:
                          post_category:
                            data:
                              id: '3'
                              type: 'post_category'
                    meta:
                      count: 1
                      total_count: 1
                      total_pages: 1
                    links:
                      self: 'http://localhost:3000/api/v2/storefront/posts'
                      next: 'http://localhost:3000/api/v2/storefront/posts?page=1'
                      prev: 'http://localhost:3000/api/v2/storefront/posts?page=1'
                      last: 'http://localhost:3000/api/v2/storefront/posts?page=1'
                      first: 'http://localhost:3000/api/v2/storefront/posts?page=1'
  '/api/v2/storefront/posts/{id}':
    get:
      summary: Retrieve a Post
      description: 'Returns the details of a specified Post. You can use either the post slug or ID. This endpoint is only available in Spree 5.2 or later.'
      tags:
        - Posts
      operationId: show-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 'hello-world'
          description: 'Post slug or ID'
        - in: query
          name: include
          schema:
            type: string
          example: 'post_category'
          description: 'Include related resources (available: post_category)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Post'
              examples:
                success:
                  value:
                    data:
                      id: '1'
                      type: 'post'
                      attributes:
                        title: 'Hello World'
                        slug: 'hello-world'
                        published_at: '2025-08-11T21:03:00.000Z'
                        meta_title: ''
                        meta_description: ''
                        created_at: '2025-08-11T21:03:00.128Z'
                        updated_at: '2025-08-27T10:09:23.007Z'
                        excerpt: null
                        content: 'This is a test post'
                        content_html: '<div class="trix-content">\n  <div>This is a test post</div>\n</div>\n'
                        description: 'This is a test post'
                        shortened_description: 'This is a test post'
                        author_name: 'Spree Admin'
                        post_category_title: 'News'
                        tags: []
                        image_url: null
                      relationships:
                        post_category:
                          data:
                            id: '3'
                            type: 'post_category'
        '404':
          $ref: '#/components/responses/404NotFound'
  /api/v2/storefront/post_categories:
    get:
      summary: List all Post Categories
      description: 'Returns a list of Post Categories. This endpoint is only available in Spree 5.2 or later.'
      tags:
        - Post Categories
      operationId: post-categories-list
      parameters:
        - $ref: '#/components/parameters/FilterByIds'
        - in: query
          name: 'filter[title]'
          schema:
            type: string
          example: 'News'
          description: Filter Post Categories by title
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - in: query
          name: sort
          schema:
            type: string
            enum: ['id', '-id', 'title', '-title', 'created_at', '-created_at', 'updated_at', '-updated_at']
          example: 'title'
          description: 'Sort post categories by attribute. Prefix with "-" for descending order. Available options: id, title, created_at, updated_at'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostCategory'
                  meta:
                    $ref: '#/components/schemas/ListMeta'
                  links:
                    $ref: '#/components/schemas/ListLinks'
              examples:
                success:
                  value:
                    data:
                      - id: '1'
                        type: 'post_category'
                        attributes:
                          title: 'Resources'
                          slug: 'resources'
                          created_at: '2025-08-11T20:58:24.354Z'
                          updated_at: '2025-08-11T20:58:24.354Z'
                          description: null
                        relationships: {}
                      - id: '2'
                        type: 'post_category'
                        attributes:
                          title: 'Articles'
                          slug: 'articles'
                          created_at: '2025-08-11T20:58:24.365Z'
                          updated_at: '2025-08-11T20:58:24.365Z'
                          description: null
                        relationships: {}
                      - id: '3'
                        type: 'post_category'
                        attributes:
                          title: 'News'
                          slug: 'news'
                          created_at: '2025-08-11T20:58:24.375Z'
                          updated_at: '2025-08-11T20:58:24.375Z'
                          description: null
                        relationships: {}
                    meta:
                      count: 3
                      total_count: 3
                      total_pages: 1
                    links:
                      self: 'http://localhost:3000/api/v2/storefront/post_categories'
                      next: 'http://localhost:3000/api/v2/storefront/post_categories?page=1'
                      prev: 'http://localhost:3000/api/v2/storefront/post_categories?page=1'
                      last: 'http://localhost:3000/api/v2/storefront/post_categories?page=1'
                      first: 'http://localhost:3000/api/v2/storefront/post_categories?page=1'
  '/api/v2/storefront/post_categories/{id}':
    get:
      summary: Retrieve a Post Category
      description: 'Returns the details of a specified Post Category, including related posts. You can use either the category slug or ID. This endpoint is only available in Spree 5.2 or later.'
      tags:
        - Post Categories
      operationId: show-post-category
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 'news'
          description: 'Post Category slug or ID'
        - in: query
          name: include
          schema:
            type: string
          example: 'posts'
          description: 'Include related resources (available: posts)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PostCategory'
              examples:
                success:
                  value:
                    data:
                      id: '3'
                      type: 'post_category'
                      attributes:
                        title: 'News'
                        slug: 'news'
                        created_at: '2025-08-11T20:58:24.375Z'
                        updated_at: '2025-08-11T20:58:24.375Z'
                        description: null
                      relationships:
                        posts:
                          data:
                            - id: '1'
                              type: 'post'
        '404':
          $ref: '#/components/responses/404NotFound'
  /api/v2/storefront/taxons:
    get:
      description: 'Returns a list of Taxons. [Read more about Taxons](/developer/core-concepts/products#taxons-and-taxonomies)'
      tags:
        - Taxons
      operationId: taxons-list
      parameters:
        - $ref: '#/components/parameters/FilterByIds'
        - $ref: '#/components/parameters/FilterByName'
        - in: query
          name: 'filter[parent_id]'
          schema:
            type: string
          example: '1'
          description: Fetch children nodes of specified Taxon
        - in: query
          name: 'filter[parent_permalink]'
          schema:
            type: string
          example: clothes
          description: Fetch children nodes of specified Taxon permalink
        - in: query
          name: 'filter[taxonomy_id]'
          schema:
            type: string
          example: '1'
          description: Fetch Taxons in a specified Taxonomy
        - in: query
          name: 'filter[roots]'
          schema:
            type: boolean
          example: false
          description: Fetch only root Taxons (Taxonomies)
        - in: query
          name: 'filter[vendor_id]'
          schema:
            type: string
          example: '1'
          description: Fetch only Taxons that have products of a selected Vendor
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/TaxonIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsTaxon'
      responses:
        '200':
          $ref: '#/components/responses/TaxonList'
      summary: List all Taxons
  '/api/v2/storefront/taxons/{taxon_permalink}':
    get:
      description: Returns the details of a specified taxon.
      tags:
        - Taxons
      operationId: show-taxon
      parameters:
        - $ref: '#/components/parameters/TaxonPermalink'
        - $ref: '#/components/parameters/TaxonIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsTaxon'
      responses:
        '200':
          $ref: '#/components/responses/Taxon'
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: Retrieve a Taxon
  /api/v2/storefront/countries:
    get:
      description: Returns a list of all countries.
      tags:
        - Countries
      operationId: countries-list
      responses:
        '200':
          $ref: '#/components/responses/CountryList'
      summary: List all Countries
  '/api/v2/storefront/countries/{iso}':
    get:
      description: Returns the details of a specific country.
      tags:
        - Countries
      operationId: show-country
      parameters:
        - $ref: '#/components/parameters/IsoOrIso3'
        - $ref: '#/components/parameters/CountryIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCountry'
      responses:
        '200':
          $ref: '#/components/responses/Country'
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: Retrieve a Country
  /api/v2/storefront/countries/default:
    get:
      description: Returns the default country for the current store. By default this will be the US.
      tags:
        - Countries
      operationId: default-country
      parameters:
        - $ref: '#/components/parameters/CountryIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsCountry'
      responses:
        '200':
          $ref: '#/components/responses/Country'
      summary: Get Default Country
  /api/v2/storefront/stripe/payment_intents:
    post:
      summary: Create a Stripe Payment Intent
      description: Create a Stripe Payment Intent using provided payment method. It creates a Stripe customer if not exists.
      tags:
        - Stripe
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_intent:
                  type: object
                  properties:
                    amount:
                      type: number
                      description: The payment amount
                    stripe_payment_method_id:
                      type: string
                      description: Stripe Payment Method ID
                    off_session:
                      type: boolean
                      description: If the payment is off-session (eq. payment method from setup intent)
              required:
                - payment_intent
      operationId: create-stripe-payment-intent
      responses:
        '200':
          $ref: '#/components/responses/StripePaymentIntent'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
  "/api/v2/storefront/stripe/payment_intents/{id}":
    get:
      summary: Return a Stripe Payment Intent
      description: 'Returns the Payment Intent information'
      tags:
        - Stripe
      operationId: show-stripe-payment-intent
      responses:
        '200':
          $ref: '#/components/responses/StripePaymentIntent'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
    patch:
      summary: Updates Stripe Payment Intent
      description: Updates the payment intent with new `amount` and `stripe_payment_method_id`
      tags:
        - Stripe
      operationId: update-stripe-payment-intent
      security:
        - orderToken: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                payment_intent:
                  type: object
                  properties:
                    amount:
                      type: number
                      description: A new payment amount
                    stripe_payment_method_id:
                      type: string
                      description: A new Stripe Payment Method ID
              required:
                - payment_intent
      responses:
        '200':
          $ref: '#/components/responses/StripePaymentIntent'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  "/api/v2/storefront/stripe/payment_intents/{id}/confirm":
    patch:
      summary: Mark the payment intent as confirmed, and move the order to the complete state
      description: This endpoint is used to complete the order with succeeded payment intent. First it will check if the payment intent has `status` `succeeded`, if yes, then it will move the order to the complete state.
      tags:
        - Stripe
      operationId: confirm-stripe-payment-intent
      security:
        - orderToken: []
      responses:
        '200':
          $ref: '#/components/responses/StripePaymentIntent'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
  /api/v2/storefront/stripe/setup_intents:
    post:
      summary: Create a Stripe Setup Intent
      description: "First, this endpoint creates a customer in Stripe (if it doesn't already exist), then it creates an Ephemeral Key for the customer, and finally, it creates a Setup Intent for the customer."
      tags:
        - Stripe
      operationId: create-stripe-setup-intent
      responses:
        '200':
          $ref: '#/components/responses/StripeSetupIntent'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
  /api/v2/storefront/adyen/payment_sessions:
    post:
      summary: Create an Adyen Payment Session
      description: "Create a new Adyen payment session with the specified amount. Adyen support is currently in private beta. [Please contact us](https://spreecommerce.org/contact) to get access."
      tags:
        - Adyen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_session:
                  type: object
                  properties:
                    amount:
                      type: number
                      description: The payment amount
                      example: 80.99
                    channel:
                      type: string
                      default: Web
                      enum:
                        - Web
                        - Android
                        - iOS
                    return_url:
                      type: string
                      default: 'https://{host}/adyen/payment_sessions/redirect'
                      description: URL to return back to store after payment with redirect flow like Klarna or iDEAL. The URL must not include personally identifiable information (PII), for example name or email address.
                  required:
                    - amount
              required:
                - payment_session
            example:
              payment_session:
                amount: 80.99
                channel: Android
                return_url: "my-app://your.package.name"
      operationId: create-adyen-payment-session
      responses:
        '200':
          $ref: '#/components/responses/AdyenPaymentSession'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
  /api/v2/storefront/adyen/payment_sessions/{id}/complete:
    post:
      summary: Complete an Adyen payment session and order
      description: "Complete an Adyen payment session and order. Adyen support is currently in private beta. [Please contact us](https://spreecommerce.org/contact) to get access."
      tags:
        - Adyen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_result:
                  type: string
                  description: The Adyen payment session result
              required:
                - session_result
            example:
              session_result: AdyenResultData
      operationId: complete-adyen-payment-session
      responses:
        '200':
          $ref: '#/components/responses/AdyenPaymentSession'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - orderToken: []
  "/api/v2/storefront/adyen/payment_sessions/{id}":
    get:
      summary: Get Adyen Payment Session
      description: "Retrieve An Adyen payment session information. Adyen support is currently in private beta. [Please contact us](https://spreecommerce.org/contact) to get access."
      tags:
        - Adyen
      operationId: get-adyen-payment-session
      responses:
        '200':
          $ref: '#/components/responses/AdyenPaymentSession'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
      security:
        - orderToken: []
  /api/v2/storefront/vendors:
    get:
      summary: List all Vendors
      description: 'Returns a list of Vendors. Only available in [Enterprise Edition](https://spreecommerce.org/pricing)'
      tags:
        - Vendors
      operationId: vendors-list
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/SparseFieldsVendor'
      responses:
        '200':
          $ref: '#/components/responses/VendorList'
  '/api/v2/storefront/vendors/{vendor_slug}':
    get:
      description: Returns the details of a specified Vendor. Only available in [Enterprise Edition](https://spreecommerce.org/pricing)
      summary: Retrieve a Vendor
      tags:
        - Vendors
      operationId: show-vendor
      parameters:
        - $ref: '#/components/parameters/VendorSlug'
        - $ref: '#/components/parameters/SparseFieldsVendor'
      responses:
        '200':
          $ref: '#/components/responses/Vendor'
        '404':
          $ref: '#/components/responses/404NotFound'
  /api/v2/storefront/wishlists:
    get:
      description: 'Returns all wishlists available to the current user, in the current store.'
      summary: List all Wishlists
      tags:
        - Wishlists
      operationId: list-wishlists-for-current-user
      parameters:
        - $ref: '#/components/parameters/WishlistIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsWishlist'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/WishlistIsVariantIncludedParam'
      responses:
        '200':
          $ref: '#/components/responses/WishlistList'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
    post:
      description: Creates a new wishlist for the current user in the current store.
      summary: Create a Wishlist
      tags:
        - Wishlists
      operationId: create-wishlist
      responses:
        '200':
          $ref: '#/components/responses/Wishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The Wishlist name.
                is_private:
                  type: boolean
                  description: Set the Wishlist to public or private. Defaults to true (private).
                is_default:
                  type: boolean
                  description: Whether the wishlist is set to the users default wishlist for the current store. Defaults to false.
              required:
                - name
            examples:
              Create wishlist:
                value:
                  name: My Wishlist
                  is_private: false
                  is_default: true
      parameters:
        - $ref: '#/components/parameters/SparseFieldsWishlist'
  '/api/v2/storefront/wishlists/{token}':
    get:
      description: |-
        Retrieves a wishlist using the wishlist token.

        If the wishlist is publicly viewable, the endpoint will return the requested wishlist regardless of the user. If the wishlist is private, only the wishlist owner can access the wishlist.
      summary: Retrieve a Wishlist
      tags:
        - Wishlists
      operationId: get-wishlist-details
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/WishlistIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsWishlist'
        - $ref: '#/components/parameters/WishlistIsVariantIncludedParam'
      responses:
        '200':
          $ref: '#/components/responses/Wishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
    patch:
      description: Updates the specific Wishlist by setting the values passed in the request body. Any parameters not provided will be left unchanged.
      summary: Update a Wishlist
      tags:
        - Wishlists
      operationId: update-wishlist
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                wishlist:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Change the wishlist name.
                    is_private:
                      type: boolean
                      description: Set the wishlist to public or private.
                    is_default:
                      type: boolean
                      description: Make this wishlist the default wishlist.
            examples:
              Update Name:
                value:
                  wishlist:
                    name: Birthday Ideas
              Set to Private:
                value:
                  wishlist:
                    is_private: true
              Make Default:
                value:
                  wishlist:
                    is_default: true
        description: ''
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/SparseFieldsWishlist'
      responses:
        '200':
          $ref: '#/components/responses/Wishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
    delete:
      description: This operation deletes the wishlist identified in the URI `token`.
      summary: Delete a Wishlist
      tags:
        - Wishlists
      operationId: delete-wishlist
      parameters:
        - $ref: '#/components/parameters/Token'
      responses:
        '204':
          description: 204 Success - No Content
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
  /api/v2/storefront/wishlists/default:
    get:
      description: 'Returns the default wishlist for the current user, in the current store. If the user does not have a default wishlist in the current store one will be created.'
      summary: Retrieve the default Wishlist
      tags:
        - Wishlists
      operationId: get-default-wishlist
      parameters:
        - $ref: '#/components/parameters/WishlistIncludeParam'
        - $ref: '#/components/parameters/SparseFieldsWishlist'
        - $ref: '#/components/parameters/WishlistIsVariantIncludedParam'
      responses:
        '200':
          $ref: '#/components/responses/Wishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
  '/api/v2/storefront/wishlists/{token}/add_item':
    post:
      summary: Add Item to Wishlist
      description: |-
        The Add Item to Wishlist endpoint adds a variant to an existing wishlist by creating a new `wished_item`. A wished item in a wishlist is comparable to a line item in a cart.

        Each wished item references a single variant, holds the desired quantity and returns price information determined by the variant price in current currency, and desired quantity.
      operationId: add-item-to-wishlist
      parameters:
        - $ref: '#/components/parameters/Token'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                variant_id:
                  type: string
                  description: The variant ID that is to be added to the wishlist.
                quantity:
                  type: number
                  description: 'Set a quantity greater than 0, or omit the quantity param if your wishlist does not support quantities.'
              required:
                - variant_id
            examples:
              Add a variant:
                value:
                  variant_id: '149'
                  quantity: 3
        description: |-
          Passing a quantity value is optional for those wishlist systems that do not support quantities. In this scenario, the returned quantity value will always be `1`, allowing the add-to-cart and pricing to reflect the single representation of the wished item accurately.

          If the wishlist system you are building allows for setting quantity, add the quantity attribute to the request body with an integer value greater than zero.
      responses:
        '200':
          $ref: '#/components/responses/WishedItem'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
      tags:
        - Wishlists / Wished Items
    parameters:
      - schema:
          type: string
        name: token
        in: path
        required: true
  '/api/v2/storefront/wishlists/{token}/add_items':
    post:
      summary: Add Items to Wishlist
      description: |-
        The Add Items to Wishlist endpoint adds variants to an existing wishlist by creating a new `wished_item` objects. A wished item in a wishlist is comparable to a line item in a cart.

        Each wished item references a single variant, holds the desired quantity and returns price information determined by the variant price in current currency, and desired quantity.
      operationId: add-items-to-wishlist
      parameters:
        - $ref: '#/components/parameters/Token'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                wished_items:
                  type: array
                  items:
                    type: object
                    properties:
                      variant_id:
                        type: string
                        example: '1'
                        description: The variant ID that is to be added to the wishlist.
                      quantity:
                        type: number
                        example: 10
                        description: 'Set a quantity greater than 0, or omit the quantity param if your wishlist does not support quantities. If omitted, quantity will be set to 1.'
                    required:
                      - variant_id
            examples:
              Add a variant:
                value:
                  wished_items:
                    - variant_id: '1'
                      quantity: 10
                    - variant_id: '2'
                      quantity: 5
        description: |-
          Passing a quantity value is optional for those wishlist systems that do not support quantities. In this scenario, the returned quantity value will always be `1`, allowing the add-to-cart and pricing to reflect the single representation of the wished item accurately.

          If the wishlist system you are building allows for setting quantity, add the quantity attribute to the request body with an integer value greater than zero.
      responses:
        '200':
          $ref: '#/components/responses/Wishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
      tags:
        - Wishlists / Wished Items
  '/api/v2/storefront/wishlists/{token}/set_item_quantity/{item_id}':
    patch:
      description: This endpoint sets the wished item quantity.
      summary: Set Wished Item Quantity
      operationId: update-wished-variant-quantity
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/ItemId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                quantity:
                  type: number
                  description: Set the quantity value to an integer greater than 0
              required:
                - quantity
            examples:
              Add a variant:
                value:
                  quantity: 7
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/WishedItem'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: []
      tags:
        - Wishlists / Wished Items
  '/api/v2/storefront/wishlists/{token}/remove_item/{item_id}':
    delete:
      description: Removes a wished item from a wishlist.
      summary: Delete Item from Wishlist
      operationId: delete-wished-variant-from-wishlist
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          $ref: '#/components/responses/WishedItem'
        '403':
          $ref: '#/components/responses/403Forbidden'
      security:
        - bearerAuth: []
      tags:
        - Wishlists / Wished Items
    parameters:
      - schema:
          type: string
        name: token
        in: path
        required: true
      - schema:
          type: string
        name: item_id
        in: path
        required: true
  '/api/v2/storefront/wishlists/{token}/remove_items':
    delete:
      description: Removes wished items from a wishlist.
      summary: Delete Items from Wishlist
      operationId: delete-wished-variants-from-wishlist
      parameters:
        - $ref: '#/components/parameters/Token'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                wished_items_ids:
                  type: array
                  items:
                    type: string
                    example: '1'
                    description: The Wished Item ID that is to be removed from wishlist.
            examples:
              Remove wished items:
                value:
                  wished_items_ids:
                    - '1'
                    - '2'
      responses:
        '200':
          $ref: '#/components/responses/Wishlist'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'
      security:
        - bearerAuth: [ ]
      tags:
        - Wishlists / Wished Items
  '/api/v2/storefront/digitals/{token}':
    get:
      summary: Download a Digital Asset
      tags:
        - Digital Downloads
      responses:
        '200':
          description: 200 Success - Returns the digital asset.
          content:
            image/jpeg:
              schema:
                type: object
                format: binary
            image/gif:
              schema:
                type: object
                format: binary
            image/svg+xml:
              schema:
                type: object
                format: binary
            image/bmp:
              schema:
                type: object
                format: binary
            image/tiff:
              schema:
                type: object
                format: binary
            image/png:
              schema:
                type: object
                format: binary
            video/mpeg:
              schema:
                type: object
                format: binary
            application/gzip:
              schema:
                type: object
                format: binary
            application/zip:
              schema:
                type: object
                format: binary
            application/pdf:
              schema:
                type: object
                format: binary
            font/woff:
              schema:
                type: object
                format: binary
            font/woff2:
              schema:
                type: object
                format: binary
            font/otf:
              schema:
                type: object
                format: binary
            font/ttf:
              schema:
                type: object
                format: binary
            text/plain:
              schema:
                type: object
                format: binary
        '403':
          $ref: '#/components/responses/403Forbidden'
      operationId: get-digitals
      description: |-
        This endpoint allows you to download a digital item using the unique digital_link token.

        The digital_link token value can be found by including `line_items.digital_links` in a completed order lookup.

        Use the **Retrieve an Order Status** endpoint found under the Order Status tab, or the **Retrieve an Order** endpoint found under the Account / Orders tab to perform a completed order lookup.

        Depending on the store that the item was purchased in, downloads may be restricted to a set number of days since the purchase was made. Additionally, the number of times a download link can be used may be restricted.

        If you are not authorized to perform the download due to the download limit restrictions mentioned above, a 403 response will be returned.
    parameters:
      - schema:
          type: string
          example: 4WaA5vjMbnivskav2rMPGKzt
        name: token
        in: path
        required: true
        description: Use the token from the digital link.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |-
        User token to authorize Cart and Checkout requests.

        It is required to associate Cart with the User.
    orderToken:
      type: apiKey
      in: header
      description: |-
        Order token to authorize Cart and Checkout requests.

        [How to obtain X-Spree-Order-Token](../authentication#for-guest-users)
      name: X-Spree-Order-Token
  schemas:
    Address:
      type: object
      title: Address
      description: 'The Address model holds the customer details, such as name, address, and phone number.'
      properties:
        id:
          type: string
          example: '1'
        type:
          type: string
          default: address
        attributes:
          type: object
          properties:
            firstname:
              type: string
              example: John
            lastname:
              type: string
              example: Doe
            address1:
              type: string
              example: 1600 Amphitheatre Pkwy
            address2:
              type: string
              example: Suite 1
              nullable: true
            city:
              type: string
              example: Mountain View
            zipcode:
              type: string
              example: '94043'
            phone:
              type: string
              example: (+1) 123 456 789
              nullable: true
            state_name:
              type: string
              example: California
            state_code:
              type: string
              example: CA
              description: State abbreviation
              nullable: true
            country_name:
              type: string
              example: United States of America
            country_iso3:
              type: string
              example: USA
              description: Country ISO3 code
            company:
              type: string
              example: Google Inc.
              description: Company name
              nullable: true
            label:
              type: string
              description: 'The internal name for this address (Work, Home)'
              example: Home
              nullable: true
      required:
        - id
        - type
        - attributes
      x-internal: false
    AddressPayload:
      example:
        firstname: John
        lastname: Snow
        address1: 7735 Old Georgetown Road
        address2: 2nd Floor
        city: Bethesda
        phone: '3014445002'
        zipcode: '20814'
        state_name: MD
        country_iso: US
      type: object
      x-internal: false
      title: ''
      x-examples: {}
      description: ''
      properties:
        firstname:
          type: string
        lastname:
          type: string
        address1:
          type: string
          description: Street address
        address2:
          type: string
          description: 'Additional address information, floor no etc'
        city:
          type: string
          description: 'City, town'
        phone:
          type: string
        zipcode:
          type: string
          description: 'Valid zipcode, will be validated against the selected Country'
        state_name:
          type: string
          description: State/region/province 2 letter abbreviation
        country_iso:
          type: string
          description: 'Country ISO (2-chars) or ISO3 (3-chars) code. [List of all codes](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes)'
        company:
          type: string
          example: Paper Street Soap Co.
          description: Company name
        label:
          type: string
          example: Work
          description: 'The internal name for this address (Work, Home)'
      required:
        - firstname
        - lastname
        - address1
        - city
        - country_iso
    Cart:
      description: 'The Cart provides a central place to collect information about an order, including line items, adjustments, payments, addresses, and shipments. [Read more in Spree docs](/developer/core-concepts/orders)'
      type: object
      title: Cart
      x-internal: false
      properties:
        id:
          type: string
          example: '1'
        type:
          type: string
          default: cart
        attributes:
          type: object
          properties:
            number:
              type: string
              example: R123456789
              description: 'Used as the **{order_number}** value in the URI to identify a completed order.'
            token:
              type: string
              example: eL0nVxe1Aum-Qr9-UkryPA1633360128076
              description: Used for authorizing actions through the `X-Spree-Order-Token` API Key.
            item_total:
              type: string
              example: '19.99'
            subtotal_cents:
              type: integer
              example: 1999
            store_credit_total_cents:
              type: integer
              example: 0
            total:
              type: string
              example: '29.99'
            total_cents:
              type: integer
              example: 2999
            total_minus_store_credits:
              type: string
              example: '29.99'
            total_minus_store_credits_cents:
              type: integer
              example: 2999
            ship_total:
              type: string
              example: '5.0'
            ship_total_cents:
              type: integer
              example: 500
            adjustment_total:
              type: string
              example: '10.0'
            created_at:
              $ref: '#/components/schemas/Timestamp'
            updated_at:
              $ref: '#/components/schemas/Timestamp'
            completed_at:
              type: string
              format: date-time
              nullable: true
            included_tax_total:
              type: string
              example: '5.00'
            additional_tax_total:
              type: string
              example: '5.0'
            display_additional_tax_total:
              type: string
              example: $5.00
            tax_total:
              type: string
              example: '10.0'
            tax_total_cents:
              type: integer
              example: 1000
            currency:
              type: string
              example: USD
            state:
              type: string
              example: cart
              enum:
                - cart
                - address
                - delivery
                - payment
                - confirm
                - complete
              description: |-
                State of the Cart in the Checkout flow. Please see <a href="/developer/core-concepts/orders#the-order-state-machine">
                  The Order State machine
                </a> for a full list with description.
            email:
              type: string
              format: email
              example: spree@example.com
              nullable: true
            display_item_total:
              type: string
              example: $19.99
            display_ship_total:
              type: string
              example: $19.99
            display_adjustment_total:
              type: string
              example: $10.00
            display_included_tax_total:
              type: string
              example: $5.00
            promo_total:
              type: string
              example: '-10.0'
            promo_total_cents:
              type: integer
              example: -1000
            display_promo_total:
              type: string
              example: '-$10.00'
            item_count:
              type: number
              description: Total quantity number of all items added to the Cart
              example: 2
              minimum: 0
            special_instructions:
              type: string
              example: Please wrap it as a gift
              description: Message added by the Customer
              nullable: true
            display_total:
              type: string
              example: $29.99
            display_total_minus_store_credits:
              type: string
              example: $29.99
            pre_tax_item_amount:
              type: string
              example: '17.00'
            display_pre_tax_item_amount:
              type: string
              example: $17.00
            pre_tax_total:
              type: string
              example: '20.00'
            display_tax_total:
              type: string
              example: $10.00
            display_pre_tax_total:
              type: string
              example: $20.00
            shipment_state:
              type: string
              enum:
                - pending
                - backorder
                - canceled
                - partial
                - ready
                - shipped
                - null
              description: |-
                Overall state of the Shipments. Please see <a href="/developer/core-concepts/orders#order-shipment-states-1">
                  Order Shipments states
                </a> for a full list with description.
              nullable: true
            payment_state:
              type: string
              enum:
                - balance_due
                - credit_owed
                - failed
                - paid
                - void
                - null
              description: |-
                Overall state of the Payments. Please see <a href="/developer/core-concepts/orders#order-payment-states">
                  Order Payments states
                </a> for a full list with description.
              nullable: true
        relationships:
          type: object
          properties:
[...]
