#notice  {
	border: 1px solid black;
	padding: .5em;
	margin-bottom: 2em;
	background-color: #F0F0F0;
}

#error  {
	border: 1px solid black;
	padding: .5em;
	margin-bottom: 2em;
	background-color: #EFB3CC;
}

#shopping_cart ul,
#shopping_cart li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cart_notice {
  border: 2px solid #58A986;
  background: #B2FFD3;
  padding: 3px;
}

/* ================ begin: cart-summary ================  */

.cart-summary {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.cart-summary th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.cart-summary td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.cart-summary a {
  text-decoration: underline;
}
/* ================ end: cart-summary ================  */

/* ================ begin: subtotal ================  */
#subtotal {
  float:right;
  text-align:right;
  width:250px;
  padding:5px 15px 15px 0pt;
}

#subtotal h3 {
  font-size:16px;
  font-weight:bold;
}

#subtotal-row {
  border-top: solid 1px;
  margin-top: 10px;
}
/* ================ end: subtotal ================  */

.date-range {
  width: 100px;
}

/* ================ begin: cart-summary ================  */

.order-summary {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-summary th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}

.order-summary td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

/* ================ end: cart-summary ================  */
