<fieldset class="no-border-bottom">
  <div class="field">
    TODO: Use previous cards for this user.
  </div>

  {{name}}

  <div>
    <div class="clear"></div>

    <div class="alpha four columns">
      <div data-hook="card_number">
        <div class="field">
          {{input value=source.number}}
        </div>
      </div>
    </div>
  </div>
</fieldset>