@import 'global/variables';

@import 'bootstrap';

@import 'components/navbar';
@import 'components/tables';
@import 'components/badges';
@import 'components/cards';
@import 'components/alerts';
@import 'components/dropdowns';
@import 'components/main';
@import 'components/buttons';
@import 'components/tooltips';
@import 'components/filters';
@import 'components/navigation';
@import 'components/modals'; // old bootstrap modals
@import 'components/dialogs'; // new native dialogs
@import 'components/offcanvas';
@import 'components/variants_form';
@import 'components/media_form';
@import 'components/seo_form';
@import 'components/line_items_form';
@import 'components/search_picker';
@import 'components/sortable_tree';
@import 'components/bulk_panel';
@import 'components/wizard';

@import 'plugins/tinymce_custom';
@import 'plugins/trix_custom';
@import 'plugins/tom-select.bootstrap4';

@import url('https://unpkg.com/trix@2.1.12/dist/trix.css');
@import url('https://esm.sh/@uppy/core@4.2.0/dist/style.min.css');
@import url('https://esm.sh/@uppy/dashboard@4.1.0/dist/style.min.css');
@import url('https://esm.sh/@uppy/image-editor@3.1.0/dist/style.min.css');
@import url('https://esm.sh/animate.css@4.1.1/animate.min.css');
@import url('https://esm.sh/@simonwep/pickr@1.8.2/dist/themes/classic.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css');

@import 'plugins/uppy_fixes';

@import 'shared/base';
@import 'shared/forms';

@import 'views/dashboard';
@import "views/page_builder";
