body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #416793;
  margin: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: #82B245;
  transition: color 0.2s;
  -moz-transition: color 0.2s; /* Firefox 4 */
  -webkit-transition: color 0.2s; /* Safari and Chrome */
  -o-transition: color 0.2s; /* Opera */
}

h1, h2, h3, h4, h5, h6 {
  color: #82B245;
  font-weight: normal;
  font-family: 'Bariol', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
  font-size: 20px;
}

h1, h2, h3 {
  border-bottom: 1px solid #E6EEF7;
  line-height: 2em;
}

input[type="button"], input[type="submit"],
button, .button {
  color: white !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  padding: 7px 15px;
  background-color: #3678D5;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;

  transition: background-color 1s;
  -moz-transition: background-color 1s; /* Firefox 4 */
  -webkit-transition: background-color 1s; /* Safari and Chrome */
  -o-transition: background-color 1s; /* Opera */
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover, .button:hover {
  background-color: #228DF2;
}

ul.inline {
  list-style: none;
}

ul.inline > li {
  display: inline-block;
}

code, dl dt {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

dt {
  color: #73A7E9;
}

dd {
  margin-bottom: 15px;
}

code {
  padding: 3px 5px;
  background-color: #EAF3FF;
  color: #73A7E9;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

pre code {
  padding: 0;
  background-color: inherit;
  color: #68A8EC;

  -webkit-border-radius: inherit;
     -moz-border-radius: inherit;
      -ms-border-radius: inherit;
       -o-border-radius: inherit;
          border-radius: inherit;
}

pre.highlight {
  padding: 15px;
  background-color: #EAF3FF;
  margin-top: 0;

  -webkit-border-bottom-right-radius: 3px;
     -moz-border-bottom-right-radius: 3px;
      -ms-border-bottom-right-radius: 3px;
       -o-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;

  -webkit-border-bottom-left-radius: 3px;
     -moz-border-bottom-left-radius: 3px;
      -ms-border-bottom-left-radius: 3px;
       -o-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
}

pre.highlight code {
  font-size: 12px;
}

pre.headers {
  padding: 5px 15px;
  margin-bottom: 0;
  background-color: #9DC5F3;
  color: white;
  text-transform: uppercase;

  -webkit-border-top-right-radius: 3px;
     -moz-border-top-right-radius: 3px;
      -ms-border-top-right-radius: 3px;
       -o-border-top-right-radius: 3px;
          border-top-right-radius: 3px;

  -webkit-border-top-left-radius: 3px;
     -moz-border-top-left-radius: 3px;
      -ms-border-top-left-radius: 3px;
       -o-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
}
pre.headers code {
  color: white;
}

.js-guides {
  display: none;
}

.home #site-title {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 35px;
}
.home #get-started {
  position: absolute;
  z-index: 1;
  text-transform: none;
  font-size: 24px;
  padding: 15px 30px;
  border: 4px solid white;
  font-weight: 400 !important;
  background-color: #78AD2F;
  top: 420px;
  width: 200px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
}
.home #get-started:hover {
  background-color: #8BC73A;
}
.home #site-title h1 {
  font-size: 45px;
}
.home #site-title h2, .home #site-title h1 {
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 14px;
}
.home #site-title h2 {
  font-size: 25px;
  letter-spacing: 21px;
  padding-left: 12px;
  margin-top: 10px;
  font-weight: 400;
}

#api-objects {
  width: 100%;
  height: 400px;
  position: absolute;
  background: url("/shared/images/api-objects-bg.png") no-repeat center;
  z-index: 0;
}

#subheader {
  padding: 35px 0;
  background: url("/shared/images/subheader_bg.png") repeat center top;
}
.home #subheader {
  padding-bottom: 50px;
}

#subheader .page-title {
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
}

.logo img {
  margin-top: 40px;
}

#main-menu {
  margin-top: 20px;
  text-align: right;
}

#main-menu ul li a {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
  color: #358EC7;
}
#main-menu ul li a:hover,
#main-menu ul li.active a {
  color: #89B64A;
}
#main-menu ul li:last-child a {
  padding-right: 0;
}
#main-menu ul li:first-child a {
  padding-left: 0;
}

#github ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  -webkit-padding-start: 0px;
  border-left: 1px solid #E5EEF7;
}
#github ul li {
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 18px;
}
#github ul li i.icon-dot {
  position: absolute;
  position: absolute;
  margin-left: -31px;
  font-size: 21px !important;
}
#github ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #6286B1;
}
#github ul li a:hover {
  color: #78AD2F;
}
#github ul li .info {
  margin-top: 5px;
  font-size: 11px;
  text-transform: uppercase;
  color: #BAC3CF;
}

#github ul li .info .commit-author {
  margin-left: 10px;
  text-transform: none;
}

#sidebar-menu {
  margin-top: 56px;
}
#sidebar-menu ul {
  list-style: none;
}
#sidebar-menu ul ul {
  padding-left: 0px;
  -webkit-padding-start: 0px;
}
#sidebar-menu ul ul li a {
  padding-left: 7px;
}

#sidebar-menu ul ul ul {
  display: none;
}
#sidebar-menu ul ul ul li a {
  color: #6D8FB6;
}

.js-guides li i {
  cursor: pointer;
}
.js-guides li i:hover {
  color: #89B64A;
}

#sidebar-menu ul li a {
  color: #416793;
}
#sidebar-menu ul li a:hover,
#sidebar-menu ul li.active a:hover {
  color: #89B64A;
}

#sidebar-menu h3 a {
  font-size: 14px;
  text-transform: uppercase;
}

#sidebar-menu h3 a.active, #sidebar-menu h3 a.active-open {
  color: #89B64A;
}

#sidebar-menu ul li ul a {
  font-size: 12px;
}

#content {
  padding: 30px 0;
}

#main-footer {
  margin-top: 20px;
}
#main-footer .row {
  margin-bottom: 0;
  font-size: 12px;
  color: #6286B1;
  padding-bottom: 20px;
}
#main-footer .block-title {
  text-transform: uppercase;
  border: none;
  font-size: 12px;
}
#main-footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  -webkit-padding-start: 0px;
}
#main-footer a {
  color: #6286B1;
}
#main-footer a:hover {
  color: #89B64A;
}
.footer-top {
  background-color: #EFF6FD;
  border-top: 1px solid #D7E1EE;
}
.footer-bottom {
  background-color: #3678D5;
}
.footer-bottom p {
  color: white !important;
  font-size: 12px;
}
#main-footer .social-icons {
  font-size: 30px;
  margin-top: 40px;
  text-align: right;
}
#main-footer .social-icons i {
  background-color: white;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  display: block;
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;

  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
      -ms-border-radius: 30px;
       -o-border-radius: 30px;
          border-radius: 30px;
}
#main-footer .social-icons i.icon-github-circled {
  color: #2C84C7;
}
#main-footer .social-icons i.icon-twitter-circled {
  color: #009FD4;
}
#main-footer .social-icons i.icon-facebook-circled {
  color: #325B9A;
}
#main-footer .social-icons i.icon-gplus-circled {
  color: #E4532E;
}

/* DEVELOPER GUIDES */
.developer.home #subheader {
  padding-top: 20px;
}
.developer.home #subheader .container {
  background: url('../../images/developer-banner.png') no-repeat center;
  min-height: 440px;
}
.developer #subheader {
  background-image: url('../../images/developer-pattern.jpg');
}

/* INTEGRATOR GUIDES */
.integration.home #subheader .container {
  background: url('../../images/integrator-banner.png') no-repeat center 100px;
  min-height: 440px;
}
.integration.home #subheader .container #site-title {
  margin-top: 0;
}

/* USER GUIDES */
.user.home #subheader .container {
  background: url('../../images/user-banner.png') no-repeat center top;
  min-height: 440px;
}
.user.home #subheader .container #site-title {
  margin-top: 100px;
}
.user.home #subheader .container #site-title h1 {
  letter-spacing: 10px
}

/* Browser fixes */
.firefox #main-footer .social-icons i { padding-top: 0; padding-bottom: 1px }
.ie #main-footer .social-icons i { height: 28px; width: 29px }
.ie #main-footer .social-icons i.icon-github-circled { padding-right: 1px }
.ie #github ul li i.icon-dot { font-size: 20px !important; margin-left: -30px }

#search-field {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 30px;
}
