.cm-s-smoothy {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  color: #495057;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 3px;
  border: 1px solid #ededed;
  overflow: auto;
  transition: box-shadow 0.3s ease-in-out;
}

.cm-s-smoothy:hover {
  box-shadow: 0 0 1.5rem 0 rgba(34, 139, 230, 0.1);
}

.cm-s-smoothy .CodeMirror-lines {
  padding: 8px 0;
}
.cm-s-smoothy .CodeMirror-gutters {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-smoothy div.CodeMirror-cursor {
  border-left: 3px solid #000000;
}
.cm-s-smoothy .CodeMirror-activeline-background {
  background: #00000008;
}
.cm-s-smoothy .CodeMirror-selected {
  background: #fffd0054;
}
.cm-s-smoothy .cm-comment {
  color: #adb5bd;
  background: #112b0a00;
}
.cm-s-smoothy .cm-keyword {
  color: #7fa902;
}
.cm-s-smoothy .cm-string {
  color: #e67700;
}
.cm-s-smoothy .cm-property {
  color: #0066cc;
}
.cm-s-smoothy .cm-variable-2 {
  color: #baa827;
}
.cm-s-smoothy .cm-atom {
  color: #0066cc;
}
.cm-s-smoothy .cm-number {
  color: #0066cc;
}
.cm-s-smoothy .cm-operator {
  color: #7fa902;
}
.cm-s-smoothy .CodeMirror-linenumber {
  color: #adb5bd;
}
