pre[class*='language-'] {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  color: #495057;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 3px;
  border: 1px solid #ededed;
  overflow: auto;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 3;
}

pre[class*='language-']:hover {
  box-shadow: 0 0 1.5rem 0 rgba(34, 139, 230, 0.1);
}

code[class*='language-'],
pre[class*='language-'] {
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media (max-width: 460px) {
  code[class*='language-'],
  pre[class*='language-'] {
    word-break: break-word;
    white-space: unset
  }
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #e3f3f7;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #e3f3f7;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0 1em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b6ad9a;
}

.token.punctuation {
  color: #baa827;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #0066cc;
}

.token.property,
.token.function {
  color: #e67700;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #2d2006;
}

code.language-javascript,
.token.attr-name {
  color: #7fa902;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #0066cc;
}

.token.placeholder,
.token.variable {
  color: #93abdc;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #2d2006;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #896724;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #896724;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #ece8de;
}

.line-numbers-rows > span:before {
  color: #cdc4b1;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
  background: rgba(45, 32, 6, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(45, 32, 6, 0.2) 70%,
    rgba(45, 32, 6, 0)
  );
  background: linear-gradient(
    to right,
    rgba(45, 32, 6, 0.2) 70%,
    rgba(45, 32, 6, 0)
  );
}
