<div class="text-gray-600 py-12 gap-4 flex flex-col items-center justify-center">
  <p>Audit log is part of the Spree Enterprise offering.</p>

  <%= external_link_to 'Upgrade to Spree Enterprise', 'https://spreecommerce.org/pricing', class: 'btn btn-primary' %>
</div>
