<div class="text-muted text-center py-5">
  <p><%= Spree.t(:audit_log_help) %></p>

  <%= external_link_to Spree.t(:upgrade_to_spree_enterprise), 'https://spreecommerce.org/pricing', class: 'btn btn-primary' %>
</div>
