<div class="text-gray-600 text-center py-12">
  <p>Audit log is part of the Spree Enterprise offering.</p>

  <%= external_link_to 'Upgrade to Spree Enterprise', 'https://spreecommerce.org/pricing', class: 'btn btn-primary' %>
</div>
