require 'spree_core'
require '<%=file_name %>'

module <%=class_name%>
  class Engine < Rails::Engine
    def self.activate
      lambda{
        # Activation logic goes here.  This should be reserved for doing class_eval on classes that are defined
        # outside of the extension (so that monkey patches are not lost on subsequent requests in development mode.)
      }
    end
    config.to_prepare &self.activate
  end
end