<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= button t(:update), 'icon-refresh' %>
  <span class="or"><%= t(:or) %></span>
  <%= button_link_to t(:cancel), collection_url, :icon => 'icon-remove' %>
</div>
