<div class="form-buttons" data-hook="buttons">
  <%= button t('actions.create'), 'icon-ok' %>
  <%= t(:or) %>
  <%= link_to_with_icon 'icon-remove', t('actions.cancel'), collection_url, :class => 'button' %>
</div>
