<% content_for :page_actions do %>
  <ul class="actions inline-menu" data-hook="toolbar">
    <li>
      <%= button_link_to t(:new_adjustment), new_admin_order_adjustment_url(@order), :icon => 'icon-plus' %>
    </li>
  </ul>
<% end %>
