// Customize orders filter
[data-hook="admin_orders_index_search"] {
  fieldset {
    
    select[data-placeholder="Status"] {
      width: 100%;
    }

    .select2-container {
      width: 100% !important;
    }

    .field.checkbox {
      margin-top: 25px;

      &:first-child {
        margin-bottom: 33px !important;
      }
    }
  }
}

// Customize orduct add fieldset
#add-line-item {
  fieldset {
    padding: 10px 0;

    .field {
      input[type="text"], input[type="number"] {
        width: 100%;
      }     
    }
    .actions {
      .button {
        margin-top: 20px;
      }
    }
  }
}