[data-hook="admin_products_sidebar"] {
  .field.checkbox:first-child {
    margin-top: 9px;  
  }
  .actions {
    padding: 0 !important;
  }
}

[data-hook="admin_product_form_fields"] {
  label {
    display: inline-block;      
  }
  input, select, textarea, .select2-container {
    width: 100%;
  }
}