<div class="card mb-6">
  <div class="card-body pb-0">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-3">
      <%= f.spree_text_field :name, required: true, autofocus: f.object.new_record?, help: 'This will be displayed to customers'  %>
      <%= f.spree_select :display_on, display_on_options, { label: Spree.t(:display_on) }, { required: true } %>
      <%= f.spree_text_field :admin_name, label: Spree.t(:internal_name), help: 'This will be displayed to admins' %>
      <%= f.spree_text_field :code, label: Spree.t(:code)%>
    </div>
  </div>
</div>
