<% if can?(:manage, Spree::TaxCategory) %>
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title">
        <%= Spree.t(:tax_category) %>
      </h5>
    </div>

    <div class="card-body">
      <div class="form-group">
        <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { include_blank: Spree.t('match_choices.none') }, { class: 'custom-select' }) %>
        <%= f.error_message_on :tax_category %>
      </div>
    </div>
  </div>
<% end %>