<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-version-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Versions', '#' %>
        </h3>
        <ul class="js-guides">
          <li><i class="icon-dot"></i><%= link_to "3.0.0", 'spree_3_0_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "2.4.0", 'spree_2_4_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "2.3.0", 'spree_2_3_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "2.2.0", 'spree_2_2_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "2.1.0", 'spree_2_1_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "2.0.0", 'spree_2_0_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "1.3.0", 'spree_1_3_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "1.2.2", 'spree_1_2_2' %></li>
          <li><i class="icon-dot"></i><%= link_to "1.2.0", 'spree_1_2_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "1.1.4", 'spree_1_1_4' %></li>
          <li><i class="icon-dot"></i><%= link_to "1.1.0", 'spree_1_1_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "1.0.0", 'spree_1_0_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.70.0", 'spree_0_70_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.60.0", 'spree_0_60_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.50.0", 'spree_0_50_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.40.0", 'spree_0_40_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.30.0", 'spree_0_30_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.10.0", 'spree_0_10_0' %></li>
          <li><i class="icon-dot"></i><%= link_to "0.9.0", 'spree_0_9_0' %></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
