{{#with this as order}}
  <div id='states'>
    {{#each states}}
      <span id='{{this}}_state' class='state_indicator'>
        {{link-to this 'order.state' order this}}
      </span>
    {{/each}}
  </div>

  {{outlet 'state'}}
{{/with}}