<footer id="main-footer">
  
  <div class="footer-top">
    <div class="container">
      <div id="link-blocks" class="row">
        
        <div class="link-block three columns">
          <h3 class="block-title">Community</h3>
          <ul>
            <li><a href="http://github.com/spree/spree" target="_blank">Source Code</a></li>
            <li><a href="http://guides.spreecommerce.com/">Documentation</a></li>
            <li><a href="http://github.com/spree/spree/issues" target="_blank">Issues</a></li>
            <li><a href="http://groups.google.com/group/spree-user", target="_blank">Mailing List</a></li>
            <li><a href="http://github.com/spree/spree/wiki" target="_blank">Wiki</a></li>
          </ul>
        </div>

        <div class="link-block three columns">
          <h3 class="block-title">Products</h3>
          <ul>
            <li><a href="http://spreecommerce.com/resources/hosting">Hosting</a></li>
            <li><a href="http://spreecommerce.com/products/merchant_account">Merchant Account</a></li>
            <li><a href="http://spreecommerce.com/products/payment_processing">Gateway</a></li>
            <li><a href="http://spreecommerce.com/terms_of_service">Terms</a></li>
            <li><a href="http://spreecommerce.com/privacy_policy">Privacy</a></li>
          </ul>
        </div>

        <div class="link-block three columns">
          <h3 class="block-title">Resources</h3>
          <ul>
            <li><a href="http://spreecommerce.com/resources/showcase">Showcase</a></li>
            <li><a href="http://spreecommerce.com/resources/buzz">Buzz</a></li>
            <li><a href="http://spreecommerce.com/resources/case_studies">Case Studies</a></li>
            <li><a href="http://spreecommerce.com/resources/license">License</a></li>
            <li><a href="http://spreecommerce.com/resources/support">Support</a></li>
            <li><a href="http://spreecommerce.com/contact">Contact</a></li>
          </ul>
        </div>

        <div class="link-block four columns">
          <h3 class="block-title">About Spree Commerce</h3>
          <p>
            Spree Commerce is an open source e-commerce 
            solution created by Sean Schofield. Spree 
            is supported by the open source community 
            as well as the sale of our commercial 
            products.
          </p>
        </div>

        <div class="link-block three columns">
          <h3 class="block-title">Take it for a test drive</h3>
          <p>
            You can even create your own personal store.
          </p>
          <a href="http://spreecommerce.com/demo" target="_blank" class="button"><i class="icon-right"></i> Try The Demo</a>
        </div>

      </div>
    </div>      
  </div>
  
  
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        
        <div class="copyright ten columns">
          <p>
            This project is maintained by a core team of 
            developers and is freely available for commercial 
            use under the terms of the New BSD License.
          </p>
          <p>
            Spree, Spree Commerce and the Spree logo are 
            all trademarks of Spree Commerce, Inc.
          </p>
        </div>

        <div class="social-icons six columns">
          <ul class="inline">
            <li><a href="http://github.com/spree/spree" target="_blank"><i class="icon-github-circled"></i></a></li>
            <li><a href="https://twitter.com/spreecommerce" target="_blank"><i class="icon-twitter-circled"></i></a></li>
            <li><a href="https://www.facebook.com/spreecommerce" target="_blank"><i class="icon-facebook-circled"></i></a></li>
            <li><a href="https://plus.google.com/110792218022940311363" target="_blank"><i class="icon-gplus-circled"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
