<footer id="main-footer">

  <div class="footer-top">
    <div class="container">
      <div id="link-blocks" class="row">

        <div class="link-block three columns">
          <h3 class="block-title">Product</h3>
          <ul>
            <li><a href='http://spreecommerce.com/storefront'>Platform</a></li>
            <li><a href="https://wombat.co" target="_blank">Wombat</a></li>
            <li><a href='http://spreecommerce.com/training_and_support'>Support</a></li>
            <li><a href='http://spreecommerce.com/privacy_policy'>Privacy Policy</a></li>
            <li><a href='http://spreecommerce.com/terms_of_service'>Terms of Service</a></li>
          </ul>
        </div>

        <div class="link-block three columns">
          <h3 class="block-title">Developers</h3>
          <ul>
            <li><a href="http://spreecommerce.com/storefront">Overview</a></li>
            <li><a href="http://guides.spreecommerce.com/developer">Documentation</a></li>
            <li><a href="http://spreecommerce.com/storefront">Community</a></li>
            <li><a href="http://spreecommerce.com/license">License</a></li>
          </ul>
        </div>
        <div class="link-block three columns">
          <h3 class="block-title">Partners</h3>
          <ul>
            <li><a href="http://spreecommerce.com/solution_partners">Pro Services</a></li>
            <li><a href="http://spreecommerce.com/training_and_support">Training</a></li>
            <li><a href="http://spreecommerce.com/become_a_partner">Partnership Program</a></li>
            <li><a href="http://spreecommerce.com/partners/payments">Payments</a></li>
          </ul>
        </div>

        <div class="link-block seven columns">
          <h3 class="block-title">About Spree Commerce</h3>
          <p>
            Spree Commerce is an automated enterprise solution built specifically for ecommerce. We effectively manage your operations so you can focus on serving your customers and growing your business.
          </p>
        </div>

      </div>
    </div>
  </div>


  <div class="footer-bottom">
    <div class="container">
      <div class="row">

        <div class="copyright ten columns">
          <p>
            Spree, Spree Commerce and “Behind the Best Storefronts” are all trademarks of Spree Commerce Inc.
          </p>
        </div>

        <div class="social-icons six columns">
          <ul class="inline">
            <li><a href="https://github.com/spree/spree" target="_blank"><i class="icon-github-circled"></i></a></li>
            <li><a href="https://twitter.com/spreecommerce" target="_blank"><i class="icon-twitter-circled"></i></a></li>
            <li><a href="https://www.facebook.com/spreecommerce" target="_blank"><i class="icon-facebook-circled"></i></a></li>
            <li><a href="https://plus.google.com/110792218022940311363" target="_blank"><i class="icon-gplus-circled"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
<%= render '_google_analytics' %>
