<nav id="main-menu" class="eleven columns">
  <ul class="inline">
    <li><a href="http://spreecommerce.com" target="_blank">Home</a></li>
    <li><a href="http://spreecommerce.com/blog" target="_blank">Blog</a></li>
    <li><a href="http://spreecommerce.com/extensions" target="_blank">Extensions</a></li>
    <li><a href="http://spreecommerce.com/community" target="_blank">Community</a></li>
    <li><a href="http://guides.spreecommerce.com/" target="_blank">Guides</a></li>
    <li class="active"><a href="/" target="_blank">Api</a></li>
  </ul>
</nav>