<nav id="main-menu" class="eleven columns">
  <ul class="inline">
    <li><a href="../api/">API</a></li>
    <li><a href="../developer/">Developer</a></li>
    <li><a href="../user/">User</a></li>
    <li><a href="../release_notes/">Release Notes</a></li>
    <li>
      <a href="http://slack.spreecommerce.org" target="_blank">Slack</a>
    </li>
    <li>
      <a href="https://heroku.com/deploy?template=https://github.com/spree/spree" target="_blank" rel="nofollow">Demo</a>
    </li>
  </ul>
</nav>
