<h2 class="title">
  <a href="<%= @item.path %>"><%= @item[:title] %></a>
</h2>

<div class="meta">
  <div class="who_when">
    <%= gravatar_for(@item[:author_name]) %>
    <span class="author vcard fn">
      <a href="https://github.com/<%= @item[:author_name] %>"><%= @item[:author_name] %></a>
    </span>
    <span class="published">
      <%= post_date @item %>
    <% if version = @item[:api_version] %>
      / Version: <a href="/changes/<%= version %>"><%= version %></a>
    <% end %>
    </span>
  </div>
</div>
