<div id="share-window">
  <a class="close-widget" href="#">x</a>

    <h4 class="title">Want to learn more about Spree?</h4>
    <img src="/images/spreeconf-badge.jpg" alt="Spree Conf DC">
    <h2>May 20 - 21</h2>
    <h3>Washington, DC</h3>

  <p>
    Save $75 with code <strong>"GUIDES"</strong>
  </p>
  <a href="http://spreeconf.com" target="_blank" class="button">Learn More</a>
</div>

<style>
  #share-window * {
      font-family: 'Bree Serif', serif !important;
      color: #247cbd;
  }

  #share-window {
    position: fixed;
    bottom: -450px;
    margin-left: 720px;
    width: 200px;
    height: 390px;
    border: 3px solid #247CBD;
    border-radius: 5px;
    background-color: #FFF;
    text-align: center;
    padding: 30px 10px 10px;
    z-index: 1;
    line-height: 28px;
  }

  #share-window .close-widget {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 20px;
      color: #D96657;
      text-decoration: none;
  }

  #share-window h1, #share-window h4 {
      font-weight: normal;
      font-family: 'Bree Serif', serif !important;
      margin-bottom: 0;
  }

  #share-window h1 {
      font-size: 28px;
      line-height: 35px;
  }

  #share-window a.button {
    box-shadow: 0 5px 0 0 #CD422F,0 1px 0 #E28C80 inset;
    border: 1px solid #CD422F;
    border-radius: 5px;
    position: relative;
    top: 0;
    display: inline-block;
    color: #FFF;
    background-color: #D86657;
    padding: 6px 30px 3px;
    font-size: 18px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.25);
    text-decoration: none;
  }

  #share-window a.button:active {
    top: 3px;
    box-shadow: 0 2px 0 0 #CD422F,0 1px 0 #E28C80 inset;
  }

  #share-window p, #share-window p strong {
      margin-top: 10px;
      color: #D96657;
      margin-bottom: 0;
  }

  #share-window h2, #share-window h3 {
    margin: 0;
    border: none;
    line-height: 28px;
  }

  #share-window h3 {
      margin-top: 0;
      padding-top: 0;
  }

  #share-window h4 {
      font-size: 22px;
      padding-top: 0;
      margin-bottom: 10px;
      margin-top: 0;
  }
</style>

<script>
  $(document).ready(function(){
    var widget = $("#share-window");

    $("#share-window a.close-widget").click(function(e){
      e.preventDefault();
      widget.animate({
        bottom: "-400px",
        opacity: 0
      }, 1000)
    });

    $(window).scroll(function(){
      if($.browser.webkit) {
        var scroll_top = $('body').scrollTop();
      }
      else {
        var scroll_top = document.documentElement.scrollTop;
      }
      if(scroll_top > $(window).height()){
        widget.animate({
          bottom: "-5px"
        });
        $(window).unbind('scroll');
      }
    });
  });
</script>
