<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title]%> - Storefront API | Spree Commerce</title>

  <%= render '_head' %>
  <script src="/assets/javascripts/raphael-min.js" type="text/javascript"></script>
  <script src="/assets/javascripts/api-objects.js" type="text/javascript"></script>

</head>
<body class="api home">

  <%= render '_edge_badge' %>

  <header id="header">

    <div id="top-header">
      <div class="container">

        <div class="row">

          <div class="five columns">
            <a class="logo" href="/"><img src='/images/logo.png' /></a>
          </div>

          <%= render '_main_menu' %>

        </div>

      </div>
    </div>

    <div id="subheader">
      <div class="container">
        <div class="sixteen columns">
          <hgroup id="site-title">
            <h1 class="page-title">The Spree API</h1>
            <h2 class="page-subtitle">Documentation</h2>
          </hgroup>
          <div id="api-objects"></div>
        </div>
      </div>
    </div>

  </header>

  <div class="container">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>

    <%= render 'api/_sidebar' %>

  </div>

  <%= render '_footer' %>
