<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %></title>

 <%= render '_head' %>

</head>
<body class="api home">

  <header id="header">

    <div id="top-header">
      <div class="container">

        <div class="row">

          <div class="five columns">
            <a class="logo" href="/"><img src='/images/logo.png' /></a>
          </div>

          <%= render '_main_menu' %>

        </div>

      </div>
    </div>

    <div id="subheader">
      <div class="container">
        <div class="sixteen columns">
          <hgroup id="site-title">
            <h1 class="page-title">The Spree API</h1>
            <h2 class="page-subtitle">Documentation</h2>
          </hgroup>
          <div id="api-objects"></div>
        </div>
      </div>
    </div>

  </header>

  <div class="container">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>

    <%= render 'api/_sidebar' %>

  </div>

  <%= render '_footer' %>


    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3914566-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>
