<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> | Spree Commerce</title>

  <%= render '_head' %>

</head>
<body class="index">

  <% if ENV['EDGE_GUIDES'] == 'true' %>
    <div>
      <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
    </div>
  <% end %>

  <header id="header">
    <div id="top-header">
      <div class="container">

        <div class="row">

          <div class="five columns">
            <a class="logo" href="/"><img src='/images/logo.png' /></a>
          </div>

          <%= render '_main_menu_home' %>

        </div>

      </div>
    </div>

    <div id="subheader">
      <div class="container">

          <h1 class="huge-title">Spree Documentation</h1>

          <ul class="sections">
            <li class="section">
              <a href="/api/">
                <i class="icon-api"></i>
                <h1 class="section-title">API</h1>
              </a>
            </li>
            <li class="section">
              <a href="/developer/">
                <i class="icon-developer"></i>
                <h1 class="section-title">Developer</h1>
              </a>
            </li>
            <li class="section">
              <a href="https://support.wombat.co">
                <i class="icon-wombat"></i>
                <h1 class="section-title">Wombat</h1>
              </a>
            </li>
            <li class="section">
              <a href="/user">
                <i class="icon-user"></i>
                <h1 class="section-title">User</h1>
              </a>
            </li>
            <li class="section">
              <a href="/release_notes/">
                <i class="icon-release-notes"></i>
                <h1 class="section-title">Release Notes</h1>
              </a>
            </li>
          </ul>

      </div>
    </div>

  </header>

  <div class="container">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>
  </div>

  <%= render '_footer' %>
  </body>
</html>
