<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> | Spree - Ruby on Rails e-commerce platform</title>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>

  <link href="/shared/css/icons.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/shared/css/icons-codes.css" media="screen" rel="stylesheet" type="text/css">

  <!--[if IE 7]>
    <link href="/shared/css/icons-ie7.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/shared/css/icons-ie7-codes.css" media="screen" rel="stylesheet" type="text/css">
  <![endif]-->

  <link href="/shared/css/skeleton.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">

  <link href="/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/guides.css" media="screen" />

  <script src="/shared/js/raphael-min.js" type="text/javascript"></script>
  <script src="/shared/js/css_browser_selector_dev.js" type="text/javascript"></script>
  <script src="/shared/js/documentation.js" type="text/javascript"></script>

</head>
<body class="api home">

  <%= render '_edge_badge' %>

  <header id="header">
    <%= render '_header' %>

    <div id="subheader">
      <div class="container">
        <div class="sixteen columns">
          <hgroup id="site-title">
            <h1 class="page-title">Spree Release Notes</h1>
          </hgroup>
        </div>
      </div>
    </div>

  </header>

  <div class="container">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>

    <%= render 'integration/_sidebar' %>

  </div>

  <%= render '_footer' %>
  </body>
</html>
