<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> | Spree - Ruby on Rails e-commerce platform</title>

  <%= render '_head' %>


</head>
<body class="user home">

  <%= render '_edge_badge' %>

  <header id="header">
    <%= render '_header' %>

    <div id="subheader">
      <div class="container">
        <div class="sixteen columns">
          <hgroup id="site-title">
            <h1 class="page-title">The Spree User</h1>
            <h2 class="page-subtitle">Guide</h2>
          </hgroup>
        </div>
      </div>
    </div>

  </header>

  <div class="container">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>

    <%= render 'user/_sidebar' %>

  </div>

  <%= render '_footer' %>
  </body>
</html>
