#breadcrumbs {
  padding: 0;
}
.breadcrumb {
  background: none;
  padding: 0.5rem 0;
  margin: 0;
  li {
    color: $font-color;
    font-size: font-px-to-rem(11px);
    @include media-breakpoint-up(sm) {
      font-size: font-px-to-rem(16px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(12px);
    }
    span {
      a {
        color: inherit;
      }
    }
  }
}
