.position-absolute-center {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

.position-absolute-x-center {
  position:absolute;
  left:50%;
  transform:translate(-50%, 0);
}

.position-absolute-y-center {
  position:absolute;
  top:50%;
  transform:translate(0, -50%);
}

#breadcrumbs {
  padding: 0;
}

.breadcrumb {
  background: none;
  padding: 0.5rem 0;
  margin: 0;
  li {
    color: $font-color;
    font-size: font-px-to-rem(11px);
    @include media-breakpoint-up(sm) {
      font-size: font-px-to-rem(16px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(12px);
    }
    a {
      color: inherit;
    }
  }
}

.breadcrumb-product-name {
  padding-right: 9.5px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Aspect Ratios
[style*="--aspect-ratio"] > img,
[style*="--aspect-ratio"] > svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
}
