<%=error_messages_for :address%>
<h1><%= t("Ship Address")%></h1>
<% form_for(:address, :url => order_address_url(@order)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div align="right">
    <%= submit_tag t('Continue') %>
  </div>
<% end %>