<%# locals: (record:) %>
<div class="flex items-center justify-end gap-1">
  <% if respond_to?(:edit_object_url) && can?(:update, record) %>
    <%= link_to edit_object_url(record),
                class: 'btn btn-sm btn-light',
                title: Spree.t(:edit),
                data: { 'turbo-frame': '_top' } do %>
      <%= icon 'pencil', class: 'w-4 h-4' %>
    <% end %>
  <% end %>
</div>
