<div id="country_members">
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title">
        <%= Spree.t(:countries) %>
      </h5>
    </div>

    <div class="card-body">
      <div class="form-group">
        <%= zone_form.label :country_ids, Spree.t(:countries) %>
        <%= tom_select_tag 'zone[country_ids]', multiple: true, class: 'w-100', options: Spree::Country.all.to_tom_select_json, active_option: @zone.country_ids %>
      </div>
    </div>
  </div>
</div>
