<div class="container">
  <div class="not-found-page text-center pt-5">
    <h1 class="display-1 text-primary">404</h1>
    <p><strong>Sorry! Page you are looking can’t be found.</strong></p>
    <p>Get back to the <%= link_to 'homepage', spree.root_url %>.</p>
  </div>
</div>
