<div class="container">
  <div class="not-found-page text-center pt-5">
    <h1 class="display-1 text-primary">404</h1>
    <p><strong><%= Spree.t(:page_not_found) %></strong></p>
    <p><%= Spree.t(:get_back_to_the) %> <%= link_to Spree.t(:home_page), spree.root_url %></p>
  </div>
</div>
