<div class="hidden md:block">
  <div class="desktopLiveView" data-page-builder-target="previewContainer">
    <div class="embed-responsive embed-responsive-4by3 bg-transparent">
      <iframe class="embed-responsive-item border border-gray-100 bg-transparent rounded"
              data-page-builder-target="iframe"
              data-action="load->page-builder#initializeVisualEditor"
              id="page-builder-preview"
              sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals">
      </iframe>
    </div>
  </div>
</div>

<%= turbo_frame_tag :iframe_preview_scripts %>
