<% item_count = simple_current_order&.item_count || 0 %>

<%= link_to spree.cart_path,
  class: "cart-icon #{'cart-icon--visible-count' if item_count > 0} #{local_assigns[:class]}",
  'aria-label': Spree.t(:cart) do %>
  <%= icon(name: 'bag',
           width: size,
           height: size) %>

  <div class="font-weight-medium cart-icon-count"><%= item_count %></div>
<% end %>
