<div class="border-bottom border-top">
  <div class="container">
    <div class="d-flex justify-content-center justify-content-xl-start py-3 footer-spree-copyright">
      © 2019 Spree. All Rights Reserved.
    </div>
  </div>
</div>
