<div id="spree-header">
  <header id="header" data-hook class="py-3">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-3 col-md-4" data-hook>
          <%= logo %>
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
