<div id="spree-header">

  <header id="header" data-hook>
    <div class="container">
        <figure id="logo" class="col-md-4" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>

</div>