<ul class="nav h-100 main-nav-bar" data-hook>
  <% categories_data.each do |category| %>
    <li class="navbar main-nav-bar-dropdown main-nav-bar-category" data-hook>
      <a href="<%= category[:url] %>" class="p-2 main-nav-bar-item main-nav-bar-category-button">
        <%= category[:name] %>
      </a>

      <div class="w-100 shadow main-nav-bar-category-dropdown">
        <%= render partial: 'spree/shared/category_nav_bar', locals: {
          link_categories: category[:subcategories],
          category: category[:name]
        } %>
      </div>
    </li>
  <% end %>
</ul>
