<% if order.using_store_credit? %>
  <tfoot class="top-accent-separator light" id="order-total-without-cred">
    <tr class="total">
      <td colspan="4"><strong>Order Total</strong></td>
      <td class="total"><span><%= order.display_total.to_html %></span></td>
    </tr>
  </tfoot>

  <tfoot id="order-store-credit">
    <tr class="total">
      <td colspan="4"><strong>Store Credit</strong></td>
      <td class="total"><span><%= order.display_total_applicable_store_credit.to_html %></span></td>
    </tr>
  </tfoot>
<% end %>