<div class="d-inline-flex quantity-select" data-controller="quantity-picker">
  <!-- this is a dummy button to work with turbo frame forms when hitting ENTER -->
  <%= button_tag '-', type: local_assigns[:button_type], class: 'd-none' if local_assigns[:button_type] == 'submit' %>

  <%= quantity_modifier_button_tag '-', type: local_assigns[:button_type], action: 'decrease' %>
  <%= local_assigns[:form] ? form.number_field(:quantity, quantity_field_options) : number_field_tag(:quantity, 1, quantity_field_options) %>
  <%= quantity_modifier_button_tag '+', type: local_assigns[:button_type], action: 'increase' %>
</div>
