<%= form_tag spree.products_path, method: :get, class: "py-md-1 d-flex align-items-center search-form" do %>
  <%= search_field_tag :keywords,
                       params[:keywords],
                       placeholder: Spree.t(:search),
                       title: Spree.t(:search),
                       autofocus: true,
                       'aria-label': Spree.t(:search),
                       class: " border-0 p-3" %>
  <button type="submit" class="btn border-0 p-0" aria-label="Submit">
    <%= icon(name: 'search',
            classes: 'd-inline',
            width: 27,
            height: 27) %>
  </button>
<% end %>
