<p class="text-gray-600">
  You can use all HTML tags, JavaScript or CSS here
</p>
<%= f.text_area :preferred_custom_code, rows: 10, class: 'mb-6 form-input', data: { action: 'auto-submit#submit' } %>
