<p class="text-muted">
  You can use all HTML tags, JavaScript or CSS here
</p>
<%= f.text_area :preferred_custom_code, rows: 10, class: 'mb-4 form-control', data: { action: 'auto-submit#submit' } %>
