<%= render 'spree/admin/shared/page_section_logo', f: f %>

<p class="text-muted small mt-2">
  We recommend transparent images with a minimum size of 400x128 pixels.
</p>

<%= render 'spree/admin/page_links/list', parent: @page_section, show_add_link_button: true %>

<% content_for(:design_tab) do %>
  <%= render 'spree/admin/page_sections/fields/header_layout', f: f %>
  <hr />
<% end %>
