<div class="alert alert-info mb-3">
  If you don't upload a logo we'll use the one from the header.
</div>

<%= render 'spree/admin/shared/page_section_logo', f: f %>

<p class="text-muted small mt-2">
  We recommend transparent images with a minimum size of 400x128 pixels.
</p>
