<div class="form-group">
  <%= f.label :preferred_heading, Spree.t('admin.page_builder.heading') %>
  <%= f.text_field :preferred_heading, data: { action: 'auto-submit#submit' }, class: "form-control" %>
</div>

