<% if current_user %>
  <li><%= link_to t(:my_account), spree.account_path %></li>
  <li><%= link_to t(:logout), spree.destroy_user_session_path, :method => :delete %></li>
<% else %>
  <li id="link-to-login"><%= link_to t(:login), spree.login_path %></li>
<% end %>
