<p class="field">
  <label for="<%= "#{param_prefix}_preferred_path" %>">
    User must have visited the path:
    <%= t('landing_page_rule.must_have_visited_path') %>
    <%= text_field_tag "#{param_prefix}[preferred_path]", promotion_rule.preferred_path, :size => 10 %>
  </label>
</p>

