<div class="form-group">
  <% if local_assigns[:label] %>
    <%= f.label field, local_assigns[:label] || field.to_s.humanize %>
  <% end %>
  <%= f.select field, 
    options_for_select(options, f.object.send(field)), 
    local_assigns[:select_options] || {}, 
    { 
      data: { action: local_assigns[:action] || 'auto-submit#submit' }, 
      class: local_assigns[:class] || 'form-control' 
    } %>
</div>
