<aside id="page-builder-sidebar" class="overflow-y-auto">
  <div class="mb5">
    <div data-tabs-target="panel" id="sections" role="tabpanel" aria-labelledby="sidebar-icon-page" class="animate__animated animate__fadeIn">
      <%= render 'spree/admin/page_builder/sidebar_sections' %>
      <%= render 'spree/admin/page_builder/sidebar_sections_toolbar' %>
    </div>
    <div data-tabs-target="panel" role="tabpanel" aria-labelledby="sidebar-icon-colors" id="colors" hidden class="animate__animated animate__fadeIn">
      <%= render 'spree/admin/page_builder/sidebar_colors' %>
    </div>
    <div data-tabs-target="panel" role="tabpanel" aria-labelledby="sidebar-icon-fonts" id="fonts" hidden class="animate__animated animate__fadeIn">
      <%= render 'spree/admin/page_builder/sidebar_fonts' %>
    </div>
  </div>
</aside>
