<aside id="page-builder-sidebar">
  <div class="tab-content mb5">
    <div class="tab-pane fade show active" id="sections" role="tabpanel" aria-labelledby="sidebar-icon-page">
      <%= render 'spree/admin/page_builder/sidebar_sections' %>
      <%= render 'spree/admin/page_builder/sidebar_sections_toolbar' %>
    </div>
    <div class="tab-pane fade" role="tabpanel" aria-labelledby="sidebar-icon-colors" id="colors">
      <%= render 'spree/admin/page_builder/sidebar_colors' %>
    </div>
    <div class="tab-pane fade" role="tabpanel" aria-labelledby="sidebar-icon-fonts" id="fonts">
      <%= render 'spree/admin/page_builder/sidebar_fonts' %>
    </div>
  </div>
</aside>
