<table class="basic-table">
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Presentation</th>
	  <th>Value</th>
	</tr>
  </thead>
  <tbody>
	<% exclusive_properties(@product, ProductProperty.find(:all)).each do |prop| %>
	<tr>
	  <td><%= prop.name %></td>
	  <td><%= prop.presentation %></td>
	  <td>
		<%= text_field "add_property_value", :value, :index => prop.id %>
	  </td>
	</tr>
	<% end %>
  </tbody>
</table>
