<%= render :partial => 'menu' %>

<h1>Editing Product</h1>

<% form_for(:product, :url => object_url, :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'shared/edit_resource_links' %>
<% end %>