<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("New Product") %></h1>

<% form_for(:product,  :url => collection_url, :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'shared/new_resource_links' %>
<% end %>
