.dropdown.user-menu {
  a {
    color: white !important;
    font-weight: 400;
  }

  .dropdown-menu {
    width: 100%;
    padding: 0 0;

    hr {
      margin: 0 0;
    }

    a {
      color: $dropdown-link-color !important;
      padding: 15px;
    }
  }
}
