.alert {
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 125%;

  &.security {
    background: #cc0000; 
    border-bottom: 3px solid darken(#cc0000, 10);
    a {
      color: lighten($color-3, 20);
    }
  }

  &.release, &.news {
    background: $color-2;
    border-bottom: 3px solid darken($color-2, 10);
    a {
      color: darken($color-3, 10);
    }
  }

  .dismiss {
    float: right;
    color: white !important;
  }
}