@import "spree/backend/globals/variables";

.return-items-table {
  .refund-amount-input {
    width: 80px;
  }
  .fa-thumbs-up {
    margin-bottom: 10px;
  }
  .select2-container {
    text-align: left;
    max-width: 150px;
  }
}
.expedited-exchanges-warning {
  display: none;
  color: black;
  padding: 15px;
  margin: 10px 0;
  font-weight: bold;
  background-color: $color-6;
  border-radius: 4px;
  opacity: 0.6;
}
