.row.section-row.sticky-top {
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 0;
  border-top: 1px solid $global-border-style;
  border-bottom: 1px solid $global-border-style;
  top: $spree-header-mobile-height + 24px;

  .buy-container {
    min-height: $spree-header-mobile-height;
  }

  li.buy-bar {
    a { color: grey;
      &.active {
        color: $header-font-color;
      }
    }
  }
}
