// ------------------------------------------------------------- 
//   Variables used in all other files   
//--------------------------------------------------------------

// Fonts
//--------------------------------------------------------------
$base-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Colors
//--------------------------------------------------------------
$color-1:             #929292;    // Gray
$color-2:             #9FC820;    // Green
$color-3:             #5FA5E8;    // Light Blue
$color-4:             #6788A2;    // Dark Blue
$color-5:             #C60F13;    // Red
$color-6:             #FF9300;    // Yellow

$color-body-text:     $color-4;
$color-headers:       $color-4;
$color-links:         $color-3;
$color-border:        lighten($color-3, 27);

$color-success:       $color-2;
$color-notice:        $color-6;
$color-error:         $color-5;

// Sizes
//--------------------------------------------------------------
$body-font-size: 13.037px;