<tr>
  <td><%= render 'spree/admin/variants/variant', variant: stock_movement.variant %></td>
  <td><%= stock_movement.quantity %></td>
  <td><%= stock_movement.stock_item.count_on_hand %></td>
</tr>
