<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>

<div id="add-line-item" data-hook>
  <fieldset>
    <legend align="center"><%= t(:add_product) %></legend>

    <div data-hook="add_product_name" class="field twelve columns alpha">
      <%= label_tag :add_variant_id, t(:name_or_sku) %>
      <%= hidden_field_tag :add_variant_id, "", :class => "variant_autocomplete fullwidth" %>
    </div>

  </fieldset>

  <div id="stock_details"></div>
</div>
