<% content_for :page_title do %>
  <%= Spree.t(:taxons) %>
<% end %>

<div data-hook="admin_orders_index_search" class="form-group">
  <input type='text' id='taxon_id' />
</div>

<div class="alert alert-info" id='sorting_explanation' style='display:none'>
  <%= Spree.t(:click_and_drag_on_the_products_to_sort_them) %>
</div>

<ul id='taxon_products'></ul>

<%= render :partial => "spree/admin/products/autocomplete", :formats => :js %>
