<% content_for :page_title do %>
  <%= Spree.t(:taxons) %>
<% end %>

<div class="taxon-products-view">
  <div class="form-group">
    <%= select_tag :taxon_id, nil, class: 'd-block w-100' %>
  </div>

  <ul id="taxon_products" class="taxon row"></ul>

  <%= render partial: "spree/admin/products/autocomplete", formats: :js %>
</div>
