<% content_for :page_title do %>
  <%= Spree.t(:taxons) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:choose_a_taxon_to_sort_products_for) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_orders_index_search" class="columns six">
    <input type='text' id='taxon_id' />
  </div>
<% end %>



<div class="alert alert-info" id='sorting_explanation' style='display:none'>
  <%= Spree.t(:click_and_drag_on_the_products_to_sort_them) %>
</div>

<ul id='taxon_products'></ul>

<%= render :partial => "spree/admin/products/autocomplete", :formats => :js %>
