<!DOCTYPE html>
<html>
  <head>
    <title> Test Email </title>
  </head>
  <body>
    <style>
      <%= Rails.application.assets['ink.css'].to_s.html_safe %>
    </style>
    <div>
      <h1> Hey there </h1>
    </div>
  </body>
</html>