<% if try_spree_current_user %>
<ul class="nav navbar-nav">
  <li>
    <a href="#" id="account-email-menu" data-toggle="modal" data-target="#myModal">
      <i class="glyphicon glyphicon-user"></i>
      <span class="hidden-xs"><%= try_spree_current_user.email %> <i class="caret"></i></span>
    </a>
  </li>
</ul>

<% end %>
