<div class="input-group-append append_over data-clear" data-clear>
  <span class="input-group-text force-round">
    <%= svg_icon name: "close.svg", width: '16', height: '16' %>
  </span>
</div>
<div class="input-group-append append_under data-toggle" data-toggle>
  <span class="input-group-text">
    <%= svg_icon name: "calendar.svg", width: '16', height: '16' %>
  </span>
</div>
