<div class="input-group-append append_over">
  <span class="input-group-text force-round" data-clear>
    <%= svg_icon name: "close.svg", width: '16', height: '16' %>
  </span>
</div>
<div class="input-group-append append_under">
  <span class="input-group-text" data-toggle>
    <%= svg_icon name: "calendar.svg", width: '16', height: '16' %>
  </span>
</div>
