<div class="form-buttons" data-hook="buttons">
  <%= button Spree.t('actions.update'), 'update' %>
  <span class="or"><%= Spree.t(:or) %></span>
  <%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'remove' %>
</div>
