<% query = query || :store_id_in %>

<li class="nav-item">
  <%= link_to Spree.t(:all_stores), all_stores_path, class: "nav-link #{'active' if params[:q][query].blank?}" %>
</li>

<% @stores.each do |store| %>
  <li class="nav-item">
    <%= store_switch_tab(store, query) %>
  </li>
<% end %>
