<header class="header logged-in">
  <nav class="navbar" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="navbar-right" data-hook="admin_login_navigation_bar"></div>
        </div>
      </div>
    </div>
  </nav>
</header>
