 <header class="header logged-in d-block d-lg-none">
  <nav class="navbar fixed-top px-0 py-1 border-bottom" role="navigation">
    <div class="navbar-header col-4">
      <button
        id="sidebar-toggle"
        class="navbar-toggle btn btn-outline-primary"

        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon icon-list-alt"></span> <%= Spree.t(:menu) %>
      </button>
    </div>
    <div class="col-8 text-right">
      <% if content_for?(:page_actions) || content_for?(:sidebar) %>
            <div class="page-actions col px-0" data-hook="toolbar">
              <%= yield :page_actions %>
                <% if content_for?(:sidebar) %>
                  <button  id="toggle-dynamic-content-menu"
                      class="btn btn-outline-primary">
                      <span class="icon icon-list-alt"></span> <%= Spree.t(:options) %>
                  </button>
                  <% end %>
            </div>
      <% end %>
    </div>
  </nav>
</header>
