<header id="header" data-hook>
  <div class="container">
    <figure data-hook="logo-wrapper" class="columns five">
      <%= link_to image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), spree.admin_path %>
    </figure>

    <nav data-hook="admin_login_navigation_bar" class="columns eleven"></nav>
  </div>
</header>
