<% args = params.clone %>

<% if defined?(per_page_action) %>
  <% args[:action] = per_page_action %>
<% end %>

<div class="row index-pagination-row mt-4">
  <div class="col-12 text-center">
    <%= paginate collection, theme: 'admin-twitter-bootstrap-4' %>
  </div>
</div>
