<% args = params.clone %>

<% if defined?(per_page_action) %>
  <% args[:action] = per_page_action %>
<% end %>

<div class="row index-pagination-row">
  <div class="col-xs-6">
    <%= paginate collection %>
  </div>
  <div class="col-xs-6">
    <div class="pagination-wrap">
      <%= form_tag(per_page_dropdown_params(args), { method: :get, class: 'js-per-page-form form-inline' }) do %>
        <%= per_page_dropdown %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
