<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= button Spree.t('actions.create'), 'ok' %>
  <span class="or"><%= Spree.t(:or) %></span>
  <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), collection_url, :class => 'button' %>
</div>
