<% if content_for?(:sidebar) %>
  <aside id="sidebar" data-hook class="four columns">

    <% if content_for?(:sidebar_title) %>
      <h5 class="sidebar-title"><span><%= yield :sidebar_title %></span></h5>
    <% end %>

    <%= yield :sidebar %>
  </aside>
<% end %>
