<% if content_for?(:table_filter) %>
  <div id="table-filter" data-hook class="<%= if content_for?(:sidebar) then 'twelve' else 'sixteen' end %> columns">
    <fieldset>
      <legend align="center"><%= yield :table_filter_title %></legend>
      <%= yield :table_filter %>
    </fieldset>
  </div>
<% end %>
