<% if content_for?(:table_filter) %>
  <div class="filter-wrap row">
    <div class="col-sm-12">
      <% unless defined?(simple) %>
        <div id="table-filter" data-hook class="well filter-well">
          <%= yield :table_filter %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="table-active-filters js-filters"></div>
<% end %>
