<% if content_for?(:table_filter) %>
  <div id="table-filter" data-hook class="well">
    <fieldset>
      <legend><%= yield :table_filter_title %></legend>
      <%= yield :table_filter %>
    </fieldset>
  </div>
<% end %>
