<!-- You can override this template to design your own header. -->
<tr>
  <td class="email-masthead">
    <%= render 'spree/shared/mailer_logo', logo: current_store.mailer_logo.attached? ? current_store.mailer_logo : current_store.logo %>
  </td>
</tr>
