<!-- You can override this template to design your own header. -->
<tr>
  <td class="email-masthead">
    <% if frontend_available? %>
      <%= link_to spree.root_url, class: 'template-label' do %>
        <%= image_tag Spree::Config.logo, class: 'logo', alt: current_store.name, title: current_store.name %>
      <% end %>
    <% else %>
      <%= image_tag Spree::Config.logo, class: 'logo', alt: current_store.name, title: current_store.name %>
    <% end %>
  </td>
</tr>
