<!-- You can override this template to design your own header.
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="six sub-columns">
                    <%= image_tag(Spree::Config.logo) %>
                  </td>
                  <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                    <span class="template-label"><%= Spree::Store.current.name %></span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
-->
