<!-- You can override this template to design your own header. -->
<% store_name = @order&.store&.name || current_store.name %>
<tr>
  <td class="email-masthead">
    <% if frontend_available? %>
      <%= link_to spree.root_url, class: 'template-label' do %>
        <%= image_tag logo_path, class: 'logo', alt: store_name, title: store_name %>
      <% end %>
    <% else %>
      <%= image_tag logo_path, class: 'logo', alt: store_name, title: store_name %>
    <% end %>
  </td>
</tr>
