<header id="header" class="row" data-hook>
  <figure id="logo" class="columns alpha six" data-hook><%= logo %></figure>
  <nav id="top-nav-bar" class="columns omega ten">
	  <ul id="nav-bar" class="inline" data-hook>
	    <li id="search-bar" data-hook>
	      <%= render :partial => 'spree/shared/search' %>
	    </li>
	  </ul>
	</nav>
	<% if store_menu? %>
	<nav class="columns alpha omega sixteen">
	  <ul id="main-nav-bar" class="inline" data-hook>
	    <%= render :partial => 'spree/shared/store_menu' %>
	  </ul>
	</nav>
	<% end %>
</header>
