<nav class="columns alpha omega sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>
