$('#preview_container').html('<%= escape_javascript( render('spree/admin/product_groups/preview') ) %>');
<% notice = flash[:notice] %>
<% flash.delete(:notice) %>
flash_notice = jQuery('.flash.notice');
if (flash_notice.length > 0) {
  flash_notice.html('<%= notice %>');
} else {
  $('#content h1').before('<div class="flash notice"><%= notice %></div>');
}

//set form action in case permalink changes
$('form#product-group-form').attr('action', '<%= url_for([:admin, @product_group]) %>');
