#cmsPagesectionsArea {
  .cms_section_preview_image_holder {
        position: relative;
    border: 1px solid $border-color;
    border-radius: 7px;
    overflow: hidden;
    width: 75px;
    height: 75px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%,-50%);
    }
  }

  .edge {
    div.row {
      border-left: none !important;
      border-right: none !important;
    }
  }

  .cms_section_action_col {
    max-width: 50px;
    text-align: center;
  }

  .v-seperator {
    border-left: 1px solid #dee2e6;
  }
}
