#standardPage {
  .sp-pb-0 {
    padding-bottom: 0 !important;
  }

  .sp-card {
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
}

[aria-expanded="false"] {
  span.more {
    display: inline;
  }
  span.less {
    display: none;
  }
}

[aria-expanded="true"] {
  span.more {
    display: none;
  }
  span.less {
    display: inline;
  }
}

button#cmsSectionEditorFullScreen {
  span.exit {
    display: none;
  }

  &.active {
    span.exit {
      display: inline;
    }
  }
}

#cmsPagesectionsArea {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 553px;

  .border {
    border-color: #9c9c9c !important;
  }

  // Hide scroll-bar in live preview
  // sidebar.
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

body[data-sections-editor-full-screen] {
  .hide-on-full-screen-mode {
    display: none;
  }

  #pageSectionsArea {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white;
    padding: 15px 15px 0 15px;
    height: 100vh;

    #cmsPagesectionsArea {
      max-height: 90vh;
    }

    .embed-responsive-4by3 {
      height: 90vh;
    }
  }
 }

#pageLivePreview {
  transform-origin: top left;
}

.desktopLiveView {
  #pageLivePreview {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
  }
}

.tabletLiveView {
  #pageLivePreview {
    width: 85%;
    height: 133%;
    transform: scale(0.75);
    left: 19%;
  }
}

.mobileLiveView {
    #pageLivePreview {
    width: 60%;
    height: 133%;
    transform: scale(0.75);
    left: 28%;
  }
}

// ToDo: Fix zoom state on difrent screen sizes
// To get optimal use from the Live Editor Preview.
// Bootstrap media break points are not going to be suitable as
// it is in frame in a screen.
// @include media-breakpoint-up(lg) {
//   .desktopLiveView {
//     #pageLivePreview {
//       width: 125%;
//       height: 100%;
//       transform: scale(0.75);

//     }
//   }
// }
