---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/apple_pay/domains
    body:
      encoding: UTF-8
      string: domain_name=shop.store-with-apple-pay.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 30a16f4f-95ec-46c7-aa4f-a1dd5c68ebe4
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 30a16f4f-95ec-46c7-aa4f-a1dd5c68ebe4
      Original-Request:
      - req_z1L95Y1eeucosu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "apwc_1OhVNaIhR0gIegIea5bTfT3R",
          "object": "apple_pay_domain",
          "created": 1707390174,
          "domain_name": "shop.store-with-apple-pay.com",
          "livemode": false
        }
  recorded_at: Thu, 15 Feb 2024 09:46:06 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/apple_pay/domains?domain_name=shop.store-with-apple-pay.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "apwc_1OhVNaIhR0gIegIea5bTfT3R",
              "object": "apple_pay_domain",
              "created": 1707390174,
              "domain_name": "shop.store-with-apple-pay.com",
              "livemode": false
            }
          ],
          "has_more": false,
          "url": "/v1/apple_pay/domains"
        }
  recorded_at: Thu, 15 Feb 2024 09:46:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/apple_pay/domains?domain_name=store-with-apple-pay.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "apwc_1OhWNdIhR0gIegIe8QpNWSqX",
              "object": "apple_pay_domain",
              "created": 1707394021,
              "domain_name": "store-with-apple-pay.com",
              "livemode": false
            }
          ],
          "has_more": false,
          "url": "/v1/apple_pay/domains"
        }
  recorded_at: Thu, 15 Feb 2024 09:46:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_method_domains
    body:
      encoding: UTF-8
      string: domain_name=shop.store-with-apple-pay.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b5226b62-65ca-4969-9a39-9757e171bfb9
      Original-Request:
      - req_s0QoJ38kGv6V6C
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pmd_1Qc1xO2ESifGlJezySi9qH6t",
          "object": "payment_method_domain",
          "amazon_pay": {
            "status": "active"
          },
          "apple_pay": {
            "status": "active"
          },
          "created": 1735638106,
          "domain_name": "shop.store-with-apple-pay.com",
          "enabled": true,
          "google_pay": {
            "status": "active"
          },
          "link": {
            "status": "active"
          },
          "livemode": false,
          "paypal": {
            "status": "active"
          }
        }
  recorded_at: Tue, 31 Dec 2024 09:41:47 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_method_domains?domain_name=shop.store-with-apple-pay.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Api-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "pmd_1Qc1xO2ESifGlJezySi9qH6t",
              "object": "payment_method_domain",
              "amazon_pay": {
                "status": "active"
              },
              "apple_pay": {
                "status": "active"
              },
              "created": 1735638106,
              "domain_name": "shop.store-with-apple-pay.com",
              "enabled": true,
              "google_pay": {
                "status": "active"
              },
              "link": {
                "status": "active"
              },
              "livemode": false,
              "paypal": {
                "status": "active"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/payment_method_domains"
        }
  recorded_at: Tue, 31 Dec 2024 09:41:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_method_domains?domain_name=store-with-apple-pay.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Api-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/j[...]
