module Spree
  module Admin
    class PasswordsMailer < Spree::BaseMailer
      def reset(admin_user)
        @admin_user = admin_user
        mail(
          subject: Spree.t(:reset_your_password),
          to: admin_user.email_address
        )
      end
    end
  end
end
