<div data-hook="admin_role_form_fields">
  <div data-hook="role_name" class="form-group">
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div data-hook="additional_role_fields"></div>
</div>
