<div data-hook="admin_role_form_fields">
  <div data-hook="role_name" class="form-group">
    <%= f.required_label_markup(:name) %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div data-hook="additional_role_fields"></div>
</div>
