<tr id="">
  <td class="w-50"><code><%= coupon_code[1].upcase %></code></td>
  <td class="w-25"><%= active_badge(coupon_code[2] == 'used') %></td>
  <td class="w-25"><%= local_time(coupon_code[3]) %></td>
  <td class="actions w-35 text-right">
  </td>
</tr>
