<%# locals: (record:, column:, value:) %>
<div><%= record.full_name %></div>
<div class="flex flex-col items-start gap-1 mt-1">
  <% if @user && record == @user.billing_address %>
    <span class="badge badge-info"><%= Spree.t(:default_billing_address) %></span>
  <% end %>
  <% if @user && record == @user.shipping_address %>
    <span class="badge badge-info"><%= Spree.t(:default_shipping_address) %></span>
  <% end %>
</div>
