/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */

@layer components {
  .breadcrumb {
    @apply flex flex-wrap items-center mb-0 list-none font-medium bg-transparent rounded-none;
    gap: 0.5rem;
    padding: 0;
    padding-left: 1rem;
    height: 32px;
    border-left: 1px solid var(--color-gray-50);
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    @apply float-left text-gray-500;
    padding-right: 0.5rem;
    content: "/";
  }

  .breadcrumb-item.active {
    @apply text-gray-600;
  }

  .breadcrumb-item a {
    color: inherit;
    text-decoration: none;
  }

  .breadcrumb-item a:hover {
    @apply text-primary underline;
  }

  .breadcrumb li a {
    @apply no-underline;
  }

  .breadcrumb li a:hover {
    @apply text-primary underline;
  }
}
