/* ==========================================================================
   LINE ITEMS
   ========================================================================== */

@layer components {
  .order-line-items__form {
    padding: 0.75rem;
    border-bottom: 1px solid #e9ecef;
  }

  .order-line-items__form:last-child {
    border-bottom: none;
  }

  .order-line-items__form:hover {
    background-color: var(--color-gray-25);
  }

  .shipment-line-items__row,
  .shipment-line-items__form {
    display: grid;
    grid-template-columns: [product_description] 1fr [price] 10% [quantity] 15% [total] 10% [actions] 5%;
    grid-auto-flow: row;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .shipment-line-items__form {
    grid-column: 1/-1;
    row-gap: 0.5rem;
  }
}
