/* ==========================================================================
   LINE ITEMS
   ========================================================================== */

@layer components {
  .order-line-items__form {
    @apply p-3 border-b border-gray-200;
  }

  .order-line-items__form:last-child {
    @apply border-b-0;
  }

  .order-line-items__form:hover {
    @apply bg-gray-25;
  }

  .shipment-line-items__row,
  .shipment-line-items__form {
    @apply grid grid-flow-row py-3;
    grid-template-columns: [product_description] 1fr [price] 10% [quantity] 15% [total] 10% [actions] 5%;
  }

  .shipment-line-items__form {
    @apply gap-y-2;
    grid-column: 1/-1;
  }
}
