/* ==========================================================================
   SEO FORM
   ========================================================================== */

@layer components {
  .seo-form .card-body {
    gap: 1rem;
  }

  .seo-form .seo__preview {
    gap: 0.125rem;
  }

  .seo-form .seo__preview__title {
    color: #1a0dab;
  }

  .seo-form .seo__preview__link {
    color: #006625;
  }
}
