/* ==========================================================================
   TOOLTIPS & POPOVERS
   ========================================================================== */

@layer components {
  /* Custom Tooltip Container (Floating UI) */
  .tooltip-container {
    @apply absolute hidden pointer-events-none z-1080 bg-surface text-text border-0 rounded-lg text-base! font-normal!;
    opacity: 1 !important;
    box-shadow: 0px 0px 0px 1px var(--color-border), 0px 3px 6px -1px rgba(209, 213, 219, 0.35), 0px 3px 6px 0px rgba(209, 213, 219, 0.35);
    padding: 0.25rem 0.5rem;
    max-width: 200px;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    text-wrap: wrap;
  }
}
