/* ==========================================================================
   VARIANTS FORM
   ========================================================================== */

@layer components {
  .variants-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .variants-form .options-creator {
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
  }

  .variants-form .options-creator:not(:has(.options-creator__options_container .options-creator__option)) {
    margin: 0;
    border: none;
  }

  .variants-form .options-creator:not(:has(.options-creator__options_container .options-creator__option)) .options-creator__option--new {
    padding-left: 1rem;
  }

  .variants-form .options-creator:has(.options-creator__option--new:not(.d-none)) {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    margin: 1rem;
    margin-bottom: 1rem;
  }

  .variants-form .options-creator__option {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem 0.5rem 1rem 0;
    margin-bottom: 0.5rem;
  }

  .variants-form .options-creator__option .label {
    @apply inline-block font-medium;
    margin-bottom: 0.5rem;
  }

  .variants-form .options-creator__option .draggable {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    margin-right: 0.75rem;
    cursor: grab !important;
    padding-right: 1rem;
    min-width: calc(16px + 1rem);
  }

  .variants-form .options-creator__option .draggable i {
    margin-right: 0;
  }

  .variants-form .options-creator__option .draggable:hover {
    @apply bg-gray-25;
  }

  .variants-form .options-creator__option--new {
    padding-left: calc(1.13px + 3.25rem);
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }

  .variants-form .options-creator__option--new .values-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .variants-form .options-creator__option--form {
    padding-left: calc(1.13px + 3.25rem);
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }

  .variants-form .options-creator__option:first-child {
    border-top: 0;
  }

  .variants-form .options-creator .new_option_button {
    width: 100%;
    justify-content: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .variants-form .variants-table {
    display: flex;
    flex-direction: column;
  }

  .variants-form .variants-table .column-checkbox,
  .variants-form .variants-table .column-variant,
  .variants-form .variants-table .column-price,
  .variants-form .variants-table .column-quantity,
  .variants-form .variants-table .column-actions {
    display: inline-flex;
    align-items: center;
  }

  .variants-form .variants-table .column-checkbox {
    justify-content: center;
    flex-grow: 0;
    flex-basis: 2rem;
  }

  .variants-form .variants-table .column-variant {
    user-select: none;
    flex-grow: 3;
    flex-basis: 0;
  }

  .variants-form .variants-table .column-price {
    flex-grow: 1;
    flex-basis: 0;
  }

  .variants-form .variants-table .column-actions {
    flex-grow: 0;
    flex-basis: 5rem;
  }

  .variants-form .variants-table .column-quantity {
    justify-content: space-between;
    width: 100%;
    line-height: 28px;
    flex-grow: 1;
    flex-basis: 0;
  }

  .variants-form .variants-table__actions {
    display: none;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem;
    padding-top: 0;
  }

  .variants-form .variants-table__actions:has(*) {
    display: flex;
  }

  .variants-form .variants-table__actions__select {
    width: min-content;
    padding-right: 1.75rem;
  }

  .variants-form .variants-table__header,
  .variants-form .variants-table__footer {
    display: flex;
    color: var(--color-text-muted);
    width: 100%;
    padding: 0 1rem;
    gap: 0.25rem;
    background-color: rgba(250, 250, 250, 0.5);
  }

  .variants-form .variants-table__header__cell,
  .variants-form .variants-table__footer__cell {
    display: inline-block;
  }

  .variants-form .variants-table__footer {
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: var(--radius-md);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
  }

  .variants-form .variants-table__body {
    display: flex;
    flex-direction: column;
  }

  .variants-form .variants-table__body__row {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    gap: 0.25rem;
    border-bottom: 1px solid var(--color-border);
  }

  .variants-form .variants-table__body__row.nested .column-checkbox,
  .variants-form .variants-table__body__row.nested .column-variant {
    left: 1.25rem;
    position: relative;
  }

  .variants-form .variants-table__body__row.nested .column-variant {
    width: calc(100% - 1.25rem);
  }

  .variants-form .variants-table__body__cell {
    padding: 0.5rem 0;
    display: block;
  }
}
