/* ==========================================================================
   WIZARD
   ========================================================================== */

@layer components {
  .admin-wizard .store-dropdown {
    border-bottom: 1px solid var(--color-gray-200);
  }

  .admin-wizard h1 {
    margin-bottom: 1.5rem;
  }

  .admin-wizard footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--color-gray-200);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-gray-25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    z-index: 1000;
  }
}
