<div class="flex items-center gap-2 mb-6">
  <div>
    <%= render_avatar(@invitation.inviter, height: 32, width: 32) %>
  </div>
  <div>
    <strong><%= @invitation.inviter.name %></strong> has invited you to join <strong><%= @invitation.resource.name %></strong>
  </div>
</div>
<%= link_to Spree.t(:accept), spree.accept_admin_invitation_path(@invitation), class: 'btn btn-primary mx-auto px-12', data: { turbo_method: :put } %>