<h4><%= t("new_image") %></h4>
<% form_for(:image, :url => { :controller => 'images', :action => "new" }, :html => { :multipart => true }) do |form| %>
	<table class="basic-table">
	  <tr>
	    <td><%= t("filename") %>:</td>
	    <td><%= form.file_field :uploaded_data %></td>
	  </tr>
	</table> 
 <% end %>
 
