<h2><%= t(:properties) %></h2>
<% f.fields_for :product_properties do |properties_form| %>
    <p data-hook="value">
      <%= properties_form.label :value, properties_form.object.property.presentation %><br />
      <%= properties_form.text_field :value %>
    </p>
<% end %>
