<div class="field alpha omega eight columns">
  <label for="<%= "#{param_prefix}_preferred_path" %>"><%= t('promotion_rule_types.landing_page.description') %>:</label>  
  <%= text_field_tag "#{param_prefix}[preferred_path]", promotion_rule.preferred_path, :class => 'fullwidth' %>  
  <span class="info"><%= t('landing_page_rule.must_have_visited_path') %></span>
</div>