<div class="field alpha omega eight columns">
  <label><%= t('user_rule.choose_users') %></label><br>
  <input type='hidden' name='<%= param_prefix %>[user_ids_string]' class='user_picker fullwidth' value='<%= promotion_rule.user_ids.join(",") %>'>
</div>
