.dropdown .btn .text-muted {
  color: $gray-500 !important;
}

.dropdown {
  .arrow {
    color: $gray-300;
  }

  &:hover {
    .arrow {
      color: $gray-500;
    }
  }
}

.dropdown.show {
  .arrow {
    transform: rotate(3.142rad);
  }
}

.dropdown-menu {
  margin-top: 0.25rem !important;
  overflow: hidden !important;
  box-shadow: $dropdown-box-shadow;

  .dropdown-item, .dropdown-header {
    padding-top: $input-btn-padding-y;
    padding-bottom: $input-btn-padding-y;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .dropdown-header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .dropdown-item {
    margin-bottom: 0.25rem;
    border-radius: $dropdown-inner-border-radius;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;

    transition-property: background-color, color;
    transition-duration: 0.01s;
    transition-timing-function: ease;

    &:hover {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
    }

    i {
      margin-right: 0.5rem;
    }

    .badge {
      @extend .ml-auto;
      @extend .align-self-center;
    }
    &.btn {
      font-weight: $font-weight-base !important;
    }
  }
  .dropdown-item.active {
    color: theme-color('black') !important;

    i {
      color: theme-color('black') !important;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0.5rem;
      width: 1rem;
      height: 1rem;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-primary"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10"/></svg>') no-repeat center center;
    }
  }
  .dropdown-item.active {
    font-weight: 600 !important;
    background-color: $dropdown-link-hover-bg !important;
  }
  .button_to {
    width: 100%;
  }
  .dropdown-header {
    font-weight: $font-weight-base;
  }

  .dropdown-item:last-child {
    margin-bottom: 0px;
  }
}

.dropdown-toggle {
  &:after {
    border: none;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chevron-down'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 12l6 6l6 -6'/%3E%3C/svg%3E");
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    opacity: 0.5;
  }
}
.dropdown-toggle:hover {
  &:after {
    opacity: 1;
  }
}
.dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle[aria-expanded="true"] {
  &:after {
    transform: rotate(180deg);
    opacity: 1;
  }
}