#page-header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: $body-bg;

  &.sticky-top {
    padding-left: 1rem;
    padding-right: 1rem;
    animation: slideDown 0.3s ease-out;
    height: $header-height;
    border-bottom: 1px solid $border-color;
    width: 100%;
    max-width: 100%;
  }
}

#settings-header {
  height: $header-height;
  background-color: $header-bg;
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 0;

  #page-header {
    margin-bottom: 0;
    height: $header-height;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    border-bottom: 1px solid $border-color;
  }

  #page-tabs {
    border-bottom: 1px solid $border-color;
  }
}

.page-header-title {
  font-size: 1.25rem;
}

#page-tabs {
  margin-top: -1rem;

  .nav {
    gap: 1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0;
    margin-bottom: -1px;

    .nav-link {
      border-radius: 0;
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-left: 0rem;
      padding-right: 0rem;
  
      &.active {
        background-color: transparent;
        color: theme-color('primary');
        font-weight: 600;
      }
    }
  }
}

#content {
  transition: margin-left 0.1s ease;

  @media (min-width: 992px) {
    margin-left: $sidebar-width + 1px;
  }
}


.documentation-link-container {
  font-size: $font-size-sm;
  text-align: center;
  margin-top: 2rem;
  color: $gray-400;
}
