turbo-frame[loading] .spinner-border, turbo-frame[busy] .spinner-border {
  display: block !important;
}

.sort-handle {
  cursor: grab;
}

.no-wrap {
  white-space: nowrap;
}

#page-header {
  min-height: 74px;
}

.page-header-title {
  font-size: 1.5rem;
  font-weight: 700;
}

#main-sidebar {
  .nav-item {
    margin-bottom: 3px;
  }
}