turbo-frame[loading] .spinner-border, turbo-frame[busy] .spinner-border {
  display: block !important;
}

.sort-handle {
  cursor: grab;
}

.no-wrap {
  white-space: nowrap;
}

#page-header {
  height: 74px;
  display: flex;
  align-items: center;
}

.page-header-title {
  font-size: 1.25rem;
  font-weight: 700;
}

#main-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: $sidebar-width;
  background-color: $gray-25;
  border-right: 1px solid $gray-100;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  color: $gray-700;
  padding-top: 0.5rem;

  @media (max-width: 992px) {
    display: none;
  }

  .nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .nav {
    gap: 0.125rem;
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;

    .ti {
      font-size: 1rem;
      margin-right: 0.5rem;
      border-radius: $border-radius-sm;
      padding: 0.2rem 0.2rem;
    }

    &:hover {
      background-color: $gray-50;
    }
    &.active {
      color: theme-color('primary');
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px, rgba(0, 0, 0, 0.02) 0px 2px 4px 0px;
      font-weight: 500;

      .ti {
        background-color: theme-color('primary');
        color: $white;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px, rgba(0, 0, 0, 0.02) 0px 2px 4px 0px;
      }
    }

    .badge {
      @extend .badge-light;
    }
  }

  .nav-submenu {
    display: flex;
    flex-direction: column;
    list-style: none;
  
    margin-left: 1.5rem !important;
  
    .nav-link {
      font-weight: 400;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      &:hover {
        background-color: $gray-50;
      }
      &.active, &:active, &:focus {
        font-weight: 600;
        background-color: transparent !important;
        box-shadow: none;
      }
    }
  }

  .dropdown {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .btn {
      padding: 0.25rem 0.25rem;
      border-radius: $border-radius;
      display: flex;
      align-items: center;

      &:hover, &:focus, &:active {
        background-color: $gray-50;
      }
    }

    .dropdown-menu {
      width: calc(100% - 1rem) !important;
    }
  }
}

#content {
  @media (min-width: 992px) {
    margin-left: $sidebar-width + 1px;
  }
}

#enterprise-edition-notice {
  @extend .alert;
  @extend .alert-info;

  background-image: none;
  padding-left: 1rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  font-size: $font-size-sm;
  margin-bottom: 0;

  .btn-close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.documentation-link-container {
  font-size: $font-size-sm;
  text-align: center;
  margin-top: 2rem;
  color: $gray-400;
}
