body.modal-open, .modal.fade.show {
  padding-right: 0 !important;
}

body.modal-open {
  width: 100%;
  overflow-y: scroll !important;
  overflow-x: clip;
}

.modal-header {
  @extend .align-items-center;
  border-bottom: 0;

  .modal-title {
    margin-bottom: 0;
    font-size: $font-size-plus;
    font-weight: $font-weight-bold;
    font-family: $font-family-sans-serif;
  }

  .btn-close {
    margin-right: -0.25rem;
  }
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: $modal-inner-padding;
  border-top: 0;

  .btn {
    display: inline-flex !important;
    width: auto !important;
  }
}

#multi-backdrop {
  z-index: 0;
  height: 0;
  width: 0;
}
.modal-dialog turbo-frame {
  display: block;
  width: 100%;
}