body.modal-open, .modal.fade.show {
  padding-right: 0 !important;
}

body.modal-open {
  width: 100%;
  overflow-y: scroll !important;
  overflow-x: clip;
}

.modal-content {
  box-shadow: $modal-content-box-shadow-xs;
}

.modal-header {
  @extend .align-items-center;
  border-color: $gray-50;

  .modal-title {
    margin-bottom: 0;
    font-weight: $font-weight-medium;
  }

  .btn-close {
    margin-right: -0.25rem;
  }
}
.modal-footer {
  display: flex;
  justify-content: end;
  padding: $modal-inner-padding;
  background-color: $gray-25;
  border-top: 1px solid $gray-50;

  .btn {
    display: inline-flex ;
    width: auto !important;
    height: 2.5rem;
  }
}

.modal-dialog turbo-frame {
  display: block;
  width: 100%;
}