.bs-canvas-overlay {
  opacity: $modal-backdrop-opacity;
  z-index: 1100;
}

.bs-canvas {
  top: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: auto;
  width: 330px;
  transition: margin .2s ease-out;
  -webkit-transition: margin .2s ease-out;
  -moz-transition: margin .2s ease-out;
  -ms-transition: margin .2s ease-out;
}

.bs-canvas-left {
  left: 0;
  margin-left: -330px;
}

.bs-canvas-right {
  right: 0;
  margin-right: -330px;
}
