#itemImgContainer {
  width: 200px;
  img {
    max-width: 100%;
  }
}

#sortableTreeArea {
  .space-buttons {
    box-shadow: -11px 0 16px 6px white;
    z-index: 9;
    a {
      margin: 2px;
    }
  }

  .sortable-tree-item-row {
    margin: 2px;
    background-color: white;
  }

  .sortable-tree-item {
    border: solid 1px transparent;
    padding: 0;

    [data-sortable-tree-parent-id-value] {
      margin-left: 25px;
    }

    @include media-breakpoint-up(sm) {
      [data-sortable-tree-parent-id-value] {
        margin-left: 50px;
      }
    }
  }

  .sortable-chosen {
    background-color: transparent !important;
    border-color: transparent !important;
    .sortable-tree-item-row {
      background-color: $action !important;
      border: 2px solid $blue !important;
      margin: -1px;
    }
  }

  .item_image_holder {
    position: relative;
    border: 1px solid $border-color;
    border-radius: 7px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%,-50%);
    }
  }
}
