.tooltip-container {
  position: absolute;
  display: none;
  opacity: 1 !important; // Ensure fully opaque
  pointer-events: none;
  z-index: $zindex-tooltip;
  background-color: $tooltip-bg;
  color: $tooltip-color;
  border: 0 none;
  box-shadow: 0px 0px 0px 1px $border-color, 0px 3px 6px -1px rgba($gray-300, 0.35), 0px 3px 6px 0px rgba($gray-300, 0.35);
  border-radius: $tooltip-border-radius;
  padding: $tooltip-padding-y $tooltip-padding-x;
  font-size: $font-size-base !important;
  font-weight: $font-weight-normal !important;
  max-width: $tooltip-max-width;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  text-wrap: wrap;
}