<div class="form-group">
  <%= f.select :preferred_currency,
    currency_options_for_select(
      f.object.preferred_currency,
      current_store.supported_currencies.split(',')
    ),
    {},
    { data: { controller: 'autocomplete-select' } } 
  %>
</div>
