<div class="row mb-3">
  <div class="col-6">
    <%= f.select :preferred_operator_min, 
                 options_for_select(Spree::Promotion::Rules::ItemTotal::OPERATORS_MIN.map{|o| [Spree.t("item_total_rule.operators.#{o}"),o]}, f.object.preferred_operator_min),
                 {}, 
                 { class: 'custom-select' } %>
  </div>
  <div class="col-6">
    <%= f.number_field :preferred_amount_min, class: 'form-control', required: true %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= f.select :preferred_operator_max,
                 options_for_select(Spree::Promotion::Rules::ItemTotal::OPERATORS_MAX.map{|o| [Spree.t("item_total_rule.operators.#{o}"),o]}, f.object.preferred_operator_max),
                 {},
                 { class: 'custom-select' } %>
  </div>
  <div class="col-6">
    <%= f.number_field :preferred_amount_max, class: 'form-control' %>

    <span class="form-text mt-2">
      Leave this field blank to not limit the maximum amount.
    </span>
  </div>
</div>