<div class="form-group">
  <label for="reports-group-by"><%= Spree.t(:group_by) %>:</label>
  <div class="input-group mb-3" data-id="reports-group-by">
    <div class="input-group-prepend">
      <label class="input-group-text" data-action="prev">
        <i class="icon icon-chevron-left"></i>
      </label>
    </div>
    <select class="custom-select" id="reports-group-by">
      <option selected value="day">Day</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
    </select>
    <div class="input-group-append">
      <label class="input-group-text" data-action="next">
        <i class="icon icon-chevron-right"></i>
      </label>
    </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="form-group col-12 col-md-4">
          <label for="reports-completed-at-min"><%= Spree.t(:completed_at_min) %>:</label>
          <input type="date" class="form-control" id="reports-completed-at-min" name="reports-completed-at-min" />
        </div>

        <div class="form-group col-12 col-md-4">
          <label for="reports-completed-at-max"><%= Spree.t(:completed_at_max) %>:</label>
          <input type="date" class="form-control" id="reports-completed-at-max" name="reports-completed-at-max" />
        </div>
      </div>
    </form>
  </div>
</div>
