<div class="card bg-light mb-3">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="reports-group-by"><%= Spree.t(:group_by) %>:</label>
        <select id="reports-group-by">
          <option selected value="day">Day</option>
          <option value="week">Week</option>
          <option value="month">Month</option>
          <option value="year">Year</option>
        </select>
      </div>
    </form>
  </div>
</div>
