<thead>
  <tr data-hook="cart_adjustments_headers">
    <th class="cart-adjustment-header" colspan="6"><%= Spree.t(:order_adjustments) %></th>
  </tr>
</thead>
<tbody id="cart_adjustments" data-hook>
  <% @order.line_item_adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
    <tr>
      <td colspan="4"><%= label %></td>
      <td><%= Spree::Money.new(adjustments.sum(&:amount), :currency => @order.currency) %></td>
      <td></td>
    </tr>
  <% end %>
</tbody>
