<thead>
  <tr data-hook="cart_adjustments_headers">
    <th class="cart-adjustment-header" colspan="6"><%= Spree.t(:order_adjustments) %></th>
  </tr>
</thead>
<tbody id="cart_adjustments" data-hook>
  <% @order.adjustments.eligible.each do |adjustment| %>
    <tr>
      <td colspan="4"><%= adjustment.label %></td>
      <td><%= adjustment.display_amount.to_html %></td>
      <td></td>
    </tr>
  <% end %>
</tbody>
