.nav-logo {
  height: 32px;
}

html:not(.dark) body {
  background: #fcfaf8;
}

html:not(.dark) #navbar {
  border-bottom: 1px solid #e2dfd8;
}
html:not(.dark) #navbar div {
  background: #f7f5f2;
}

html:not(.dark) #search-bar-entry,
html:not(.dark) #assistant-entry {
  background: #fff;
}
