@import "../variables";
@import "font-awesome";

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="url"],
<<<<<<< HEAD
<<<<<<< HEAD
input[type="number"],
input[type="tel"],
textarea, fieldset {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
input[type="number"] {
>>>>>>> Inital stage of admin redesign in progress ...
=======
input[type="number"],
textarea, fieldset {
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
  padding: 5px 10px;
=======
  padding: 6px 10px;
>>>>>>> More admin restyle & refactoring
  border: 1px solid $color-border;
  box-shadow: 0 0 0 3px lighten($c_blue1, 32);
=======
  padding: 9px 10px;
=======
  padding: 7px 10px;
>>>>>>> More admin styling ...
  border-radius: 3px;
  border: 1px solid $color-border;  
>>>>>>> More admin styling...
  color: $color-body-text;
  font-size: 90%;

  &:focus {
    outline: none;
    border-color: lighten($c_green1, 30);
  }

  &[disabled] {
    opacity: 0.7;
  }
}

textarea {
  line-height: 19px;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  display: inline-block;
  margin-bottom: 5px;
  color: $c_blue3;
}

.label-block label { display: block }

input[type="submit"], 
input[type="button"], 
button, .button {
<<<<<<< HEAD
  padding: 5px 10px;
<<<<<<< HEAD
  border: 1px solid $color-border;
  background-color: lighten($color-border, 5);
  color: $color-body-text;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
=======
  border: 1px solid darken($c_blue1, 5);
  box-shadow: 0 0 0 3px lighten($c_blue1, 32);
=======
  display: inline-block;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
>>>>>>> More admin styling...
  background-color: $c_blue1;
  color: white;
>>>>>>> More amin styling
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold;

  &:visited, &:active, &:focus { color: white }
  &:hover {
    background-color: $c_green1;
    border-color: darken($c_green1, 5);
    color: white;
  }

  &:active {
    box-shadow: 0 0 8px 0 darken($c_green1, 5) inset;
  }
}

fieldset {
  box-shadow: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: lighten($c_blue1, 33);
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;  
  position: relative;
  padding: 0;

  .field {
    padding: 10px;
  }

  legend {    
    @extend [class^="icon-"]:before;
    @extend .icon-caret-down;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 10px;
    background-color: $c_blue1;
    color: white;
    padding: 8px 15px;

    &:before {
      padding-right: 3px;
    }
  }

  &.labels-inline {
    .field {
      margin-bottom: 0;
      display: table;
      width: 100%;

      label, input {
        display: table-cell !important;
      }
      input {
        width: 100%;
      }

      &.checkbox {
        input {
          width: auto !important
        }
      }
    }
    .actions {
      padding: 0;
      text-align: right;
    }
  }
}

.form-actions {
  margin-top: 18px;
}
.form-buttons {
  text-align: center;
}

// Some fixes for fontwesome stylesheets
[class^="icon-"], [class*=" icon-"] {
  &.button, &.icon_link {
    width: auto;

    &:before {
      padding-right: 5px;
    }
  }
}
[class^="icon-"]::before, [class*=" icon-"]::before {

<<<<<<< HEAD
=======
>>>>>>> Inital stage of admin redesign in progress ...
=======
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
}

.field {
  margin-bottom: 10px;
}