@import "../variables";

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="url"],
<<<<<<< HEAD
<<<<<<< HEAD
input[type="number"],
textarea, fieldset {
<<<<<<< HEAD
=======
input[type="number"] {
>>>>>>> Inital stage of admin redesign in progress ...
=======
input[type="number"],
textarea, fieldset {
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
  padding: 5px 10px;
=======
  padding: 6px 10px;
>>>>>>> More admin restyle & refactoring
  border: 1px solid $color-border;
  box-shadow: 0 0 0 3px lighten($c_blue1, 32);
  color: $color-body-text;
  font-size: 85%;

  &:focus {
    outline: none;
    border-color: lighten($c_green1, 30);
  }
}

fieldset {
  box-shadow: none;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  display: inline-block;
  margin-bottom: 5px;
  color: $c_blue3;
}

input[type="submit"], 
input[type="button"], 
button, .button {
  padding: 5px 10px;
<<<<<<< HEAD
  border: 1px solid $color-border;
  background-color: lighten($color-border, 5);
  color: $color-body-text;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
=======
  border: 1px solid darken($c_blue1, 5);
  box-shadow: 0 0 0 3px lighten($c_blue1, 32);
  background-color: $c_blue1;
  color: white;
>>>>>>> More amin styling
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold;

  &:visited, &:active, &:focus { color: white }
  &:hover {
    background-color: $c_green1;
    border-color: darken($c_green1, 5);
    box-shadow: 0 0 0 3px lighten($c_green1, 45);
    color: white;
  }

  &:active {
    box-shadow: 0 0 8px 0 darken($c_green1, 5) inset, 0 0 0 3px lighten($c_green1, 45);
  }
}

fieldset {
  margin: 0;
  padding: 0;

  legend {
    margin-left: 10px;
    text-transform: uppercase;
    
    font-weight: bold;
    background-color: $c_blue1;
    color: white;
    padding: 5px 10px;
    border: 1px solid $color-border;
  }

  &.labels-inline {
    .field {
      margin-bottom: 0;
      display: table;
      width: 100%;

      label, input {
        display: table-cell !important;
      }
      input {
        width: 100%;
      }

      &.checkbox {
        input {
          width: auto !important
        }
      }
    }
    .actions {
      padding: 0;
      text-align: right;
    }
  }
}

// Some fixes for fontwesome stylesheets
[class^="icon-"], [class*=" icon-"] {
  &.button, &.icon_link {
    width: auto;

    &:before {
      padding-right: 5px;
    }
  }
}
[class^="icon-"]::before, [class*=" icon-"]::before {

<<<<<<< HEAD
=======
>>>>>>> Inital stage of admin redesign in progress ...
=======
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
}

.field {
  margin-bottom: 10px;
}