@import "../variables";
@import "./typography";

// Basics
//---------------------------------------------------
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; }
=======
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; font-size: 13px; }
>>>>>>> More work tables styling

=======
>>>>>>> Inital stage of admin redesign in progress ...
=======
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; }

>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
* { 
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
<<<<<<< HEAD
<<<<<<< HEAD
  text-rendering: optimizeLegibility; 
}

body {
  font-family: $base-font-family;
  font-size: $body-font-size;
  color: $color-body-text;
}

// Helpers
.block-table {
  display: table;
  width: 100%;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

// Header
//---------------------------------------------------
#header {
  background-color: white;
=======
=======
  }
=======
  text-rendering: optimizeLegibility; 
}
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons

>>>>>>> Inital stage of admin redesign in progress ...
body {
  font-family: $base-font-family;
  font-size: $body-font-size;
  color: $color-body-text;
}

// Helpers
.block-table {
  display: table;
  width: 100%;

  .table-cell {
    display: table-cell;
  }
}

// Header
//---------------------------------------------------
#header {
<<<<<<< HEAD
  background-color: lighten($c_blue1, 50);
>>>>>>> Initial admin redesign stage
=======
  background-color: white;
>>>>>>> Inital stage of admin redesign in progress ...
}
#logo { height: 50px }
[data-hook="admin-title"] { font-size: 14px }

// Navigation
//---------------------------------------------------
.inline-menu { 
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Inital stage of admin redesign in progress ...
[data-hook="admin_login_navigation_bar"] {
  ul {
    text-align: right;

    li {
      padding: 5px 0 5px 10px;
      text-align: right;
      font-size: 90%;
      color: $color-links;
      margin-top: 15px;

      &[data-hook="user-logged-in-as"] {
        width: 50%;
        color: $color-body-text;
      }

      &:hover {
        i {
          color: $c_green1;
        }
      }
    }
  }
}

<<<<<<< HEAD
#admin-menu {
  background-color: $c_blue1;
=======
#admin-menu {
  background-color: $c_blue1;
  padding-bottom: 40px;
>>>>>>> Initial admin redesign stage
=======
#admin-menu {
  background-color: $c_blue1;
>>>>>>> Inital stage of admin redesign in progress ...

  li {
    a {
      display: block;
      padding: 25px 20px;
      color: white !important;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      text-align: center;

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Inital stage of admin redesign in progress ...
      i {
        display: inline;
      }

<<<<<<< HEAD
=======
>>>>>>> Initial admin redesign stage
=======
>>>>>>> Inital stage of admin redesign in progress ...
      &:hover {
        background-color: $c_green1;

        &:after {
          content: '';
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          border-top: 5px solid $c_green1;
          bottom: 0px;
          margin-bottom: -5px;
=======
          border-top: 10px solid $c_green1;
          bottom: 0px;
          margin-bottom: -10px;
>>>>>>> Initial admin redesign stage
=======
          border-top: 5px solid $c_green1;
=======
          border-top: 5px solid $c_green1;          
>>>>>>> More admin styling...
          bottom: 0px;
          margin-bottom: -5px;
>>>>>>> Inital stage of admin redesign in progress ...
          left: 50%;
          margin-left: -10px;
          z-index: 1;
        }
      }
    }

    &.selected a {
      @extend a:hover;
    }
  }
}

#sub-menu {
  background-color: $c_green1;
  padding-bottom: 0;

  li {
    a {
      display: block;
      padding: 12px 20px;
      color: white;      
      text-align: center;
      text-transform: uppercase;
      position: relative;
      font-size: 85%;
      font-weight: bold;
    }

    &.selected a, a:hover {
      // background-color: white;
      // color: $c_blue1;

      &:after {
        content: '';
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 5px solid $c_green1;
        bottom: 0px;
        margin-bottom: -5px;
        left: 50%;
        margin-left: -10px;
        z-index: 1;
      }
    }
  }
}

// Sidebar
//---------------------------------------------------
#sidebar {
  background-color: lighten($c_blue1, 33);
  border: 1px solid $color-border;  
  border-radius: 3px;
  padding: 10px;
  overflow: visible;

  .sidebar-title {
    color: $c_green1;
  }

  .additional-info {
    // border-top: 1px solid $color-border;
    // border-bottom: 1px solid $color-border;
  }

  .sidebar-menu {
    ul {
      list-style: none;      

      li {
        a {
          padding: 10px 0 10px 10px;
          display: block;
          position: relative;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 85%;
          margin: 0 -11px;
          text-align: left;
        }

        &.active a, &:hover a {
          color: white;
          background-color: $c_green1;

          &:after {
            content: '';
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-right:10px solid $c_green1;
            left: -10px;
            margin-bottom: -5px;
            top: 50%;
            margin-top: -10px;
            z-index: 1;
          }
        }
      }
    }
  }
}

// Content
//---------------------------------------------------
#content {
  background-color: white;
<<<<<<< HEAD
  overflow: auto;
<<<<<<< HEAD
<<<<<<< HEAD
  position: relative;
  z-index: 0;
  padding: 15px 0;
}

#content-header {
  padding: 15px 0;
  background-color: lighten($c_blue1, 50);
  border-bottom: 1px solid lighten($c_blue1, 45);

  .page-title {
    font-size: 130%;
  }
  .page-actions {
    text-align: right;
  }
=======
  margin-top: -40px;
  position: relative;
  z-index: 0;
>>>>>>> Initial admin redesign stage
=======
=======
>>>>>>> More amin styling
  position: relative;
  z-index: 0;
  padding: 0;
  margin-top: 15px;
}

#content-header {
  padding: 15px 0;
  background-color: lighten($c_blue1, 33);
  border-bottom: 1px solid $color-border;

  .page-title {
    font-size: 27px;
  }
<<<<<<< HEAD
>>>>>>> Inital stage of admin redesign in progress ...
=======
  .page-actions {
    text-align: right;

    .button {
      font-size: 100%;
    }
  }
<<<<<<< HEAD
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
=======
}

// Footer
//---------------------------------------------------
#footer {
  margin-top: 15px;
  border-top: 1px solid $color-border;
  padding: 10px 0;
>>>>>>> More admin styling...
}