<<<<<<< HEAD
<<<<<<< HEAD
@import "../variables";

table {
  border: 1px solid lighten($c_gray1, 35);
  width: 100%;

  th, td {
    padding: 15px 10px;
    border: 1px solid lighten($c_gray1, 35);    

    &.sort-active {
      background-color: lighten($c_blue1, 45);
      border-bottom: 1px solid lighten($c_blue1, 40);
    }
  }
  
  td.sort-active {
    background-color: lighten($c_blue1, 50) !important;
  }

  thead {
    background-color: lighten($c_blue1, 52);
    
    th {
      text-transform: uppercase;
      font-size: 80%;
    }
  }

  tbody {
    tr {
      &[class*="state"] {
        border-left-width: 5px; 
        border-left-style: solid;
<<<<<<< HEAD
      }

      &.state-complete { border-color: $c_green1 }
      &.state-cart     { border-color: lighten($c_blue1, 30) }

    }
=======
=======
@import "../variables";

>>>>>>> Inital stage of admin redesign in progress ...
table {
  border: 1px solid lighten($c_gray1, 35);
  width: 100%;

  th, td {
<<<<<<< HEAD
    padding: 10px;
>>>>>>> Initial admin redesign stage
=======
    padding: 15px 10px;
    border: 1px solid lighten($c_gray1, 35);    

    &.sort-active {
      background-color: lighten($c_blue1, 45);
      border-bottom: 1px solid lighten($c_blue1, 40);
    }
  }
  
  td.sort-active {
    background-color: lighten($c_blue1, 50) !important;
  }

  thead {
    background-color: lighten($c_blue1, 52);
    
    th {
      text-transform: uppercase;
      font-size: 80%;
    }
  }

  tbody {
    tr {
      &.state-complete {
        border-left: 5px solid $c_green1;
=======
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
      }

      &.state-complete { border-color: $c_green1 }
      &.state-cart     { border-color: lighten($c_blue1, 30) }

    }
>>>>>>> Inital stage of admin redesign in progress ...
  }
}