<<<<<<< HEAD
<<<<<<< HEAD
@import "../variables";
@import "font-awesome";

table {
  // border: 1px solid $color-border;
  width: 100%;
  margin-bottom: 15px;

  tbody:last-child {
    tr:last-child {
      td { 
        border-bottom: 1px solid $color-border;
      }
    }
  }

  th, td {
    padding: 15px 10px;
    border-top: 1px solid $color-border;
    border-right: 1px solid $color-border;
    vertical-align: middle;

    &:first-child {
      border-left: 1px solid $color-border;
    }

    &.sort-active {
      background-color: lighten($c_blue1, 30);
      border-bottom: 1px solid lighten($c_blue1, 40);
    }

    &.actions {
      background-color: transparent;
      border: none !important;
    }

    input[type="number"] {
      width: 100%;
    }

    .handle {
      @extend [class^="icon-"]:before;
      @extend .icon-reorder;
      cursor: move;
    }
  }

  th {
    padding: 10px;
  }

  td.actions {
    text-align: center;
    border: none;

    span.text {
      font-size: $body-font-size;
    }

    [class*='icon-'].no-text {
      font-size: 120%;
      background-color: lighten($c_blue1, 33);
      border: 1px solid $color-border;
      border-radius: 15px;
      padding: 5px 2px 5px 8px;
      width: 32px;

      &:hover {
        border-color: transparent;
      }
    }
    .icon-trash {
      &.no-text {
        padding: 5px 4px 5px 9px;
      }

      &:hover {
        background-color: $c_red1;
        color: white;        
      }
    }
    .icon-repeat:hover {
      color: $c_yellow1;
    }
    .icon-edit:hover {
      background-color: $c_green1;
      color: white;
    }
  }
  
  td.sort-active {
    background-color: lighten($c_blue1, 33) !important;
  }

  thead {
    th {
      background-color: lighten($c_blue1, 33);
      text-transform: uppercase;
      font-size: 85%;
    }
  }

  tbody {
    tr {
<<<<<<< HEAD
      &[class*="state"] {
        border-left-width: 5px; 
        border-left-style: solid;
<<<<<<< HEAD
=======
      &.even td {
        background-color: lighten($c_blue1, 35);        
      }

      &:hover td{
        background-color: lighten($c_blue1, 33);
>>>>>>> More work tables styling
      }

      &.highlight {
        &.action-remove td{
          background-color: lighten($c_red1, 55);
        }
        &.action-edit td {
          background-color: lighten($c_green1, 43);
        }
        &.action-clone td {
          background-color: lighten($c_green1, 43);
        }
      }

      td.actions {
        background-color: transparent !important;
      }

      &[class*="state"] td:first-child {
        border-left-width: 3px;
      }
      &.state-complete td:first-child { border-left-color: $c_green1 }      
      &.state-cart     td:first-child { border-left-color: lighten($c_blue1, 30) }
    }
<<<<<<< HEAD
=======
=======
@import "../variables";

>>>>>>> Inital stage of admin redesign in progress ...
table {
  border: 1px solid lighten($c_gray1, 35);
  width: 100%;

  th, td {
<<<<<<< HEAD
    padding: 10px;
>>>>>>> Initial admin redesign stage
=======
    padding: 15px 10px;
    border: 1px solid lighten($c_gray1, 35);    

    &.sort-active {
      background-color: lighten($c_blue1, 45);
      border-bottom: 1px solid lighten($c_blue1, 40);
    }
  }
  
  td.sort-active {
    background-color: lighten($c_blue1, 50) !important;
  }

  thead {
    background-color: lighten($c_blue1, 52);
    
    th {
      text-transform: uppercase;
      font-size: 80%;
    }
  }

  tbody {
    tr {
      &.state-complete {
        border-left: 5px solid $c_green1;
=======
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
      }

      &.state-complete { border-color: $c_green1 }
      &.state-cart     { border-color: lighten($c_blue1, 30) }

    }
>>>>>>> Inital stage of admin redesign in progress ...
=======

    &.grand-total {
      td {
        border-color: $c_green1 !important;
        text-transform: uppercase;
        font-size: 110%;
        font-weight: bold;
        background-color: lighten($c_green1, 50);
      }
      .total {
        background-color: $c_green1;
        color: white;
      }
    }
>>>>>>> More admin styling...
  }
}