@import "../variables";

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
// Base
//--------------------------------------------------------------

=======
>>>>>>> Initial admin redesign stage
=======
// Baseics
=======
// Base
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
//--------------------------------------------------------------

>>>>>>> Inital stage of admin redesign in progress ...
// links
//--------------------------------------------------------------
a { 
  color: $color-links;
  text-decoration: none;
  line-height: inherit;

  &:active, &:visited {
    color: darken($color-links, 5);    
  }
  &:hover {
    color: lighten($c_blue1, 10);
  }
  &:focus { 
    color: $color-links; 
    outline: none; 
  }

}

// Headings
//--------------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
  font-weight: bold; 
  color: $color-headers; 
  line-height: 1.1; 
}

h1 { font-size: 44px; }
h2 { font-size: 37px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }


// Lists
//--------------------------------------------------------------
ul {
  &.inline-menu {
    li {
      display: inline-block;
    }
  }
<<<<<<< HEAD
<<<<<<< HEAD
}

// Helpers
.align-center  { text-align: center  }
.align-right   { text-align: right   }
.align-left    { text-align: left    }
.align-justify { text-align: justify }

// States
//--------------------------------------------------------------
.state {
  text-transform: uppercase;
  font-size: 70%;
  border: 1px solid transparent;
  padding: 2px 5px;  
  width: 100%;
  display: inline-block;

  &.complete {
    background-color: $c_green1;
    color: white;
  }

  &.pending {
    background-color: $c_yellow1;

    a {
      color: white;
    }
  }

  &.balance_due {
    background-color: $c_blue2;
  }
  &.cart {
    background-color: lighten($c_blue1, 30);
    color: white;
  }
=======
>>>>>>> Initial admin redesign stage
=======
}

// Helpers
.align-center  { text-align: center  }
.align-right   { text-align: right   }
.align-left    { text-align: left    }
.align-justify { text-align: justify }

// States
//--------------------------------------------------------------
.state {
  text-transform: uppercase;
<<<<<<< HEAD
  font-size: 80%;
>>>>>>> Inital stage of admin redesign in progress ...
=======
  font-size: 70%;
  border: 1px solid transparent;
  padding: 2px 5px;  
  width: 100%;
  display: inline-block;

  &.complete {
    background-color: $c_green1;
    color: white;
  }

  &.pending {
    background-color: $c_yellow1;

    a {
      color: white;
    }
  }

  &.balance_due {
    background-color: $c_blue2;
  }
  &.cart {
    background-color: lighten($c_blue1, 30);
    color: white;
  }
>>>>>>> Rewrite navigation helpers to not include <i> tag for icons
}