<div id="spree-footer">
	<div class="container">
		<footer id="footer" class="row" data-hook>
		  <div id="footer-left" class="col-md-6" data-hook>
		    <p><%= Spree.t :powered_by  %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
		  </div>
		  <div id="footer-right" class="col-md-6" data-hook></div>
		</footer>
	</div>
</div>