/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */

@layer components {
  .breadcrumb {
    @apply flex flex-wrap items-center mb-0 list-none font-medium bg-transparent rounded-none;
    @apply gap-2 p-0 pl-4 h-8 border-l border-gray-100;
  }

  .breadcrumb li a {
    @apply no-underline;
  }

  .breadcrumb li a:hover {
    @apply text-zinc-950 underline;
  }

  .breadcrumb li:last-child:not(:first-child) {
    @apply font-semibold;
  }
}
