---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3QY1o72ESifGlJez06ZbKHjy/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dac1370a-a28f-4a59-998c-9e6c2b1a8c1e
      Original-Request:
      - req_T2mu659CvnbSxN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QY1o72ESifGlJez06ZbKHjy",
          "object": "payment_intent",
          "amount": 4000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": 1734684298,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3QY1o72ESifGlJez06ZbKHjy_secret_F4jLDjxcB5zdjigXslucVZIc5",
          "confirmation_method": "automatic",
          "created": 1734684219,
          "currency": "usd",
          "customer": "cus_RQdclxFVLH4oau",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "spree_order_id": "58317959-7154-4446-a925-f4057c5c8b12"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "100 California Street",
              "line2": null,
              "postal_code": "94111",
              "state": "CA"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R594422549 John Doe",
          "status": "canceled",
          "transfer_data": null,
          "transfer_group": "R594422549"
        }
  recorded_at: Fri, 20 Dec 2024 08:44:58 GMT
recorded_with: VCR 6.2.0
