---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&payment_method=pm_card_visa&confirm=true&capture_method=manual&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 622e2959-3cd8-41ba-bbe6-af0365320cfe
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 622e2959-3cd8-41ba-bbe6-af0365320cfe
      Original-Request:
      - req_0CE3adl6VfRx02
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TUq5B2ESifGlJez1IcQm7th",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 1000,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3TUq5B2ESifGlJez1IcQm7th_secret_0Q3XukcZ3l1MUwqEkASKOhdDK",
          "confirmation_method": "automatic",
          "created": 1778253173,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TUq5B2ESifGlJez1RISTEDA",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TUq5B2ESifGlJezQO2UfZxB",
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 08 May 2026 15:12:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TUq5B2ESifGlJez1IcQm7th?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      enc[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TUq5B2ESifGlJez1IcQm7th/capture
    body:
      encoding: UTF-8
      string: amount_to_capture=1000
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 279bc23e-c124-4c14-8c78-89fe51235c4c
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
