---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: address[city]=Herndon&address[line1]=1+Lovely+Street&address[line2]=Northwest&address[postal_code]=35005&address[country]=United+States&email=mable_beahan%40romaguera.info&name=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 00f89279-c62b-4a72-8027-ec79b2f34854
      Original-Request:
      - req_vVSLBPe0xdRZzp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RQdxueQXRuXVxx",
          "object": "customer",
          "address": {
            "city": "Herndon",
            "country": "United States",
            "line1": "1 Lovely Street",
            "line2": "Northwest",
            "postal_code": "35005",
            "state": null
          },
          "balance": 0,
          "created": 1734626006,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mable_beahan@romaguera.info",
          "invoice_prefix": "3BDCB319",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "John Doe",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 19 Dec 2024 16:33:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method_options[card][setup_future_usage]=off_session&amount=100&customer=cus_RQdxueQXRuXVxx&currency=USD&statement_descriptor_suffix=R111598559+tempora&automatic_payment_methods[enabled]=true&transfer_group=R111598559&metadata[spree_order_id]=7b2830cc-1b6c-430c-9dbe-ca948f042c41&shipping[address][city]=Herndon&shipping[address][country]=US&shipping[address][line1]=2+Lovely+Street&shipping[address][line2]=Northwest&shipping[address][postal_code]=35005&shipping[address][state]=STATE_ABBR_2&shipping[name]=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc513147-4969-45d5-846a-6fd95b2ee710
      Original-Request:
      - req_KOuz9aRI8GQidn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QXmfC2ESifGlJez0qSmz8Vf",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3QXmfC2ESifGlJez0qSmz8Vf_secret_y0WGpGMeCM5Ce0g5hHi1zzxcp",
          "confirmation_method": "automatic",
          "created": 1734626006,
          "currency": "usd",
          "customer": "cus_RQdxueQXRuXVxx",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "spree_order_id": "7b2830cc-1b6c-430c-9dbe-ca948f042c41"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "Herndon",
              "country": "US",
              "line1": "2 Lovely Street",
              "line2": "Northwest",
              "postal_code": "35005",
              "state": "STATE_ABBR_2"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R111598559 tempora",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "R111598559"
        }
  recorded_at: Thu, 19 Dec 2024 16:33:26 GMT
recorded_with: VCR 6.2.0
