---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: amount=800&payment_intent=pi_3QXmL12ESifGlJez0v0B8tUn
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f453a41a-2602-4497-8de3-1be119bceafc
      Original-Request:
      - req_fVm6JJCCxmXmYm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3QXmL12ESifGlJez0GcOBHng",
          "object": "refund",
          "amount": 800,
          "balance_transaction": "txn_3QXmL12ESifGlJez0FIoQqq9",
          "charge": "ch_3QXmL12ESifGlJez0Ts8qFDi",
          "created": 1734683992,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3QXmL12ESifGlJez0v0B8tUn",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Fri, 20 Dec 2024 08:39:53 GMT
recorded_with: VCR 6.2.0
