---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: address[city]=San+Francisco&address[line1]=100+California+Street&address[line2]=Apt+1&address[postal_code]=94111&address[country]=United+States+of+America&address[state]=California&email=test%40example.com&name=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1528d097-00c4-4d73-aec6-ce8f9ec13c07
      Original-Request:
      - req_zib7L3mBFBGqiV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SeIsxI1TG3dGJv",
          "object": "customer",
          "address": {
            "city": "San Francisco",
            "country": "United States of America",
            "line1": "100 California Street",
            "line2": "Apt 1",
            "postal_code": "94111",
            "state": "California"
          },
          "balance": 0,
          "created": 1752076249,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@example.com",
          "invoice_prefix": "NRF6DCGN",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "John Doe",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 09 Jul 2025 15:50:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_SeIsxI1TG3dGJv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGH[...]
