---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: address[city]=New+York&address[line1]=100+Main+Street&address[line2]=Apt+2&address[postal_code]=10001&address[country]=United+States+of+America&address[state]=New+York&email=test%40example.com&name=Jane+Moe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4af89f33-ce96-4bd4-999e-27727ae57e64
      Original-Request:
      - req_WawpLvjm2VOo92
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SeIzmCh2MX8eaK",
          "object": "customer",
          "address": {
            "city": "New York",
            "country": "United States of America",
            "line1": "100 Main Street",
            "line2": "Apt 2",
            "postal_code": "10001",
            "state": "New York"
          },
          "balance": 0,
          "created": 1752076645,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@example.com",
          "invoice_prefix": "X8FIIPUY",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Jane Moe",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 09 Jul 2025 15:57:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_SeIzmCh2MX8eaK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGH[...]
