---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_USE66TMAPae0UB&automatic_payment_methods[enabled]=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - d66e6ccf-51fe-490d-b79a-75543e624186
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d66e6ccf-51fe-490d-b79a-75543e624186
      Original-Request:
      - req_RE17TqLp2Mu85X
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1TTJee2ESifGlJezA8ixwucs",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "cancellation_reason": null,
          "client_secret": "seti_1TTJee2ESifGlJezA8ixwucs_secret_USE6M97PVPAV0dCoNQopTNmAFlfqBPT",
          "created": 1777890192,
          "customer": "cus_USE66TMAPae0UB",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "klarna",
            "link"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Mon, 04 May 2026 10:23:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/ephemeral_keys
    body:
      encoding: UTF-8
      string: customer=cus_USE66TMAPae0UB
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 3aaf8470-dfe9-4f45-bc1c-1e0d996e4a50
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3aaf8470-dfe9-4f45-bc1c-1e0d996e4a50
      Original-Request:
      - req_ivMozSOnM0pqIW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ephkey_1TTJee2ESifGlJez5RyBnGEG",
          "object": "ephemeral_key",
          "associated_objects": [
            {
              "id": "cus_USE66TMAPae0UB",
              "type": "customer"
            }
          ],
          "created": 1777890192,
          "expires": 1777893792,
          "livemode": false,
          "secret": "ek_test_YWNjdF8xUVZhOWsyRVNpZkdsSmV6LFdwYXkxSkxhWmhoT0k2ZlpLb005MDlyNXZQVjZmOFM_00OVxbc0Um"
        }
  recorded_at: Mon, 04 May 2026 10:23:12 GMT
recorded_with: VCR 6.4.0
