---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: address[city]=New+York&address[line1]=33+Lovely+Street&address[line2]=Northwest&address[postal_code]=10118&address[country]=United+States+of+America&address[state]=New+York&email=estella.lynch%40fadel.info&name=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - e3a5778b-2005-4025-bbd3-88e0b79e9c9d
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3a5778b-2005-4025-bbd3-88e0b79e9c9d
      Original-Request:
      - req_3BLSecPTZoarbr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UTnfWyIfDZZlfU",
          "object": "customer",
          "address": {
            "city": "New York",
            "country": "United States of America",
            "line1": "33 Lovely Street",
            "line2": "Northwest",
            "postal_code": "10118",
            "state": "New York"
          },
          "balance": 0,
          "created": 1778253110,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "estella.lynch@fadel.info",
          "invoice_prefix": "LMCXNGL9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "John Doe",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 08 May 2026 15:11:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method_options[card][setup_future_usage]=off_session&payment_method_options[sepa_debit][setup_future_usage]=off_session&amount=100&customer=cus_UTnfWyIfDZZlfU&currency=USD&statement_descriptor_suffix=R258461850&automatic_payment_methods[enabled]=true&transfer_group=R258461850&metadata[spree_order_id]=1&capture_method=manual&shipping[address][city]=New+York&shipping[address][country]=US&shipping[address][line1]=34+Lovely+Street&shipping[address][line2]=Northwest&shipping[address][postal_code]=10118&shipping[address][state]=NY&shipping[name]=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - a0445d43-0a5c-451f-ba87-15f571d3c185
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a0445d43-0a5c-451f-ba87-15f571d3c185
      Original-Request:
      - req_EutEo4AzOUi8Gi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TUq4A2ESifGlJez1znHBNDU",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3TUq4A2ESifGlJez1znHBNDU_secret_a5xEFPV8MtFMZ8j8ulMBy6JFR",
          "confirmation_method": "automatic",
          "created": 1778253110,
          "currency": "usd",
          "customer": "cus_UTnfWyIfDZZlfU",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "spree_order_id": "1"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": {
            "address": {
              "city": "New York",
              "country": "US",
              "line1": "34 Lovely Street",
              "line2": "Northwest",
              "postal_code": "10118",
              "state": "NY"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R258461850",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": "R258461850"
        }
  recorded_at: Fri, 08 May 2026 15:11:50 GMT
recorded_with: VCR 6.4.0
