---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "we_1TUq8w2ESifGlJezdHC8YApb",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1778253406,
              "description": null,
              "enabled_events": [
                "payment_intent.amount_capturable_updated",
                "payment_intent.payment_failed",
                "payment_intent.succeeded",
                "setup_intent.succeeded"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://spreecommerce.org/stripe/"
            },
            {
              "id": "we_1TAo7D2ESifGlJezqJgSzMOX",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1773479051,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded",
                "setup_intent.succeeded"
              ],
            [...]
[...]
