---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3QY76s2ESifGlJez04sj0cMb?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QY76s2ESifGlJez04sj0cMb",
          "object": "payment_intent",
          "amount": 4500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 4500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3QY76s2ESifGlJez04sj0cMb_secret_HzJtNRi61JiDzq9fjXVwxYYq5",
          "confirmation_method": "automatic",
          "created": 1734704602,
          "currency": "usd",
          "customer": "cus_RQdclxFVLH4oau",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3QY76s2ESifGlJez0gG0FoF1",
          "livemode": false,
          "metadata": {
            "spree_order_id": "85c07c2a-64cf-41c0-9bfd-d41bde07ac9d"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": {
            "id": "pm_1QY4zO2ESifGlJezkHIvUraY",
            "object": "payment_method",
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": "Santa Cruz",
                "country": "US",
                "line1": "200 California Street",
                "line2": null,
                "postal_code": "95060",
                "state": "CA"
              },
              "email": "lukas.adamczyk+stripe@getvendo.com",
              "name": "Janek Kowalsky",
              "phone": null,
              "tax_id": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": "pass",
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "display_brand": "visa",
              "exp_month": 2,
              "exp_year": 2027,
              "fingerprint": "taGjeBd4Wh4btmTn",
              "funding": "credit",
              "generated_from": null,
              "last4": "4242",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "regulated_status": "unregulated",
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "created": 1734696451,
            "customer": "cus_RQdclxFVLH4oau",
            "livemode": false,
            "metadata": {},
            "type": "card"
          },
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "New York",
              "country": "US",
              "line1": "110 Chambers Street",
              "line2": null,
              "postal_code": "10007",
              "state": "NY"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R808743511 John Doe",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "R808743511"
        }
  recorded_at: Fri, 05 Dec 2025 16:31:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3QY76s2ESifGlJez0gG0FoF1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3QY76s2ESifGlJez0gG0FoF1",
          "object": "charge",
          "amount": 4500,
          "amount_captured": 4500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3QY76s2ESifGlJez0kDDfrNF",
          "billing_details": {
            "address": {
              "city": "Santa Cruz",
              "country": "US",
              "line1": "200 California Street",
              "line2": null,
              "postal_code": "95060",
              "state": "CA"
            },
            "email": "john.doe@example.com",
            "name": "Janek Kowalsky",
            "phone": null
          },
          "calculated_statement_descriptor": "ABCDEF ABC* R808743511",
          "captured": true,
          "created": 1734704622,
          "currency": "usd",
          "customer": "cus_RQdclxFVLH4oau",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "spree_order_id": "85c07c2a-64cf-41c0-9bfd-d41bde07ac9d"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 22,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3QY76s2ESifGlJez04sj0cMb",
          "payment_method": "pm_1QY4zO2ESifGlJezkHIvUraY",
          "payment_method_details": {
            "card": {
              "amount_authorized": 4500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": "pass",
                "address_postal_code_check": "pass",
                "cvc_check": null
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "taGjeBd4Wh4btmTn",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "116977110610166",
              "overcapture": {
                "maximum_amount_capturable": 4500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUVZhOWsyRVNpZkdsSmV6KIC0lrsGMgYGrjskQi46LBb0zaBzweYiALdzyRxzQrMzjvE8TzZ1sFYSBZVQ1AF68LoJK_VSisrzJ5fj",
          "refunded": false,
          "review": null,
          "shipping": {
            "address": {
              "city": "New York",
              "country": "US",
              "line1": "110 Chambers Street",
              "line2": null,
              "postal_code": "10007",
              "state": "NY"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R808743511 John Doe",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "R808743511"
        }
  recorded_at: Fri, 20 Dec 2024 16:23:28 GMT
recorded_with: VCR 6.3.1
