---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3QY2qD2ESifGlJez0VuzXjwK
    body:
      encoding: UTF-8
      string: amount=6000&currency=USD&shipping[address][city]=Herndon&shipping[address][country]=US&shipping[address][line1]=13+Lovely+Street&shipping[address][line2]=Northwest&shipping[address][postal_code]=35005&shipping[address][state]=STATE_ABBR_14&shipping[name]=John+Doe&customer=cus_RQdclxFVLH4oau
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 77a8c86b-11c6-4054-9f54-858bc851eb93
      Original-Request:
      - req_6kLVbKLlARCjVk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QY2qD2ESifGlJez0VuzXjwK",
          "object": "payment_intent",
          "amount": 6000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3QY2qD2ESifGlJez0VuzXjwK_secret_x30uGfPVmhEj3lOCPOTiICqdx",
          "confirmation_method": "automatic",
          "created": 1734688193,
          "currency": "usd",
          "customer": "cus_RQdclxFVLH4oau",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "spree_order_id": "4490655f-4ab0-43a2-936e-150bf547c26b"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1QXmPJ2ESifGlJezC2py6ZqS",
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "Herndon",
              "country": "US",
              "line1": "13 Lovely Street",
              "line2": "Northwest",
              "postal_code": "35005",
              "state": "STATE_ABBR_14"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R096430553 John Doe",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "R096430553"
        }
  recorded_at: Fri, 20 Dec 2024 10:29:23 GMT
recorded_with: VCR 6.2.0
