---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_SeIsxI1TG3dGJv
    body:
      encoding: UTF-8
      string: address[city]=New+York&address[line1]=200+Main+Street&address[line2]=Apt+22&address[postal_code]=10002&address[country]=United+States+of+America&address[state]=New+York&email=test-updated%40example.com&name=Jane+Moe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 13c6dcc4-1c97-401e-8afa-24dd445d3423
      Original-Request:
      - req_UqLvAEdrEl63cy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SeIsxI1TG3dGJv",
          "object": "customer",
          "address": {
            "city": "New York",
            "country": "United States of America",
            "line1": "200 Main Street",
            "line2": "Apt 22",
            "postal_code": "10002",
            "state": "New York"
          },
          "balance": 0,
          "created": 1752076249,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test-updated@example.com",
          "invoice_prefix": "NRF6DCGN",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Jane Moe",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 09 Jul 2025 16:10:13 GMT
[...]
