<%# locals: (f:, field:, locale:) %>

<tr>
  <td class="text-left"><%= Spree.t(field) %></td>
  <td><%= f.text_field field, disabled: true, class: 'form-control' %></td>
  <td><%= f.text_field "#{field}_#{locale}", class: 'form-control' %></td>
</tr>
