<% if !@product.taxons.blank? -%>
<div id="taxon-crumbs">
  <h3><%= t('look_for_similar_items') -%></h3>

  <% hook :product_taxons do %>
  <div>
    <ul id='similar_items_by_taxon'>
    <% @product.taxons.each do |taxon| -%>
      <li><%= link_to taxon.name, "/t/#{taxon.permalink}" %></li>
    <% end -%>
    </ul>
  </div>
  <% end %>

</div>
<% end -%>
