<div id="product-listing">
  <%= breadcrumbs(@taxon) %>
  <br/>
  <%= render :partial => "shared/products.html.erb", :locals => {:products => @products, :taxon => @taxon } %>
</div>

<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>

<%= page_links(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") if @search.page_count > 1 %>