<tr>
  <td class="purchase_footer" valign="middle"></td>
  <td class="purchase_footer" valign="middle">
    <p class="f-fallback purchase_total purchase_total--label">
      <%= Spree.t('order_mailer.subtotal') %>
    </p>
  </td>
  <td class="purchase_footer" valign="middle">
    <p class="f-fallback purchase_total">
      <%= order.display_item_total %>
    </p>
  </td>
</tr>
