<table>
	<tr>
		<td><%= t("name") %>: </td>
		<td>
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr>
		<td><%= t("presentation") %>: </td>
		<td>
			<%= f.text_field :presentation %>
		</td>
	</tr>
</table>