@import "_colors";
@import "_mixins";

body {
  margin-top: 0px;
  background: #ffffff url(../images/tile-slider.png) top left repeat-x;
}

.container_bg{
  width:100%;
  background:url(../images/tile-header.png) top left repeat-x;
}

div.left { .leftie; }
div.right { .rightie;  }
a { outline: none; }

#wrapper {
  background: transparent url(../images/wrapper-back.png) top center no-repeat;
  padding: 25px 20px 20px;
  position: relative;
  }
  body.two-col #wrapper {
    background-image: url(../images/wrapper-back-2.png);
  }

.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: block; }

#sidebar {
  .column(4);
  .colborder;
  h3 { margin-bottom: .5em; }
}

body.one-col #content {
  .column-last(24);
}
body.two-col #content {
  .column-last(19);
}

#header {
  position: relative;
  color: @medium_blue;
  clear: both;
  a { color: @link_color; }
  a:hover { color: @link_hover_color; }

}

#footer {
  padding-top: 2em;
  clear: both;
  div.left { width: 37%; }
  div.right { width: 63%; text-align: right; }
}

h1 { font-size: 2.5em; }

.form-buttons, .clear { clear: both; }

input.title { width: auto; }

p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
