<tr>
  <td class="six sub-columns">
    <strong><%= Spree.t('order_mailer.total') %></strong>
  </td>
  <td class="six sub-columns last right">
    <strong><%= order.display_total %></strong>
  </td>
</tr>
