<tr>
  <td></td>
  <td>
    <p class="f-fallback purchase_total purchase_total--label">
      <strong><%= Spree.t('order_mailer.total') %></strong>
    </p>
  </td>
  <td>
    <p class="f-fallback purchase_total">
      <strong><%= order.display_total %></strong>
    </p>
  </td>
</tr>
