---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"ReturnInvoice","companyCode":"AVALARA_COMPANY","code":"R1001-RET1","commit":true,"date":"2024-01-15","currencyCode":"USD","customerCode":"cust_UkLWZg9DAJ","addresses":{"shipFrom":{"line1":"2000
        Main Street","city":"Irvine","region":"CA","country":"US","postalCode":"92614"},"shipTo":{"line1":"6
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}},"taxOverride":{"type":"TaxDate","reason":"Refund","taxDate":"2024-01-15"},"lines":[{"number":"li_UkLWZg9DAJ","quantity":1,"amount":"-100.0","taxIncluded":false,"discounted":false,"discount":0,"taxCode":"P0000000","addresses":{"shipFrom":{"line1":"2000
        Main Street","city":"Irvine","region":"CA","country":"US","postalCode":"92614"},"shipTo":{"line1":"6
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}}}]}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - c3ba9041-1ee1-43e3-9874-c0782270a3ec
      X-Avalara-Uid:
      - c3ba9041-1ee1-43e3-9874-c0782270a3ec
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-26blc
      Serverduration:
      - '00:00:00.0061445'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"DocStatus is invalid for
        this operation.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"DocStatus
        is invalid for this operation.","description":"Expected Saved|Posted","faultCode":"GetTaxError","faultSubCode":"DocStatusError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"DocStatus","severity":"Error"}]}}'
  recorded_at: Wed, 02 Sep 2026 10:55:07 GMT
[...]
