---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"ReturnInvoice","companyCode":"AVALARA_COMPANY","code":"R-TAXDATE-1788346505-RET1","commit":true,"date":"2024-01-15","currencyCode":"USD","customerCode":"cust_UkLWZg9DAJ","addresses":{"shipFrom":{"line1":"2000
        Main Street","city":"Irvine","region":"CA","country":"US","postalCode":"92614"},"shipTo":{"line1":"5
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}},"taxOverride":{"type":"TaxDate","reason":"Refund","taxDate":"2024-01-15"},"lines":[{"number":"li_UkLWZg9DAJ","quantity":1,"amount":"-100.0","taxIncluded":false,"discounted":false,"discount":0,"taxCode":"P0000000","addresses":{"shipFrom":{"line1":"2000
        Main Street","city":"Irvine","region":"CA","country":"US","postalCode":"92614"},"shipTo":{"line1":"5
        Lovely Street","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10001"}}}]}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by AVALARA_COMPANY;RubySdk;26.7.3;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848106/transactions/95030499364993"
      X-Correlation-Id:
      - a9af03f6-6b5f-47ad-96e1-7fce3f157549
      X-Avalara-Uid:
      - a9af03f6-6b5f-47ad-96e1-7fce3f157549
      X-Avalara-Gateway-Pod:
      - avagateway-6766775548-jb9p2
      Serverduration:
      - '00:00:00.2654766'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: UTF-8
      string: '{"id":95030499364993,"code":"R-TAXDATE-1788346505-RET1","companyId":848106,"date":"2024-01-15","status":"Committed","type":"ReturnInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"cust_UkLWZg9DAJ","customerCode":"cust_UkLWZg9DAJ","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"TaxDate","taxOverrideAmount":0.0,"taxOverrideReason":"Refund","totalAmount":-100.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":-8.88,"totalTaxable":-100.0,"totalTaxCalculated":-8.88,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"NY","country":"US","version":1,"softwareVersion":"26.8.2.1","originAddressId":95030499364995,"destinationAddressId":95030499364994,"exchangeRateEffectiveDate":"2024-01-15","exchangeRate":1.0,"email":"","businessIdentificationNo":"","modifiedDate":"2026-09-02T10:55:06.6188828Z","modifiedUserId":429316,"taxDate":"2024-01-15","lines":[{"id":95030499364999,"transactionId":95030499364993,"lineNumber":"li_UkLWZg9DAJ","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":95030499364994,"originAddressId":95030499364995,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-100.0,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2024-01-15","revAccount":"","sourcing":"Destination","tax":-8.88,"taxableAmount":-100.0,"taxCalculated":-8.88,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2024-01-15","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":95030499365008,"transactionLineId":95030499364999,"transactionId":95030499364993,"addressId":95030499364994,"country":"US","region":"NY","countyFIPS":"","stateFIPS":"36","exemptAmount":0.0,"exemptReasonId":4,"exemptRuleId":0,"inState":false,"jurisCode":"36","jurisName":"NEW
        YORK","jurisdictionId":42,"signatureCode":"BFEQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.04,"rateRuleId":2908845,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":-4.0,"taxableAmount":-100.0,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"NY
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4028661,"taxCalculated":-4.0,"taxOverride":0.0,"rateType":"General","rateTypeCode":"G","taxableUnits":-100.0,"nonTaxableUnits":0.0,"exemptUnits":0.0,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":-100.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":-4.0,"reportingTaxCalculated":-4.0,"liabilityType":"Seller","chargedTo":"Buyer"},{"id":95030499365009,"transactionLineId":95030499364999,"transactionId":95030499364993,"addressId":95030499364994,"country":"US","region":"NY","countyFIPS":"","stateFIPS":"36","exemptAmount":0.0,"exemptReasonId":4,"exemptRuleId":0,"inState":false,"jurisCode":"51000","jurisName":"NEW
        YORK CITY","jurisdictionId":2001053475,"signatureCode":"EHTG","stateAssignedNo":"NE
        8081","jurisType":"CIT","jurisdictionType":"City","nonTaxableAmount":0.0,"nonTaxableRuleId":0,"nonTaxableTy[...]
