---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/apple_pay/domains
    body:
      encoding: UTF-8
      string: domain_name=store-with-apple-pay.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6b1c174d-3557-4d9e-b402-a7128bd7e66e
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6b1c174d-3557-4d9e-b402-a7128bd7e66e
      Original-Request:
      - req_WEjy5iAPP7vrqT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "apwc_1OhWNdIhR0gIegIe8QpNWSqX",
          "object": "apple_pay_domain",
          "created": 1707394021,
          "domain_name": "store-with-apple-pay.com",
          "livemode": false
        }
  recorded_at: Thu, 15 Feb 2024 09:46:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/apple_pay/domains?domain_name=store-with-apple-pay.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "apwc_1OhWNdIhR0gIegIe8QpNWSqX",
              "object": "apple_pay_domain",
              "created": 1707394021,
              "domain_name": "store-with-apple-pay.com",
              "livemode": false
            }
          ],
          "has_more": false,
          "url": "/v1/apple_pay/domains"
        }
  recorded_at: Thu, 15 Feb 2024 09:46:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_method_domains
    body:
      encoding: UTF-8
      string: domain_name=store-with-apple-pay.com
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e67f1ba1-79ef-484e-89b2-3c179b67cd40
      Original-Request:
      - req_lgqeYnYQU37zYu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pmd_1Qc1xM2ESifGlJez2fLCZgBp",
          "object": "payment_method_domain",
          "amazon_pay": {
            "status": "active"
          },
          "apple_pay": {
            "status": "active"
          },
          "created": 1735638104,
          "domain_name": "store-with-apple-pay.com",
          "enabled": true,
          "google_pay": {
            "status": "active"
          },
          "link": {
            "status": "active"
          },
          "livemode": false,
          "paypal": {
            "status": "active"
          }
        }
  recorded_at: Tue, 31 Dec 2024 09:41:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_method_domains?domain_name=store-with-apple-pay.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Api-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "pmd_1Qc1xM2ESifGlJez2fLCZgBp",
              "object": "payment_method_domain",
              "amazon_pay": {
                "status": "active"
              },
              "apple_pay": {
                "status": "active"
              },
              "created": 1735638104,
              "domain_name": "store-with-apple-pay.com",
              "enabled": true,
              "google_pay": {
                "status": "active"
              },
              "link": {
                "status": "active"
              },
              "livemode": false,
              "paypal": {
                "status": "active"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/payment_method_domains"
        }
  recorded_at: Tue, 31 Dec 2024 09:41:45 GMT
recorded_with: VCR 6.2.0
