<table>
  <tr>
    <td><%= :name.l("Name") %>:</td>
    <td><%=f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= :abbreviation.l("Abbreviation") %>:</td>
    <td><%=f.text_field :abbr %></td>
  </tr>
</table>
