<p>
  <%= label controller.controller_name.singularize, field[:name] %><br />
  <%=text_field controller.controller_name.singularize, field[:name].gsub(" ", "_").downcase, :value => get_additional_field_value(controller, field) %>
	<%=error_message_on controller.controller_name.singularize, field[:name].gsub(" ", "_").downcase%>
</p>