<div class="page-container">
  <h1 class="text-2xl uppercase font-medium tracking-tight py-5 text-center lg:text-left mt-5">
    <%= accurate_title %>
  </h1>
  <%= render 'spree/shared/order_details', order: @order, shipments: @shipments %>
</div>
