<% if @cms_page.content.present? && !@cms_page.sections? %>
<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <%= @cms_page.content.html_safe %>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row">
    <% @cms_page.cms_sections.each do |section| %>
      <%= build_section(section) %>
    <% end %>
   </div>
 </div>
<% end %>
