// Customize orders filter
[data-hook="admin_orders_index_search"] {
  select[data-placeholder="Status"] {
    width: 100%;
  }

  .select2-container {
    width: 100% !important;
  }
}

// Order-total
[data-hook="order_details_total"]{
  text-align: center;

  .order-total {
    font-size: 35px;
    font-weight: 600;
    color: $color-success;
  }
}

[data-hook="admin_order_form_fields"] {
  legend.stock-location {
    color: $color-body-text;

    .shipment-number {
      color: $color-success;
    }
    .stock-location-name {
      color: $color-success;
    }
  }
}

// Customize orduct add fieldset
#add-line-item {
  fieldset {
    padding: 10px 0;

    .field {
      margin-bottom: 0;

      input[type="text"], input[type="number"] {
        width: 100%;
      }
    }
    .actions {
      .button {
        margin-top: 28px;
      }
    }
  }
}
