<%= render :partial => 'admin/products/menu' %>

<h1>Listing Option Types</h1>
<table>
  <tr>
    <td><b>Name</b></td>
    <td/>
  </tr>
<% @option_types.each do |ot| %>
  <tr>
    <td valign="top"><%= ot.name -%></td>
    <td valign="top">
      <%= link_to "Edit", :action => 'edit', :id => ot -%>
      <%= link_to "Delete", 
                     {:action => 'destroy', :id => ot}, 
                     {:confirm => "Are you sure you want to delete this option type?"} -%>
    </td>
  </tr>
<% end %>
</table>

<br/><br/>
<%= link_to "Add Option Type", :action => 'new' -%>