<%= render :partial => 'admin/products/menu' %>

<h1><%= t("New Option Type") %></h1>
<br/>
<% form_tag( {:action => 'new' }) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag :create.l %>
<% end %>
