<%= turbo_frame_tag :checkout_line_items, id: 'line_items', target: '_top' do %>
  <% cache spree_base_cache_scope.call(order.line_items.cache_key_with_version) do %>
    <div class="overflow-y-auto line-items flex flex-col gap-5 pt-5 md:pt-0" data-checkout-summary-target="line_items">
      <%= render collection: order.line_items, partial: 'spree/checkout/line_item', cached: spree_base_cache_scope %>
    </div>
  <% end %>
<% end %>
