<div data-controller="modal" data-modal-opened-value="true" data-modal-allow-background-close="false">
  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <div class="max-h-screen w-full max-w-lg relative">
      <div class="m-1 bg-white rounded-sm shadow">
        <div class="p-8">
          <h2 class="text-xl mb-4"><%= Spree.t(:shipping_not_available) %></h2>
          <p class="mb-4"><%= Spree.t('errors.messages.no_shipping_methods_available') %> </p>

          <div class="flex justify-end items-center flex-wrap mt-6">
            <%= link_to Spree.t("storefront.checkout.return_to_cart"), spree.cart_path, class: 'mx-4 py-4', target: :_top %>
            <%= link_to Spree.t(:close), checkout_state_path(@order.token, @order.state), class: 'btn-primary font-semibold checkout-content-save-continue-button my-5 ml-4 !py-4', target: :_top %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
