<li class="list-group-item p-0 m-0 border-b delivery-list-item border-default">
  <%= link_to spree.checkout_state_path(token: @order.token, state: 'payment', payment_method_id: method.id), class: 'custom-control custom-radio flex items-center px-5 py-4 cursor-pointer w-full' do %>
    <%= radio_button_tag "order[payments_attributes][][payment_method_id]",
          method.id,
          selected_method == method,
          class: 'mr-3' %>
    <%= Spree.t(method.name, scope: :payment_methods, default: method.name) %>
  <% end %>

  <% if selected_method == method %>
    <div class="px-5 py-4">
      <%= render partial: "spree/checkout/payment/#{method.method_type}", locals: { payment_method: method } %>
    </div>
  <% end %>
</li>
