<div id="existing_cards" data-controller="checkout-credit-card-book">
  <div class="form-group">
    <ul class="list-group mb-5 border mt-3 rounded-md">
      <% checkout_payment_sources.each_with_index do |card, i| %>
        <%= render partial: 'credit_card', locals: { card: card, index: i } %>
      <% end %>
      <li>
        <div class="custom-control custom-radio px-5 py-4 flex items-center w-full">
          <label class="flex flex-row items-center w-full pr-8">
            <%= radio_button_tag "order[existing_card]", nil, false, {  data: {action: "checkout-credit-card-book#select checkout-stripe#initializeStripe"}, class: "mr-5" } %>
            <div class="w-full flex flex-col items-start space-y-4 justify-center">
              <span class="cursor-pointer">
                <%= Spree.t(:add_new_credit_card) %>
              </span>
              <div class="w-full hidden" data-checkout-credit-card-book-target="newCreditCardForm">
                
              </div>
            </div>
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>