<% if current_store.prefers_special_instructions_enabled? %>
  <div class="mt-8 mb-4">
    <h5 class="font-body mb-3">
      <%= I18n.t('activerecord.attributes.spree/order.special_instructions') %>
    </h5>
    <div class="form-group">
      <%= form.text_area :special_instructions, class: 'w-full text-input', rows: 2, placeholder: Spree.t('storefront.checkout.special_instructions_placeholder'), data: { controller: 'textarea-autogrow' } %>
    </div>
  </div>
<% end %>
