<tr class="product_property fields"  data-hook="product_property">
  <td class='property_name'>
    <%= f.text_field :property_name, :class => 'autocomplete' %>
  </td>
  <td class='value'>
    <%= f.text_field :value, :class => 'autocomplete' %>
  </td>
  <td class="actions">
    <%= link_to_remove_fields t(:remove), f, :no_text => true %>
  </td>
</tr>
