<tr id="<%= spree_dom_id shipping_category %>" class="cursor-pointer" data-controller="row-link">
  <td data-action="click->row-link#openLink"><%= shipping_category.name %></td>
  <td class="actions">
    <span class="flex justify-end">
      <%= link_to_edit(shipping_category, data: { row_link_target: :link, turbo_frame: '_top' }) if can? :edit, shipping_category %>
    </span>
  </td>
</tr>